@import '~@santiment-network/ui/mixins';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 24px;
  margin-top: 40px;

  @include responsive('tablet', 'phone', 'phone-xs') {
    grid-template-columns: 1fr;
    margin-top: 24px;
  }
}

.block {
  border-radius: 8px;
  padding: 40px;
  border: 1px solid var(--porcelain);
  position: relative;
  display: flex;
  flex-direction: column;

  @include responsive('tablet', 'phone', 'phone-xs') {
    padding: 32px 24px;
  }
}

.title {
  @include text('h4', 'l');
}

.description {
  color: var(--waterloo);
  margin: 16px 0 8px 0;
  max-width: 318px;
  word-break: break-word;

  @include text('body-3');

  @include responsive('tablet', 'phone', 'phone-xs') {
    margin-top: 8px;
  }
}

.action {
  margin-top: auto;
}

.btn {
  padding: 8px 10px;
  height: 40px;

  @include text('body-2');
}

.img {
  position: absolute;
  right: 24px;
  top: 24px;

  @include responsive('phone', 'phone-xs') {
    display: none;
  }
}

.feature {
  margin-top: 20px;
  margin-left: 0;

  &__link {
    color: var(--rhino);
    border-bottom: 1px dashed var(--casper);
  }

  @include responsive('tablet', 'phone', 'phone-xs') {
    margin-top: 18px;
  }
}

.features {
  padding-left: 0;
  margin-bottom: 30px;
}
