@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 23px 25px;
  border-right: 1px solid var(--porcelain);
}

.chart {
  margin-left: 30px;

  @include responsive('desktop', 'laptop') {
    max-width: 150px;
  }

  @include responsive('tablet') {
    max-width: 130px;
    margin-left: auto;
  }
}

.bottom {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 2px 10px 0 0;
}

.value {
  color: var(--mirage);

  @include text('h4');
}

.change {
  margin-left: 12px;
}

.loader {
  margin-left: 12px;
  line-height: 30px;
  font-size: 5px;
}

.description {
  fill: var(--casper);
  position: relative;
  margin-left: 6px;
}

.tooltip {
  max-width: 330px;
}
