@import "~@santiment-network/ui/mixins.scss";

.top {
  display: grid;
  grid-template-columns: 50% 50%;
}

.bottom {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid var(--porcelain);
  border-left: none;
  border-bottom: none;
}

.stat {
  &:first-child {
    margin-right: 40px;
  }

  &:last-child {
    margin-left: auto;
    margin-right: 0;
  }
}
