@import '~@santiment-network/ui/mixins';

.wrapper {
  z-index: 0;

  @include responsive('phone-xs', 'phone') {
    display: none;
  }
}

.canvas {
  background: var(--white);
  border-radius: 4px;
  padding: 20px 0;
}

.chart {
  flex: 1;
  margin: 30px 0;
}
