@import '~@santiment-network/ui/mixins';

.container {
  background: var(--white);
  padding: 24px;
}

.title {
  margin-bottom: 32px;
  display: flex;
  align-items: center;

  @include text('body-1', 'm');
}

.text {
  margin-right: 8px;
}
