@import '~@santiment-network/ui/mixins';

.container {
  background: var(--white);
  padding: 24px;

  @include responsive('phone-xs', 'phone', 'tablet') {
    padding: 12px;
  }
}

.title {
  display: flex;
  align-items: center;

  @include text('h4', 'm');
}

.text {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.chart {
  margin-top: 16px;
}

.interval {
  margin-left: 8px;
}
