@import "~@santiment-network/ui/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%;
  max-width: 256px;
  padding: 32px 24px;
  background: var(--athens);
  border-radius: 0 0 0 4px;
}

.type {
  margin-bottom: 16px;
  padding: 6px 12px;
  border-radius: 4px;
  color: var(--waterloo);
  cursor: pointer;

  @include text("body-3");

  &:hover {
    color: var(--jungle-green);
  }
}

.active {
  color: var(--rhino);
  background: var(--white);

  @include text("body-3", "m");
}

.backButton {
  background-color: var(--athens);
  padding: 0;
  margin-bottom: 24px;
  color: var(--waterloo);

  @include text("body-3");

  &:hover {
    color: var(--jungle-green);
  }
}

.backIcon {
  margin-bottom: 2px;
  transform: rotate(180deg);
  margin-right: 8px;
  fill: currentColor;
}

.steps {
  padding-left: 8px;
}
