@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $fiord;
  background-image: url('./cubes.svg');
  background-position: 50% 50%;
  padding: 72px 40px;

  @include responsive( 'tablet','phone', 'phone-xs') {
    flex-direction: column;
  }
}

.block + .block {
  margin-left: 144px;

  @include responsive( 'tablet','phone', 'phone-xs') {
    margin: 40px 0 0 0;
  }
}

.heading {
  @include text('h4', 'm');

  color: $white;
  margin: 0 0 12px;
}

.desc {
  max-width: 468px;

  @include text('body-2');

  color: $porcelain;
  margin: 0 0 24px;
}

.button {
  background: none;
  border-color: $white;
  color: $white;
  transition-property: color, border-color;
  transition-duration: 0.2s;

  &:hover,
  &:focus {
    border-color: var(--jungle-green-hover);
    color: var(--jungle-green-hover);
  }
}

.link {
  color: var(--jungle-green);
  position: relative;
  transition: color 0.4s ease, background-size 0.4s ease;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  background-image: linear-gradient($jungle-green-light-3, $jungle-green-light-3);

  &:hover,
  &:focus,
  &:active {
    color: var(--jungle-green-hover);
    background-size: 100% 1px;
    background-position: 0% 100%;
  }
}
