@import '~@santiment-network/ui/mixins';

.logo {
  display: inline-flex;
  align-items: center;

  svg {
    fill: var(--rhino);
    transform: translateY(-3px);
    margin-right: 2px;
  }

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    margin-right: 24px;
  }
}

.logoText {
  @include text('body-2', 'm');

  margin-right: 8px;
  color: var(--rhino) !important;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    display: none;
  }
}
