@import '~@santiment-network/ui/mixins';

.tooltip {
  z-index: 20;
  margin-right: 50px;
}

.container {
  padding: 32px 32px 24px 32px;
  width: 672px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: url("./background.svg");
  background-position: calc(100% - 1px) calc(100% - 1px);
  background-repeat: no-repeat;
  position: relative;
}

.mainLink {
  position: absolute;
  bottom: 23px;
  right: 52px;
  padding: 20px;
}

.block + .block {
  margin-left: 24px;
}

.product + .product {
  margin-top: 8px;
}

.title {
  color: var(--waterloo);
  display: flex;
  align-items: center;
  margin: 0 0 20px 16px;

  @include text('body-3');
}

.products {
  display: flex;
  flex-direction: column;
}
