@import '~@santiment-network/ui/mixins';

.tooltip {
  z-index: 20;
  margin-right: 50px;
}

.container {
  padding: 24px 32px;
  width: 320px;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--waterloo);
  margin-bottom: 16px;
}

.products {
  li {
    margin-bottom: 12px;
    font-size: 14px;

    a {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2px;
      line-height: 20px;
      color: var(--rhino);

      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      svg {
        transition: transform 0.3s ease-in-out;
        opacity: 0;
        transform: translateX(0);       
      }
  
      &:hover {    
        & svg {
          opacity: 1;
          transform: translateX(4px);
        }
      }
      
      &.Sanbase:hover {
        color: var(--jungle-green);

        & svg {
          fill: var(--jungle-green);
        }
      }

      &.Sansheets:hover {
        color: var(--sheets);

        & svg {
          fill: var(--sheets);
        }
      }

      &.SanAPI:hover {
        color: var(--dodger-blue);

        & svg {
          fill: var(--dodger-blue);
        }
      }

      &.SanX:hover {
        color: var(--heliotrope);

        & svg {
          fill: var(--heliotrope);
        }
      }

      &.SanR:hover {
        color: #0DB67A;

        & svg {
          fill: #0DB67A;
        }
      }

      &.Insights:hover {
        color: var(--texas-rose);

        & svg {
          fill: var(--texas-rose);
        }
      }
    }
  }
}

.hr {
  margin: 12px 0 24px 0;
  width: 100%;
  border-radius: 8px;
  background-color: var(--porcelain);
  color: var(--porcelain);
  height: 1px;
  border: 0;
}

.description {
  font-size: 14px;
  line-height: 20px;
  color: var(--waterloo);
  max-width: 256px;
  white-space: normal;
}

.label {
  display: inline-block;
  background: var(--texas-rose-light);
  border-radius: 4px;
  padding: 4px 8px;
  color: var(--texas-rose);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;
}