@import '~@santiment-network/ui/mixins';

.tooltip {
  z-index: 20;
}

.container {
  background: var(--white);
  border: 1px solid var(--porcelain);
  border-radius: $border-radius;
  padding: 24px;
  box-shadow: 0 4px 12px 0 rgba(24, 27, 43, 0.04);
  width: 100%;

  @include responsive('desktop') {
    width: 1140px;
  }

  @include responsive('laptop', 'tablet') {
    width: 766px;
  }

  @include border-box();
}

.header {
  width: 100%;
  display: flex;
  margin-bottom: 13px;
}

.link {
  margin-left: auto;
  color: var(--jungle-green);
  fill: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
    fill: var(--jungle-green-hover);
  }
}

.linkArrow {
  margin: 0 0 2px 8px;
}

.title {
  color: var(--waterloo);
  display: flex;
  align-items: center;

  @include text('body-3');
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper {
  width: 358px;
  max-height: 124px;
  padding: 21px 9px 9px 9px;
  transition: background 0.2s;

  @include responsive('laptop', 'tablet') {
    max-height: 200px;
  }

  &:hover {
    background: var(--athens);
    border-radius: $border-radius;
  }

  &:hover &__product {
    transform: translate3d(0, -12px, 0);
  }

  &__link {
    margin-left: 0;
    display: flex;
    opacity: 0;
    transform: translate3d(0, -12px, 0);
    transition: opacity 0.12s ease-out, transform 0.22s;
    align-items: center;
  }

  &:hover &__link {
    transform: translate3d(0, 0, 0);
    display: flex;
    opacity: 1;
  }
}

.product {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  color: var(--waterloo);
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  transition-duration: 0.3s;

  &__img {
    height: 32px;
    overflow: visible;
  }

  &__title {
    color: var(--rhino);
    letter-spacing: -0.02em;

    @include text('body-1', 'l');
  }

  &__description {
    color: var(--waterloo);
    margin: 5px 0 9px 0;
    white-space: normal;

    @include text('body-3');
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 12px;
  }
}

.arrow {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--waterloo);
  margin-left: 4px;
  fill: var(--waterloo);
}

.opened {
  background: var(--green-light);
  border-radius: 2px;
  fill: var(--jungle-green);
}

.arrowIcon {
  width: 8px;
  height: 5px;
}
