@import '~@santiment-network/ui/mixins';

.tooltip {
  z-index: 20;
}

.container {
  background: var(--white);
  border: 1px solid var(--porcelain);
  border-radius: $border-radius;
  padding: 24px;

  @include border-box();
}

.header {
  width: 100%;
  display: flex;
  margin-bottom: 24px;
}

.link {
  margin-left: auto;
  color: var(--jungle-green);
  fill: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
    fill: var(--jungle-green-hover);
  }
}

.linkArrow {
  margin: 0 0 2px 8px;
}

.title {
  color: var(--waterloo);

  @include text('body-3');
}

.products {
  display: flex;
}

.product {
  padding: 9px;
  cursor: pointer;
  width: 345px;
  display: flex;
  min-height: 146px;
  padding-top: 24px;
  padding-right: 12px;
  padding-left: 12px;
  align-items: flex-start;
  color: var(--waterloo);
  text-decoration: none;

  &:hover {
    background: var(--athens);
    border-radius: $border-radius;
  }

  &__img {
    height: 38px;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition-duration: 0.3s;
  }

  &__title {
    color: var(--rhino);
    letter-spacing: -0.02em;

    @include text('body-1', 'm');
  }

  &__description {
    color: var(--waterloo);
    margin: 8px 0;

    @include text('body-3');
  }

  &__link_show {
    display: flex !important;
    opacity: 1 !important;
    align-items: center;
  }

  &__link {
    display: none;
    opacity: 0;
    margin: 0;
    transform: translate3d(0, -16px, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition-duration: 0.3s;
  }

  &__info {
    display: flex;
    flex-direction: column;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition-duration: 0.3s;
    margin-top: 8px;
    margin-left: 12px;
  }

  &:hover &__img {
    transform: translate3d(0, -12px, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }

  &:hover &__link {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }

  &:hover &__info {
    transform: translate3d(0, -12px, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }
}

.arrow {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--waterloo);
  margin-left: 8px;
  fill: var(--waterloo);
}

.opened {
  background: var(--green-light);
  border-radius: 2px;
  fill: var(--jungle-green);
}
