.trigger {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 0.1s ease-in-out;
  background-color: transparent;

  & svg {
    transition: transform 0.2s ease-in-out;
    --heliotrope-light-4: #C1ABFF;
  }

  :global(.dd__trigger.active) & {
    background-color: var(--athens);

    & svg {
      transform: rotate(90deg);
    }
  }

  :global(.night-mode) & svg {
    --jungle-green-light-3: #165E55;
    --texas-rose-light-3: #8A6A56;
    --dodger-blue-light-3: #354895;
    --heliotrope-light-4: #4E3995;
  }
}
