.trigger {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 0.1s ease-in-out;
  background-color: transparent;

  & svg {
    transition: transform 0.2s ease-in-out;
  }

  :global(.dd__trigger.active) & {
    background-color: var(--athens);

    & svg {
      transform: rotate(90deg);
    }
  }
}
