@import '~@santiment-network/ui/mixins.scss';

.wrapper {
    height: 40px;
}

.input {
    height: 40px;
    padding-left: 36px !important;
}

.icon {
    padding-left: 14px;
}

.assets {
    fill: 'var(--casper)';
    background: 'transparent';
}

.trends {
    fill: 'var(--blue)';
    background: 'var(--blue-light-1)';
}

.insights {
    fill: 'var(--orange)';
    background: 'var(--orange-light-1)';
}