@import '~@santiment-network/ui/mixins';

.wrapper {
  background: var(--white);
  display: flex;
  justify-content: unset;
  align-items: center;
  padding-top: 16px;
}

.hidden {
  display: none;
}

.search {
  width: 100%;
  margin-right: 15px;
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 24px 10px 0;
}

.caption {
  color: var(--waterloo);
  margin: 16px 0 20px;

  @include text('body-3', 'l');
}

.recentWrapper {
  padding: 16px 0 16px 18px;
}

.recent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.link {
  display: flex;
  align-items: center;
  max-width: 84%;

  @include text('body-3');
}

.icon {
  fill: var(--casper);
}

.name {
  color: var(--mirage);
  margin-left: 12px;
  max-width: 88%;
}

.ticker {
  color: var(--casper);
  margin-left: 5px;
}

.delete {
  fill: var(--waterloo);
  padding: 7px 18px;
  box-sizing: content-box;
}
