@import '~@santiment-network/ui/mixins.scss';

.wrapper {
    height: 40px;
}

.input {
    width: 100%;

    & input {
        height: 40px;
        padding-left: 36px !important;
    }

    & svg {
        padding-left: 14px;
    }
}
