.wrapper {
  background: var(--white);
  display: flex;
  justify-content: unset;
  align-items: center;
  padding-top: 6px;
}

.hidden {
  display: none;
}

.search {
  width: 100%;
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 10px 0;

  & div {
    padding: 0 15px 15px;
  }
}
