@import "~@santiment-network/ui/variables.scss";
@import "~@santiment-network/ui/mixins.scss";

@keyframes skeletonAnimation {
  0% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.8;
  }
}

.wrapper {
  min-height: 106px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

.headerLoader {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLoaderContainer {
  display: flex;
  width: 100%;
  height: 106px;
}

.left {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.logo {
  display: flex;
  flex-direction: row;
}

.signalButton {
  border: 1px solid var(--jungle-green) !important;
}

.watchlistButton {
  margin-left: 16px;
}

.icon {
  margin-right: 5px;
}

.watchlistIcon {
  fill: var(--white);
}

.right {
  margin-right: 15px;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 16px;
  width: 350px;
}

.projectSelector {
  display: flex;
  flex-direction: row;
}

.name h1 {
  margin: 0 !important;
  margin-right: 5px;
  font-size: 22px !important;
  line-height: 1em !important;

  @include text('h4');
}

.description {
  color: gray;
}

.price {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.priceUsd {
  display: flex;
  align-items: baseline;
  justify-content: left;

  @include text('h4');
}

.priceUsdLabel {
  @include text('h4');
}

.percentChanges {
  font-weight: 300;
  text-align: right;
  margin-left: 11px;

  @include text('h4');
}

.percentChangesSmall {
  @include text('body-3');
}

.supply {
  @include text('body-3');

  color: var(--waterloo);
}

.pending-header {
  color: var(--white);
  background-color: var(--white);
  animation-name: skeletonAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.detailed-ticker-name.pending-header {
  margin-bottom: 5px;
  border-radius: 40px;
  min-width: 20px;
  height: 20px;
}

.pending-h1 {
  height: 1em;
  font-size: 28px !important;
}

.breadcrambs {
  margin-left: 30px;
}

.breadcrambLink {
  color: $bali-hai;
  margin-right: 14px;
}

.breadcrambCurrent {
  color: $fiord;
}

@media (min-width: 768px) {
  .detailed-name {
    align-items: center;
  }

  .detailed-price-description {
    margin-bottom: 10px;
  }

  .detailed-price-usd {
    font-size: 24px;
  }

  .detailed-price-usd .percent-changes {
    font-size: 0.7em;
  }

  .wrapper {
    margin-top: 0;
    padding: 16px 16px 1em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .left {
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
  }

  .name {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .price {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
}

.label {
  margin-left: 5px;
}
