@import '~@santiment-network/ui/mixins';

.examples {
  margin-top: 8px;
  display: flex;
  align-items: center;
  color: $bali-hai;

  @include responsive('phone', 'phone-xs') {
    flex-wrap: wrap;
  }
}

.link {
  border-bottom: none;
  color: var(--jungle-green);
  margin-left: 4px;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  &:last-of-type {
    margin-right: 8px;
  }
}
