@import "~@santiment-network/ui/variables.scss";
@import "~@santiment-network/ui/mixins.scss";

.wrapper {
    padding-right: 10px;

    & :global(.recharts-yAxis .recharts-cartesian-axis-tick:first-child) {
        display: none;
    }
    :global(.recharts-cartesian-axis-tick) {
        font-family: Rubik, sans-serif;
        font-size: 10px;
        & text {
            fill: $dark-gray;
        }
    }
}
