@import "~@santiment-network/ui/variables.scss";
@import "~@santiment-network/ui/mixins.scss";

.wrapper {
    & :global(.recharts-surface){
        overflow: visible;
    }

    & :global(.recharts-yAxis .recharts-cartesian-axis-tick:first-child) {
        display: none;
    }

    :global(.recharts-cartesian-axis-tick) {
        font-family: Rubik, sans-serif;
        font-size: 10px;
        & text {
            fill: var(--grey-dark);
        }
    }

    & :global(.recharts-bar-rectangle) {
        fill: var(--grey-light-3) !important;
    }
}
