@import "~@santiment-network/ui/variables.scss";
@import "~@santiment-network/ui/mixins.scss";

.wrapper {
    & :global(.recharts-yAxis .recharts-cartesian-axis-tick:first-child) {
        display: none;
    }
    :global(.recharts-cartesian-axis-tick) {
        font-family: Rubik, sans-serif;
        font-size: 10px;
        & text {
            fill: $dark-gray;
        }
    }
}

.info {
    @include text-normal;
    color: #79849e;
}

.slug {
    color: $black;
}
