@import '~@santiment-network/ui/mixins';

.description {
  @include text('caption');

  color: var(--waterloo);
}

.more {
  margin-top: 12px;
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}
