@import '~@santiment-network/ui/mixins';

.container {
  padding: 0 !important;
  max-width: 100% !important;
  position: relative;
  margin: 0 auto !important;
}

.stories {
  margin: 9px 0 12px 0;
  max-width: 100%;
  position: relative;
  padding: 0;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    padding: 0;
  }
}

.subTitle {
  color: var(--rhino);
  margin-bottom: 24px;

  @include text('h4', 'm');
}

.inner {
  max-width: 1152px;
  margin: auto;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    padding: 0 16px;
  }
}

.block {
  margin-bottom: 72px;

  @include responsive('phone', 'phone-xs') {
    margin-bottom: 48px;
  }
}

.firstBlock {
  margin-top: 48px;
}

.chartLayoutsWrapper {
  width: 100%;
  background: var(--athens);
  padding: 72px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include responsive('tablet', 'laptop') {
    padding: 72px 16px;
  }

  @include responsive('phone', 'phone-xs') {
    padding: 24px 16px;
  }
}

.chartLayouts {
  max-width: 1152px;
  width: 100%;
}

.insightsReports {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;

  @include responsive('phone', 'phone-xs') {
    grid-template-columns: 1fr;
  }
}

.insights {
  grid-template-columns: 1fr !important;
}

.insightCard {
  box-shadow: 0 2px 8px rgba(59, 84, 106, 0.03), 0 1px 2px rgba(59, 84, 106, 0.03);
}

.reports {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  @include responsive('phone', 'phone-xs') {
    margin-top: 48px;
  }
}

.watchlists {
  margin: 0;
}

.description {
  @include text('body-2');

  width: 70%;
  max-width: 711px;
  color: var(--waterloo);
  margin-bottom: 16px;

  @include responsive('phone-xs', 'phone', 'tablet') {
    width: 100%;
  }
}

.link {
  @include text('body-2');

  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }

  display: flex;
  margin-bottom: 40px;
}

.emptyWatchlists {
  margin-top: 0;
}

.italics {
  font-style: italic;
}

.bold {
  font-weight: 600;
}

.proLabel {
  @include text('caption');

  color: var(--white);
  text-transform: uppercase;
  margin-left: 12px;
  width: 32px;
  height: 16px;
  min-height: 16px;
  padding: 1px 0 0 2px;
  border-radius: $border-radius;
}

.alphaTitle {
  display: flex;
  align-items: center;
}
