@import '~@santiment-network/ui/mixins';

.container {
  padding: 0 !important;
  max-width: 100% !important;
}

.stories {
  margin: 9px 0 12px 0;
}

.subTitle {
  color: var(--rhino);
  margin-bottom: 24px;

  @include text('h4', 'm');
}

.inner {
  max-width: 1152px;
  margin: auto;
}

.block {
  margin-bottom: 64px;
}

.insightsBlocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
}

.insights {
  grid-template-columns: 1fr !important;
}
