.btn:hover,
.active {
  border-color: var(--jungle-green);
  color: var(--rhino);
  fill: var(--jungle-green);
}

.btn {
  fill: var(--waterloo);
}

.icon {
  margin: -2px 0 0 10px;
}

.leftIcon {
  margin: 0 8px 0 0;
}
