@import '~@santiment-network/ui/mixins';

.content {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.item {
  &_cloud {
    border: none;
    height: 210px;
  }

  &:last-child {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--porcelain);
    padding: 16px 0 0;
  }
}

.cloud {
  padding: 0;
}

.cloud__header {
  padding: 0;
  border: none;
}

.trend {
  @include text('body-3');

  margin: 0;
  color: var(--mirage);

  &__label {
    color: var(--waterloo);
  }
}

.table {
  flex: 1;
  height: 100%;
  overflow: auto;

  &__content {
    height: 100%;
  }

  :global {
    .ReactTable {
      height: 100%;

      .rt-thead.-header {
        padding: 0 16px;
      }

      .rt-tr-group {
        height: 32px !important;
        padding: 0 16px;
        border: none;
      }
    }
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 14px;
}

.contextCalendar {
  position: absolute;
  top: 16px;
  right: 16px;
}
