@import '~@santiment-network/ui/mixins';

.wrapper {
  display: inline-flex;
  align-items: center;

  @include responsive('phone-xs', 'phone', 'tablet') {
    @include text('body-2');
  }
}

.triangle {
  vertical-align: middle;
  width: 12px;
  margin-right: 4px;
  height: 12px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
