@import '~@santiment-network/ui/mixins';

.title {
  @include text('body-2', 'l');

  color: var(--rhino);
}

.dwIcon {
  margin-top: 12px;

  &:focus {
    fill: var(--jungle-green);
  }
}

.container {
  margin-left: auto;
  padding: 16px 24px;
  background: var(--white);
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  border-radius: $border-radius;
  max-width: 395px;
  display: flex;
  position: relative;

  @include responsive( 'tablet','phone', 'phone-xs') {
    margin-top: 24px;
    padding: 16px;
  }
}

.description {
  margin-top: 8px;

  @include text('body-3');

  color: var(--waterloo);
}

.content {
  margin-left: 12px;
  max-width: 295px;
  margin-top: 4px;
}
