@import '~@santiment-network/ui/mixins';

.title {
  @include text('body-2', 'l');

  color: var(--rhino);
}

.hovered {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(37, 40, 48, 0.8);
  border-radius: $border-radius;
  transition: 0.3s ease;

  @include text('body-1');

  color: var(--white);
  opacity: 0;
}

.dwIcon {
  fill: var(--white);
  margin-right: 8px;
}

.container {
  margin-left: auto;
  padding: 16px 24px;
  background: var(--white);
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  border-radius: $border-radius;
  max-width: 395px;
  display: flex;
  position: relative;

  &:hover {
    .hovered {
      display: flex;
      opacity: 1;
    }
  }

  @include responsive( 'tablet','phone', 'phone-xs') {
    margin-top: 24px;
    padding: 16px;
  }
}

.description {
  margin-top: 8px;

  @include text('body-3');

  color: var(--waterloo);
}

.content {
  margin-left: 12px;
  max-width: 295px;
  margin-top: 4px;
}
