@import '~@santiment-network/ui/mixins';

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./../../../src/assets/login/pattern.svg");
  background-size: cover;
  margin-top: 0 !important;
  max-width: 100% !important;

  @include responsive('phone', 'phone-xs', 'tablet') {
    background-image: none;
  }
}

.subtitle {
  @include text('body-2');

  color: var(--waterloo);
  margin-top: 8px;
}

.trialDescr {
  color: var(--rhino);
  max-width: 266px;
  word-break: break-word;
  margin-left: 16px;
  text-align: left;
  position: relative;
  top: -5px;

  @include text('body-2');
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 39px 99px;
  min-width: 1018px;
  min-height: 418px;

  @include responsive('phone', 'phone-xs', 'tablet', 'laptop') {
    min-width: initial;
    min-height: initial;
    padding: 32px;
  }
}

.trials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 344px;

  @include responsive('phone', 'phone-xs', 'tablet') {
    margin: 0;
    height: 100%;
    min-width: initial;
  }
}

.trial {
  display: flex;
  margin-top: 24px;

  &:first-child {
    margin: 0;
  }

  @include responsive('phone', 'phone-xs', 'tablet') {
    margin-left: 8px !important;
  }
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.icon {
  margin-top: 6px;
}

.iconBack {
  fill: var(--rhino);
  margin-right: 10px;
  width: 16px;
  height: 16px;
  margin-bottom: 3px;
  transform: rotate(180deg);
}

.link {
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}
