@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url("./../../../src/assets/login/pattern.svg");
  background-size: cover;
}

.panel {
  margin: 0 auto;
  padding: 30px 60px 36px;
  text-align: center;

  @include responsive('phone', 'phone-xs') {
    width: 100%;
    max-width: 400px;
    padding: 15px 30px;
    box-shadow: none;
    border: none;
  }
}

.title {
  @include text('h3');

  color: var(--rhino);
}

.metamask {
  margin: auto;
  color: var(--white);

  @include text('body-3');
}

.options {
  margin: 24px 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 4px;
  color: var(--white);
  fill: var(--white);
  padding: 9px 12px;
  text-align: left;
  margin-bottom: 8px;
  height: 40px;
  max-width: 280px;
  width: 100%;

  &:hover {
    color: #fff;
    fill: #fff;
  }

  &_email {
    display: flex;
    justify-content: center;
    background: var(--white);
    color: var(--jungle-green);
    fill: var(--jungle-green);
    border: 1px solid var(--jungle-green);
  }

  &_metamask {
    background: #f6851b;
  }

  &__icon {
    margin-right: 10px;
  }
}

.email {
  &__subtitle {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin: 10px 0;
  }

  &__form {
    margin: 20px auto;
    max-width: 400px;
  }

  &__btn {
    margin: 15px 0 30px;

    @include responsive('phone', 'phone-xs') {
      width: 100%;
      justify-content: center;
    }
  }

  &__link {
    font-size: 12px;
    color: var(--casper);
    fill: var(--casper);
  }

  &__pointer {
    transform: rotate(180deg);
    margin-right: 5px;
    vertical-align: middle;
  }
}

.divider {
  border: 1px solid var(--porcelain);
  position: relative;
  margin: 32px 0;
  width: 280px;
}

.use {
  color: var(--waterloo);
  position: absolute;
  top: -10px;
  left: 50%;
  padding: 0 10px;
  background: var(--white);
  transform: translateX(-30px);

  @include text('caption');
}
