@import '~@santiment-network/ui/mixins';

.undetected {
  padding: 14px 20px 14px 22px;
  background: var(--texas-rose-light);
  border: none;
  display: flex;
  max-width: 344px;
  margin-top: -8px;
  box-shadow: none;

  @include text('body-3');

  &__text {
    color: var(--fiord);
    margin: 3px 0 0 0;
  }

  &__title {
    margin: 0;

    @include text('body-2', 'm');

    color: var(--rhino);
  }

  &__link {
    color: var(--jungle-green);

    &:hover {
      color: var(--jungle-green-hover);
    }
  }

  &__bottom {
    margin-top: 7px;
  }
}

.info {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
