@import "~@santiment-network/ui/mixins.scss";

.wrapper {
  margin: 0 auto;
  max-width: 720px;
}

.date {
  @include text-normal;
  color: var(--grey-dark-2);
  margin: 40px 0 16px;
}

.signal {
  margin-bottom: 24px;
  display: flex;
}
