@import '~@santiment-network/ui/variables.scss';
@import "~@santiment-network/ui/mixins.scss";

.date {
  @include text-normal;

  color: var(--waterloo);
  margin: 40px 16px 16px;
}

.signal {
  margin: 0 16px 24px;
  display: flex;
  min-width: auto;
}
