
.loader {
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid var(--grey-light-3);

    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 2px solid transparent;
        border-top: 2px solid var(--grey-dark);
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        animation: load 1.0s infinite;
    }
}

@keyframes load {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
