@import '~@santiment-network/ui/mixins';

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  height: 100%;

  @include responsive('phone', 'phone-xs') {
    position: fixed;
    left: 0;
    right: 0;
  }

  &__img {
    animation: load 1s infinite alternate;
  }
}

@keyframes load {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}

.text {
  color: var(--rhino);
  padding-left: 5px;
  margin-top: 16px;
}

