@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  flex-wrap: wrap;

  @include responsive('phone', 'phone-xs') {
    margin-top: 24px;
    display: grid;
    grid-row-gap: 8px;
    grid-template-columns: 1fr;
    grid-column-gap: 8px;
    padding: 0 16px 16px 16px;
  }
}

.assetBtn {
  margin-right: 8px;
  margin-bottom: 8px;
  display: flex;
  padding: 0;

  &:hover {
    border: 1px solid var(--jungle-green);
  }

  @include responsive('phone', 'phone-xs') {
    margin: 0;
    justify-content: initial;
  }
}

.disabled {
  color: var(--casper);
}

.loading {
  display: flex;
  justify-content: center;
}

.btnInner {
  padding: 6px 8px 6px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  padding: 12px 10px;
}

.divider {
  height: 100%;
  border-right: 1px solid var(--porcelain);
}

.projectIcon {
  margin-left: 11px;
}
