@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  margin-top: 24px;
  border: 1px solid var(--porcelain);
  border-radius: 8px;
  padding: 44px 48px;
  flex: 1;

  @include responsive('desktop', 'laptop') {
    display: flex;
  }

  button {
    width: 230px;
  }
}

.left,
.right {
  flex: 1;
}

.title {
  @include text('h4', 'l');

  color: var(--mirage);
}

.description {
  @include text('body-3');

  color: var(--waterloo);
  margin: 8px 0 24px;
}

.right {
  display: flex;
  flex-wrap: wrap;
}

.feature {
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  &:last-child {
    margin: 0;
  }

  @include responsive('phone-xs') {
    width: 100%;
  }
}

.check {
  box-sizing: content-box;
  padding: 9px 8px;
  background: #dcf6ef;
  border-radius: 50%;
  margin-right: 12px;
  fill: var(--jungle-green);
}
