@import '~@santiment-network/ui/mixins.scss';

.title {
  @include text('h3', 'l');

  font-size: 32px !important;
  line-height: 40px !important;
  font-weight: 600 !important;
  color: var(--rhino);

  @include responsive('phone-xs', 'phone', 'tablet') {
    @include text('h4', 'l');
  }
}

.top {
  display: flex;
  position: relative;
}

.headerContent {
  flex-direction: column;
  padding: 78px 0 40px;

  @include responsive('phone-xs', 'phone', 'tablet') {
    padding: 16px 0 24px;
  }
}

.img {
  mix-blend-mode: normal;
  opacity: 0.8;
  background: linear-gradient(180deg, var(--white) -27.4%, rgba(255, 255, 255, 0) 22.37%, var(--white) 75.8%), url('./headerBg.svg') no-repeat 100%;
  height: 250px;
  width: 290px;
  position: absolute;
  right: 0;

  @include responsive('phone-xs', 'phone', 'tablet') {
    display: none;
  }
}

.description {
  @include text('body-1');

  color: var(--waterloo);
  font-size: 18px !important;
  line-height: 26px !important;
  margin: 10px 0 0 0;
  display: flex;

  @include responsive('phone-xs', 'phone', 'tablet') {
    margin-top: 8px;
    flex-direction: column;
  }
}

.inner {
  max-width: 1140px;
  width: 100%;
  flex: 1;
  margin: auto;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    padding: 0 16px;
  }
}

.trial {
  @include text('body-1', 'l');

  color: var(--texas-rose);
  text-align: center;
  margin-left: 8px;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    margin-top: 8px;
  }
}

.subtitle {
  @include text('body-2');

  color: var(--waterloo);
  margin: 0;
  text-align: center;
}

.emailInput {
  height: 40px;
  padding: 0 !important;
  border: none !important;

  input {
    height: 40px;
    padding-right: 235px !important;
    padding-left: 40px !important;
  }
}

.getStartedBtn {
  background-color: var(--rhino);
}

.form {
  width: 450px !important;
  align-items: flex-start !important;

  @include responsive('phone', 'phone-xs') {
    width: 100% !important;
    padding: 0 16px;
  }
}

.subscriptionCheckbox {
  @include text('caption');

  cursor: pointer;
  margin-top: 17px !important;
}

.subscriptionLabel {
  @include text('caption');

  color: var(--white) !important;
  margin-left: 8px;
}

.selectedCheckbox {
  svg {
    fill: var(--mystic) !important;
  }

  div {
    background: var(--white);
    border-color: var(--white);

    &:hover {
      background: var(--athens);
      border-color: var(--athens);
    }
  }
}
