@import '~@santiment-network/ui/variables.scss';

.HypedWord {
  border-radius: 4px;
  text-align: left;
  padding: 9px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.08s ease;
  border-bottom: none;

  .score {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: var(--grey-dark-2);
  }

  .arrow  {
      transition: transform 200ms;
      fill: var(--grey-dark);
  }

  .word {
    color: var(--black);
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
  }

  .latest {
    .word {
      color: #fff;
      font-weight: 600;
    }

    .score {
      color: #bef7e9;
    }

    .arrow path {
      fill: #80f7db;
    }
  }

  &:hover {
      background: var(--grey-light);

    .word {
        color: var(--green);
    }

    .arrow {
        fill: var(--green);
        transform: translateX(100%);
    }
  }
}

.selected {
    background: var(--grey-light);
}
