@import 'variables.scss';

.HypedWords {
  width: 100%;
  margin-top: 1em;
}

.HypedWords h4 {
  line-height: 21px;
  font-size: 14px;
  color: var(--grey-dark-2);
  margin-bottom: 17px;
}

.HypedWordsBlock {
  padding: 16px;
}

@media (min-width: $breakpoint-tablet) {
  .HypedWords {
    min-width: 300px;
    min-height: 200px;
    margin-top: 24px;
  }

  .HypedWords:first-child {
    margin-right: 24px;
  }

  .HypedWords:last-child {
    margin-left: 24px;
    margin-right: 0;
  }
}
