@import '~@santiment-network/ui/mixins.scss';

.toggles {
  border-top: 1px solid var(--porcelain);
  margin-top: 20px;
  text-align: left;
  padding: 0 14px;
}

.title {
  @include text('body-3');

  color: var(--waterloo);
  margin: 32px 0 15px;
}

.toggle {
  margin: 0 8px 8px 0;
  border: 1px solid transparent;
  color: var(--waterloo);

  &_active {
    border: 1px solid var(--porcelain);
    color: var(--jungle-green);
  }
}

.label {
  margin-right: 8px;
}

.loader {
  font-size: 7px;
  justify-content: center;
  margin: 200px 0;
}
