.TrendsSearch {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}

.examples {
  margin-top: 8px;
  display: block !important;
  color: var(--mirage);
}

.link {
  border-bottom: none;
  color: var(--jungle-green);
  margin-left: 4px;

  &:hover {
    text-decoration: underline;
  }
}
