.toggles {
  margin-top: 8px;
  text-align: right;
}

.toggle {
  margin: 0 0 8px 8px;
  color: var(--waterloo);

  &_active {
    color: var(--jungle-green);
  }
}

.label {
  margin-right: 8px;
}

.loader {
  font-size: 7px;
  justify-content: center;
  margin-top: 100px;
}
