@import '~@santiment-network/ui/mixins';

.card {
  width: 80px;
  height: 16px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rhino);

  @include text('caption', 'm');

  font-size: 10px;
  line-height: 14px;
}

.container {
  display: flex;
  margin-top: 16px;
  align-items: center;
}

.colors {
  margin-left: auto;
  display: flex;
}

.explanation {
  margin-right: auto;
  color: var(--fiord);
  display: flex;
  align-items: center;

  @include text('caption');
}

.iconRound {
  fill: var(--casper);
  margin-right: 8px;
  position: relative;
  top: -1px;
}
