@import '~@santiment-network/ui/mixins';

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--rhino);

  @include text('body-2'); }
