@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  flex-direction: column;
  margin: 0 32px 0 32px;
}

.chartWrapper {
  position: relative;
  height: 368px;
}

.loader {
  height: 180px;
}

.chart {
  position: absolute;
  top: 0;
  width: 100%;
  height: 358px;
}

.treeMap {
  height: 152px;
  display: flex;
  flex-direction: column;
}

.selector {
  margin-left: 4px;
}

.title {
  background: var(--athens);
  color: var(--waterloo);
  align-items: center;
  display: flex;
  padding: 8px 12px;

  @include text('caption', 'm');
}

.sortedBy {
  margin-left: auto;
}

.sortedByLabel {
  margin-right: 4px;
}

.range {
  @include text('caption');

  color: var(--waterloo);
  display: flex;
}

.rangeValue {
  min-width: 105px;
}

.noData {
  height: 188px;
}

.noDataTreeMap {
  background: var(--athens);
  height: 120px;
  margin-top: 2px;
}

.treeMap__skeletonTop {
  height: 118px;
  margin-top: 1px;
}

.treeMap__skeletonBottom {
  height: 16px;
  margin-top: 16px;
}

.ProjectsChart__skeletonTop {
  height: 214px;
}

.ProjectsChart__skeletonBottom {
  margin-top: 16px;
  height: 128px;
}

.treemapTooltip {
  top: -120px;
  z-index: 20;
}

.tooltipTitle {
  color: var(--white);
}
