@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  height: 390px;
  flex-direction: column;
  margin: 0 32px 0 32px;
}

.chartWrapper {
  position: relative;
}

.loader {
  height: 180px;
}

.chart {
  position: absolute;
  top: 0;
  width: 100%;
  overflow-y: auto;
  height: 358px;
}

.treeMap {
  height: 152px;
  display: flex;
  flex-direction: column;
}

.title {
  background: var(--athens);
  color: var(--fiord);
  align-items: center;
  display: flex;
  padding: 8px 12px;

  @include text('caption', 'm');
}

.sortedBy {
  margin-left: auto;
}

.sortedByLabel {
  margin-right: 4px;
}

.range {
  @include text('caption');

  color: var(--waterloo);
  display: flex;
}
