@import '~@santiment-network/ui/mixins';

.title {
  color: var(--fiord);
  margin-left: 8px;
  display: flex;
  align-items: center;

  @include text('caption');
}

.type {
  color: var(--rhino);
  display: flex;
  align-items: center;

  @include text('caption', 'm');
}
