@import "~@santiment-network/ui/mixins.scss";

.container {
  background-color: var(--white);
  position: relative;
}

.teamBlock {
  @include text('body-3');

  display: flex;
  justify-content: center;
  margin-right: 25px;
}

.authorName {
  margin-right: 25px;
}

.likesBlock {
  margin-right: 25px;
}

.teamLink {
  color: var(--green);
}

.wrapper {
  width: 437px;
  // height: 160px;
  max-width: 100%;
  // max-height: 80%;
  background-color: var(--white);
}

.wrapperLoading {
  padding: 12px 20px;
}

.row {
  display: flex;
  margin-top: 15px;
}

.closeButton {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 15px;
  fill: var(--waterloo);
  z-index: 100;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.leftActions {
  margin-left: -12px;
}

.toggleSignal {
  display: flex;
  align-items: center;

  span {
    margin-right: 1rem;
  }
}
