.container {
  background-color: var(--white);
  position: relative;
}

.wrapper {
  width: 437px;
  // height: 160px;
  max-width: 100%;
  // max-height: 80%;
  background-color: var(--white);
}

.closeButton {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 15px;
  fill: var(--waterloo);
  z-index: 100;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  margin-bottom: 10px;
  margin-top: 20px;
}

.leftActions {
  margin-left: -12px;
}

.toggleSignal {
  display: flex;
  align-items: center;

  span {
    margin-right: 1rem;
  }
}
