@import "~@santiment-network/ui/mixins.scss";

.wrapper {
  margin: 0 auto;
  max-width: 720px;

  img {
    width: 100%;
  }
}

.description {
  margin: 40px 0 16px;
  display: flex;
  color: var(--waterloo);
}

.date {
  @include text('body-3');

  margin: 0;
  color: var(--waterloo);
}

.link {
  margin-left: 5px;
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.signal {
  margin-bottom: 24px;
}
