@import "~@santiment-network/ui/mixins.scss";

.wrapper {
  margin-top: 17px;
}

.container {
  width: 330px;
  text-align: center;
  margin: 0 auto 50px;
}

.subtitle {
  @include text('body-3');

  margin: 40px 0 16px;
  color: var(--waterloo);
}

.pic {
  margin-top: -30px;
}

.description {
  margin-bottom: 20px;
  width: 244px;
  color: var(--mirage);
}

.empty {
  padding-bottom: 50px;
}
