@import 'variables.scss';
@import "~@santiment-network/ui/mixins.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.tabs {
  display: block;
  padding: 0 16px;
  margin-bottom: 24px;
}

.newSignal {
  &__icon {
    height: 18px;
    margin-right: 7px;
  }
}

.search,
.filter {
  fill: var(--mirage);
}

.search {
  margin-right: 20px;
}

.filter {
  margin-right: 24px;
}

@include responsive('phone', 'phone-xs') {
  .content {
    margin: 0 16px;
  }
}
