@import "~@santiment-network/ui/mixins.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tabs {
  display: block;
  margin-bottom: 40px;

  @include responsive('phone', 'phone-xs') {
    padding: 0 16px;
  }
}

.newSignal {
  &__icon {
    height: 18px;
    margin-right: 7px;
  }
}

.search,
.filter {
  fill: var(--mirage);
}

.search {
  margin-right: 20px;
}

.filter {
  margin-right: 24px;
}

.addSignal {
  @include responsive('phone', 'phone-xs') {
    margin-right: 16px;
  }
}

.content {
  @include responsive('phone', 'phone-xs') {
    margin: 0 16px;
  }
}

.telegramAlert {
  color: var(--persimmon);

  @include text('caption');
}

.link {
  color: var(--jungle-green);
}

.recommendedSignals {
  margin-top: 30px;
}
