@import '../../mixins.scss';

.overviewPage {
  color: var(--mirage);
  margin-bottom: 40px;
}

.section {
  margin: 25px 0 50px;
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 4px 10px 0;
}
