@import "~@santiment-network/ui/mixins.scss";

.wrapper {
  text-decoration: none;
  color: var(--mirage);
  width: 100%;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;

  @include text('body-3');
}

.name {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.ticker {
  color: var(--waterloo);
}

.left,
.right {
  display: flex;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  flex-direction: column;
  width: 80px;
  align-items: flex-end;
}

.percentChanges {
  margin-left: 0;
}
