@import "~@santiment-network/ui/mixins.scss";

.wrapper {
  @include text-normal;

  border-bottom: 1px solid var(--porcelain);
  height: 71px;
  text-decoration: none;
  color: var(--mirage);
  width: 100%;
  padding: 14px 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.name {
  display: flex;
  width: 120px;
  flex-direction: column;
  margin-left: 1rem;
}

.ticker {
  color: var(--waterloo);
}

.left,
.right {
  display: flex;
}

.icon {
  width: 40px;
}

.right {
  flex-direction: column;
  width: 80px;
}

.percentChanges {
  margin-left: 0;
}
