.wrapper {
  height: calc(100vh - 50px);
}

.wrapperList {
  height: calc(100vh - 130px);
}

.headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 32px 5px 54px;
}
