@import '../../mixins.scss';

.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 25px 0 50px;

  @include responsive('phone', 'phone-xs', 'tablet') {
    margin: 20px 0;
    justify-content: space-between;
  }
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 4px 10px 0;
}
