.page-head-assets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px !important;
}

.page-head-projects__left a {
  text-decoration: none;
  border: none;
}

.page-head-projects button {
  margin-left: 1em;
}

.page-head-projects__right {
  display: flex;
}

.assets-table-widget-wrapper {
  margin: 1.4rem 0;
}
