@import '~@santiment-network/ui/mixins';

.title {
  cursor: pointer;
  color: var(--casper);

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.active {
  color: var(--rhino);
}

.your {
  margin-left: 32px;
  cursor: pointer;

  @include text('h4', 'm');
}

.header {
  display: flex;
}
