:root {
  --list-top-panel-height: 64px;
  --addresses-list-table-top-height: 52px;
}

.top,
.actions {
  display: flex;
  align-items: center;
}

.top {
  color: var(--waterloo);
  position: sticky;
  padding: 10px 32px;
  top: var(--list-top-panel-height);
  background: var(--white);
  z-index: 2;
  left: 0;
  height: var(--addresses-list-table-top-height);
  width: 100%;
}

.actions {
  margin-left: auto;
}

.divider {
  width: 1px;
  height: 24px;
  background: var(--porcelain);
  margin: 0 16px;
}

.explanation {
  z-index: 1;
}

.action {
  cursor: pointer;
  fill: var(--waterloo);

  &_csv {
    padding: 0;
    height: auto;
  }

  &__icon {
    vertical-align: middle;
  }

  &:hover {
    fill: var(--jungle-green);
  }
}

.controls {
  position: fixed;
  left: 0;
  right: 0;
}

/* stylelint-disable */
.table {
  :global {
    th {
      position: sticky;
      top: calc(
        var(--list-top-panel-height) + var(--addresses-list-table-top-height)
      );
      z-index: 2;

      &:first-child {
        line-height: 0;
      }
    }

    td {
      background: var(--white);
    }

    tbody tr {
      height: 54px;

      &:hover td {
        background: var(--athens);
      }
    }

    th:nth-child(3) {
      z-index: 3;
    }

    th,
    td {
      &:nth-child(3) {
        position: sticky;
        left: 0;
      }
    }
  }
}
/* stylelint-enable */

.add {
  color: var(--rhino) !important;
}

.icon {
  margin-right: 8px;
}
