:root {
  --list-top-panel-height: 64px;
  --addresses-list-table-top-height: 52px;
}

.top,
.actions {
  display: flex;
  align-items: center;
}

.top {
  color: var(--waterloo);
  position: sticky;
  padding: 10px 32px;
  top: var(--list-top-panel-height);
  background: var(--white);
  z-index: 1;
  left: 0;
  height: var(--addresses-list-table-top-height);
  width: 100%;
}

.actions {
  margin-left: auto;
}

.divider {
  width: 1px;
  height: 24px;
  background: var(--porcelain);
  margin: 0 16px;
}

.explanation {
  z-index: 1;
}

.action {
  cursor: pointer;
  fill: var(--waterloo);

  &_csv {
    padding: 0;
    height: auto;
  }

  &__icon {
    vertical-align: middle;
  }

  &:hover {
    fill: var(--jungle-green);
  }
}

.tableWrapper {
  max-width: 100vw;
  width: 100%;
  min-height: auto;
}

.table {
  min-width: 100%;
  width: auto;
  table-layout: fixed;

  :global {
    th {
      top: calc(var(--list-top-panel-height) + var(--addresses-list-table-top-height));

      &:first-child {
        line-height: 0;
      }
    }

    tbody tr {
      height: 54px;

      &:hover {
        background: var(--athens);
      }
    }
  }
}

.add {
  color: var(--rhino) !important;
}

.icon {
  margin-right: 8px;
}
