@import '~@santiment-network/ui/mixins';

.wrapper {
  height: 120px;
  padding: 16px 16px 8px;
  border: 1px solid var(--porcelain);
  border-radius: 6px;
  user-select: none;

  &:hover {
    border-color: var(--mystic);
    color: var(--jungle-green);
  }
}

:global(.tablet) .wrapper,
:global(.phone) .wrapper,
:global(.phone-xs) .wrapper {
  height: 116px;
  padding: 12px 16px;
}

.simple {
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 12px 20px 12px 16px;
  margin-bottom: 8px;
}

.header {
  color: var(--fiord);
}

.new {
  margin-right: 8px;
}

.visibility {
  margin-left: auto;
}

.middle {
  margin: 6px 0 8px;
}

.info {
  flex-basis: 100%;
}

:global(.tablet) .middle,
:global(.phone) .middle,
:global(.phone-xs) .middle {
  margin: 6px 0;
}

.bottom {
  @include text('body-3');
}

:global(.tablet) .bottom,
:global(.phone) .bottom,
:global(.phone-xs) .bottom {
  @include text('body-2');
}
