@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  @include text('body-3');

  width: 100%;
  outline: none;
  color: var(--rhino);
  background: var(--white);
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  height: 32px;
  padding: 6px 12px;

  &:hover {
    border-color: var(--jungle-green);
    color: var(--rhino);
  }
}

.error {
  border-color: var(--persimmon) !important;
}

.arrow {
  fill: var(--casper);
  margin-left: auto;
  position: absolute;
  right: 12px;
  cursor: pointer;
}

.active {
  z-index: 1001;

  .input {
    border-color: var(--jungle-green);
  }

  .arrow {
    transform: rotate(180deg);
    fill: var(--jungle-green);
  }
}
