.wrapper {
  display: flex;
  align-items: center;
}

.right {
  padding: 8px;
  border-left: 1px solid var(--porcelain);
  min-width: 150px;
}

.calendar {
  box-shadow: none;
  height: 100%;
  border: none;
}
