@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1001;
}

.input {
  @include text('body-3', 'm');

  width: 100%;
  outline: none;
  background: var(--white);
  border: 1px solid var(--porcelain);
  box-shadow: 0 2px 8px rgba(59, 84, 106, 0.03),
    0 1px 2px rgba(59, 84, 106, 0.03);
  border-radius: 4px;
  height: 32px;
  padding: 6px 12px;

  &:hover {
    border-color: var(--jungle-green);
    color: var(--rhino);
  }
}

.arrow {
  fill: var(--casper);
  margin-left: auto;
  position: absolute;
  right: 12px;
  pointer-events: none;
}

.active {
  .input {
    border-color: var(--jungle-green);
  }

  .arrow {
    transform: rotate(180deg);
    fill: var(--jungle-green);
  }
}
