.wrapper {
  display: flex;
  align-items: stretch;
}

.right {
  padding: 8px;
  min-width: 150px;
}

.calendar {
  box-shadow: none;
  border: none;
  border-right: 1px solid var(--porcelain);
  border-radius: 0;
}
