@import "~@santiment-network/ui/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item {
  width: fit-content;
  padding: 6px 12px;
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--fiord);
  margin-top: 6px;

  @include text("body-3");
}

.condition {
  color: var(--fiord);

  @include text("body-3");
}

.conditionType {
  margin-right: 4px;
  color: var(--waterloo);
}

.col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.error {
  margin: 0;
  width: fit-content;
  padding: 6px 10px !important;
}
