@import '~@santiment-network/ui/mixins';

.btn {
  height: auto;

  @include responsive('laptop', 'desktop', 'tablet') {
    fill: var(--casper);
  }

  @include responsive('phone-xs', 'phone') {
    width: calc(100% - 32px);
    margin: 0 16px 20px;
    justify-content: center;
  }
}

.wrapper {
  @include responsive('laptop', 'desktop', 'tablet') {
    min-width: 320px;
  }

  @include responsive('phone-xs') {
    overflow-y: hidden;
  }
}

.actions {
  @include responsive('laptop', 'desktop', 'tablet') {
    padding-top: 18px;
  }
}

.approve {
  @include responsive('tablet', 'laptop', 'desktop') {
    margin-left: 16px;
  }
}
