@import '~@santiment-network/ui/variables.scss';

.wrapper {
  padding: 0 16px 10px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.img {
  display: block;
}

.fullScreen {
  margin: 16px;
  padding: 13px 16px 24px;
  width: auto;
}

.title {
  color: var(--mirage);
  margin-bottom: 4px;
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
}

.desc {
  margin: 0;
  text-align: center;
  color: var(--waterloo);
}

.btn {
  width: 100%;
  justify-content: center;
  margin-top: 16px;
  max-width: 350px;
}

.bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
