@import '~@santiment-network/ui/mixins';

.container {
  margin-top: 64px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include responsive('phone', 'phone-xs') {
    margin: 40px 0 60px 0;
  }
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 80px;

  @include responsive('laptop', 'tablet') {
    margin-bottom: 60px;
  }

  @include responsive('phone', 'phone-xs') {
    margin-bottom: 40px;
  }
}

.title {
  @include text('h4', 'l');

  padding: 0 40px;
  margin: 0 auto;
  background-color: var(--white);
  text-align: center;
  z-index: 1;

  @include responsive('laptop', 'tablet') {
    padding: 0 16px;

    @include text('h4', 'l');
  }

  @include responsive('phone', 'phone-xs') {
    max-width: 160px;
    padding: 0 16px;

    @include text('body-1', 'l');
  }
}

.line {
  width: 100%;
  border-top: 1px solid var(--porcelain);
  position: absolute;
  top: 46%;
}

.list {
  display: flex;
  flex-direction: column;

  img {
    align-self: center;
    justify-self: center;

    :global(.night-mode) & {
      filter: invert(1) grayscale(1);
    }
  }

  @include responsive('phone-xs', 'phone') {
    img {
      max-width: 140px;
    }
  }

  @include responsive('laptop', 'tablet') {
    img {
      max-width: 170px;
    }
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;

  @include responsive('phone-xs', 'phone') {
    flex-wrap: wrap;
  }

  &:first-child {
    & img {
      margin-right: 104px;

      @include responsive('phone') {
        margin: 30px;
      }

      @include responsive('phone-xs') {
        margin: 20px;
      }
    }
  }

  &:last-child {
    margin-top: 56px;

    @include responsive('phone-xs', 'phone') {
      margin-top: 0;
    }

    & img {
      margin-right: 80px;

      @include responsive('tablet') {
        margin-right: 50px;
      }

      @include responsive('phone') {
        margin: 30px;
      }

      @include responsive('phone-xs') {
        margin: 20px;
      }
    }
  }
}

.row img:last-child {
  margin-right: 0;
}
