@import '~@santiment-network/ui/mixins';

.container {
  padding: 24px;

  @include responsive('phone', 'phone-xs') {
    padding: 20px 24px;
  }

  button {
    @include responsive('phone', 'phone-xs') {
      width: auto;
    }
  }
}
