@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  align-items: center;
  color: var(--waterloo);
  fill: var(--waterloo);

  @include text('caption', 'm');
}

.arrow {
  margin-left: 10px;
}

.setting {
  display: flex;
  align-items: center;
  height: 22px;
  border-bottom: 1px dashed var(--mystic);
  margin-left: 16px;
  cursor: pointer;

  &:hover .arrow {
    fill: var(--jungle-green);
  }
}

.input {
  border: none;
  padding: 0;
  color: var(--waterloo);
  margin-left: 10px;
  width: 2ch;
  outline: none;
  background: var(--white);
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    color: var(--rhino);
  }
}

.colorInput {
  visibility: hidden;
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
}

.color {
  background: var(--color);
  border-radius: 2px;
  width: 10px;
  height: 10px;
}

.icon {
  margin-right: 8px;
}

.tooltip {
  background: var(--white);
  border: 1px solid var(--porcelain);
  box-shadow: 0 4px 8px rgba(24, 27, 43, 0.03);
  border-radius: 4px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 190px;
}
