@import '~@santiment-network/ui/variables.scss';
@import '~@santiment-network/ui/mixins';

.insights {
  flex: 1 1;
  margin-top: 30px;

  &__title {
    font-family: Proxima Nova, sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: var(--mirage);
    margin: 0;
    margin-bottom: 12px;
  }

  &__card {
    min-width: 100%;
    padding: 18px 0;
    border-bottom: 1px solid var(--porcelain);
  }
}
