@import '~@santiment-network/ui/variables.scss';
@import '~@santiment-network/ui/mixins';

.insights {
  background-color: var(--athens);
  padding-top: 16px;
  margin: 24px 0;

  &__wrapper {
    height: 153px;
    overflow: hidden;
    position: relative;

    @include responsive('tablet') {
      height: 138px;

      &::after {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        right: -1px;
        bottom: 0;
        width: 60px;
        background: linear-gradient(270deg, var(--white) 20%, rgba(255, 255, 255, 0) 100%);
      }
    }
  }

  &__scrollableWrapper {
    width: 100%;
    height: calc(100% + 25px);
    padding-bottom: 25px;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
  }

  &__title {
    font-family: Proxima Nova, sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: var(--mirage);
    padding-left: 16px;
    margin: 0;
    margin-bottom: 12px;

    @include responsive('tablet') {
      padding-left: 0;
    }
  }

  &__scrollable {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    margin-bottom: 16px;
  }

  &__card {
    margin-right: 8px;
    width: 270px;
    padding: 18px 24px;
    border: 1px solid var(--porcelain);
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);

    &:first-child {
      margin-left: 16px;

      @include responsive('tablet') {
        margin-left: 0;
      }
    }

    &:last-child {
      margin-right: 16px;

      @include responsive('tablet') {
        margin-right: 34px;
      }
    }

    @include responsive('tablet') {
      margin-right: 16px;
    }
  }

  @include responsive('desktop', 'laptop') {
    display: none;
  }

  @include responsive('tablet') {
    margin-left: 16px;
    margin-right: 16px;
    background-color: transparent;
  }
}
