@import '~@santiment-network/ui/mixins';

.content {
  padding: 20px 24px 32px;
  max-width: 496px;

  @include responsive('phone-xs') {
    padding: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.dark {
  background-color: #181b2b;
}

.media {
  font-size: 0;
  border-radius: 4px;
  border: 1px solid var(--porcelain);
  overflow: hidden;
  max-height: 360px;
  min-height: 320px;
  height: 100%;
  width: 448px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @include responsive('phone-xs', 'phone') {
    width: 100%;
    height: 40vh;
    min-height: 30vh;
    max-height: 300px;
  }

  & iframe {
    width: 100%;
    height: 100%;
  }

  & img {
    width: 100%;
    object-fit: contain;
  }

  &:hover {
    cursor: pointer;
  }

  & .preview {
    &__img {
      width: 100%;
    }

    &__button {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      display: block;
      width: 68px;
      height: 48px;
      box-sizing: content-box;
      padding: 20px;
      border: none;
      background-color: transparent;
      transform: translate(-50%, -50%);
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    &__button_shape {
      fill: #212121;
      fill-opacity: 0.8;
    }
  }

  &:hover .preview__button_shape,
  .preview__button:focus .preview__button_shape {
    fill: #f00;
    fill-opacity: 1;
  }
}

.enabledVideo {
  & .preview {
    display: none;
  }
}

.title {
  margin: 32px 0 0;
  color: var(--mirage);

  @include text('body-1', 'l');

  @include responsive('phone-xs') {
    margin-top: 16px;

    @include text('body-2', 'l');
  }
}

.description {
  margin: 16px 0 0;
  min-height: 48px;
  color: var(--waterloo);

  @include text('body-2');

  & a {
    color: var(--jungle-green);
  }

  @include responsive('phone-xs') {
    margin: 8px 0 12px;

    @include text('body-3');
  }
}

.button {
  margin: 24px 0 0;
  align-items: center;

  @include responsive('phone-xs') {
    width: 100%;
    justify-content: center;
    margin-top: auto;
  }

  &:active,
  &:focus,
  &:hover {
    color: var(--white);
  }
}

.lines {
  position: absolute;
  bottom: 100%;
  margin-bottom: 16px;
  width: 100%;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(var(--amount), auto);

  @include responsive('phone-xs') {
    padding: 0 12px;
  }
}

.line {
  position: relative;
  background: grey;
  height: 4px;
  border-radius: 20px;
}

.full {
  background: #fff;
}

.activeLine {
  animation: activeLine 15s linear;
}

.progress {
  position: absolute;
  border-radius: 20px;
  height: 100%;
  background: #fff;
  width: var(--width);
}

.next {
  left: 100%;
  margin-left: 24px;

  @include responsive('phone-xs', 'phone') {
    left: 100%;
    margin-left: -80px;
    margin-bottom: 16px;
  }
}

.prev {
  right: 100%;
  margin-right: 24px;

  @include responsive('phone-xs', 'phone') {
    left: 0%;
    margin-left: 16px;
    margin-bottom: 16px;
  }
}

.next,
.prev {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  border-radius: 50%;
  border: 1.5px solid grey;
  fill: #fff;

  @include responsive('laptop', 'desktop') {
    transition: border ease-in-out 0.2s;

    &:hover {
      border: 1.5px solid rgba(255, 255, 255, 1);
      cursor: pointer;
    }
  }

  @include responsive('phone-xs', 'phone') {
    display: none;
  }
}

@keyframes activeLine {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
