@import '~@santiment-network/ui/mixins';

.scrollBtn {
  display: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--jungle-green);
  box-shadow: 0 2px 8px rgba(59, 84, 106, 0.05), 0 1px 2px rgba(59, 84, 106, 0.05);
  position: absolute;
  z-index: 10;
  align-items: center;
  justify-content: center;
  top: 17px;
  left: var(--offset);
  user-select: none;
}

.list {
  width: 100%;
  height: 112px;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: transparent;

  @include responsive('desktop') {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1170px;
    padding: 0 15px;
  }

  &:hover {
    .scrollBtn {
      display: flex;
    }
  }
}

.hideRight {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 87px;
    height: 74px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 51.04%, #fff 100%);
  }
}

.hideLeft {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 87px;
    height: 74px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 51.04%, #fff 100%);
    z-index: 1;
  }
}

.scrollableWrapper {
  width: 100%;
  height: calc(100% + 34px);
  padding-bottom: 25px;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

.scrollable {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
}

.item + .item {
  margin-left: 24px;

  @include responsive('phone', 'phone-xs') {
    margin-left: 16px;
  }
}

.item:first-child {
  @include responsive('laptop', 'tablet', 'phone', 'phone-xs') {
    margin-left: 16px;
  }
}

.item:last-child {
  @include responsive('laptop', 'tablet', 'phone', 'phone-xs') {
    margin-right: 16px;
  }
}

.dialog {
  margin-top: 30px;
  position: relative;
  max-height: 88%;
  -webkit-tap-highlight-color: transparent;

  @include responsive('phone-xs') {
    height: 75vh;
    max-height: 540px;
    min-height: 480px;
  }

  @include responsive('phone') {
    width: auto;
    max-width: 85%;
    max-height: 85%;
    border-radius: 4px;
    align-self: center;
  }
}

.content {
  height: 100%;
}

.btnRight {
  right: var(--offset);
  left: initial;
}

.scrollIcon {
  width: 6px;
  height: 11px;
  fill: var(--white);
}
