.widget {
  background: var(--white);
  padding: 20px;
  border-radius: 4px;
  border: 1px solid var(--porcelain);
  margin-top: 16px;
  height: 530px;

  &:only-child {
    height: 100%;
  }

  &:first-child {
    margin: 0;
  }

  &_secondary {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -3px;
  }
}

.close {
  margin-left: auto;
  fill: var(--casper);
  cursor: pointer;

  &:hover {
    fill: var(--jungle-green);
  }
}
