@import '~@santiment-network/ui/mixins';

.wrapper {
  box-sizing: border-box;
  flex: 1;
  overflow-x: hidden;
  position: relative;
  margin-top: 14px;
  overflow-y: hidden;
  padding-right: 4px;

  &:hover {
    overflow-y: auto;
  }
}

.item {
  padding: 6px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  height: initial;
  min-height: 32px;
  white-space: normal;
}

.loader {
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.anon {
  margin-top: auto;
}
