@import "~@santiment-network/ui/mixins";

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 20px;
  --watchlist-top-panel-height: 80px;
}

.likeBtn {
  height: 32px;
  background: transparent !important;

  @include text("body-3");

  > div {
    margin-right: 6px !important;
  }
}

.commentsWrapper {
  background-color: var(--white);
  border-top: 1px solid var(--porcelain);
  border-top-left-radius: 4px;
  border-left: 1px solid var(--porcelain);
  border-bottom-left-radius: 4px;
  width: 363px;
  z-index: 11;
  position: fixed;
  top: var(--screener-top-panel-height);
  bottom: 0;
  right: 0;
  transition: transform 0.3s ease-out;
  transform: scaleX(0);
  transform-origin: top right;
  user-select: none;
  padding: 16px 24px;
}

.active {
  transform: scaleX(1);
  animation: growPartially 0.35s ease-out;
}

.background {
  position: fixed;
  z-index: 9;
  background-color: $rhino;
  opacity: 0.6;
  top: var(--screener-top-panel-height);
  left: 0;
  right: 0;
  bottom: 0;
  animation: appearPartially 0.4s ease-in-out;
}

.closeWrapper {
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 32px;
  width: 9px;
  position: absolute;
  top: 16px;
  left: -9px;
  background: var(--white);
  border: 1px solid var(--porcelain);
  border-left: 0;
  border-radius: 0 3px 3px 0;
  transform: rotate(180deg);
  color: var(--waterloo);

  &:hover {
    color: var(--jungle-green);
  }
}

.closeIcon {
  position: absolute;
  left: -13px;
  fill: currentColor;
}
