@import "~@santiment-network/ui/mixins";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 4px;
}

.item {
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
  padding: 6px 12px;
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--fiord);
}

.title {
  @include text("body-3");
}


.col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.error {
  margin: 0;
  width: fit-content;
  padding: 6px 10px !important;
}
