@import '~@santiment-network/ui/mixins';

.block {
  margin-top: 22px;
  display: flex;
}

.title {
  @include text('body-2', 'm');

  color: var(--rhino);
}

.subTitle {
  @include text('body-3', 'm');

  color: var(--waterloo);
}

.icon {
  min-width: 14px;
  height: 14px;
  fill: var(--waterloo);
}

.description {
  @include text('body-3');

  color: var(--rhino);
  margin-top: 8px;
}

.avatar {
  margin-right: 8px;

  &:hover {
    border: 1px solid var(--jungle-green-hover);
  }
}

.link {
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.user {
  @include text('body-3');

  color: var(--rhino);
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: var(--jungle-green-hover);

    .link {
      color: var(--jungle-green-hover);
    }

    .avatar {
      border: 1px solid var(--jungle-green-hover);
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: -3px;
}

.dialog {
  max-height: 514px;
  max-width: 514px;
  width: 100%;
}

.template {
  overflow-y: auto;
  border: none;
  box-shadow: none;
  min-width: 484px;
}

.container {
  padding: 24px;
}

.trigger {
  min-width: 94px;
  color: var(--waterloo);
  position: absolute;
  right: 24px;
}

.menuBtn {
  margin-left: 0 !important;
  display: flex !important;
  padding: 8px;
}

.dots {
  fill: var(--mirage);
}

.actions {
  display: flex;
  margin-bottom: 22px;
}

.status {
  display: flex;
  color: var(--waterloo);
  align-items: center;
  margin-left: auto;

  @include text('body-3', 'm');
}

.toggle {
  margin-left: 14px;
}

.noMargin {
  margin: 0 !important;
}
