@import '~@santiment-network/ui/mixins';

.wrapper {
  width: 100%;
  padding: 14px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--athens);
}

.info {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.status {
  @include text('body-3', 'm');

  margin: 0 0 8px;
  color: var(--dodger-blue);
}

.name {
  @include text('body-1', 'm');

  margin: 0;
  max-width: 332px;
}
