@import '~@santiment-network/ui/mixins';

.container {
  margin-bottom: 16px;
}

.title {
  @include text('caption');

  color: var(--casper);
  margin: 8px 0 6px 0;
}

.list {
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  border-radius: $border-radius;
  padding: 9px 16px;
  display: flex;
  flex-direction: column;
}

.link {
  @include text('body-3');

  color: var(--rhino);
}

.icon {
  margin-left: auto;
  fill: var(--casper);
}

.item {
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;

  &:not(:first-child) {
    padding-top: 6px;
  }

  &:hover {
    .icon {
      fill: var(--jungle-green-hover);
    }

    .link {
      color: var(--jungle-green-hover);
    }
  }
}
