@import '~@santiment-network/ui/variables';
@import '~@santiment-network/ui/mixins';

.upper {
  padding: 12px 20px;
  position: relative;
  border-bottom: 1px solid var(--porcelain);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.composition {
  text-align: center;
  margin-top: 25px;
}

.content {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.title {
  @include text-normal;

  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--rhino);
}

.close {
  fill: var(--waterloo);
  cursor: pointer;
}

.link {
  border: 1px solid var(--porcelain);
  display: flex;
  border-radius: $border-radius;
  overflow: hidden;

  &__input {
    border: none;
    height: 32px;

    @include text-normal;

    color: var(--waterloo);
    padding: 6px 10px;
    background-color: var(--white) !important;
  }

  &__btn {
    white-space: nowrap;
    border-left: 1px solid var(--porcelain);
    border-radius: 0;
    height: auto;
    color: var(--rhino);
    position: relative;

    &::before {
      display: block;
      position: absolute;
      z-index: 9;
      content: '';
      height: 100%;
      top: 0;
      left: -31px;
      width: 30px;
      background: linear-gradient(
        270deg,
        $white 0%,
        $white 30.94%,
        rgba($white, 0) 100%
      );

      :global(.night-mode) & {
        background: linear-gradient(
          270deg,
          $mirage 0%,
          $mirage 30.94%,
          rgba($mirage, 0) 100%
        );
      }
    }
  }
}

.wrapper {
  @include responsive('desktop', 'laptop', 'tablet') {
    min-width: 700px;
  }
}
