@import "~@santiment-network/ui/variables.scss";

.btn {
  display: inline-flex;
  align-items: center;
  color: var(--rhino);
  padding: 5px 10px;
}

.icon {
  height: 16px;
  width: 16px;
  fill: var(--casper) !important;

  &:only-child {
    fill: var(--rhino) !important;
  }
}

.text {
  margin-left: 7px;
}
