@import "~@santiment-network/ui/variables.scss";
@import "~@santiment-network/ui/mixins.scss";

.upper {
  padding: 12px 20px;
  position: relative;
  // border-bottom: 1px solid $light-gray3;
  border-bottom: 1px solid var(--grey-light-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.composition {
  text-align: center;
  margin-top: 25px;
}

.content {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.title {
  @include text-normal;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  // color: $black;
  color: var(--black);
}

.close {
  // fill: $text-grey;
    fill: var(--grey-dark-2);
  cursor: pointer;
}

.link {
  // border: 1px solid $light-gray3;
    border: 1px solid var(--grey-light-3);
  display: flex;
  border-radius: $border-radius;
  overflow: hidden;
  margin-bottom: 20px;

  &__input {
    border: none;
    height: 32px;
    @include text-normal;
    // color: $blue;
    color: var(--blue);
    padding: 6px 10px;
    background-color: var(--white) !important;
  }

  &__btn {
    white-space: nowrap;
    // border-left: 1px solid $light-gray3;
    border-left: 1px solid var(--grey-light-3);
    border-radius: 0;
    // color: $black;
    color: var(--black);
    position: relative;

    &::before {
      display: block;
      position: absolute;
      z-index: 9;
      content: '';
      height: 100%;
      top: 0;
      left: -31px;
      width: 30px;
      background: linear-gradient(270deg, $white 0%, $white 30.94%, rgba($white, 0) 100%);

      :global(.night-mode) &{
          background: linear-gradient(270deg, $black 0%, $black 30.94%, rgba($black, 0) 100%);
      }
    }
  }
}

.btn {
  // border: 1px solid $light-gray3;
    border: 1px solid var(--grey-light-3);
  // color: $black;
  color: var(--black);
  text-decoration: none;
  margin-bottom: 8px;
  padding: 8px 10px;
  display: flex;
  align-items: center;

  &:last-child {
    margin: 0;
  }
}

.icon {
  width: 16px;
  text-align: center;
  margin-right: 7px;
  // fill: $dark-gray !important;
  fill: var(--grey-dark) !important;
}
