@import "~@santiment-network/ui/variables.scss";

.btn {
    display: inline-flex;
    align-items: center;
    // color: $black;
    color: var(--black);
    padding: 5px 10px;

}

.icon {
    height: 16px;
    width: 16px;
    // fill: $dark-gray !important;
    fill: var(--grey-dark) !important;

    &:only-child{
        // fill: $text-grey !important;
        fill: var(--black) !important;
    }
}


.text {
    margin-left: 7px;
}
