@import '~@santiment-network/ui/mixins';

.wrapper {
  background: $fiord;
  padding: 5px 12px 3px;
  color: $white;
  border-radius: $border-radius;

  @include text('caption', 'l');
}

.arrow {
  fill: $fiord;
}
