@import '~@santiment-network/ui/mixins';

.headerContainer {
  padding: 24px 0;
}

.header {
  display: flex;
  align-items: flex-start;

  &__content {
    margin-left: 16px;

    &__title {
      @include text('body-1', 'l');

      color: var(--rhino);
    }

    &__description {
      margin-top: 2px;
      color: var(--waterloo);
    }
  }
}

.skeleton {
  height: 107px;
  margin: 0 24px 8px 24px;
}
