@import '~@santiment-network/ui/mixins';
@import "../../animations";

.wrapper {
  @include grid-wrap(3);

  grid-gap: 16px;

  @include responsive('laptop') {
    grid-template-columns: 1fr 1fr;
  }

  animation-name: shiftUp;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
}

.loader {
  font-size: 5px;
  margin-top: 4px;
  height: 157px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
