@import '~@santiment-network/ui/mixins';

.wrapper {
  border-radius: 4px;
  border: 1px solid var(--porcelain);
  padding: 14px 0 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  background-color: var(--white);
}

.top {
  display: flex;
  flex-direction: column;
  position: relative;
}

.text {
  color: var(--fiord);
  margin: 0 96px 24px 16px;
  display: flex;
  align-items: center;

  @include text('body-2');
}

.actions {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  top: -4px;
}

.action {
  padding: 10px;
  margin: 0 3px;
  position: relative;
}

.action + .action {
  &::before {
    position: absolute;
    content: '';
    display: block;
    top: 9px;
    left: -3px;
    height: 16px;
    width: 1px;
    background-color: var(--porcelain);
  }
}

.icon {
  box-sizing: content-box;
  fill: var(--jungle-green);

  &:hover {
    cursor: pointer;
    fill: var(--jungle-green-hover);
  }
}

.signal {
  margin-left: 6px;
}

.wordCloud {
  height: 320px;
  width: 440px;
}

.button {
  margin: 0;
  padding: 0;
  height: auto;
  background-color: transparent !important;
}

.chart {
  margin-top: 4px;
}

.new {
  margin-right: 8px;
}
