@import '../../../../node_modules/@santiment-network/ui/mixins';

.container {
  display: flex;
  justify-content: space-between;
  padding: 9px 11px 0 16px;
  border-bottom: 1px solid var(--porcelain);
  color: var(--rhino);

  @include text('body-2', 'm');

  @include responsive('phone', 'phone-xs') {
    padding-bottom: 9px;
    flex-direction: column;
  }

  @include responsive('laptop', 'tablet') {
    padding-bottom: 9px;
  }
}

.tabs {
  margin-left: auto;
  margin-right: 3px;
  border-bottom: none;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    margin: 16px 0 0 0;
    display: flex;
    justify-content: space-between;
  }
}

.tab {
  padding: 5px 13px 13px 13px;
  margin: 0;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    padding: 0 8px 9px 8px;
  }
}
