@import "~@santiment-network/ui/mixins";

.rowWrapper {
  display: flex;
  margin-top: 6px;
  gap: 8px;
  flex-wrap: wrap;
}

.wrapper {
  height: 34px;
  padding: 6px 12px;
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--rhino);

  @include text("body-3");
}
