@import "~@santiment-network/ui/mixins";

.expandableHeight {
  --height: auto;
}

.rowWrapper {
  display: flex;
  margin-top: 6px;
  gap: 8px;
  flex-wrap: wrap;
}

.wrapper {
  height: var(--height, 34px);
  padding: 6px 12px;
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--rhino);

  @include text("body-3");
}

.smallCol {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 14px;
}

.metric {
  width: fit-content;
  padding: 4px 8px;
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  color: var(--rhino);

  @include text("caption");
}

.condition {
  @include text("caption");
}

.conditionType {
  color: var(--waterloo);
}
