@import '~@santiment-network/ui/mixins';

.container {
  box-sizing: border-box;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 24px;
  padding: 16px;
  background: var(--white);
}
