@import '~@santiment-network/ui/mixins';

.wrapper {
  text-align: center;
  padding: 32px;

  @include responsive('phone-xs') {
    padding: 32px 0;
  }
}

.title {
  @include text('h4', 'm');

  margin: 0 0 24px 0;
  color: var(--mirage);
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    margin-left: 8px;
  }
}

.section {
  background-color: var(--athens);
  padding: 24px 32px 32px;
  border-radius: 4px;
}

.text {
  @include text('body-3', 'm');

  color: (--fiord);
  margin: 0 0 16px;

  &__last {
    margin: 16px 0 8px;
  }
}

.point {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__text {
    margin-left: 11px;
    color: var(--fiord);
  }
}

.point + .point {
  margin-top: 12px;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  margin: 24px 0 8px;
  height: 40px;
  width: 292px;
  justify-content: center;
}

.textarea {
  border-radius: $border-radius;
  width: 100%;
  padding: 10px 12px;
  color: var(--rhino);
  background: var(--white);
  border: 1px solid var(--porcelain);
  resize: vertical;
  outline: none;

  @include text('body-3');

  &::placeholder {
    color: var(--casper);
  }

  &:hover,
  &:focus {
    border: 1px solid var(--jungle-green);
  }
}
