@import '~@santiment-network/ui/mixins';

.wrapper {
  text-align: center;
  padding: 24px 54px;
}

.title {
  @include text('h4', 'l');

  margin-bottom: 8px;
}

.text {
  @include text('body-3');

  color: var(--waterloo);
  margin-bottom: 31px;
}

.btn {
  margin-bottom: 10px;
}
