.wrapper {
  width: 480px;
  min-height: 230px;
  padding: 16px 12px;
}

.search {
  padding: 8px 11px;
  background: var(--athens);
  border-bottom: 1px solid var(--porcelain);
}

.tabs {
  padding: 28px 24px 0 24px;
}
