@import '~@santiment-network/ui/mixins';

.wrapper {
  min-height: 230px;
  padding: 12px 14px;
}

.search {
  padding: 8px 24px;
  background: var(--athens);
  border-bottom: 1px solid var(--porcelain);
}

.tabs {
  padding: 20px 24px 0 24px;
}

.disabledTab {
  color: var(--casper);
}

.searchInput {
  input {
    &::placeholder {
      color: var(--casper);
    }
  }
}

.headerIcon {
  margin-right: 24px;
  fill: var(--casper);
  height: 14px;
  width: 8px;
}

.header {
  @include text('body-2', 'm');

  color: var(--rhino);
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: var(--jungle-green-hover);

    .headerIcon {
      fill: var(--jungle-green-hover);
    }
  }
}

.dialog {
  width: 600px;
  height: 480px;
  border: none;
}

.title {
  @include text('body-2');

  color: var(--rhino);
  padding: 16px 24px !important;
}

.tab {
  padding-bottom: 8px;
  margin-right: 10px;
  color: var(--casper);
}

.selectedTab {
  color: var(--jungle-green);
}
