@import '~@santiment-network/ui/mixins';

.menu {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  margin-left: auto;
  border: 1px solid var(--porcelain);
  box-shadow: 0 2px 8px rgba(59, 84, 106, 0.03), 0 1px 2px rgba(59, 84, 106, 0.03);
  border-radius: 4px;
  display: none;

  @include text('body-3');

  &:hover {
    fill: var(--jungle-green-hover) !important;
  }
}

.delete {
  color: var(--persimmon);
}

.template {
  position: relative;
}

.wrapper {
  padding: 12px 16px;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  position: relative;

  &:hover {
    background: var(--athens);

    .menu {
      display: flex;
    }
  }
}

.info {
  color: var(--waterloo);
  display: flex;
  margin-top: 4px;

  @include text('body-3');
}

.title {
  color: var(--rhino);

  @include text('body-2', 'm');
}

.option {
  padding: 10px 16px;
  height: 37px;
}

.options {
  padding: 0;
}

.withUse {
  margin-left: 8px !important;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.trigger {
  right: 16px !important;
}

.statusIcon {
  fill: var(--casper) !important;
  width: 12px !important;
}
