@import '~@santiment-network/ui/mixins';

.card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: var(--white);
  border: 1px solid var(--porcelain);
  border-radius: $border-radius;
  width: 100%;
}

.skeleton {
  min-height: 114px;
}

.title {
  @include text('body-2', 'l');

  color: var(--waterloo);
}

.value {
  @include text(h4);

  min-height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.loading {
  font-size: 5px;
  margin: 0 auto;
}

.container {
  position: relative;
  flex: 1;
  display: flex;
}
