@import "~@santiment-network/ui/mixins.scss";

.block {
  width: 100%;
  border: 1px solid var(--porcelain);

  @include border-box();

  border-radius: $border-radius;

  @include text('body-3');
}

.header {
  width: 100%;
  background: var(--athens);
  border-bottom: 1px solid var(--porcelain);
  display: flex;
  padding: 10px 20px;
  color: var(--casper);
  font-weight: 500;

  @include border-box();
  @include text('body-3');
}

.dividerContainer {
  margin: 16px -16px;
  position: relative;
}

.divider {
  border-bottom: 1px solid var(--porcelain);
}

.action {
  height: 20px;
  margin-left: auto;
  padding: 0;
  background-color: var(--athens) !important;
  fill: var(--waterloo);

  &:hover {
    fill: var(---btn-accent-color-hover);
  }
}

.title {
  color: var(--waterloo);
}

.description {
  color: var(--mirage);
  margin-left: 5px;
  word-break: break-all;

  @include responsive('phone', 'phone-xs') {
    margin-left: 0;
  }
}

.content {
  padding: 16px;
}

.clickable {
  cursor: pointer;
}

.headerContent {
  display: flex;
  flex-direction: row;
  flex: 1;

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
  }
}
