@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--porcelain);
  background: var(--white);
  border-radius: $border-radius;
  padding: 16px;
  cursor: pointer;
  box-sizing: border-box;

  &__unread {
    background: var(--athens);
  }

  &:hover {
    border-color: var(--mystic);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  @include text('body-3');

  color: var(--rhino);
}

.type {
  background: var(--porcelain);
  border-radius: $border-radius;
  padding: 3px 6px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}

.username {
  flex-direction: column;
  color: var(--rhino) !important;
  align-items: flex-start !important;
}

.date {
  min-width: initial !important;
  margin: 2px 0 0 0;
  color: var(--waterloo);
}

.avatarIcon {
  position: relative;
  top: -2px;
}

.new {
  font-size: 10px;
  min-width: initial;
}

.more {
  margin: 0;
}
