@import '~@santiment-network/ui/mixins';

.selectors {
  padding-bottom: 0 !important;
}

.container {
  display: flex;
  align-items: center;
  color: var(--waterloo);
  justify-content: center;

  @include text('body-3');
}

.btn {
  @include text('body-3');

  &:hover {
    background: var(--white);
  }
}
