@import '~@santiment-network/ui/variables.scss';
@import '~@santiment-network/ui/mixins.scss';
@import '../../mixins.scss';

.wrapper {
  padding: 0 48px 16px;
  max-width: 496px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include responsive('phone-xs', 'phone') {
    padding: 0 24px 16px;
  }
}

.header {
  border-bottom: none;
  padding-top: 18px !important;
  justify-content: flex-end;
  background: none;
}

.image {
  min-width: 196px;
  min-height: 122px;

  @include responsive('phone-xs', 'phone') {
    min-width: 148px;
    min-height: 92px;
  }
}

.title {
  margin: 32px 0 16px;
  color: var(--rhino);
  text-align: center;

  @include text('h4', 'm');

  @include responsive('phone-xs', 'phone') {
    margin: 16px 0 12px;
  }
}

.description {
  margin: 0 0 24px;
  color: var(--waterloo);
  text-align: center;

  @include text('body-3');
}

.toggle {
  margin-right: 9px;

  @include responsive('phone-xs', 'phone') {
    margin-right: 0;
  }
}

.toggleWrapper {
  color: var(--waterloo);
  padding: 0;
  height: auto;
  margin-bottom: 16px;

  &:hover {
    color: var(--rhino);

    @include responsive('phone-xs', 'phone') {
      margin-bottom: 8px;
      color: var(--waterloo);
    }
  }

  &.active {
    color: var(--rhino);
  }

  @include responsive('phone-xs', 'phone') {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: row-reverse;
  }
}

.notification {
  margin-top: 16px;
  box-shadow: none;

  @include responsive('phone-xs', 'phone') {
    min-width: auto;
    padding: 0;
    border: none;
  }
}

.notificationDescription {
  @include responsive('phone-xs', 'phone') {
    padding-right: 0;
  }
}

.notificationTitle {
  @include responsive('phone-xs', 'phone') {
    padding-right: 0;
  }
}

.notificationWarning {
  border-color: $texas-rose-light-2;
  background: $texas-rose-light;

  @include responsive('phone-xs', 'phone') {
    background: none;
    border: none;
  }

  & .notificationDescription {
    color: $waterloo;
  }

  & .notificationTitle {
    color: $mirage;
  }
}

.inputWrapper {
  margin: 24px 0 0;
  width: 100%;

  @include responsive('phone-xs', 'phone') {
    margin: 16px 0 0;
  }
}

.input {
  padding: 10px 8px 10px 40px !important;
  color: var(--rhino);
  height: 40px;
}

.inputIcon {
  fill: var(--casper);
  width: 16px;
  padding: 15px 8px 14px 16px;
  height: 12px;
}

.actions {
  padding: 0 48px 50px;
  width: 100%;

  @include responsive('phone-xs', 'phone') {
    padding: 0 24px 16px;
  }
}

.approve {
  width: 100%;
  color: var(--white);
  height: auto;
  margin: 0;
  justify-content: center;
  padding: 8px 12px;

  @include text('body-2');

  @include responsive('phone-xs', 'phone') {
    padding: 12px;
    color: var(--white);
    background: var(--jungle-green) !important;
  }
}
