@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  flex-direction: column;
  max-width: 184px;
  position: sticky;
  top: 0;
  padding: 104px 0 32px 24px;
}

.item {
  padding: 4px 0 4px 16px;
  color: var(--rhino);
  border-left: 1px solid var(--porcelain);
  cursor: pointer;
  word-break: break-word;

  @include text('body-3');

  &:hover {
    color: var(--jungle-green-hover) !important;
  }

  &:focus {
    color: inherit;
  }
}

.active {
  border-left: 1px solid var(--jungle-green);
  color: var(--jungle-green) !important;
}
