@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  align-items: center;
}

.label {
  color: var(--casper);
  margin: 0;

  @include text('body-3');
}

.button {
  min-width: 30px;
  width: auto;
  padding: 2px 6px;
  margin-left: 4px;
  height: 20px;
  justify-content: center;

  @include text('body-3');

  &:hover {
    color: var(--jungle-green-hover);
  }

  @include responsive('phone-xs', 'phone') {
    padding: 2px 6px;
    height: 24px;
    min-width: 36px;
  }
}
