@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  align-items: center;
}

.label {
  color: var(--casper);
  margin: 0;

  @include text('body-3');
}

.button {
  width: auto;
  padding: 0 4px;
  margin-left: 4px;
  height: 18px;

  @include text('caption');

  &:hover {
    color: var(--jungle-green-hover);
  }
}
