@import "~@santiment-network/ui/mixins.scss";

.stat {
  display: flex;

  @include text('body-3');
}

.statName {
  color: var(--casper);
  margin-right: 4px;
}

.statValue {
  color: var(--mirage);
}

.statValue + .statValue {
  margin-left: 14px;
  position: relative;

  &::before {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    left: -8px;
    top: 8px;
    background: var(--casper);
  }
}

.loading {
  color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
  font-size: 3px;
}
