@import '~@santiment-network/ui/variables.scss';
@import '~@santiment-network/ui/mixins.scss';
@import "../../mixins.scss";

.wrapper {
  padding: 12px 0 0 20px;
  width: 318px;
  overflow-y: hidden;

  @include responsive('phone-xs', 'phone') {
    width: 100%;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.search {
  z-index: 5;
  margin-right: 20px;
}

.heading {
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  margin: 16px 0 8px;
}

.wrapperList {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 12px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), var(--white));
  }
}

.project {
  @include text-normal;

  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticker {
  margin-left: 5px;
}

.actionBtn {
  margin-right: 10px;
}

.actions {
  padding: 10px 15px;
}
