@import "~@santiment-network/ui/mixins";

.wrapper {
  display: flex;
  box-shadow: none;

  &__right {
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include responsive("phone", "phone-xs") {
      padding: 0;
    }
  }

  &__left {
    margin-right: 16px;
    display: flex;
    align-items: center;

    &_subscription {
      display: block;

      @include responsive("phone", "phone-xs") {
        margin-bottom: 15px;
        margin-right: 0;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  @include responsive("phone", "phone-xs") {
    flex-direction: column;
  }
}

.frozenWrapper {
  --frozen-bg-color: var(--whale);

  background-color: var(--frozen-bg-color);

  &:hover {
    --frozen-icon-opacity: 1;
    --frozen-left-buttons-display: none;
    --frozen-left-actions-display: flex;
    --frozen-bg-color: var(--athens);
    --frozen-title-color: var(--rhino);
    --frozen-up-icon-color: var(--green);
    --frozen-down-icon-color: var(--red);
    --frozen-alert-bg: var(--frozen-bg-color);
  }
}

.frozenActions {
  display: var(--frozen-left-actions-display, none);
}

.wrapper__top {
  display: flex;
  height: 100%;
  padding: 12px 20px;
}

.description {
  @include text("body-3");

  word-break: break-word;
  color: var(--waterloo);
  margin-top: 4px;
}

.frozenDescription {
  color: var(--casper);
}

.pointer {
  cursor: pointer;
}

.modalCentered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.more {
  display: flex;
  position: relative;
  cursor: pointer;

  @include responsive("phone", "phone-xs") {
    margin-left: auto;
  }
}

.popup {
  width: 144px;
  background: var(--white);

  @include border-box();

  border-radius: $border-radius;
  padding: 8px;
}

.popupItem {
  gap: 8px;
  width: 128px;
  height: 32px;
  border-radius: 4px;
  --fill: var(--waterloo);
  --fill-hover: var(--green);
}

.publicShare {
  --color-hover: var(--green);
}

.sharePanelBtn {
  margin: 2px 0;
}

.bottom {
  height: 32px;
  margin-top: 14px;
  display: flex;
  align-items: center;

  &__right {
    display: flex;
  }
}

.expandButton {
  --bg-hover: var(--green-light-1);
  --color: var(--waterloo);
  --color-hover: var(--green);
  --fill: var(--waterloo);
  --fill-hover: var(--green);
  padding: 14px 7px;

  @include responsive("phone", "phone-xs") {
    margin: 0 5px 0 auto;
    padding: 6px;
  }
}

.expandButtonHover {
  --bg: var(--green-light-1);
  --fill: var(--green);
}

.frozenExpandButton {
  background-color: transparent !important;
  fill: var(--casper) !important;
  display: var(--frozen-left-buttons-display, block);
}

.link {
  @include text("body-3");
}

.share {
  cursor: pointer;
  padding: 0;
  fill: var(--waterloo);

  &:hover {
    fill: var(--jungle-green-hover);
  }
}

.shareBtn {
  padding-left: 0;

  @include responsive("phone", "phone-xs") {
    margin-left: auto;
  }
}

.shareSingle {
  padding: 0;
}

.awaitingBlock {
  display: flex;
  fill: var(--waterloo);
}

.author {
  @include text("body-3");

  color: var(--waterloo);
  margin: 0;
  display: flex;
  align-items: center;

  &__link {
    color: var(--green);
    text-decoration: none;

    &:hover {
      color: var(--green-hover);
    }
  }
}

.right {
  margin-left: auto;
  align-items: center;
  display: flex;
}

.toggleLabel {
  margin-right: 8px;
  color: var(--jungle-green);
}

.disabled {
  color: var(--waterloo);
}

.subscriptions {
  @include text("body-3");

  margin-right: 24px;
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 7px;
    fill: var(--grey-dark);
  }
}

.awaiting {
  @include text("body-3");

  display: inline-flex;
  align-items: center;
  margin: 0;
  color: var(--grey-dark);
  fill: var(--grey-dark);

  &__icon {
    width: 15px;
    margin-right: 9px;
  }
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    color: var(--rhino);
  }
}

.shareIcon {
  margin-right: 8px;
}

.messageWrapper {
  overflow: hidden;
  height: 58px;
  opacity: 1;
  transition-property: height, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  &__hide {
    height: 1px;
    opacity: 0;
  }
}

.message {
  margin-bottom: 16px;
}

.toggle {
  width: auto;
  position: absolute;
  right: 16px;
  bottom: 24px;
}

.frozenAlert {
  ---border: var(--porcelain);
  --color: var(--waterloo);
  --color-hover: var(--waterloo);

  cursor: default;
  height: 32px;
  background: var(--frozen-alert-bg, var(--white));
  fill: var(--waterloo);
}
