@import "~@santiment-network/ui/mixins";

.wrapper {
  display: flex;

  &__right {
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include responsive('phone', 'phone-xs') {
      padding: 0;
    }
  }

  &__left {
    margin-right: 16px;
    display: flex;
    align-items: center;

    &_subscription {
      display: block;

      @include responsive('phone', 'phone-xs') {
        margin-bottom: 15px;
        margin-right: 0;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
  }
}

.wrapper__top {
  display: flex;
  height: 100%;
  padding: 12px 20px;
}

.description {
  @include text('body-3');

  word-break: break-word;
  color: var(--waterloo);
  margin-top: 10px;
}

.pointer {
  cursor: pointer;
}

.modalCentered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.more {
  display: flex;
  position: relative;
  cursor: pointer;

  @include responsive('phone', 'phone-xs') {
    margin-left: auto;
  }
}

.popup {
  background: var(--white);

  @include border-box();

  box-shadow: 0 4px 8px rgba(24, 27, 43, 0.04), 0 8px 16px rgba(24, 27, 43, 0.05), 0 12px 32px rgba(24, 27, 43, 0.05);
  border-radius: $border-radius;
  padding: 8px 8px;
}

.popupItem {
  padding: 6px 8px;

  @include text('body-3');
}

.bottom {
  margin-top: 19px;
  display: flex;
  align-items: center;

  &__right {
    display: flex;
  }
}

.expandButton {
  margin-right: 20px;
  padding-left: 0;

  @include responsive('phone', 'phone-xs') {
    margin: 0 5px 0 auto;
    padding: 6px;
  }
}

.link {
  color: var(--mirage);

  @include text('body-3');
}

.share {
  cursor: pointer;
  padding: 0;
}

.removeSignal {
  cursor: pointer;

  @include text('body-3');
}

.shareBtn {
  padding-left: 0;

  @include responsive('phone', 'phone-xs') {
    margin-left: auto;
  }
}

.popupButton {
  @include text('body-3');

  align-items: center;

  &:hover {
    fill: var(--jungle-green-hover);
    color: var(--jungle-green-hover);
  }
}

.awaitingBlock {
  display: flex;
  fill: var(--waterloo);
}

.author {
  @include text('body-3');

  color: var(--waterloo);
  margin: 0;

  &__link {
    color: var(--green);
    text-decoration: none;

    &:hover {
      color: var(--green-hover);
    }
  }
}

.right {
  margin-left: auto;
  align-items: center;
  display: flex;
}

.subscriptions {
  @include text('body-3');

  margin-right: 24px;
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 7px;
    fill: var(--grey-dark);
  }
}

.awaiting {
  @include text('body-3');

  display: inline-flex;
  align-items: center;
  margin: 0;
  color: var(--grey-dark);
  fill: var(--grey-dark);

  &__icon {
    width: 15px;
    margin-right: 9px;
  }
}
