@import "~@santiment-network/ui/mixins";

.more {
  color: var(--dodger-blue) !important;
  padding: 2px 4px;

  &:hover {
    padding: 1px 3px;
    background: var(--dodger-blue-light);
    border-radius: $border-radius;
    border: 1px solid var(--dodger-blue-light);
  }
}

.words {
  display: flex;
  margin-top: 7px;
}

.word {
  color: var(--dodger-blue) !important;
  border: 1px solid var(--dodger-blue-light);
  background: var(--white);
  border-radius: $border-radius;
  margin-right: 8px;
  padding: 2px 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @include border-box();
  @include text('body-3');

  &:hover {
    background: var(--dodger-blue-light);
  }
}
