@import "~@santiment-network/ui/mixins";

.title {
  @include text('body-2');

  word-break: break-word;
  display: flex;
  margin: 0 0 4px 0;
  color: var(--rhino);

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.bottom {
  display: flex;
  margin-top: 16px;
  padding-top: 12px;
  border-top: 1px solid var(--porcelain);
  width: 100%;
  align-items: center;
}

.header {
  display: flex;

  @include responsive('phone', 'phone-xs') {
    flex-direction: column-reverse;
  }
}

.ampm {
  color: var(--waterloo);
  margin-left: 4px;
  min-width: 100px;
  display: flex;
  align-items: center;
  position: relative;
  top: 1px;

  @include text('caption');
}
