@import "~@santiment-network/ui/variables.scss";

.icon {
  height: 16px;
  width: 16px;
  fill: var(--casper) !important;
}

.text {
  margin-left: 8px;
}

.trigger:hover {
  & .icon {
    fill: var(--jungle-green-light-3) !important;
  }
}
