@import '~@santiment-network/ui/mixins.scss';

.ask {
  position: relative;
  margin: 84px 0 76px 0;
  display: flex;

  @include responsive('laptop', 'tablet', 'phone', 'phone-xs') {
    margin: 24px 0 48px 0;
    padding: 24px 16px 16px 16px;
  }
}

.askBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.askTitle {
  @include text('h4', 'l');

  color: var(--rhino);

  @include responsive('phone', 'phone-xs') {
    @include text('body-1', 'l');

    max-width: 320px;
    text-align: center;
  }
}

.askUpgradeBtn {
  margin-top: 32px;

  @include responsive('phone', 'phone-xs') {
    max-width: 320px;
    margin-top: 24px;
  }
}

.sign {
  color: var(--white);
  margin-bottom: 22px;

  @include responsive('phone', 'phone-xs') {
    margin-bottom: 16px;
  }
}

.bgSvg {
  display: flex;
  height: 180px;
  background: url('../../../assets/pro-metrics/sign-bg.svg') repeat-x bottom;

  @include responsive('phone', 'phone-xs') {
    background: var(--jungle-green);
  }
}

.signSvg {
  height: 200px;
  margin: 14px 0 0 0 !important;

  @include responsive('tablet', 'laptop', 'phone', 'phone-xs') {
    margin: 0;
    height: initial;
  }
}

.emailInput {
  height: 40px;
  padding: 0 !important;
  border: none !important;

  input {
    height: 40px;
    padding-right: 235px !important;
    padding-left: 33px !important;

    @include responsive('phone', 'phone-xs') {
      height: 48px;
    }
  }

  @include responsive('phone', 'phone-xs') {
    height: 48px;
  }
}

.getStartedBtn {
  background-color: var(--rhino);
}

.form {
  width: 450px !important;
  align-items: flex-start !important;

  @include responsive('phone', 'phone-xs') {
    width: 100% !important;
  }
}

.subscriptionCheckbox {
  @include text('caption', 'm');

  cursor: pointer;
  margin-top: 16px !important;
}

.subscriptionLabel {
  @include text('caption');

  color: var(--white) !important;
  margin-left: 8px;
}

.selectedCheckbox {
  svg {
    fill: var(--mystic) !important;
  }

  div {
    background: var(--white);
    border-color: var(--white);

    &:hover {
      background: var(--athens);
      border-color: var(--athens);
    }
  }
}
