@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.loader {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  @include text('h4');

  display: flex;
  align-items: center;
  color: var(--mirage);
  margin-bottom: 24px;
}
