@import '~@santiment-network/ui/mixins';

.panel {
  max-width: 465px;
  padding: 24px;
  border-radius: $border-radius;
  text-align: left;
}

.wrapper {
  z-index: 1;
  max-width: 465px;
  padding: 14px;
}
