@import '~@santiment-network/ui/mixins';

.panel {
  max-width: 350px;
  padding: 18px 24px;
  border-radius: $border-radius;
  text-align: left;
  color: var(--rhino);

  @include responsive('phone', 'phone-xs') {
    max-width: 100%;
  }
}

.wrapper {
  z-index: 1;
  max-width: 465px;
  padding: 14px;
}

.trigger {
  fill: var(--waterloo);
  cursor: pointer;

  &:hover {
    fill: var(--fiord);
  }
}

.list {
  padding: 0;
  list-style: none;
}

code {
  padding: 1px 4px;
  margin: 2px 0;
  background-color: var(--athens);
  border-radius: 4px;
}

.item + .item {
  margin: 10px 0 0;
}

.heading {
  @include text('body-2', 'm');

  margin: 0 0 8px;
}

.title {
  @include text('body-3', 'm');

  margin: 0 0 4px;
}
