@import '~@santiment-network/ui/variables.scss';
@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  overflow-y: hidden;

  @include responsive('phone-xs', 'phone') {
    padding: 12px 0 0 20px;
    width: 100%;
  }

  @include responsive('laptop', 'tablet', 'desktop') {
    padding: 0 16px;
    display: flex;
    width: auto;
    border-bottom: 1px solid var(--porcelain);
  }
}

.assetsWrapper {
  @include responsive('laptop', 'tablet', 'desktop') {
    padding: 16px 16px 16px 0;
    border-right: 1px solid var(--porcelain);
  }
}

.watchlistsWrapper {
  display: flex;
  flex-direction: column;

  @include responsive('phone-xs', 'phone') {
    margin-right: 20px;
  }

  @include responsive('laptop', 'tablet', 'desktop') {
    padding: 8px 4px 16px 16px;
  }
}

.search {
  z-index: 5;

  @include responsive('phone-xs', 'phone') {
    margin-right: 20px;
  }
}

.actions {
  justify-content: flex-start;

  @include responsive('tablet', 'laptop', 'desktop') {
    padding-top: 20px;
  }
}

.approve {
  @include responsive('tablet', 'laptop', 'desktop') {
    margin-right: 16px;
  }
}

.name {
  color: var(--mirage);
  margin: 0 3px 0 5px;
}

.ticker {
  color: var(--waterloo);
}

.wrapperList {
  margin-top: 16px;

  @include responsive('phone-xs', 'phone') {
    margin-right: 20px;
  }

  @include responsive('laptop', 'tablet', 'desktop') {
    height: 85%;
    min-height: 250px;
    width: 250px;
  }
}

.asset {
  &:hover {
    @include responsive('laptop', 'tablet', 'desktop') {
      cursor: pointer;
    }
  }
}

.watchlists {
  @include responsive('phone-xs') {
    max-height: 15vh;
  }

  @include responsive('phone') {
    max-height: 22vh;
  }
}

.warning {
  color: var(--persimmon);
  text-align: center;
  padding: 5px 16px;

  @include text('caption');

  @include responsive('laptop', 'tablet', 'desktop') {
    padding: 16px 16px 0;
  }
}

.header {
  @include text('body-3');

  display: flex;
  align-items: center;
  color: var(--waterloo);
  margin-bottom: 29px;
  margin-top: 14px;
}