@import '~@santiment-network/ui/mixins';

.container {
  width: 668px;
}

.wrapper {
  display: flex;
  padding-top: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  margin-bottom: 32px;
}

.title {
  @include text('h4', 'm');

  margin-right: auto;
}

.insights {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 24px;
}
