.wrapper {
  margin: 10px 20px;
  width: 100%;
}

.btn {
  background: var(--athens);
  margin-right: 8px;

  &:hover {
    background: var(--athens);
    border-color: var(--jungle-green);
  }
}

.label {
  margin-right: 6px;
}

.icon {
  margin-left: 8px;
  fill: var(--mirage) !important;
}
