@import '~@santiment-network/ui/mixins';

.container {
  background: var(--white);
}

.wrapper {
  display: flex;
  background: var(--white);
  border-radius: $border-radius;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 16px;
}

.topOffset {
  padding: 16px 24px;
}

.trigger {
  @include text('body-3');

  width: 130px;
  margin: 1px 8px 0 0;
  padding: 8px;
  color: $white;

  &:hover {
    border-color: var(--jungle-green);
  }
}

.triggerIcon {
  margin-right: 8px;
  transform: translateY(-2px);
  position: relative;
}

.selector {
  @include responsive('desktop', 'laptop', 'tablet') {
    width: 515px;
  }
}

.divider {
  background: var(--porcelain);
  border-radius: $border-radius;
  height: 4px;
  margin: 0 24px;
}
