@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
}

.tool {
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  flex: 1;

  &_short {
    width: 65%;
  }
}

.container {
  padding: 20px 24px;

  &_bottom {
    padding: 24px;
    border-top: 1px solid var(--porcelain);
  }
}

.settings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  &_noSearch {
    justify-content: flex-end;
  }

  &__group {
    display: flex;
  }
}

.ranges,
.calendar {
  margin-right: 16px;
}

.search {
  width: 20%;
  min-width: 150px;
}

.title {
  text-align: center;
  color: var(--mirage);
  font-size: 16px;
  line-height: 32px;
}

.zoom {
  position: absolute;
  top: 39px;
  left: 58px;
  z-index: 1;
}

.chart {
  user-select: none !important;
  position: relative;
}

.metrics {
  padding: 10px 20px;
}

.btn {
  background: var(--white);
  outline: none;
  color: var(--waterloo);
  border-radius: 4px;
  height: 32px;
  cursor: pointer;
  margin-right: 8px;
  padding: 6px 12px;
  border: 1px solid transparent;
}

.active {
  color: var(--mirage);
  background: var(--athens);
  border: 1px solid var(--porcelain);
}

.btn[disabled] {
  color: var(--mystic) !important;
  fill: var(--mystic) !important;
  background: var(--white);
  cursor: not-allowed;
}

.label {
  margin-right: 10px;
}

:global(.recharts-default-tooltip) {
  background-color: var(--white) !important;
}

.context {
  padding: 8px;

  &__toggle {
    margin-left: 16px;
  }

  &__btn {
    justify-content: space-between;
  }
}
