.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: var(--white);
  border-left: 1px solid var(--porcelain);
  width: 380px;
  z-index: 100;
}

.toggle {
  background: var(--white);
  border: 1px solid var(--porcelain);
  box-sizing: content-box;
  padding: 20px 10px;
  position: absolute;
  top: 50%;
  transform: translate3d(-100%, -50%, 0);
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  cursor: pointer;
  border-right: none;

  &:hover {
    fill: var(--jungle-green);
  }
}
