@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
}

.tool {
  border-radius: 4px;
  flex: 1;
  width: 100%;
}

.toolShort {
  width: 65%;
  flex: auto;
}

.toolWideChart {
  border: none;
}

.container {
  background: var(--white);

  &_bottom {
    padding: 24px;
    border-top: 1px solid var(--porcelain);
  }
}

.wideChartBg {
  background: var(--athens) !important;
  padding: 20px 24px;
}

.settings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;

  &_noSearch {
    justify-content: flex-end;
  }

  &__title {
    @include text('body-1');

    margin: 0 16px 0 0;
    color: var(--mirage);
  }

  &_settings {
    margin-left: auto;
  }

  &__main {
    margin-left: auto;
  }

  &__studio {
    color: var(--rhino);

    @include text('body-1');
  }

  &__slugBlock {
    display: flex;
    align-items: baseline;
  }

  &__slug {
    margin-left: 8px;
    color: var(--waterloo);

    @include text('body-3');
  }

  &__group {
    display: flex;
    align-items: center;

    @include responsive('tablet') {
      margin: 0;

      &:first-child {
        margin-top: 10px;
      }
    }
  }

  @include responsive('tablet') {
    flex-direction: column-reverse;
  }
}

.ranges,
.calendar {
  margin-right: 16px;
}

.search {
  width: 20%;
  min-width: 200px;
}

.title {
  text-align: center;
  color: var(--mirage);
  font-size: 16px;
  line-height: 32px;
}

.zoom {
  position: absolute;
  top: 5px;
  left: 58px;
  z-index: 1;
}

.chart {
  user-select: none !important;
  position: relative;
  margin-top: 24px;
}

.metrics {
  padding: 10px 20px;
}

.btn {
  background: var(--white);
  outline: none;
  color: var(--waterloo);
  border-radius: 4px;
  height: 32px;
  cursor: pointer;
  margin-right: 8px;
  padding: 6px 12px;
  border: 1px solid transparent;
}

.active {
  color: var(--mirage);
  background: var(--athens);
  border: 1px solid var(--porcelain);
}

.btn[disabled] {
  color: var(--mystic) !important;
  fill: var(--mystic) !important;
  background: var(--white);
  cursor: not-allowed;
}

.label {
  margin-right: 10px;
}

:global(.recharts-default-tooltip) {
  background-color: var(--white) !important;
}

.context {
  padding: 8px;

  &__toggle {
    margin-left: 16px;
  }

  &__btn {
    justify-content: space-between;

    &_big {
      height: auto;
      text-align: left;
    }

    &_icon_and_name {
      display: flex;
    }

    &_paywalled_label {
      pointer-events: all;
    }

    &_paywalled_label:hover {
      color: white;
      cursor: pointer;
    }
  }

  & .icon {
    fill: var(--casper);
    margin-right: 8px;

    &.flash {
      fill: none;
      stroke: var(--casper);
      stroke-width: 1.5px;
    }
  }
}

.moreData {
  padding: 0 20px 20px;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
}

.limitedLabel {
  display: flex;
  margin-right: 5px;
  color: var(--waterloo);

  @include text('body-3');
}

.paywall {
  background: var(--athens);
}

.settingsBtn {
  background: none;
  fill: var(--casper);

  &:hover {
    fill: var(--jungle-green-hover);
  }
}

.logo {
  height: 32px;
}
