@import '~@santiment-network/ui/mixins';

.wrapper {
  :global {
    .recharts-default-tooltip {
      border: 1px solid var(--porcelain) !important;
      border-radius: 4px;
    }

    .recharts-tooltip-label {
      color: var(--mirage);
    }

    .recharts-cartesian-axis-tick-line {
      display: none;
    }

    .recharts-cartesian-axis-line {
      stroke: var(--porcelain);
      stroke-dasharray: 7;
    }

    .recharts-text {
      fill: var(--casper);

      @include text('caption');
    }
  }
}

.line {
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    background: red;
    z-index: 2;
  }

  &::before {
    top: 0;
    bottom: 0;
    width: 1px;
    transform: translateX(var(--x));
  }

  &::after {
    left: 0;
    right: 0;
    height: 1px;
    transform: translateY(var(--y));
  }
}
