@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.wrapper {
  :global {
    .recharts-default-tooltip {
      border: 1px solid var(--porcelain) !important;
      border-radius: 4px;
    }

    .recharts-surface {
      overflow: visible;
    }

    .recharts-tooltip-label {
      color: var(--mirage);
    }

    .recharts-cartesian-axis-tick-line {
      display: none;
    }

    .recharts-cartesian-axis-line {
      stroke: var(--porcelain);
      stroke-dasharray: 7;
    }

    .recharts-text {
      fill: var(--casper);

      @include text('caption');
    }

    .recharts-brush-slide {
      fill: var(--casper);
      transform: translateX(2px);
    }

    .recharts-brush-traveller {
      rect {
        rx: 2px;
        transform: translateY(12px);
        height: 16px;
      }

      line {
        display: none;
      }
    }

    .recharts-brush {
      & > rect:first-child {
        stroke: var(--porcelain);
        rx: 4px;
        fill: var(--white);
      }
    }
  }

  position: relative;
}
