@import '~@santiment-network/ui/mixins';

.panel {
  @include responsive('phone-xs', 'phone') {
    box-shadow: none;
    border: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;

  @include responsive('phone-xs', 'phone', 'tablet') {
    background: var(--athens);
    color: var(--waterloo);
    padding: 15px 16px;

    @include text('body-2', 'l');
  }
}

.wrapper {
  display: flex;
  position: relative;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7px;
}

.search {
  background: var(--athens);
  padding: 8px 11px;
  border-bottom: 1px solid var(--porcelain);
}

.column {
  flex: 1;

  &:last-child {
    flex: 2;
  }
}

.category {
  padding: 8px;
  border-bottom: 1px solid var(--porcelain);

  &:last-child {
    border: none;
  }

  @include responsive('phone-xs', 'phone', 'tablet') {
    padding: 12px 0;
    margin: 0 16px;
  }
}

.categories {
  border-right: 1px solid var(--porcelain);
  min-height: 195px;

  @include responsive('phone-xs', 'phone', 'tablet') {
    height: calc(var(--vh, 1vh) * 70);
    overflow-y: auto;
    overflow-y: overlay;
    border-right: none;
  }

  @media (orientation: 'landscape') and (max-height: 500px) {
    height: calc(var(--vh, 1vh) * 55);
    overflow-y: auto;
    overflow-y: overlay;
  }
}

.btn {
  justify-content: space-between;

  &__expl {
    z-index: 1000;
  }

  &__action {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: var(--porcelain);
    margin: 0 6px 0 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &_disabled {
    @include text('caption');

    background: var(--athens);
    color: var(--casper);
    padding: 0 4px;
    border-radius: 4px;
  }

  &:hover &__action_add {
    background: var(--jungle-green-light);
    fill: var(--jungle);
  }

  &:hover &__action_remove {
    background: var(--persimmon-light);
    fill: var(--persimmon);
  }
}

.info {
  fill: var(--mirage);

  &:hover {
    fill: var(--jungle-green);
  }
}

.visible {
  position: relative;
  overflow-y: auto;
  height: 100%;

  &__scroll {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .disabled {
    background: transparent !important;
    pointer-events: all !important;

    .btn__action {
      background: var(--porcelain);
    }
  }
}

.categories .active {
  background: var(--athens);
}

.metrics .active {
  fill: var(--mirage);
}

.group {
  padding: 12px 8px 8px;
  border-bottom: 1px solid var(--porcelain);

  &:last-child {
    border-bottom: none;
  }

  &__title {
    @include text('caption', 'l');

    color: var(--waterloo);
    margin: 12px 12px 8px;
  }
}

.suggestIcon {
  fill: var(--casper);
  margin-right: 8px;
}

.mobileButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: -5px;
  color: var(--rhino) !important;
  fill: var(--waterloo) !important;

  @include text('body-2');

  &__text {
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;

    &_active {
      text-decoration-line: line-through;
      text-decoration-color: var(--jungle-green);
    }
  }

  &__arrow {
    transform: rotate(90deg);
    margin-right: 5px;

    &_active {
      transform: rotate(-90deg);
      fill: var(--jungle-green);
    }
  }
}

.mobileCategory {
  @include text('body-2', 'l');

  color: var(--rhino);
}

.mobileGroup {
  padding: 8px 0;
}

.mobileCounter {
  margin-left: 5px;
  color: var(--jungle-green);
}

.save {
  margin: 24px 16px;
  position: relative;
}

.limit {
  color: var(--persimmon);
  position: absolute;
  top: -25px;

  @include text('caption');
}
