@import '~@santiment-network/ui/mixins';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.wrapper {
  display: flex;
}

.column {
  flex: 1;

  &:last-child {
    flex: 2;
  }
}

.category {
  padding: 8px;
  border-bottom: 1px solid var(--porcelain);

  &:last-child {
    border: none;
  }
}

.categories {
  border-right: 1px solid var(--porcelain);
  min-height: 195px;
}

.explanation {
  padding: 16px;
  width: 275px;
  height: 170px;
  background: var(--white);
  border: 1px solid var(--porcelain);
  border-radius: 4px;

  &__content {
    position: relative;
  }
}

.btn {
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
  }

  &_disabled {
    @include text('caption');

    background: var(--athens);
    color: var(--casper);
    padding: 0 4px;
    border-radius: 4px;
  }
}

.info {
  fill: var(--mirage);

  &:hover {
    fill: var(--jungle-green);
  }
}

.explanation {
  z-index: 1000;
}

.title {
  color: var(--waterloo);
  margin-bottom: 8px;
}

.title,
.text {
  @include text('body-3');
}

.visible {
  position: relative;
  overflow-y: auto;
  height: 100%;

  &__scroll {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .disabled {
    background: transparent !important;
  }
}

.categories .active {
  background: var(--athens);
}

.metrics .active {
  fill: var(--casper);
}

.group {
  padding: 12px 8px 8px;
  border-bottom: 1px solid var(--porcelain);

  &:last-child {
    border-bottom: none;
  }

  &__title {
    @include text('caption', 'm');

    color: var(--waterloo);
    margin: 12px 12px 8px;
  }
}
