@import "~@santiment-network/ui/mixins.scss";

.tooltip {
  word-break: break-word;
  background: var(--white);
}

.tooltipLabel {
  @include text('body-3');

  color: var(--mirage);
  margin-right: 6px;
}
