@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 32px;
}

.project {
  margin-left: 16px;

  &__top {
    display: flex;
    align-items: center;
    fill: var(--mirage);
  }

  &__name {
    font-size: 22px !important;
    line-height: 30px !important;
  }

  &__arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 9px;
    height: 22px;
  }

  &__description {
    @include text('body-3');

    color: var(--waterloo);
  }
}

.selector {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover .project__top {
    fill: var(--jungle-green);
  }
}

.projectInfo {
  display: flex;
  align-items: center;

  & .column {
    display: flex;
    flex-direction: column;

    &__first {
      margin-right: 40px;
    }
  }
}

.currency {
  margin-left: 5px;

  @include text('body-3');
}

.usdWrapper {
  @include text('h4');

  color: var(--mirage);

  & .currency {
    color: var(--waterloo);
  }
}

.changesLabel {
  color: var(--waterloo);

  @include text('body-3');

  padding-top: 6px;
  margin: 0 0 4px;

  &__first {
    margin-right: 25px;
  }
}

.actions {
  display: flex;

  @include responsive('tablet') {
    flex-direction: column;
  }
}

.btn {
  margin: 0 16px 0 0;

  &__icon {
    margin-right: 8px;
  }

  @include responsive('tablet') {
    margin: 0 0 6px;
  }
}
