@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  justify-content: center;
  max-width: 1140px;
  width: 100%;
  margin: auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 32px;
  width: 100%;

  @include responsive('tablet') {
    justify-content: flex-start;
  }
}

.project {
  margin-left: 16px;

  @include responsive('tablet') {
    max-width: 278px;
  }

  &__top {
    display: flex;
    align-items: center;
    fill: var(--mirage);
  }

  &__name {
    font-size: 22px !important;
    line-height: 30px !important;
    margin: 0;
    color: var(--mirage);
  }

  &__arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 9px;
    height: 22px;
  }

  &__description {
    @include text('body-3');

    color: var(--waterloo);
  }
}

.selector {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover .project__top {
    fill: var(--jungle-green);
  }
}

.projectInfo {
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include responsive('laptop', 'desktop') {
    min-width: 365px;
  }

  @include responsive('tablet') {
    margin-left: 16px;
  }

  & .column {
    display: flex;
    flex-direction: column;
    padding: 0 7px;

    &:first-child {
      margin-right: 10px;
    }
  }
}

.currency {
  margin: 0 5px;
  color: var(--waterloo);

  @include text('body-3');
}

.usdWrapper {
  @include text('h4');

  color: var(--mirage);
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.changesLabel {
  color: var(--waterloo);

  @include text('body-3');

  padding-top: 6px;
  margin: 0 0 4px;
}

.actions {
  display: flex;

  @include responsive('desktop', 'laptop') {
    min-width: 280px;
  }

  @include responsive('tablet', 'laptop') {
    flex-direction: column;
  }

  @include responsive('tablet') {
    margin-left: auto;
  }
}

.btn {
  color: var(--mirage);
  background: inherit;

  @include responsive('tablet', 'laptop') {
    margin-left: auto;
  }

  &.signal {
    margin: 0 16px 0 auto;

    @include responsive('tablet', 'laptop') {
      margin: 0 0 6px auto;
    }
  }

  &__icon {
    margin-right: 8px;
  }
}

.totalSupply {
  color: var(--mirage);
}

.range {
  display: inline-flex;

  @include text('body-3');
}
