@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  justify-content: flex-start;
  margin-left: 16px;

  @include responsive('desktop') {
    margin-left: 0;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1050px;

  @include responsive('tablet') {
    justify-content: space-between;
  }

  @include responsive('laptop') {
    width: auto;
    padding-right: 10px;
  }
}

.headerProject {
  position: relative;
  display: flex;
}

.project {
  margin-left: 16px;

  @include responsive('tablet') {
    max-width: 278px;
  }

  &__top {
    display: flex;
    align-items: center;
    fill: var(--mirage);
  }

  &__name {
    margin: 0 0 4px;
    color: var(--rhino);

    @include text('h4');
  }

  &__arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 0 4px 9px;
    height: 22px;
  }

  &__arrow {
    fill: var(--waterloo);
    transform: scale(1.3);
  }

  &__description {
    @include text('body-3');

    color: var(--waterloo);
    max-width: 450px;
    margin-bottom: 16px;

    @include responsive('laptop') {
      max-width: 400px;
    }
  }
}

.selector {
  display: inline-flex;
  align-items: flex-start;
  cursor: pointer;

  &:hover {
    & .project__arrow {
      fill: var(--jungle-green-hover);
    }

    & .project__name {
      color: var(--jungle-green-hover);
    }
  }
}

.projectInfo {
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 16px;

  @include responsive('desktop') {
    min-width: 300px;
    justify-content: flex-start;
  }

  @include responsive('tablet') {
    min-width: 220px;
  }

  @include responsive('laptop') {
    min-width: 240px;
  }

  & .column {
    display: flex;
    flex-direction: column;
    margin-left: 16px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.currency {
  margin: 0 5px;
  color: var(--waterloo);

  @include text('body-3');
}

.text {
  @include text('body-3');

  color: var(--waterloo);
}

.usdWrapper {
  @include text('h4');

  color: var(--mirage);
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.changesLabel {
  color: var(--waterloo);

  @include text('body-3');

  padding-top: 6px;
  margin: 0 0 4px;

  @include responsive('desktop') {
    padding-top: 0;
  }
}

.actions {
  display: flex;
  margin: 0 0 0 55px;
  min-width: 220px;
}

.btn {
  color: var(--rhino);
  background: inherit;

  &.signal {
    margin: 0 0 0 8px;
  }

  &__icon {
    margin-right: 8px;
    fill: var(--casper);
  }
}

.totalSupply {
  color: var(--waterloo);
}

.range {
  display: inline-flex;

  @include text('body-3');
}

.highLow {
  @include responsive('desktop') {
    max-width: 200px;
  }

  max-width: 200px;
  min-width: 175px;
}
