@import '~@santiment-network/ui/mixins';

.explanation {
  z-index: 1000;
  padding: 16px;
  width: 275px;
  height: auto;
  background: var(--white);
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  color: var(--mirage);

  &__content {
    position: relative;
  }
}

.title {
  color: var(--mirage);
  margin-bottom: 8px;

  @include text('caption', 'l');
}

.text {
  @include text('caption');

  color: var(--fiord);
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    margin-left: 8px;

    @include text('body-3');
  }
}

.note {
  padding: 8px;
  margin: 9px 0;
  color: var(--fiord);
  background-color: var(--athens);

  @include text('caption');

  & .warning {
    color: var(--persimmon);
    font-weight: bold;
    margin-right: 5px;
  }

  & .text {
    margin-right: 5px;
  }
}
