@import '~@santiment-network/ui/mixins';

.wrapper {
  padding: 10px 12px;
  z-index: 10;
  display: flex;

  @include responsive('phone-xs', 'phone') {
    padding: 16px 18px;
    min-width: 260px;
    color: var(--porcelain);

    @include text('body-3');
  }
}

.text {
  color: $bali-hai;
  margin: 2px 0 6px;
}

.btn {
  cursor: pointer;
  fill: var(--casper);
  outline: none;
  border: none;
  margin-top: 5px;
  margin-left: 8px;
  min-width: 7px;

  &:hover {
    fill: var(--jungle-green-hover);
  }
}

.new {
  color: var(--jungle-green);
  margin-right: 4px;
}

.title {
  margin: 0;
  word-break: break-word;
}
