@import '~@santiment-network/ui/mixins';

.copyBlock {
  display: flex;
  position: relative;
}

.linkInput {
  color: var(--rhino) !important;
  background-color: var(--white) !important;
  width: 100%;
  height: 40px;

  @include text('body-3');
}

.copyButton {
  position: absolute;
  right: 0;
  border: 1px solid var(--porcelain);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 40px;
}

.copyIcon {
  fill: var(--waterloo);

  &:hover {
    fill: var(--jungle-green-hover);
  }
}
