@import '~@santiment-network/ui/mixins';

.wrapper {
  width: 100%;
  max-width: 145px;

  @include responsive('laptop', 'desktop') {
    max-width: 200px;
  }
}

.progress {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 4px;
  margin-top: 2px;
  color: var(--waterloo);

  @include text('caption');

  @include responsive('laptop', 'desktop', 'tablet') {
    @include text('caption', 'm');

    color: var(--rhino);
    padding-top: 8px;
    margin-top: 23px;
    min-width: 150px;
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  @include text('body-3');

  color: var(--waterloo);
}

.period {
  @include text('body-2');

  color: var(--rhino);
  color: var(--jungle-green);
  padding: 0 8px;
  cursor: pointer;
  background-color: var(--jungle-green-light);
  border-radius: 2px;

  @include responsive('laptop', 'desktop', 'tablet') {
    @include text('caption');

    padding: 0 4px;
  }
}

.line {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 2px;
  background-color: var(--porcelain);

  @include responsive('laptop', 'desktop', 'tablet') {
    height: 4px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transition: width 1s ease-in-out, left 1s ease-in-out;
    width: calc(var(--progress) - 2px);
    height: 2px;
    border-radius: 2px;
    background: var(--casper);

    @include responsive('laptop', 'desktop', 'tablet') {
      top: -20px;
      left: calc(var(--progress) - 9px);
      width: 16px;
      height: 16px;
      content: url('./pointer.svg');
      background: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: -1px;
    left: calc(var(--progress) - 3px);
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    transition: left 1s ease-in-out;
    background-color: var(--waterloo);

    @include responsive('laptop', 'desktop', 'tablet') {
      top: 0;
      background-color: var(--casper);
    }
  }
}

.loader {
  font-size: 5px;
  margin-top: 4px;
}
