@import '~@santiment-network/ui/mixins';

.product {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  color: var(--rhino);

  @include text('body-2');
}

.productImg {
  margin-right: 12px;
}

.products {
  margin: 20px 0 40px 10px;
}

.link {
  margin-left: 10px;
}
