@import '~@santiment-network/ui/mixins';

.wrapper {
  height: 300px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.background {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.mainLink {
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 20px;
  z-index: 1;

  & svg {
    width: 80px !important;
    height: 16px !important;
  }

  &:hover svg {
    transition: fill 0.2s;
    fill: var(--waterloo);
  }
}

.imgWrapper {
  width: 40px;
  height: 40px;
  display: flex;
  margin-right: 12px;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;
  background-color: var(--athens);
  transition: background 0.2s;
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  min-width: 167px;
  height: auto;
  padding: 0;
  width: 167px;
  color: var(--rhino);

  @include text('body-2');

  &:hover {
    color: var(--jungle-green);
  }

  & span {
    width: 115px;
    white-space: pre-wrap;
  }

  &__selected {
    & .imgWrapper {
      background-color: var(--jungle-green-light) !important;
    }
  }

  & .imgWrapper {
    background-color: var(--athens);
  }
}

.productImg {
  width: auto;
  height: auto;
}

.products {
  margin: 20px 0 40px 10px;
  width: 190px;
}

.link {
  margin-left: 10px;

  @include text('body-3');
}

.leftBlock {
  width: 170px;
  padding: 18px 22px 24px 22px;
  border-right: 1px solid var(--porcelain);
}

.productBlock {
  width: 190px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  z-index: 1;
}

.title {
  @include text('body-3');

  color: var(--waterloo);
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 10px;
}

.btn + .btn {
  margin-top: 8px;
  padding: 6px 10px;
  color: var(--rhino);

  &:hover {
    color: var(--jungle-green);
  }
}
