@import "~@santiment-network/ui/mixins";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 9px;
  fill: var(--casper);
  position: relative;

  &__withLine {
    &::before {
      display: block;
      content: '';
      position: absolute;
      right: -8px;
      height: 24px;
      width: 1px;
      background: var(--porcelain);
    }
  }
}

.wrapper {
  min-width: 240px;
  padding: 12px 16px;
  user-select: none;
}

.heading {
  color: var(--waterloo);

  @include text('caption', 'l');
}

.columns {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.column {
  display: flex;
  align-items: center;
  margin-top: 12px;
  color: var(--rhino);

  @include text('body-3');
}

.checkbox {
  margin-right: 10px;
}

.name {
  margin-right: 6px;
}

.soon {
  color: var(--jungle-green);
  font-size: 12px;
  margin-left: 5px;
}

.description {
  fill: var(--casper);
  position: relative;
}

.tooltip {
  max-width: 400px;
  z-index: 1000;
}

.rank {
  background-color: var(--porcelain);
  color: var(--rhino);
}

.segments {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.segment {
  background-color: var(--porcelain);
  color: var(--rhino);
  margin-right: 4px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  white-space: normal;

  @include text('caption'); }
