@import '~@santiment-network/ui/mixins';

:root {
  --screener-filter-width: 376px;
}

.top {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: width 0.2s ease-in-out;

  &__filterView {
    width: calc(100% - var(--screener-filter-width));
  }
}

.actions {
  display: flex;
}

.loading {
  background-color: var(--athens);
}

.noData {
  position: absolute;
  top: 25px;
}

.loader {
  position: absolute;
  width: 100%;
  top: 43px;
}

.assetsTable {
  width: 100%;
  transition: width 0.2s ease-in-out;

  &__filterView {
    width: calc(100% - var(--screener-filter-width));
  }
}

.assetsTable:global(.ReactTable) {
  margin-bottom: 20px;
  color: var(--rhino);

  :global {
    .overview-name {
      text-align: left;
      margin-right: auto;
    }

    .overview-ethspent,
    .overview-rank {
      margin: 0 auto;
      text-align: center;
    }

    .overview-price,
    .overview-price-percent,
    .overview-volume,
    .overview-volume-percent,
    .overview-marketcap,
    .overview-activeaddresses,
    .overview-devactivity {
      margin-right: auto;
      text-align: right;

      & span {
        margin-left: 0;
      }
    }

    .overview-price-percent,
    .overview-volume-percent {
      margin-left: -10px;
    }

    .rt-th {
      padding: 7px 0;
      box-sizing: content-box;
      position: relative;
      width: 100%;
      overflow: visible;
      border: none;
      outline: none;

      @include text('caption');

      & > div {
        width: 100%;
      }

      .heading {
        position: relative;
        padding: 0 10px;
        width: fit-content;
      }

      &.-sort-desc,
      &.-sort-asc {
        color: var(--rhino);
        box-shadow: none !important;

        & .heading {
          &::before,
          &::after {
            content: '';
            position: absolute;
            right: 0;
            border: 4px solid transparent;
            border-radius: 3px;
          }

          &::before {
            border-top: 4px solid var(--mystic);
            bottom: 0;
          }

          &::after {
            border-bottom: 4px solid var(--mystic);
            top: 0;
          }
        }
      }

      &.-sort-asc .heading::after {
        border-bottom-color: var(--waterloo);
      }

      &.-sort-desc .heading::before {
        border-top-color: var(--waterloo);
      }
    }

    .rt-tbody {
      overflow: visible;
    }

    .rt-tbody .rt-tr-group,
    .rt-thead.-header {
      border-radius: 4px;
      border-bottom: none;
      overflow: visible;
    }

    .rt-td {
      min-height: 60px;
      padding: 10px;
      display: inline-flex;
      align-items: center;
      cursor: default;
      overflow: visible;

      & > div {
        @include text('body-3');
      }

      &:nth-child(2) {
        padding-left: 0;
      }

      &:hover {
        cursor: pointer;
      }
    }

    // [GarageInc:01.09.2020] overflow: visible; for showing tooltips on rows
    .rt-table {
      flex: 0 0;
      padding-top: 8px;
      overflow: visible;

      &:hover {
        overflow: visible;
      }
    }

    .-pagination {
      border-top: none;
    }
  }
}

.skeleton {
  height: 56px;
}

.skeleton + .skeleton {
  margin-top: 4px;
}

.saveAs {
  display: flex;
  align-items: center;
  margin: 0 auto 0 24px;
}

.saveAs__icon {
  margin-right: 8px;
}

.saveAs__proLabel {
  margin-left: 8px;
}

.saveAs__btn {
  fill: var(--casper);

  &:hover {
    fill: var(--jungle-green-light-3);
    color: var(--jungle-green);
  }
}
