@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  text-decoration: none;
  color: var(--rhino);
  width: 100%;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;

  @include text('body-2');
}

.row {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.name {
  text-overflow: ellipsis;
  max-width: 59vw;
  white-space: nowrap;
  overflow: hidden;
}

.ticker {
  color: var(--casper);
  margin-left: 6px;
  position: relative;
}

.left,
.right {
  display: flex;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  flex-direction: column;
  width: 80px;
  align-items: flex-end;
}

.percentChanges {
  margin-left: 0;
}

.chart {
  margin-left: auto;
  margin-right: 14px;
}

.left {
  overflow-x: hidden;
}

.subRow {
  display: flex;
  flex-wrap: nowrap;
}
