@import '~@santiment-network/ui/mixins';

.top {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
}

.loading {
  background-color: var(--athens);
}

.noData {
  position: absolute;
  top: 25px;
}

.assetsTable:global(.ReactTable) {
  margin-bottom: 20px;
  color: var(--mirage);
  overflow: visible;

  :global {
    .overview-name {
      text-align: left;
      margin-right: auto;
    }

    .overview-ethspent,
    .overview-rank {
      margin: 0 auto;
      text-align: center;
    }

    .overview-price,
    .overview-price-percent,
    .overview-volume,
    .overview-volume-percent,
    .overview-marketcap,
    .overview-activeaddresses,
    .overview-devactivity {
      margin-right: auto;
      text-align: right;

      & span {
        margin-left: 0;
      }
    }

    .overview-price-percent,
    .overview-volume-percent {
      margin-left: -10px;
    }

    .rt-th {
      padding: 7px 0;
      box-sizing: content-box;
      position: relative;
      width: 100%;
      overflow: visible;
      border: none;
      outline: none;

      @include text('caption');

      & > div {
        width: 100%;
      }

      .heading {
        position: relative;
        padding: 0 10px;
        width: fit-content;
      }

      &.-sort-desc,
      &.-sort-asc {
        color: var(--mirage);
        box-shadow: none !important;

        & .heading {
          &::before,
          &::after {
            content: '';
            position: absolute;
            right: 0;
            border: 4px solid transparent;
            border-radius: 3px;
          }

          &::before {
            border-top: 4px solid var(--mystic);
            bottom: 0;
          }

          &::after {
            border-bottom: 4px solid var(--mystic);
            top: 0;
          }
        }
      }

      &.-sort-asc .heading::after {
        border-bottom-color: var(--waterloo);
      }

      &.-sort-desc .heading::before {
        border-top-color: var(--waterloo);
      }
    }

    .rt-tbody {
      overflow: visible;
    }

    .rt-tbody .rt-tr-group,
    .rt-thead.-header {
      border-radius: 4px;
      border-bottom: none;
      overflow: visible;
    }

    .rt-td {
      height: 60px;
      padding: 10px;
      display: flex;
      align-items: center;
      cursor: default;
      overflow: visible;

      & > div {
        @include text('body-3');
      }

      &:nth-child(2) {
        padding-left: 0;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .rt-table {
      flex: 0 0;
      overflow: visible;
    }

    .-pagination {
      border-top: none;
    }
  }
}
