@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  text-decoration: none;
  color: var(--rhino);
  width: 100%;
  padding: 10px 20px;
}

.name {
  display: block;
  max-width: 34vw;
}

.icon {
  height: 24px;
}

.right {
  flex-direction: column;
  width: 80px;
  align-items: flex-end;
}

.percentChanges {
  margin-left: 0;
}

.chart {
  margin-left: auto;
  margin-right: 14px;
}

.left {
  overflow-x: hidden;
}

.subRow {
  flex-wrap: nowrap;
}
