@import '~@santiment-network/ui/mixins';

.tableWrapper {
  min-height: auto;
}

.table {
  min-width: max-content;
  width: auto;
  table-layout: fixed;
}

.pagination {
  position: sticky;
  margin-top: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.headerColumn {
  top: 114px;
  border-bottom: none;

  &:first-child {
    padding-left: 0;
    padding-right: 0;
  }
}

.bodyColumn {
  border-top: none !important;

  &:first-child {
    padding-left: 0;
    padding-right: 0;
  }
}

.tableRow {
  height: 60px;
}
