@import '~@santiment-network/ui/mixins';

.table {
  min-width: max-content;
  width: auto;
  border-bottom: 60px solid var(--white);
}

.pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.headerColumn {
  top: 64px;
  border-bottom: none;
}

.bodyColumn {
  border-top: none !important;
}

.tableRow {
  height: 60px;
}
