.assets-table-panel {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
}

.assets-table-row-tooltip {
  display: flex;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0;
}

.datatables-filter {
  margin-bottom: 16px;
  min-width: 25%;
}

.datatables-filter label {
  width: 100%;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.datatables-filter input {
  width: 100%;
  margin-left: 0;
  padding: 8px;
  line-height: 1.25;
  color: #464a4c;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-clip: padding-box;
  outline-offset: -2px;
  overflow: visible;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.datatables-filter input:focus {
  color: #464a4c;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: 0;
}

.ReactTable .rt-td > a,
.ReactTable .rt-td > div {
  font-size: 16px;
  line-height: 1.2;
}

.rt-thead {
  .rt-th {
    &:first-child {
      div {
        .heading {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

.rt-thead.-filters {
  display: none;
}

.datatables-info label {
  font-size: 12px;
  margin-bottom: 16px;
  display: inline-block;
}

.projects-table .ReactTable {
  border: none;
  overflow-y: hidden;
  min-height: 350px;
  color: var(--mirage);
}

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom: 1px solid var(--porcelain);
  min-height: 60px;
}

.rt-td:hover {
  cursor: pointer;
}

.ReactTable .rt-tbody .rt-td {
  padding: 6px 0;
}

.percent-changes--negative,
.percent-changes--positive {
  font-size: 16px;
}

.ticker {
  font-size: 13px;
}

.rt-td .overview-ticker {
  font-size: 14px;
  line-height: 1 !important;
  text-align: center;
}

.ReactTable .rt-tr-group:hover {
  background: var(--athens) !important;

  .assets-table-row-tooltip {
    svg {
      display: flex;
    }

    div {
      display: none;
    }
  }
}

.ReactTable .rt-tr:hover {
  background: none;
}

.ReactTable .rt-thead .rt-tr {
  text-align: right;
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  background: none;
}

.ReactTable .rt-thead .rt-th {
  color: var(--casper);
  border: none;
  letter-spacing: normal;
  background: inherit;
  padding: 5px 0;
}

.ReactTable .rt-thead.-header {
  box-shadow: initial;
  background: var(--athens);
  border-bottom: 1px solid var(--porcelain);
}

.-sort-desc,
.-sort-asc {
  background-color: rgba(0, 150, 99, 0.08);
}

.rt-td .overview-pb {
  padding-top: 12px;
  text-align: center;
}

.ReactTable .-pagination {
  box-shadow: none;
  border-top: 1px solid var(--porcelain);
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
}

.ReactTable .-pagination .-next,
.ReactTable .-pagination .-previous {
  flex: 0;
  justify-self: flex-end;
}

.ReactTable .-pagination .-previous {
  margin-left: auto;
}

.ReactTable .-pagination .-next {
  margin: 0 10px 0 8px;
}

.ReactTable .-pagination .-center {
  flex: none;
  order: -1;
}

.ReactTable .-pagination .-btn {
  padding: 6px 12px;
  display: block;
  width: auto;
  height: auto;
  background: var(--white);
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  color: var(--mirage);
}

.ReactTable .-pagination .-btn:not([disabled]):hover {
  background: var(--white);
  color: var(--jungle-green);
}

.ReactTable .-pagination .-btn[disabled] {
  opacity: 1;
  cursor: default;
  background: var(--athens);
  color: var(--mystic);
}

.ReactTable .-pagination input,
.ReactTable .-pagination select {
  color: var(--mirage);
  border: 1px solid var(--porcelain);
  background: inherit;
}

.ReactTable .-pagination option {
  color: #181b2b;
}

.ReactTable .-pagination .-pageJump input {
  width: 60px;
}

.ReactTable .-pagination .-pageInfo {
  display: inline-block;
  order: 1;
  margin: 0 24px;
  white-space: nowrap;
  color: var(--waterloo);
}

.ReactTable .wallet {
  display: flex;
  flex-direction: column;
}

.ReactTable .wallet .usd {
  flex: 1;
}

.ReactTable .wallet .eth {
  font-size: 14px;
}

.ReactTable .wallet .eth i {
  font-size: 15px;
}

.findwallet {
  border-bottom: none;
}

.ReactTable .cell-signals {
  width: 100%;
  height: 100%;
  padding: 15px 0 0 0;
  text-align: center;
}

.eth-sent-item {
  text-align: right;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .rt-td > div {
    font-size: 16px;
    padding: 0;
  }

  .rt-td .overview-ticker {
    font-size: 12px;
  }
}

.projects-table-tips {
  text-align: center;
}

.page-head-projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-head-projects__left {
  display: flex;
  align-items: center;
}

.projects-search-row {
  justify-content: initial;
}
