@import '~@santiment-network/ui/variables.scss';

.wrapper {
  padding: 0 15px 15px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  max-height: 150px;
}

.title {
  color: var(--mirage);
  margin-bottom: 10px;
}

.desc {
  margin: 0;
  color: var(--casper);
  text-align: center;
}

.btn {
  width: 100%;
  justify-content: center;
}

.bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.bottomDesc {
  margin-bottom: 10px;
  color: var(--casper);
}

.bottomFixed {
  position: fixed;
  bottom: 65px;
  padding: 0 15px;
}
