@import "~@santiment-network/ui/mixins.scss";

.triggerHeader {
  width: 100%;
  background: var(--athens);
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  padding: 3px 10px 3px 20px;
  color: var(--casper);

  @include text('body-3');
}

.triggerHeaderName {
  display: flex;
  align-items: center;
  justify-content: center;

  @include text('body-3');
}

.triggerHeaderActions {
  display: flex;
  margin-left: auto;
}

.close {
  display: none;
}

.triggerHeaderButton {
  background-color: var(--athens) !important;
  fill: var(--waterloo);

  &:hover {
    fill: var(---btn-accent-color-hover);
  }
}

@include responsive('phone', 'phone-xs') {
  .triggerHeader {
    border-radius: 0;
    border: none;
    background: none;
    padding: 3px 2px 3px 20px;
    color: var(--mirage);
  }

  .triggerHeaderButton {
    background-color: var(--white) !important;
  }
}
