@import "~@santiment-network/ui/mixins.scss";

.triggerHeader {
  width: 100%;
  background: var(--athens);
  border: 1px solid var(--porcelain);

  @include border-box();

  border-radius: $border-radius;
  display: flex;
  padding: 3px 20px;
  color: var(--casper);

  @include text('body-3');
}

.triggerHeaderName {
  display: flex;
  align-items: center;
  justify-content: center;

  @include text('body-3');
}

.triggerHeaderActions {
  display: flex;
  margin-left: auto;
}

.triggerHeaderButton {
  background-color: var(--athens) !important;
  fill: var(--waterloo);

  &:hover {
    fill: var(---btn-accent-color-hover);
  }
}
