@import '~@santiment-network/ui/mixins';

.title {
  @include text('body-3', 'm');

  color: var(--waterloo);
  border-bottom: 1px solid var(--porcelain);
  margin: 0 8px 10px;
}

.category {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  flex: 1;

  &:last-child {
    margin: 0;
  }
}

.button {
  @include text('body-3');

  outline: none;
  border: none;
  min-height: 32px;
  width: 100%;
  color: var(--rhino);
  background: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: left;
  padding: 6px 8px;
  display: flex;

  &:hover {
    background: var(--athens);

    &,
    & * {
      color: var(--jungle-green);
    }
  }
}

// assets
.ticker {
  color: var(--waterloo);
}

// People
.avatar,
.fallback {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.fallback {
  background: var(--porcelain);
  color: var(--waterloo) !important;
  font-weight: 600;
  font-size: 10px;
  text-align: center;
}
