@import '~@santiment-network/ui/mixins';

.container {
  margin-bottom: 48px;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;

  @include text('h4', 'm');
}

.right {
  margin-left: auto;
  display: flex;
}

.action {
  @include text('caption');

  color: var(--rhino);
  padding: 4px 8px;
  margin-left: 8px;
  border-radius: $border-radius;
  border: 1px solid var(--jungle-green);
  display: flex;
  align-items: center;
  justify-content: center;

  &__range {
    background: none !important;
    padding: 0;
    color: var(--rhino) !important;
    margin-left: 0;

    &:hover {
      color: var(--jungle-green) !important;
    }
  }
}

.skeleton {
  height: 90px;
  width: 100%;
  margin-bottom: 8px;
}

.skeletonWrapper {
  width: 100%;
}

.anchor {
  color: var(--rhino);
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
}

.accordions {
  border-radius: $border-radius;
  border: 1px solid var(--porcelain);
}

.noData {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.accordionContent {
  padding: 4px 24px 16px 24px;
  border-top: none;
}

.accordionTitle {
  padding-left: 0;
  align-items: baseline;
}
