@import "~@santiment-network/ui/mixins";

$notify-duration: 300;

/* stylelint-disable */
:export {
  notifyduration: $notify-duration;
}

/* stylelint-enabled */

.notificationStack {
  z-index: 10000;
  position: fixed;
  bottom: 15px;
  left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include responsive('phone-xs') {
    flex-direction: column-reverse;
    right: 15px;
    bottom: auto;
    top: 5px;
    justify-content: flex-start;
  }
}

.notification {
  margin-top: 10px;
  transition: transform 200ms;
  width: 360px;
  transition-delay: #{$notify-duration - 100}ms;

  @include responsive('phone-xs') {
    width: 100%;
  }
}

.enter {
  animation: notify #{$notify-duration}ms forwards;
}

.exit {
  animation: notify #{$notify-duration}ms reverse forwards;
}

@keyframes notify {
  0% {
    transform: translateX(-120%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
