@import '~@santiment-network/ui/variables.scss';
@import '~@santiment-network/ui/mixins.scss';

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.controls {
  display: inline-flex;
}

.title {
  @include text-normal;

  line-height: 20px;
  font-size: 22px;
  color: var(--mirage);

  @include responsive('phone', 'phone-xs') {
    @include text('body-1');

    font-weight: 500;
  }
}

.count {
  color: var(--grey-dark-2);
}

.btn {
  margin-left: 15px;
}

.icon {
  margin-right: 8px;
}
