@import '~@santiment-network/ui/variables.scss';
@import '../../mixins';

.insights {
  position: relative;
  flex: 1;
  display: flex;

  &::after {
    position: absolute;
    display: block;
    content: '';
    bottom: 1px;
    left: 3px;
    right: 6px;
    height: 24px;
    background: linear-gradient(
      0deg,
      var(--white) 20%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &__panel {
    flex: 1;
    overflow-y: hidden;
    position: relative;

    &:hover {
      overflow-y: auto;
      overflow-y: overlay;
      overflow-x: hidden;
    }
  }

  &__list {
    position: absolute;
    width: 100%;
  }

  &__card {
    min-width: 100%;
    padding: 16px 23px;
    border-bottom: 1px solid var(--porcelain);
  }
}
