@import "~@santiment-network/ui/variables.scss";
@import "~@santiment-network/ui/mixins.scss";

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.controls {
    display: inline-flex;

}

.bottom {
    display: flex;
    justify-content: space-between;
}

.title {
    @include text-normal;
    line-height: 20px;
    font-size:22px;
    // color: $black;
    color: var(--black);
}

.count {
    // color:  #79849f;
    color: var(--grey-dark-2);
}

.btn {
    margin-left: 15px;
    // background: $green;
    background: var(--green);
    // color: $white;
    color: var(--white);
    // fill: $white;
    fill: var(--white);
    text-decoration: none;
    line-height: 13px;

    &:hover {
        // color: $white;
        color: var(--white);
    }
}

.icon {
    margin-right: 8px;
}
