.title {
  font-size: 16px;
  line-height: 24px;
  color: var(--mirage);
  max-width: 100%;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  max-height: 48px;

  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;

  &:hover {
    color: var(--jungle-green);
  }
}

.meta {
  display: flex;
}

.username {
  width: 100px;
  font-size: 14px;
  line-height: 20px;
  color: var(--waterloo);
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 21px;
}
