@import "~@santiment-network/ui/variables.scss";
@import "~@santiment-network/ui/mixins.scss";

.wrapper {
    display: flex;
    align-items: center;

}

.icon {
    width: 32px;
    height: 32px;
    min-width: 32px;
    border-radius: 50%;
    background: var(--grey-light-2);
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--white);

    :global(.night-mode) & {
        fill: var(--grey-dark);
    }
}

.info {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 40px);
}

.name {
    @include text-normal;
    text-decoration: none;
    line-height: 15px;
    color: var(--black);
    margin-bottom: 4px;
    box-sizing: border-box;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    * {
        color: var(--black);
    }
}

.status {
    @include text-normal;
    line-height: 1;
    font-size: 12px;
    color: var(--grey-dark-2);
}

