@import '~@santiment-network/ui/variables.scss';
@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  display: flex;
  align-items: center;
}

.icon {
  width: 32px;
  height: 32px;
  min-width: 32px;
  border-radius: 50%;
  background: var(--porcelain);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--white);

  :global(.night-mode) & {
    fill: var(--casper);
  }
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  flex: 1;
  align-items: center;

  &__item:last-of-type {
    margin-bottom: 0;
  }
}

.name {
  @include text('caption');

  cursor: pointer;
  text-decoration: none;
  line-height: 15px;
  color: var(--waterloo);
  margin-bottom: 4px;
  box-sizing: border-box;
  height: 15px;
  min-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  word-break: break-all;
}

.status {
  @include text-normal;

  line-height: 1;
  font-size: 12px;
  color: var(--waterloo);
  margin-right: auto;
}
