@import '~@santiment-network/ui/mixins.scss';

.refresh {
  color: var(--waterloo);
  fill: var(--mirage);
  display: flex;
  align-items: center;

  &__icon {
    cursor: pointer;
    margin-right: 8px;
  }
}
