@import '~@santiment-network/ui/mixins.scss';

.refresh {
  @include text-normal;

  color: var(--grey-dark);
  fill: var(--mirage);
  display: flex;
  align-items: center;

  &__icon {
    cursor: pointer;
    margin-right: 8px;
  }
}
