@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  color: var(--waterloo);
  fill: var(--rhino);
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    fill: var(--mirage);
  }
}

.refresh {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 16px;
  box-sizing: content-box;

  &:hover {
    fill: var(--jungle-green);
  }
}

.auto {
  padding-left: 16px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: var(--porcelain);
  }
}

.toggle {
  margin-right: 8px;
}
