@import "~@santiment-network/ui/mixins";

.wrapper {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  border-top: 1px solid var(--porcelain);
  padding: 14px 16px 11px;

  &:last-child {
    border-bottom: 1px solid var(--porcelain);
  }
}

.active {
  background: var(--athens);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_top {
    margin-bottom: 4px;
  }

  &_bottom {
    justify-content: flex-start;
  }
}

.metric,
.value,
.period,
.anomalies {
  color: var(--rhino);
  margin: 0;

  @include text('body-2');
}

.value {
  margin-right: 9px;
}

.period {
  color: var(--casper);
}

.anomalies {
  color: var(--persimmon);
}
