@import "~@santiment-network/ui/mixins";

.wrapper {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  border-top: 1px solid var(--porcelain);
  padding: 14px 16px 11px;

  &:last-child {
    border-bottom: 1px solid var(--porcelain);
  }
}

.row {
  display: flex;
  justify-content: space-between;

  &_top {
    margin: 0 0 2px;
  }
}

.metric,
.value,
.anomalies {
  margin: 0;

  @include text("body-3");
}

.anomalies {
  color: var(--persimmon);
}
