@import '~@santiment-network/ui/mixins';

.button__left {
  left: 0;
}

.button__right {
  right: 0;
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  background-color: var(--white);
  user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 85px;
  background-color: var(--porcelain);
  position: relative;
  box-sizing: border-box;
  margin-bottom: 8px;
  box-shadow: 0 2px 8px rgba(59, 84, 106, 0.03),
    0 1px 2px rgba(59, 84, 106, 0.03);
  border-radius: 4px;

  &__right {
    background-color: var(--jungle-green-light-2);
    fill: var(--jungle-green);

    &.wrapper__action .content {
      border: 1px solid var(--jungle-green-light-2);
    }

    .button__left {
      display: none;
    }
  }

  &__selected {
    &.wrapper__right {
      background-color: var(--persimmon-light);
      fill: var(--persimmon);

      &.wrapper__action .content {
        border: 1px solid var(--persimmon-light);
      }
    }
  }

  &__left {
    background-color: var(--porcelain);
    fill: var(--rhino);

    .button__right {
      display: none;
    }
  }

  &__hide {
    transition: translateX 0.4s ease-in-out,
      height 0.4s ease-in-out,
      fill 0.2s ease-in-out;
    height: 0;
    fill: transparent !important;
  }

  &__animation {
    animation: appear 0.5s ease-in-out;
  }
}

.button {
  position: absolute;
  width: var(--button-width, 85px);
  height: 100%;
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

@keyframes appear {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0);
  }
}
