@import '~@santiment-network/ui/variables.scss';

.wrapper {
  width: 100%;
}

.header {
  margin-bottom: 50px;
}

.section {
  margin-top: 70px;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;

  &__text {
    font-family: Rubik, sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: var(--mirage);
    margin: 0;
  }
}

.column {
  display: flex;

  &__left {
    flex: 2;
    margin-right: 30px;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.more {
  margin-left: 12px;
}

.pointer {
  vertical-align: middle;
}

.subscription {
  margin-top: 32px;
  padding: 35px;
  background: var(--athens);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    font-size: 28px;
    line-height: 40px;
    color: var(--mirage);
  }

  &__text {
    color: var(--waterloo);
    width: 350px;
    margin: 0 auto 24px;
  }
}
