@import "~@santiment-network/ui/mixins";

.wrapper {
  position: relative;
  padding: 28px 24px 24px;
  margin-bottom: 70px;
  background-color: var(--jungle-green-light);
  background-image: url('./waves.svg');
}

.skip {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 20px;

  @include text('body-3');

  &:hover {
    color: var(--mirage);
  }
}

.top {
  display: flex;
}

.hand {
  animation: rotation 2s infinite ease-in-out;
  transform-origin: 100% 100%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.text {
  margin-left: 24px;
  text-align: left;
}

.title {
  color: var(--mirage);
  margin-bottom: 4px;

  @include text('h4');
}

.subtitle {
  color: var(--waterloo);
  margin-bottom: 8px;

  @include text('body-2');
}

.tasks {
  margin-top: 24px;

  @include grid-wrap(2);
}

.button {
  height: 100%;
  padding: 0;
  background: inherit;
  text-align: left;
  display: block;
}

.default {
  cursor: default;
}

.connection {
  transform: rotate(-45deg);
}
