@import '~@santiment-network/ui/variables.scss';

.wrapper {
  width: 100%;
}

.banner {
  &__top {
    padding: 20px 24px;
    margin-bottom: 50px;
    background-color: $mirage;
    background-image: url(./waves.svg);
    background-repeat: no-repeat;
    background-position: 107% 57%;
    background-size: 52%;
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    color: $white;
    margin-bottom: 14px;
  }

  &__description {
    font-size: 14px;
    line-height: 20px;
    color: $bali-hai;
    margin-bottom: 24px;
    width: 39%;
  }
}

.advantages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.advantage {
  display: flex;
  color: var(--waterloo);
  align-items: center;

  &__img {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 50%;
    background: linear-gradient(135deg, #dcf6ef 0%, #b9eddf 100%);
    fill: var(--jungle-green);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    max-width: 235px;
  }
}

.header {
  margin-bottom: 50px;
}

.section {
  margin-top: 70px;
}

.subtitle {
  font-family: Rubik, sans-serif;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 26px;
  color: var(--mirage);
}

.column {
  display: flex;

  &__left {
    flex: 2;
    margin-right: 30px;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.insights {
  position: relative;
  flex: 1;
  display: flex;

  &::after {
    position: absolute;
    display: block;
    content: '';
    bottom: 1px;
    left: 3px;
    right: 6px;
    height: 24px;
    background: linear-gradient(
      0deg,
      var(--white) 20%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &__panel {
    flex: 1;
    overflow-y: hidden;
    position: relative;

    &:hover {
      overflow-y: auto;
      overflow-y: overlay;
    }
  }

  &__list {
    position: absolute;
    width: 100%;
  }

  &__card {
    min-width: 100%;
    padding: 16px 23px;
    border-bottom: 1px solid var(--porcelain);
  }
}

.more {
  margin-left: 12px;
}

.pointer {
  vertical-align: middle;
}

.subscription {
  margin-top: 32px;
  padding: 35px;
  background: var(--athens);
  text-align: center;

  &__title {
    font-size: 28px;
    line-height: 40px;
    color: var(--mirage);
  }

  &__text {
    color: var(--waterloo);
    width: 350px;
    margin: 0 auto 24px;
  }

  &__error {
    display: none;
    position: absolute;
    bottom: 130%;
  }

  &__form {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    position: relative;

    &_error:hover > .subscription__error {
      display: block;
    }
  }

  &__input {
    width: 300px;
    margin-right: 10px;
  }

  &__label {
    color: var(--casper);
  }
}
