@import '~@santiment-network/ui/variables.scss';

.wrapper {
  width: 100%;
}

.header {
  margin-bottom: 50px;
}

.section {
  margin-top: 70px;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;

  &__text {
    font-family: Rubik, sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: var(--mirage);
    margin: 0;
  }
}

.column {
  display: flex;

  &__left {
    flex: 2;
    margin-right: 30px;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.insights {
  position: relative;
  flex: 1;
  display: flex;

  &::after {
    position: absolute;
    display: block;
    content: '';
    bottom: 1px;
    left: 3px;
    right: 6px;
    height: 24px;
    background: linear-gradient(
      0deg,
      var(--white) 20%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &__panel {
    flex: 1;
    overflow-y: hidden;
    position: relative;

    &:hover {
      overflow-y: auto;
      overflow-y: overlay;
    }
  }

  &__list {
    position: absolute;
    width: 100%;
  }

  &__card {
    min-width: 100%;
    padding: 16px 23px;
    border-bottom: 1px solid var(--porcelain);
  }
}

.more {
  margin-left: 12px;
}

.pointer {
  vertical-align: middle;
}

.subscription {
  margin-top: 32px;
  padding: 35px;
  background: var(--athens);
  text-align: center;

  &__title {
    font-size: 28px;
    line-height: 40px;
    color: var(--mirage);
  }

  &__text {
    color: var(--waterloo);
    width: 350px;
    margin: 0 auto 24px;
  }

  &__error {
    display: none;
    position: absolute;
    bottom: 130%;
  }

  &__form {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    position: relative;

    &_error:hover > .subscription__error {
      display: block;
    }
  }

  &__input {
    width: 300px;
    margin-right: 10px;
  }

  &__label {
    color: var(--casper);
  }
}
