@import "~@santiment-network/ui/mixins";

.wrapper {
  position: relative;
  padding: 28px 24px 24px;
  margin-bottom: 70px;
  background-color: var(--jungle-green-light);
  background-image: url('./waves.svg');
}

.skip {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 20px;
  color: var(--waterloo);

  @include text('body-3');

  &:hover {
    color: var(--mirage);
  }
}

.top {
  display: flex;
}

.hand {
  animation: rotation 2s infinite ease-in-out;
  transform-origin: 100% 100%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.text {
  margin-left: 24px;
  text-align: left;
}

.title {
  color: var(--mirage);
  margin-bottom: 4px;

  @include text('h4');
}

.subtitle {
  color: var(--waterloo);
  margin-bottom: 8px;

  @include text('body-2');
}

.tasks {
  margin-top: 24px;

  @include grid-wrap(2);
}

.button {
  height: 100%;
  padding: 0;
  background: inherit;
  cursor: default;
  text-align: left;
  display: block;
}

.task {
  position: relative;
  padding: 16px 52px;
  height: 100%;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    left: 16px;
    fill: var(--mirage);
  }

  &__title {
    color: var(--mirage);
    margin-bottom: 8px;

    @include text('body-2');
  }

  &__text {
    color: var(--waterloo);

    @include text('body-3');
  }

  &__state {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    border-radius: 50%;
    background: var(--athens);
    right: 16px;
    border: 1px solid var(--porcelain);
    fill: var(--athens);

    &_completed {
      fill: var(--jungle-green);
      background: var(--jungle-green-light);
      border: 0;
    }
  }
}

.selectable {
  cursor: pointer;
  transition: all ease-in-out 0.1s;

  &:hover {
    box-shadow: 0 14px 20px rgba(24, 27, 43, 0.06);
    transform: translateY(-4px);
  }
}

.icon {
  &_connection {
    transform: rotate(-45deg);
  }
}
