@import "~@santiment-network/ui/mixins";

.task {
  position: relative;
  padding: 16px 52px;
  height: 100%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  left: 16px;
  fill: var(--mirage);
}

.title {
  color: var(--mirage);
  margin-bottom: 8px;

  @include text('body-2');
}

.text {
  color: var(--waterloo);

  @include text('body-3');
}

.state {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  border-radius: 50%;
  background: var(--athens);
  right: 16px;
  border: 1px solid var(--porcelain);
  fill: var(--athens);
}

.completed {
  fill: var(--jungle-green);
  background: var(--jungle-green-light);
  border: 0;
}

.selectable {
  cursor: pointer;
  transition: all ease-in-out 0.1s;

  &:hover {
    box-shadow: 0 14px 20px rgba(24, 27, 43, 0.06);
    transform: translateY(-4px);
  }
}
