.tipWrapper {
  background: var(--heliotrope-light);
  border-radius: 8px;
  padding: 12px 16px;
  margin-bottom: 40px;
}

.tipImg {
  height: 23px;
}

.tipDescription {
  max-width: 236px;
  color: var(--fiord);
}

.popupWrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px 20px 0;
}

.action {
  position: absolute;
  top: 14px;
  right: 22px;
}
