.header {
  display: flex;
  padding: 16px 24px 4px;

  &_phone {
    flex-direction: column;

    // & .left {
    //   margin: 16px 0 0;
    // }
  }
}

.right {
  margin: 16px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar {
  margin: 0 8px;
  min-width: 167px;
}

.divider {
  border-top-color: var(--porcelain);
  margin: 15px 0;
}
