
.name {
  display: inline-block;
  vertical-align: middle;
  padding-left: 12px;
}

.ticker {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  color: var(--waterloo);
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}

.disabled {
  color: var(--casper);
}
