
.dialog {
  max-width: 960px;
  width: 100%;
  max-height: 640px;
  height: 100%;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.preview {
  max-width: 496px;
  width: 100%;
  max-height: unset;
  height: auto;
}
