@import '~@santiment-network/ui/mixins';

.features {
  padding: 0;
  margin: 0;
}

.feature {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 8px;

  &__icon {
    fill: var(--texas-rose);

    &__green {
      fill: var(--jungle-green);
    }
  }

  &__text {
    margin-left: 8px;

    @include text('body-2');
  }
}
