@import '~@santiment-network/ui/mixins';

.cards {
  display: flex;

  @include responsive('tablet', 'phone', 'phone-xs') {
    flex-direction: column;
    padding: 0 17px 0 17px;
  }
}

.title {
  margin-bottom: 32px;
}

.br {
  @include responsive('phone-xs') {
    display: none;
  }
}

.featureLink {
  color: var(--jungle-green);
}

.link {
  height: 40px;
  margin-bottom: 24px;
  justify-content: center;
  background: var(--btn-accent-color);
  color: var(--white);
  fill: var(--white);
  margin-top: 13px;

  &:hover {
    background: var(--btn-accent-color-hover);
    color: var(--white);
    fill: var(--white);
  }
}

.more {
  user-select: none;
  cursor: pointer;
  color: var(--jungle-green);
  fill: var(--jungle-green);
  display: block;
  text-align: center;
  margin-top: 22px;

  @include text('body-3');

  &_bottom {
    margin-top: 45px;
  }

  @include responsive('tablet', 'phone', 'phone-xs') {
    display: none;
  }

  svg {
    margin-bottom: -2px;
    margin-right: 10px;
    width: 14px;
    height: 14px;
  }
}

.dialog {
  width: 440px;
  position: relative;
}

.action {
  margin-left: 16px;

  &_cancel:hover {
    color: var(--jungle-green-hover);
  }
}

.billing {
  display: flex;
  justify-content: center;
  padding: 25px 0 40px;
}

.bill {
  margin-right: 30px;
  cursor: pointer;

  &:last-child {
    margin: 0;
  }
}
