@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.card {
  position: relative;
  z-index: 1;
  background: var(--white);
  display: inline-block;
  border: 1px solid var(--porcelain);
  padding: 32px 24px 28px;
  transition: transform 200ms;
  flex: 1;

  @include responsive('desktop', 'laptop') {
    &:nth-of-type(2n) {
      margin: 0 -1px;
    }
  }

  &:hover {
    z-index: 2;
    border-radius: 4px;
    box-shadow: 0 14px 20px rgba(24, 27, 43, 0.06);
    transform: scale(1.03);
  }

  @include responsive('tablet', 'phone', 'phone-xs') {
    margin-bottom: 20px;
    border-radius: 4px;

    &:hover {
      transform: none;
      box-shadow: none;
    }
  }

  &_active {
    z-index: 3;
    border-radius: 4px !important;
    box-shadow: 0 14px 20px rgba(24, 27, 43, 0.06) !important;
    transform: scale(1.03) !important;
    border-color: var(--jungle-green);
  }

  &__title {
    @include text('h4', 'm');

    text-transform: uppercase;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 5px 16px;
    background: var(--texas-rose-light);
    color: var(--texas-rose);
    border-radius: $border-radius;

    @include responsive('tablet', 'phone', 'phone-xs') {
      font-size: 22px;
      line-height: 30px;
    }

    &__free {
      color: var(--jungle-green);
      background: var(--jungle-green-light);
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.popular {
  font-size: 12px;
  line-height: 18px;
  background: $jungle-green-accent;
  padding: 3px 8px;
  border-radius: 2px;
  margin-left: 10px;
  font-weight: 100;
}

.desc {
  margin: 17px auto auto;
  color: var(--waterloo);
  max-width: 200px;
  text-align: center;

  @include text('body-3');
}

.details {
  @include responsive('tablet', 'phone', 'phone-xs') {
    display: none;
  }

  &_custom {
    margin-top: 67px;
  }
}

.price {
  margin-top: 16px;

  @include text('h2', 'l');

  &__type {
    color: var(--waterloo);
    margin-left: 4px;
    font-weight: 100;

    @include text('h4');
  }
}

.discount {
  color: var(--casper);
  margin-top: 4px;

  @include text('body-2');
}

.feature {
  padding-left: 18px;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}
