@import '~@santiment-network/ui/mixins.scss';

.card {
  padding-left: 21px;
  padding-right: 21px;
}

.dialog {
  @include responsive('tablet', 'laptop', 'desktop') {
    max-width: 92%;
  }
}

.cards {
  padding: 0 24px 24px 24px;
}
