@import '~@santiment-network/ui/mixins';

.ast {
  color: var(--casper);
  margin: -2px 0 0 2px;
}

.cards {
  display: flex;

  @include responsive('tablet', 'phone', 'phone-xs') {
    flex-direction: column;
  }
}

.title {
  margin-bottom: 32px;
}

.br {
  @include responsive('phone', 'phone-xs') {
    display: none;
  }
}

.card {
  position: relative;
  z-index: 1;
  background: #fff;
  display: inline-block;
  border: 1px solid var(--porcelain);
  padding: 32px 24px 28px;
  transition: transform 200ms;
  flex: 1;

  @include responsive('tablet', 'phone', 'phone-xs') {
    margin-bottom: 20px;
    border-radius: 4px;
  }

  &:hover {
    z-index: 2;
    border-radius: 4px;
    box-shadow: 0 14px 20px rgba(24, 27, 43, 0.06);
    transform: scale(1.03);
  }

  &__title {
    @include text('h4');

    display: flex;
    align-items: center;

    @include responsive('tablet', 'phone', 'phone-xs') {
      font-size: 22px;
      line-height: 30px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__arrow {
    min-width: 15px;

    @include responsive('desktop', 'laptop') {
      display: none;
    }
  }

  &_opened {
    .details {
      display: block;
    }

    .card__arrow {
      transform: rotate(180deg);
      fill: var(--dodger-blue);
    }
  }
}

.popular {
  font-size: 12px;
  line-height: 18px;
  background: $malibu-accent;
  padding: 3px 8px;
  border-radius: 2px;
  margin-left: 10px;
  font-weight: 100;
}

.details {
  @include responsive('tablet', 'phone', 'phone-xs') {
    display: none;
  }

  margin-top: 36px;
}

.desc {
  margin-top: 6px;
  font-size: 14px;
  line-height: 20px;
  color: var(--waterloo);
  margin-right: -5px;
}

.price {
  font-weight: bold;
  font-size: 38px;
  line-height: 44px;

  &__type {
    color: var(--waterloo);
    font-weight: 100;
  }
}

.discount {
  color: var(--casper);
  font-size: 14px;
  line-height: 20px;
  margin: 5px 0 20px;
}

.link {
  height: 40px;
  margin-bottom: 40px;
  justify-content: center;
}

.feature {
  padding-left: 18px;
  margin-bottom: 16px;
  font-size: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.more {
  user-select: none;
  cursor: pointer;
  color: var(--dodger-blue);
  fill: var(--dodger-blue);
  display: block;
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
  line-height: 20px;

  @include responsive('tablet', 'phone', 'phone-xs') {
    display: none;
  }

  svg {
    margin-bottom: -2px;
    margin-right: 10px;
    width: 14px;
    height: 14px;
  }
}

.dialog {
  width: 100%;
  height: 100%;

  &__content {
    position: relative;
    flex: 1;
  }

  &__loading {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;

    &_end {
      animation: loading-end 400ms forwards;
    }
  }
}

@keyframes loading-end {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}
