@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.dialog {
  width: 857px;
  position: relative;
}

.content {
  padding: 40px;

  @include responsive('phone', 'phone-xs', 'laptop') {
    padding: 16px;
  }
}

.bottom {
  padding: 15px 24px;
  background: var(--athens);
  color: var(--waterloo);
  fill: var(--casper);
  display: flex;
  align-items: center;
  justify-content: center;

  @include text('caption');

  &__info {
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: 46px;
    }

    svg {
      margin: 0 7px 0 0;
    }
  }
}
