@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.card {
  position: relative;
  z-index: 1;
  background: var(--white);
  display: inline-block;
  border: 1px solid var(--porcelain);
  padding: 32px 24px 28px;
  transition: transform 200ms;
  flex: 1;

  @include responsive('desktop', 'laptop') {
    &:nth-of-type(2n) {
      margin: 0 -1px;
    }
  }

  &:hover {
    z-index: 2;
    border-radius: 4px;
    box-shadow: 0 14px 20px rgba(24, 27, 43, 0.06);
    transform: scale(1.03);
  }

  @include responsive('tablet', 'phone', 'phone-xs') {
    margin-bottom: 20px;
    border-radius: 4px;

    &:hover {
      transform: none;
      box-shadow: none;
    }
  }

  &_active {
    z-index: 3;
    border-radius: 4px !important;
    box-shadow: 0 14px 20px rgba(24, 27, 43, 0.06) !important;
    transform: scale(1.03) !important;
    border-color: var(--jungle-green);
  }

  &__title {
    @include text('h4', 'm');

    display: flex;
    align-items: center;

    @include responsive('tablet', 'phone', 'phone-xs') {
      font-size: 22px;
      line-height: 30px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__arrow {
    min-width: 15px;

    @include responsive('desktop', 'laptop') {
      display: none;
    }
  }

  &_opened {
    .details {
      display: block;

      &_custom {
        margin-top: 36px;
      }
    }

    .card__arrow {
      transform: rotate(180deg);
      fill: var(--jungle-green);
    }
  }
}

.popular {
  font-size: 12px;
  line-height: 18px;
  background: $jungle-green-accent;
  padding: 3px 8px;
  border-radius: 2px;
  margin-left: 10px;
  font-weight: 100;
}

.desc {
  margin-top: 6px;
  font-size: 14px;
  line-height: 20px;
  color: var(--waterloo);
  margin-right: -5px;
}

.details {
  @include responsive('tablet', 'phone', 'phone-xs') {
    display: none;
  }

  margin-top: 36px;

  &_custom {
    margin-top: 67px;
  }
}

.price {
  font-weight: bold;
  font-size: 38px;
  line-height: 44px;

  &__type {
    color: var(--waterloo);
    font-size: 16px;
    font-weight: 100;
  }
}

.discount {
  color: var(--casper);
  font-size: 14px;
  line-height: 20px;
  margin: -3px 0 20px;
}

.feature {
  padding-left: 18px;
  margin-bottom: 16px;
  font-size: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}
