.textWrapper {
  gap: 6px;

  :global(.phones) &,
  :global(.phone-xs) & {
    max-width: 207px;
  }
}

.proBadge {
  padding: 2px 8px;
  background: var(--orange);
  border-radius: 4px;
}

.link {
  color: var(--orange);

  &:hover {
    color: var(--orange-hover);
  }
}
