@import '~@santiment-network/ui/mixins';
@import '../../../../animations';

.wrapper {
  @include text('body-2');

  position: relative;
}

.description {
  color: var(--waterloo);
  margin: 0 0 12px;
}

.link {
  color: var(--jungle-green);
  position: absolute;
  top: 4px;
  right: 2px;

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.title {
  @include text('body-1', 'm');

  margin: 32px 0 16px;
}

.text {
  color: var(--fiord);
}

.socialgrid {
  grid-template-columns: 1fr 1fr;
}

.santrends {
  margin-top: 32px;
}

.socialgrid,
.santrends {
  animation-name: shiftUp;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
}
