@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 8px;

  @include text('body-3');
}

.info {
  display: flex;
  align-items: center;
  background: var(--athens);
  border-radius: 4px;
  padding: 6px 12px;
}

.text {
  color: var(--rhino);
}

.clean {
  margin-left: 12px;
  color: var(--jungle-green);
  cursor: pointer;

  &:hover {
    color: var(--jungle-green-hover);
  }
}

@keyframes growPartially {
  0% {
    transform: scaleY(0.6);
  }

  100% {
    transform: scaleY(1);
  }
}
