@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 16px;

  @include text('body-3');
}

.info {
  display: flex;
}

.text {
  color: var(--rhino);
}

.clean {
  margin-left: 4px;
  color: var(--jungle-green);
  cursor: pointer;

  &:hover {
    color: var(--jungle-green-hover);
  }
}

@keyframes growPartially {
  0% {
    transform: scaleY(0.6);
  }

  100% {
    transform: scaleY(1);
  }
}
