@import '~@santiment-network/ui/mixins';

.wrapper {
  padding: 0 8px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.img {
  display: block;
}

.fullScreen {
  margin: 16px;
  padding: 13px 16px 24px;
  width: auto;
}

.title {
  color: var(--rhino);
  margin-bottom: 12px;

  @include text('body-2', 'm');
}

.desc {
  margin: 0;
  text-align: center;
  color: var(--fiord);

  @include text('body-3');
}

.login {
  @include text('caption');
}

.btn {
  width: 100%;
  justify-content: center;
  margin-top: 12px;
  max-width: 350px;
}

.bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 48px;
}
