@import '~@santiment-network/ui/mixins';

.button {
  height: 100%;
  flex-direction: column;
  color: var(--casper);
  cursor: default;
  user-select: none;
  padding: 10px 12px 8px;
  -webkit-tap-highlight-color: transparent;

  @include text('caption');

  &:hover,
  &:focus {
    color: var(--casper);
  }
}

.icon {
  margin-bottom: 3px;
}

.isActive {
  --menu-active-accent: var(--jungle-green);
  --menu-active-shade: var(--jungle-green-light-2);

  color: var(--jungle-green);

  &:hover,
  &:focus {
    color: var(--jungle-green-hover);
  }
}
