@import '~@santiment-network/ui/mixins';

.wrapper {
  background: var(--whale);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  padding: 0;
  border-top: 1px solid var(--athens);
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  background-color: var(--white);
  overflow-x: hidden;
}

.overlayContent {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 13vh;
  margin-bottom: 17vh;

  & svg {
    transform: scale(1.1);
  }
}

.btn {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 10%;
  width: 80%;

  &__login {
    bottom: 100px;
  }

  &__create {
    bottom: 160px;
    color: var(--green);
    border-color: var(--green);
  }
}

.navigationList {
  display: flex;
  flex-direction: column;
  padding: 14px 16px 16px 16px;
}

.navigationList__link {
  @include text('body-1');

  color: var(--rhino);
  margin-bottom: 30px;
  padding: 0;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.separator {
  margin: 27px 0;
  border: none;
  width: 100%;
  border-bottom: 1px solid var(--porcelain);
}

.username {
  color: var(--rhino);
}

.crown {
  --crown-size: 24px;
  position: absolute;
  left: var(--crown-size);
  top: var(--crown-size);
  width: var(--crown-size);
  height: var(--crown-size);
  border: none;
  border-radius: 50%;
  background-color: var(--orange-light-2);
  fill: var(--orange);
}
