@import '~@santiment-network/ui/mixins';

.btn {
  --color: var(--waterloo);
}

.btnIcon {
  height: 20px;
  margin-bottom: 10px;
}

.active {
  --color: var(--green);
  --menu-active-accent: var(--green);
}
