.wrapper {
  background: var(--white);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  padding: 0;
  box-shadow: 0 0 20px rgba(24, 27, 43, 0.05);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid var(--porcelain);
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  background-color: var(--white);
  overflow-x: hidden;
}

.overlayContent {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 13vh;
  margin-bottom: 17vh;

  & svg {
    transform: scale(1.1);
  }
}

.btn {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 100px;
  left: 10%;
  width: 80%;
}

.logout {
  color: var(--persimmon) !important;
}

.navigationList {
  display: flex;
  flex-direction: column;
}

.navigationList__link {
  color: var(--rhino);
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 32px;
  padding: 0;
  background: none;
  border: none;
}
