.button {
  padding: 0 !important;
  margin: 5px;
  margin-bottom: 7px;
  height: 100% !important;
  display: block !important;
}

.icon {
  width: 19px;
  height: 19px;
}

.label {
  font-size: 12px;
  line-height: 18px;
  color: var(--casper);
  margin-top: 0.2rem;

  &.isActive {
    color: var(--jungle-green);
  }
}
