@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  flex-wrap: wrap;
}

.label {
  background: var(--porcelain);
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  border-radius: $border-radius;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 4px 8px;
  cursor: pointer;

  &__hidden {
    background: var(--athens);
  }
}

.panel {
  display: flex;
  flex-wrap: wrap;
  max-width: 736px;
  padding: 8px 10px 0 10px;
}
