@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  flex-wrap: wrap;
}

.label {
  display: inline-flex;
  cursor: pointer;
  padding: 4px 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  color: var(--rhino);
  border-radius: $border-radius;
  background: var(--jungle-green-light);
  border: 1px solid var(--jungle-green-light-3);
  transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;

  &:hover {
    border: 1px solid var(--jungle-green);
  }

  &__hidden {
    background: var(--white);
    border: 1px solid var(--porcelain);
  }
}

.proLabel {
  margin-left: 6px;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  max-width: 736px;
  padding: 8px 10px 0 10px;
  box-shadow: 0 4px 8px rgba(24, 27, 43, 0.03);
}

.deselect {
  color: var(--jungle-green);
  background: white;
  border: none;
  margin-top: 2px;

  &:hover {
    color: var(--jungle-green);
  }
}
