@import '../../../../node_modules/@santiment-network/ui/mixins';

.sanTokens {
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: var(--jungle-green);
  padding: 7px;
  margin-bottom: 30px;
}

.tooltip {
  max-width: 550px;

  a {
    color: var(--jungle-green);
  }
}

.tooltipTrigger {
  @include responsive('phone', 'phone-xs') {
    width: 70%;
    text-align: center;
  }
}

.icon {
  margin: 0 0 -3px 6px;
  color: var(--jungle-green);
  fill: var(--jungle-green);
}

.text {
  margin: 25px 0;

  &:first-child {
    margin-top: 5px;
  }

  &:last-child {
    margin-bottom: 5px;
  }
}
