.tab {
  --color: inherit;
  --color-hover: var(--green);
}

.badge {
  --bg-hover: var(--green-light-1);
  --color-hover: var(--green);

  height: 24px;
  padding: 2px 10px;
  margin-left: 10px;
  background-color: var(--athens);
  border-radius: 48px;

  &:hover {
    .currentAmount {
      color: inherit;
    }
  }
}

.tooltip {
  z-index: 999;
  padding: 18px 24px;
  width: 272px;
  height: 96px;
}

.link {
  color: var(--orange);

  &:hover {
    color: var(--orange-hover);
  }
}
