@import '~@santiment-network/ui/mixins';

.upgrade {
  margin-left: auto;
  height: 32px;
}

.center {
  display: flex;
}

.content {
  margin-left: 16px;
}

.right {
  display: flex;
  align-items: center;
  margin-left: auto;

  @include responsive('phone', 'phone-xs') {
    margin: 8px auto 0 40px;
  }
}

.icon {
  width: 24px;
  height: 24px;
}

.title {
  @include text('body-3');

  color: var(--rhino);
}

.description {
  @include text('caption');

  display: flex;
  align-items: center;
  color: var(--waterloo);
  margin: 0;
}
