@import '~@santiment-network/ui/mixins';

.upgrade {
  margin-left: auto;
  height: 40px;
  min-width: 180px;
  align-items: center;
  justify-content: center;

  @include text('body-3');

  svg {
    display: none;
  }
}

.center {
  display: flex;
}

.content {
  margin-left: 12px;
}

.right {
  display: flex;
  align-items: center;
  margin-left: auto;

  @include responsive('phone', 'phone-xs') {
    margin: 8px auto 0 40px;
  }
}

.icon {
  width: 24px;
  height: 24px;
}

.title {
  @include text('body-2');

  color: var(--rhino);
}

.description {
  @include text('body-3');

  display: flex;
  align-items: center;
  color: var(--waterloo);
  margin-top: 4px;
}

.card {
  width: 100%;
  display: flex;
  padding: 23px 56px 16px 56px !important;
  box-sizing: border-box;
  background-image: url('../../../../assets/lines.svg');
  background-size: 75% 100%;
  background-position: center right;
  background-repeat: no-repeat;

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
  }
}
