@import '~@santiment-network/ui/mixins';

.wrapper {
  overflow: visible;
  background-color: var(--white);
}

.main {
  padding: 0 16px;
  margin-bottom: 20px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}
