@import '~@santiment-network/ui/mixins';

.chart {
  position: relative;
  touch-action: none;
}

.tooltip {
  max-width: calc(55vw - 16px);
}

.rightAlign {
  width: calc(50vw - 16px);
  transform: translateX(100%);
}
