@import '~@santiment-network/ui/mixins';

.wrapper {
  overflow: visible;
}

.main {
  padding: 0 16px;
  margin-bottom: 20px;
}

.ticker {
  color: var(--casper);
}

.timeRangeBlock {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.news__heading {
  margin: 0;
  margin-top: 15px;
  font-size: 22px;
  line-height: 26px;
  color: var(--mirage);
}
