.wrapper {
  overflow: visible;
}

.main {
  padding: 0 16px;
}

.metrics {
  margin: 0 -16px;
}

.ticker {
  color: var(--waterloo);
}

.timeRangeBlock {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.priceBlock {
  margin-bottom: 30px;
}

.priceUsd {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 6px;
  color: var(--mirage);
}

.changes {
  margin-left: 12px;

  &:first-of-type {
    margin-left: 0;
  }
}

.label {
  margin-left: 5px;
}

.news__heading {
  margin: 0;
  margin-top: 15px;
  font-size: 22px;
  line-height: 26px;
  color: var(--mirage);
}
