@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;

  @media (orientation: landscape) {
    @include text('body-1', 'l');

    padding-top: 0;
  }
}

.priceUsd {
  margin-bottom: 2px;
  color: var(--rhino);

  @include text('h3');

  @media (orientation: landscape) {
    @include text('body-1', 'l');
  }
}

.priceBlock {
  margin: 0 0 21px;
}

.highLow {
  width: 145px;
}
