@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.followIcon {
  margin-right: 12px;
}

.followImg {
  fill: var(--accent);
  margin-right: 10px;
  position: relative;
}

.grey {
  background-color: var(--porcelain);
  color: var(--waterloo) !important;
  fill: var(--waterloo) !important;

  &:hover {
    background-color: var(--mystic);
  }
}
