@import "~@santiment-network/ui/mixins";

.fired {
  @include text('body-3');

  color: var(--casper);
}

.times {
  @include text('body-3');

  margin-left: 5px;
}

.wrapper {
  :global {
    .recharts-cartesian-axis-line {
      stroke: var(--casper);
    }
  }

  width: 100%;
  height: 100%;
}

.noTitle {
  margin: 0 !important;
}

.chartBlock {
  margin-top: 10px;
  width: 100%;
  height: calc(100% - 20px);
}

.chart {
  height: calc(100% - 32px);
}

.description {
  margin-right: 45px;

  @include responsive('phone', 'phone-xs') {
    margin-right: 0;
  }
}

.preview {
  position: relative;
  width: 100%;
  height: 100%;
}

.metrics {
  padding: 0;
}

.metricButton {
  padding: 0;
  height: 20px;
  border: none;
  background: no-repeat;
  margin-right: 25px;
}

.metricLabel {
  margin-bottom: 0;
}

.expanderButton {
  top: -5px !important;
  right: -10px !important;
}

.loaderWrapper {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 150px;
}

.loader {
  font-size: 5px;
}
