@import '~@santiment-network/ui/mixins';
@import '../../animations';

.wrapper {
  position: fixed;
  z-index: 100000;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 8px;
  padding: 0 4px 4px;
  flex-direction: column;
  background-color: $porcelain-night;
  box-shadow: 0 4px 16px rgba(21, 24, 31, 0.4);

  &__visible {
    display: flex;
    animation-name: shiftUp, appear;
    animation-timing-function: cubic-bezier(0, 0.96, 1, 1);
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }

  & iframe {
    border-radius: 8px;
    outline: none;
    border: none;
  }
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.title {
  @include text('body-3', 'l');

  color: $athens;
  margin: 8px 0;
  text-align: center;
}

.close {
  fill: var(--waterloo);
  position: absolute;
  top: -32px;
  right: 0;
  height: 13px;
  cursor: pointer;
  padding: 10px 0 4px 12px;
  box-sizing: content-box;

  &:hover {
    fill: var(--rhino);
  }
}

@keyframes shiftUp {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}
