@import '~@santiment-network/ui/mixins';

.table {
  overflow-y: visible;
  overflow-x: auto;
  width: 100%;
}

.header {
  background: var(--athens);
}

.body {
  border: 1px solid var(--porcelain);
  background: var(--white);
}
