@import '~@santiment-network/ui/mixins';

.table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.header {
  background: var(--athens);
  user-select: none;
}

.headerColumn {
  @include text('body-3', 'm');

  color: var(--casper);
  padding: 6px 10px;
  text-align: left;

  &:first-child {
    padding-left: 26px;
  }
}

.sort {
  position: relative;
  margin-left: 6px;
  width: 4px;
  visibility: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    border: 4px solid transparent;
    border-radius: 3px;
  }

  &::before {
    border-top: 4px solid var(--mystic);
    bottom: 0;
  }

  &::after {
    border-bottom: 4px solid var(--mystic);
    top: -1px;
  }
}

.sortDesc::before {
  border-top-color: var(--waterloo);
}

.sortAsc::after {
  border-bottom-color: var(--waterloo);
}

.headerColumnActive {
  color: var(--rhino);

  & .sort {
    visibility: visible;
  }
}

.body {
  background-color: var(--white);
}

.bodyRow {
  border-top: 1px solid var(--porcelain);
  height: 48px;

  &:hover {
    background-color: var(--athens);
  }
}

.bodyColumn {
  @include text('body-3');

  padding: 6px 10px;
  text-align: left;

  &:first-child {
    padding-left: 26px;
  }
}
