@import '~@santiment-network/ui/mixins';

.btn {
  color: var(--fiord);

  &:hover {
    svg {
      fill: var(--jungle-green);
    }
  }
}

.iconAlert {
  margin-right: 8px;
  fill: var(--casper);
}

.dialog {
  width: 480px;
}
