@import '~@santiment-network/ui/mixins';

.btn {
  color: var(--rhino);
  background: transparent;

  @include text('body-3');

  &:hover {
    svg {
      fill: var(--jungle-green-light-3);
    }
  }
}

.iconAlert {
  margin-right: 8px;
  fill: var(--waterloo);
}

.dialog {
  width: 482px;
}

.loader {
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 103px;
  margin-left: 20px;
}
