@import '~@santiment-network/ui/mixins';

.default {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  fill: var(--fill);
  width: var(--size, 20px);
  height: var(--size, 20px);
  box-shadow: 0 4px 12px rgba(24, 27, 43, 0.04);
}
