.project-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-icon::before {
  content: '';
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  background-image:
    url('./sprite.png'),
    url('https://production-sanbase-images.s3.eu-central-1.amazonaws.com/sprite/default_project_logo.png');
  background-repeat: repeat, no-repeat;
  background-position: 100% 100%;
  transform: scale(var(--scale));
}

.project-icon-0x::before {
  background-position: 0 0, -9999px -9999px;
}

.project-icon-1irstcoin::before {
  background-position: -64px 0;
}

.project-icon-1world::before {
  background-position: 0 -64px;
}

.project-icon-aave::before {
  background-position: -64px -64px;
}

.project-icon-abbc-coin::before {
  background-position: -128px 0;
}

.project-icon-achain::before {
  background-position: -128px -64px;
}

.project-icon-adx-net::before {
  background-position: 0 -128px;
}

.project-icon-adshares::before {
  background-position: -64px -128px;
}

.project-icon-adtoken::before {
  background-position: -128px -128px;
}

.project-icon-aelf::before {
  background-position: -192px 0;
}

.project-icon-aencoin::before {
  background-position: -192px -64px;
}

.project-icon-aeon::before {
  background-position: -192px -128px;
}

.project-icon-aergo::before {
  background-position: 0 -192px;
}

.project-icon-aeternity::before {
  background-position: -64px -192px;
}

.project-icon-agavecoin::before {
  background-position: -128px -192px;
}

.project-icon-agoras-tokens::before {
  background-position: -192px -192px;
}

.project-icon-agrello-delta::before {
  background-position: -256px 0;
}

.project-icon-aion::before {
  background-position: -256px -64px;
}

.project-icon-airswap::before {
  background-position: -256px -128px;
}

.project-icon-airtoken::before {
  background-position: -256px -192px;
}

.project-icon-aladdin::before {
  background-position: 0 -256px;
}

.project-icon-algorand::before {
  background-position: -64px -256px;
}

.project-icon-all-sports::before {
  background-position: -128px -256px;
}

.project-icon-alpha-token::before {
  background-position: -192px -256px;
}

.project-icon-amber::before {
  background-position: -256px -256px;
}

.project-icon-amo-coin::before {
  background-position: -320px 0;
}

.project-icon-ankr::before {
  background-position: -320px -64px;
}

.project-icon-apex::before {
  background-position: -320px -128px;
}

.project-icon-apis::before {
  background-position: -320px -192px;
}

.project-icon-apollo-currency::before {
  background-position: -320px -256px;
}

.project-icon-appcoins::before {
  background-position: 0 -320px;
}

.project-icon-aragon::before {
  background-position: -64px -320px;
}

.project-icon-arbitrage::before {
  background-position: -128px -320px;
}

.project-icon-arcade-token::before {
  background-position: -192px -320px;
}

.project-icon-arcblock::before {
  background-position: -256px -320px;
}

.project-icon-ardor::before {
  background-position: -320px -320px;
}

.project-icon-ark::before {
  background-position: -384px 0;
}

.project-icon-asch::before {
  background-position: -384px -64px;
}

.project-icon-aston::before {
  background-position: -384px -128px;
}

.project-icon-atc-coin::before {
  background-position: -384px -192px;
}

.project-icon-atlant::before {
  background-position: -384px -256px;
}

.project-icon-attention-token-of-media::before {
  background-position: -384px -320px;
}

.project-icon-atn::before {
  background-position: 0 -384px;
}

.project-icon-augur::before {
  background-position: -64px -384px;
}

.project-icon-aurora::before {
  background-position: -128px -384px;
}

.project-icon-auroracoin::before {
  background-position: -192px -384px;
}

.project-icon-aurora-dao::before {
  background-position: -256px -384px;
}

.project-icon-aventus::before {
  background-position: -320px -384px;
}

.project-icon-babb::before {
  background-position: -384px -384px;
}

.project-icon-banca::before {
  background-position: -448px 0;
}

.project-icon-bancor::before {
  background-position: -448px -64px;
}

.project-icon-bankex::before {
  background-position: -448px -128px;
}

.project-icon-basic-attention-token::before {
  background-position: -448px -192px;
}

.project-icon-beam::before {
  background-position: -448px -256px;
}

.project-icon-bean-cash::before {
  background-position: -448px -320px;
}

.project-icon-bezant::before {
  background-position: -448px -384px;
}

.project-icon-bhp-coin::before {
  background-position: 0 -448px;
}

.project-icon-bibox-token::before {
  background-position: -64px -448px;
}

.project-icon-binance-coin::before {
  background-position: -192px -448px;
}

.project-icon-binance-native::before {
  background-position: -192px -448px;
}

.project-icon-binance-usd::before {
  background-position: -256px -448px;
}

.project-icon-bismuth::before {
  background-position: -320px -448px;
}

.project-icon-bitbay::before {
  background-position: -384px -448px;
}

.project-icon-bitcapitalvendor::before {
  background-position: -448px -448px;
}

.project-icon-bitcny::before {
  background-position: -512px 0;
}

.project-icon-bitcoiin::before {
  background-position: -512px -64px;
}

.project-icon-bitcoin::before {
  background-position: -512px -128px;
}

.project-icon-bitcoin2::before {
  background-position: -512px -192px;
}

.project-icon-bitcoin-atom::before {
  background-position: -512px -256px;
}

.project-icon-bitcoin-cash::before {
  background-position: -512px -320px;
}

.project-icon-bitcoin-confidential::before {
  background-position: -512px -384px;
}

.project-icon-bitcoindark::before {
  background-position: -512px -448px;
}

.project-icon-bitcoin-diamond::before {
  background-position: 0 -512px;
}

.project-icon-bitcoin-gold::before {
  background-position: -64px -512px;
}

.project-icon-bitcoin-interest::before {
  background-position: -128px -512px;
}

.project-icon-bitcoin-private::before {
  background-position: -192px -512px;
}

.project-icon-bitcoin-rhodium::before {
  background-position: -256px -512px;
}

.project-icon-bitcoin-sv::before {
  background-position: -320px -512px;
}

.project-icon-bitconnect::before {
  background-position: -384px -512px;
}

.project-icon-bitcore::before {
  background-position: -448px -512px;
}

.project-icon-student-coin::before {
  background-position: -512px -512px;
}

.project-icon-bitkan::before {
  background-position: -576px 0;
}

.project-icon-bitrue-coin::before {
  background-position: -576px -64px;
}

.project-icon-bitshares::before {
  background-position: -576px -128px;
}

.project-icon-bittorrent::before {
  background-position: -576px -192px;
}

.project-icon-bitusd::before {
  background-position: -576px -256px;
}

.project-icon-bit-z-token::before {
  background-position: -576px -320px;
}

.project-icon-blackmoon::before {
  background-position: -576px -384px;
}

.project-icon-block-chain-com::before {
  background-position: -576px -448px;
}

.project-icon-blockmason::before {
  background-position: -576px -512px;
}

.project-icon-blocknet::before {
  background-position: 0 -576px;
}

.project-icon-blockv::before {
  background-position: -64px -576px;
}

.project-icon-bloomtoken::before {
  background-position: -128px -576px;
}

.project-icon-blox::before {
  background-position: -192px -576px;
}

.project-icon-bluzelle::before {
  background-position: -256px -576px;
}

.project-icon-bnktothefuture::before {
  background-position: -320px -576px;
}

.project-icon-bodhi::before {
  background-position: -384px -576px;
}

.project-icon-bomb::before {
  background-position: -448px -576px;
}

.project-icon-boolberry::before {
  background-position: -512px -576px;
}

.project-icon-bora::before {
  background-position: -576px -576px;
}

.project-icon-boscoin::before {
  background-position: -640px 0;
}

.project-icon-bottos::before {
  background-position: -640px -64px;
}

.project-icon-botxcoin::before {
  background-position: -640px -128px;
}

.project-icon-box-token::before {
  background-position: -640px -192px;
}

.project-icon-bread::before {
  background-position: -640px -256px;
}

.project-icon-breezecoin::before {
  background-position: -640px -320px;
}

.project-icon-bridgecoin::before {
  background-position: -640px -384px;
}

.project-icon-buggyra-coin-zero::before {
  background-position: -640px -448px;
}

.project-icon-bulwark::before {
  background-position: -640px -512px;
}

.project-icon-burst::before {
  background-position: -640px -576px;
}

.project-icon-business-credit-alliance-chain::before {
  background-position: 0 -640px;
}

.project-icon-bytecoin-bcn::before {
  background-position: -64px -640px;
}

.project-icon-bytom::before {
  background-position: -128px -640px;
}

.project-icon-cajutel::before {
  background-position: -192px -640px;
}

.project-icon-cardano::before {
  background-position: -256px -640px;
}

.project-icon-cargox::before {
  background-position: -320px -640px;
}

.project-icon-cashbet-coin::before {
  background-position: -384px -640px;
}

.project-icon-casinocoin::before {
  background-position: -448px -640px;
}

.project-icon-ceek-vr::before {
  background-position: -512px -640px;
}

.project-icon-celer-network::before {
  background-position: -576px -640px;
}

.project-icon-centra::before {
  background-position: -640px -640px;
}

.project-icon-centrality::before {
  background-position: -704px 0;
}

.project-icon-chainlink::before {
  background-position: -704px -64px;
}

.project-icon-chatcoin::before {
  background-position: -704px -128px;
}

.project-icon-chiliz::before {
  background-position: -704px -192px;
}

.project-icon-chronologic::before {
  background-position: -704px -256px;
}

.project-icon-cindicator::before {
  background-position: -704px -320px;
}

.project-icon-civic::before {
  background-position: -704px -384px;
}

.project-icon-clams::before {
  background-position: -704px -448px;
}

.project-icon-clipper-coin::before {
  background-position: -704px -512px;
}

.project-icon-cloakcoin::before {
  background-position: -704px -576px;
}

.project-icon-cobinhood::before {
  background-position: -704px -640px;
}

.project-icon-cocos-bcx::before {
  background-position: 0 -704px;
}

.project-icon-cofound-it::before {
  background-position: -64px -704px;
}

.project-icon-coinus::before {
  background-position: -128px -704px;
}

.project-icon-commerceblock::before {
  background-position: -192px -704px;
}

.project-icon-contentbox::before {
  background-position: -256px -704px;
}

.project-icon-content-neutrality-network::before {
  background-position: -320px -704px;
}

.project-icon-contentos::before {
  background-position: -384px -704px;
}

.project-icon-contents-protocol::before {
  background-position: -448px -704px;
}

.project-icon-content-value-network::before {
  background-position: -512px -704px;
}

.project-icon-cortex::before {
  background-position: -576px -704px;
}

.project-icon-cosmo-coin::before {
  background-position: -640px -704px;
}

.project-icon-cosmos::before {
  background-position: -704px -704px;
}

.project-icon-counterparty::before {
  background-position: -768px 0;
}

.project-icon-covesting::before {
  background-position: -768px -64px;
}

.project-icon-credits::before {
  background-position: -768px -128px;
}

.project-icon-credo::before {
  background-position: -768px -192px;
}

.project-icon-crpt::before {
  background-position: -768px -256px;
}

.project-icon-cryptaur::before {
  background-position: -768px -320px;
}

.project-icon-c20::before {
  background-position: -768px -384px;
}

.project-icon-crypto-com::before {
  background-position: -768px -448px;
}

.project-icon-crypto-com-chain::before {
  background-position: -768px -512px;
}

.project-icon-crypto-com-coin::before {
  background-position: -768px -576px;
}

.project-icon-cryptofranc::before {
  background-position: -768px -640px;
}

.project-icon-cryptonex::before {
  background-position: -768px -704px;
}

.project-icon-cube::before {
  background-position: 0 -768px;
}

.project-icon-cvcoin::before {
  background-position: -64px -768px;
}

.project-icon-cwv-chain::before {
  background-position: -128px -768px;
}

.project-icon-cybermiles::before {
  background-position: -192px -768px;
}

.project-icon-cybervein::before {
  background-position: -256px -768px;
}

.project-icon-daex::before {
  background-position: -320px -768px;
}

.project-icon-dai::before {
  background-position: -384px -768px;
}

.project-icon-dao-casino::before {
  background-position: -448px -768px;
}

.project-icon-daps-token::before {
  background-position: -512px -768px;
}

.project-icon-darcio-ecosystem-coin::before {
  background-position: -576px -768px;
}

.project-icon-dash::before {
  background-position: -640px -768px;
}

.project-icon-data::before {
  background-position: -704px -768px;
}

.project-icon-datx::before {
  background-position: -768px -768px;
}

.project-icon-davinci-coin::before {
  background-position: -832px 0;
}

.project-icon-decent::before {
  background-position: -832px -64px;
}

.project-icon-decent-bet::before {
  background-position: -832px -128px;
}

.project-icon-decentraland::before {
  background-position: -832px -192px;
}

.project-icon-decred::before {
  background-position: -832px -256px;
}

.project-icon-deepbrain-chain::before {
  background-position: -832px -320px;
}

.project-icon-delphy::before {
  background-position: -832px -384px;
}

.project-icon-dent::before {
  background-position: -832px -448px;
}

.project-icon-dentacoin::before {
  background-position: -832px -512px;
}

.project-icon-dew::before {
  background-position: -832px -576px;
}

.project-icon-dex::before {
  background-position: -832px -640px;
}

.project-icon-diamond-platform-token::before {
  background-position: -832px -704px;
}

.project-icon-digibyte::before {
  background-position: -832px -768px;
}

.project-icon-digipulse::before {
  background-position: 0 -832px;
}

.project-icon-digitalnote::before {
  background-position: -64px -832px;
}

.project-icon-digitex-futures::before {
  background-position: -128px -832px;
}

.project-icon-digixdao::before {
  background-position: -192px -832px;
}

.project-icon-dignity::before {
  background-position: -256px -832px;
}

.project-icon-dimecoin::before {
  background-position: -320px -832px;
}

.project-icon-distributed-credit-chain::before {
  background-position: -384px -832px;
}

.project-icon-district0x::before {
  background-position: -448px -832px;
}

.project-icon-divi::before {
  background-position: -512px -832px;
}

.project-icon-dmarket::before {
  background-position: -576px -832px;
}

.project-icon-dnotes::before {
  background-position: -640px -832px;
}

.project-icon-dock::before {
  background-position: -704px -832px;
}

.project-icon-dogecoin::before {
  background-position: -768px -832px;
}

.project-icon-dragonchain::before {
  background-position: -832px -832px;
}

.project-icon-dragon-coins::before {
  background-position: -896px 0;
}

.project-icon-dropil::before {
  background-position: -896px -64px;
}

.project-icon-dusk-network::before {
  background-position: -896px -128px;
}

.project-icon-dxchain-token::before {
  background-position: -896px -192px;
}

.project-icon-dynamic-trading-rights::before {
  background-position: -896px -256px;
}

.project-icon-eboostcoin::before {
  background-position: -896px -320px;
}

.project-icon-eccoin::before {
  background-position: -896px -384px;
}

.project-icon-e-coin::before {
  background-position: -896px -448px;
}

.project-icon-ecoreal-estate::before {
  background-position: -896px -512px;
}

.project-icon-edgeless::before {
  background-position: -896px -576px;
}

.project-icon-educare::before {
  background-position: -896px -640px;
}

.project-icon-egretia::before {
  background-position: -896px -704px;
}

.project-icon-eidoo::before {
  background-position: -896px -768px;
}

.project-icon-einsteinium::before {
  background-position: -896px -832px;
}

.project-icon-elastos::before {
  background-position: 0 -896px;
}

.project-icon-electra::before {
  background-position: -64px -896px;
}

.project-icon-electrifyasia::before {
  background-position: -128px -896px;
}

.project-icon-electroneum::before {
  background-position: -192px -896px;
}

.project-icon-1337coin::before {
  background-position: -256px -896px;
}

.project-icon-elrond::before {
  background-position: -320px -896px;
}

.project-icon-emercoin::before {
  background-position: -384px -896px;
}

.project-icon-empowr-coin::before {
  background-position: -448px -896px;
}

.project-icon-encrypgen::before {
  background-position: -512px -896px;
}

.project-icon-endor-protocol::before {
  background-position: -576px -896px;
}

.project-icon-energi::before {
  background-position: -640px -896px;
}

.project-icon-enigma::before {
  background-position: -704px -896px;
}

.project-icon-enjin-coin::before {
  background-position: -768px -896px;
}

.project-icon-envion::before {
  background-position: -832px -896px;
}

.project-icon-eos::before {
  background-position: -896px -896px;
}

.project-icon-eosblack::before {
  background-position: -960px 0;
}

.project-icon-eosdac::before {
  background-position: -960px -64px;
}

.project-icon-blakestar::before {
  background-position: -960px -128px;
}

.project-icon-erc20::before {
  background-position: -960px -192px;
}

.project-icon-eternal-token::before {
  background-position: -960px -256px;
}

.project-icon-etheera::before {
  background-position: -960px -320px;
}

.project-icon-ethereum::before {
  background-position: -960px -384px;
}

.project-icon-ethereum-classic::before {
  background-position: -960px -448px;
}

.project-icon-etheroll::before {
  background-position: -960px -512px;
}

.project-icon-etherparty::before {
  background-position: -960px -576px;
}

.project-icon-ether-zero::before {
  background-position: -960px -640px;
}

.project-icon-ethos::before {
  background-position: -960px -704px;
}

.project-icon-evencoin::before {
  background-position: -960px -768px;
}

.project-icon-everex::before {
  background-position: -960px -832px;
}

.project-icon-everipedia::before {
  background-position: -960px -896px;
}

.project-icon-everus::before {
  background-position: 0 -960px;
}

.project-icon-eximchain::before {
  background-position: -64px -960px;
}

.project-icon-expanse::before {
  background-position: -128px -960px;
}

.project-icon-experience-points::before {
  background-position: -192px -960px;
}

.project-icon-experty::before {
  background-position: -256px -960px;
}

.project-icon-factom::before {
  background-position: -320px -960px;
}

.project-icon-faircoin::before {
  background-position: -384px -960px;
}

.project-icon-fantom::before {
  background-position: -448px -960px;
}

.project-icon-feathercoin::before {
  background-position: -512px -960px;
}

.project-icon-fetch::before {
  background-position: -576px -960px;
}

.project-icon-firstblood::before {
  background-position: -640px -960px;
}

.project-icon-flash::before {
  background-position: -704px -960px;
}

.project-icon-flo::before {
  background-position: -768px -960px;
}

.project-icon-foam::before {
  background-position: -832px -960px;
}

.project-icon-fortuna::before {
  background-position: -896px -960px;
}

.project-icon-free-coin::before {
  background-position: -960px -960px;
}

.project-icon-ftx-token::before {
  background-position: -1024px 0;
}

.project-icon-function-x::before {
  background-position: -1024px -64px;
}

.project-icon-funfair::before {
  background-position: -1024px -128px;
}

.project-icon-fusion::before {
  background-position: -1024px -192px;
}

.project-icon-fuzex::before {
  background-position: -1024px -256px;
}

.project-icon-game::before {
  background-position: -1024px -320px;
}

.project-icon-gamecredits::before {
  background-position: -1024px -384px;
}

.project-icon-gas::before {
  background-position: -1024px -448px;
}

.project-icon-gatechain-token::before {
  background-position: -1024px -512px;
}

.project-icon-gemini-dollar::before {
  background-position: -1024px -576px;
}

.project-icon-genaro-network::before {
  background-position: -1024px -640px;
}

.project-icon-genesis-vision::before {
  background-position: -1024px -704px;
}

.project-icon-gifto::before {
  background-position: -1024px -768px;
}

.project-icon-gimli::before {
  background-position: -1024px -832px;
}

.project-icon-global-currency-reserve::before {
  background-position: -1024px -896px;
}

.project-icon-global-jobcoin::before {
  background-position: -1024px -960px;
}

.project-icon-gnosis-gno::before {
  background-position: 0 -1024px;
}

.project-icon-gnosis::before {
  background-position: 0 -1024px;
}

.project-icon-gochain::before {
  background-position: -64px -1024px;
}

.project-icon-gold-bits-coin::before {
  background-position: -128px -1024px;
}

.project-icon-golem-network-tokens::before {
  background-position: -192px -1024px;
}

.project-icon-golem::before {
  background-position: -192px -1024px;
}

.project-icon-gowithmi::before {
  background-position: -256px -1024px;
}

.project-icon-greencoin::before {
  background-position: -320px -1024px;
}

.project-icon-gridcoin::before {
  background-position: -384px -1024px;
}

.project-icon-grin::before {
  background-position: -448px -1024px;
}

.project-icon-groestlcoin::before {
  background-position: -512px -1024px;
}

.project-icon-guaranteed-ethurance-token-extra::before {
  background-position: -576px -1024px;
}

.project-icon-gulden::before {
  background-position: -640px -1024px;
}

.project-icon-gxchain::before {
  background-position: -704px -1024px;
}

.project-icon-happycoin::before {
  background-position: -768px -1024px;
}

.project-icon-harmony::before {
  background-position: -832px -1024px;
}

.project-icon-haven-protocol::before {
  background-position: -896px -1024px;
}

.project-icon-hedera-hashgraph::before {
  background-position: -960px -1024px;
}

.project-icon-hedge::before {
  background-position: -1024px -1024px;
}

.project-icon-hedgetrade::before {
  background-position: -1088px 0;
}

.project-icon-helium::before {
  background-position: -1088px -64px;
}

.project-icon-hellogold::before {
  background-position: -1088px -128px;
}

.project-icon-herocoin::before {
  background-position: -1088px -192px;
}

.project-icon-high-performance-blockchain::before {
  background-position: -1088px -256px;
}

.project-icon-holo::before {
  background-position: -1088px -320px;
}

.project-icon-hoqu::before {
  background-position: -1088px -384px;
}

.project-icon-horuspay::before {
  background-position: -1088px -448px;
}

.project-icon-howdoo::before {
  background-position: -1088px -512px;
}

.project-icon-html-coin::before {
  background-position: -1088px -576px;
}

.project-icon-humaniq::before {
  background-position: -1088px -640px;
}

.project-icon-humanscape::before {
  background-position: -1088px -704px;
}

.project-icon-huobi-token::before {
  background-position: -1088px -768px;
}

.project-icon-hycon::before {
  background-position: -1088px -832px;
}

.project-icon-hydro-protocol::before {
  background-position: -1088px -896px;
}

.project-icon-hypercash::before {
  background-position: -1088px -960px;
}

.project-icon-hyperion::before {
  background-position: -1088px -1024px;
}

.project-icon-ice-rock-mining::before {
  background-position: 0 -1088px;
}

.project-icon-icon::before {
  background-position: -64px -1088px;
}

.project-icon-rlc::before {
  background-position: -128px -1088px;
}

.project-icon-ignis::before {
  background-position: -192px -1088px;
}

.project-icon-iht-real-estate-protocol::before {
  background-position: -256px -1088px;
}

.project-icon-ilcoin::before {
  background-position: -320px -1088px;
}

.project-icon-incent::before {
  background-position: -384px -1088px;
}

.project-icon-indahash::before {
  background-position: -448px -1088px;
}

.project-icon-indorse-token::before {
  background-position: -512px -1088px;
}

.project-icon-inflationcoin::before {
  background-position: -576px -1088px;
}

.project-icon-ink::before {
  background-position: -640px -1088px;
}

.project-icon-ino-coin::before {
  background-position: -704px -1088px;
}

.project-icon-insight-chain::before {
  background-position: -768px -1088px;
}

.project-icon-insights-network::before {
  background-position: -832px -1088px;
}

.project-icon-internet-node-token::before {
  background-position: -896px -1088px;
}

.project-icon-ion::before {
  background-position: -960px -1088px;
}

.project-icon-iostoken::before {
  background-position: -1024px -1088px;
}

.project-icon-iota::before {
  background-position: -1088px -1088px;
}

.project-icon-iot-chain::before {
  background-position: -1152px 0;
}

.project-icon-iotex::before {
  background-position: -1152px -64px;
}

.project-icon-ipchain::before {
  background-position: -1152px -128px;
}

.project-icon-irisnet::before {
  background-position: -1152px -192px;
}

.project-icon-ivy::before {
  background-position: -1152px -256px;
}

.project-icon-japan-content-token::before {
  background-position: -1152px -320px;
}

.project-icon-jewel::before {
  background-position: -1152px -384px;
}

.project-icon-jibrel-network::before {
  background-position: -1152px -448px;
}

.project-icon-jiyo::before {
  background-position: -1152px -512px;
}

.project-icon-kambria::before {
  background-position: -1152px -576px;
}

.project-icon-karatgold-coin::before {
  background-position: -1152px -640px;
}

.project-icon-kcash::before {
  background-position: -1152px -704px;
}

.project-icon-kickico::before {
  background-position: -1152px -768px;
}

.project-icon-kin::before {
  background-position: -1152px -832px;
}

.project-icon-komodo::before {
  background-position: -1152px -896px;
}

.project-icon-krios::before {
  background-position: -1152px -960px;
}

.project-icon-kucoin-shares::before {
  background-position: -1152px -1024px;
}

.project-icon-kyber-network::before {
  background-position: -1152px -1088px;
}

.project-icon-lambda::before {
  background-position: 0 -1152px;
}

.project-icon-latoken::before {
  background-position: -64px -1152px;
}

.project-icon-library-credit::before {
  background-position: -128px -1152px;
}

.project-icon-legolas-exchange::before {
  background-position: -192px -1152px;
}

.project-icon-leocoin::before {
  background-position: -256px -1152px;
}

.project-icon-libra-credit::before {
  background-position: -320px -1152px;
}

.project-icon-lightning-bitcoin::before {
  background-position: -384px -1152px;
}

.project-icon-lina::before {
  background-position: -448px -1152px;
}

.project-icon-linkey::before {
  background-position: -512px -1152px;
}

.project-icon-linkeye::before {
  background-position: -576px -1152px;
}

.project-icon-liquid-apps::before {
  background-position: -640px -1152px;
}

.project-icon-lisk::before {
  background-position: -704px -1152px;
}

.project-icon-lisk-machine-learning::before {
  background-position: -768px -1152px;
}

.project-icon-litecoin::before {
  background-position: -832px -1152px;
}

.project-icon-litecoin-cash::before {
  background-position: -896px -1152px;
}

.project-icon-litex::before {
  background-position: -960px -1152px;
}

.project-icon-lockchain::before {
  background-position: -1024px -1152px;
}

.project-icon-loki::before {
  background-position: -1088px -1152px;
}

.project-icon-loom-network::before {
  background-position: -1152px -1152px;
}

.project-icon-loopring::before {
  background-position: -1216px 0;
}

.project-icon-loyalcoin::before {
  background-position: -1216px -64px;
}

.project-icon-lto-network::before {
  background-position: -1216px -128px;
}

.project-icon-luna::before {
  background-position: -1216px -192px;
}

.project-icon-lunyr::before {
  background-position: -1216px -256px;
}

.project-icon-lykke::before {
  background-position: -1216px -320px;
}

.project-icon-lympo::before {
  background-position: -1216px -384px;
}

.project-icon-maecenas::before {
  background-position: -1216px -448px;
}

.project-icon-magiccoin::before {
  background-position: -1216px -512px;
}

.project-icon-maidsafecoin::before {
  background-position: -1216px -576px;
}

.project-icon-mainframe::before {
  background-position: -1216px -640px;
}

.project-icon-maker::before {
  background-position: -1216px -704px;
}

.project-icon-mallcoin::before {
  background-position: -1216px -768px;
}

.project-icon-mark-space::before {
  background-position: -1216px -832px;
}

.project-icon-massgrid::before {
  background-position: -1216px -896px;
}

.project-icon-guppy::before {
  background-position: -1216px -960px;
}

.project-icon-matic-network::before {
  background-position: -1216px -1024px;
}

.project-icon-matrix-ai-network::before {
  background-position: -1216px -1088px;
}

.project-icon-matryx::before {
  background-position: -1216px -1152px;
}

.project-icon-maximine-coin::before {
  background-position: 0 -1216px;
}

.project-icon-medibloc::before {
  background-position: -64px -1216px;
}

.project-icon-medx::before {
  background-position: -128px -1216px;
}

.project-icon-medical-chain::before {
  background-position: -192px -1216px;
}

.project-icon-medishares::before {
  background-position: -256px -1216px;
}

.project-icon-meetone::before {
  background-position: -320px -1216px;
}

.project-icon-melon::before {
  background-position: -384px -1216px;
}

.project-icon-merculet::before {
  background-position: -448px -1216px;
}

.project-icon-mercury::before {
  background-position: -512px -1216px;
}

.project-icon-metadium::before {
  background-position: -576px -1216px;
}

.project-icon-metahash::before {
  background-position: -640px -1216px;
}

.project-icon-metal::before {
  background-position: -704px -1216px;
}

.project-icon-metaverse::before {
  background-position: -768px -1216px;
}

.project-icon-metronome::before {
  background-position: -832px -1216px;
}

.project-icon-mindexcoin::before {
  background-position: -896px -1216px;
}

.project-icon-minexcoin::before {
  background-position: -960px -1216px;
}

.project-icon-mithril::before {
  background-position: -1024px -1216px;
}

.project-icon-mixin::before {
  background-position: -1088px -1216px;
}

.project-icon-moac::before {
  background-position: -1152px -1216px;
}

.project-icon-mobilego::before {
  background-position: -1216px -1216px;
}

.project-icon-mobius::before {
  background-position: -1280px 0;
}

.project-icon-modum::before {
  background-position: -1280px -64px;
}

.project-icon-moeda-loyalty-points::before {
  background-position: -1280px -128px;
}

.project-icon-molecular-future::before {
  background-position: -1280px -192px;
}

.project-icon-monacoin::before {
  background-position: -1280px -256px;
}

.project-icon-monero::before {
  background-position: -1280px -320px;
}

.project-icon-monetha::before {
  background-position: -1280px -384px;
}

.project-icon-monolith::before {
  background-position: -1280px -448px;
}

.project-icon-mooncoin::before {
  background-position: -1280px -512px;
}

.project-icon-moss-coin::before {
  background-position: -1280px -576px;
}

.project-icon-mothership::before {
  background-position: -1280px -640px;
}

.project-icon-musiconomi::before {
  background-position: -1280px -704px;
}

.project-icon-mysterium::before {
  background-position: -1280px -768px;
}

.project-icon-naga::before {
  background-position: -1280px -832px;
}

.project-icon-namecoin::before {
  background-position: -1280px -896px;
}

.project-icon-nanjcoin::before {
  background-position: -1280px -960px;
}

.project-icon-nano::before {
  background-position: -1280px -1024px;
}

.project-icon-nasdacoin::before {
  background-position: -1280px -1088px;
}

.project-icon-nash-exchange::before {
  background-position: -1280px -1152px;
}

.project-icon-nav-coin::before {
  background-position: -1280px -1216px;
}

.project-icon-neblio::before {
  background-position: 0 -1280px;
}

.project-icon-nebulas-token::before {
  background-position: -64px -1280px;
}

.project-icon-nebulas::before {
  background-position: -64px -1280px;
}

.project-icon-nectar::before {
  background-position: -128px -1280px;
}

.project-icon-nem::before {
  background-position: -192px -1280px;
}

.project-icon-neo::before {
  background-position: -256px -1280px;
}

.project-icon-neumark::before {
  background-position: -320px -1280px;
}

.project-icon-new-power-coin::before {
  background-position: -384px -1280px;
}

.project-icon-newton::before {
  background-position: -448px -1280px;
}

.project-icon-nexo::before {
  background-position: -512px -1280px;
}

.project-icon-next::before {
  background-position: -576px -1280px;
}

.project-icon-nexty::before {
  background-position: -640px -1280px;
}

.project-icon-nexus::before {
  background-position: -704px -1280px;
}

.project-icon-niobium-coin::before {
  background-position: -768px -1280px;
}

.project-icon-nix::before {
  background-position: -832px -1280px;
}

.project-icon-nkn::before {
  background-position: -896px -1280px;
}

.project-icon-noah-coin::before {
  background-position: -960px -1280px;
}

.project-icon-novacoin::before {
  background-position: -1024px -1280px;
}

.project-icon-nucleus-vision::before {
  background-position: -1088px -1280px;
}

.project-icon-nuls::before {
  background-position: -1152px -1280px;
}

.project-icon-nxt::before {
  background-position: -1216px -1280px;
}

.project-icon-obyte::before {
  background-position: -1280px -1280px;
}

.project-icon-odem::before {
  background-position: -1344px 0;
}

.project-icon-odyssey::before {
  background-position: -1344px -64px;
}

.project-icon-omisego::before {
  background-position: -1344px -128px;
}

.project-icon-omnitude::before {
  background-position: -1344px -192px;
}

.project-icon-oneroot-network::before {
  background-position: -1344px -256px;
}

.project-icon-online::before {
  background-position: -1344px -320px;
}

.project-icon-ontology::before {
  background-position: -1344px -384px;
}

.project-icon-optimal-shelf-availability-token::before {
  background-position: -1344px -448px;
}

.project-icon-orbs::before {
  background-position: -1344px -512px;
}

.project-icon-origintrail::before {
  background-position: -1344px -576px;
}

.project-icon-origo::before {
  background-position: -1344px -640px;
}

.project-icon-ormeus-coin::before {
  background-position: -1344px -704px;
}

.project-icon-ost::before {
  background-position: -1344px -768px;
}

.project-icon-otocash::before {
  background-position: -1344px -832px;
}

.project-icon-ovcode::before {
  background-position: -1344px -896px;
}

.project-icon-own::before {
  background-position: -1344px -960px;
}

.project-icon-oyster::before {
  background-position: -1344px -1024px;
}

.project-icon-paragon::before {
  background-position: -1344px -1088px;
}

.project-icon-particl::before {
  background-position: -1344px -1152px;
}

.project-icon-paxos-standard::before {
  background-position: -1344px -1216px;
}

.project-icon-paxos-standard-token::before {
  background-position: -1344px -1280px;
}

.project-icon-paypex::before {
  background-position: 0 -1344px;
}

.project-icon-paypie::before {
  background-position: -64px -1344px;
}

.project-icon-peercoin::before {
  background-position: -128px -1344px;
}

.project-icon-pepe-cash::before {
  background-position: -192px -1344px;
}

.project-icon-perlin::before {
  background-position: -256px -1344px;
}

.project-icon-pillar::before {
  background-position: -320px -1344px;
}

.project-icon-pirate-chain::before {
  background-position: -384px -1344px;
}

.project-icon-pivx::before {
  background-position: -448px -1344px;
}

.project-icon-plair::before {
  background-position: -512px -1344px;
}

.project-icon-platincoin::before {
  background-position: -576px -1344px;
}

.project-icon-playchip::before {
  background-position: -640px -1344px;
}

.project-icon-playkey::before {
  background-position: -704px -1344px;
}

.project-icon-poa-network::before {
  background-position: -768px -1344px;
}

.project-icon-poet::before {
  background-position: -832px -1344px;
}

.project-icon-polis::before {
  background-position: -896px -1344px;
}

.project-icon-polybius::before {
  background-position: -960px -1344px;
}

.project-icon-polymath-network::before {
  background-position: -1024px -1344px;
}

.project-icon-populous::before {
  background-position: -1088px -1344px;
}

.project-icon-power-ledger::before {
  background-position: -1152px -1344px;
}

.project-icon-presearch::before {
  background-position: -1216px -1344px;
}

.project-icon-primas::before {
  background-position: -1280px -1344px;
}

.project-icon-primecoin::before {
  background-position: -1344px -1344px;
}

.project-icon-privatix::before {
  background-position: -1408px 0;
}

.project-icon-prizm::before {
  background-position: -1408px -64px;
}

.project-icon-project-pai::before {
  background-position: -1408px -128px;
}

.project-icon-propy::before {
  background-position: -1408px -192px;
}

.project-icon-prospectors-gold::before {
  background-position: -1408px -256px;
}

.project-icon-proton-token::before {
  background-position: -1408px -320px;
}

.project-icon-proximax::before {
  background-position: -1408px -384px;
}

.project-icon-pumapay::before {
  background-position: -1408px -448px;
}

.project-icon-pundi-x::before {
  background-position: -1408px -512px;
}

.project-icon-pura::before {
  background-position: -1408px -576px;
}

.project-icon-qash::before {
  background-position: -1408px -640px;
}

.project-icon-qtum::before {
  background-position: -1408px -704px;
}

.project-icon-quant::before {
  background-position: -1408px -768px;
}

.project-icon-quanta-utility-token::before {
  background-position: -1408px -832px;
}

.project-icon-quantstamp::before {
  background-position: -1408px -896px;
}

.project-icon-quantum-resistant-ledger::before {
  background-position: -1408px -960px;
}

.project-icon-quarkchain::before {
  background-position: -1408px -1024px;
}

.project-icon-qubitica::before {
  background-position: -1408px -1088px;
}

.project-icon-quickx-protocol::before {
  background-position: -1408px -1152px;
}

.project-icon-qunqun::before {
  background-position: -1408px -1216px;
}

.project-icon-radium::before {
  background-position: -1408px -1280px;
}

.project-icon-raiden-network-token::before {
  background-position: -1408px -1344px;
}

.project-icon-rapids::before {
  background-position: 0 -1408px;
}

.project-icon-ravencoin::before {
  background-position: -64px -1408px;
}

.project-icon-rchain::before {
  background-position: -128px -1408px;
}

.project-icon-realtract::before {
  background-position: -192px -1408px;
}

.project-icon-reddcoin::before {
  background-position: -256px -1408px;
}

.project-icon-red-pulse::before {
  background-position: -320px -1408px;
}

.project-icon-refereum::before {
  background-position: -384px -1408px;
}

.project-icon-relex::before {
  background-position: -448px -1408px;
}

.project-icon-remme::before {
  background-position: -512px -1408px;
}

.project-icon-ren::before {
  background-position: -576px -1408px;
}

.project-icon-repo::before {
  background-position: -640px -1408px;
}

.project-icon-request::before {
  background-position: -704px -1408px;
}

.project-icon-restart-energy-mwat::before {
  background-position: -768px -1408px;
}

.project-icon-revain::before {
  background-position: -832px -1408px;
}

.project-icon-rif-token::before {
  background-position: -896px -1408px;
}

.project-icon-ripio-credit-network::before {
  background-position: -960px -1408px;
}

.project-icon-ripple::before {
  background-position: -1024px -1408px;
}

.project-icon-rise::before {
  background-position: -1088px -1408px;
}

.project-icon-rivetz::before {
  background-position: -1152px -1408px;
}

.project-icon-robotina::before {
  background-position: -1216px -1408px;
}

.project-icon-rock::before {
  background-position: -1280px -1408px;
}

.project-icon-rotharium::before {
  background-position: -1344px -1408px;
}

.project-icon-rubycoin::before {
  background-position: -1408px -1408px;
}

.project-icon-ruff::before {
  background-position: -1472px 0;
}

.project-icon-s4fe::before {
  background-position: -1472px -64px;
}

.project-icon-sakura-bloom::before {
  background-position: -1472px -128px;
}

.project-icon-salt::before {
  background-position: -1472px -192px;
}

.project-icon-salus::before {
  background-position: -1472px -256px;
}

.project-icon-santiment::before {
  background-position: -1472px -320px;
}

.project-icon-scryinfo::before {
  background-position: -1472px -384px;
}

.project-icon-seele::before {
  background-position: -1472px -448px;
}

.project-icon-selfkey::before {
  background-position: -1472px -512px;
}

.project-icon-shield-xsh::before {
  background-position: -1472px -576px;
}

.project-icon-siacoin::before {
  background-position: -1472px -640px;
}

.project-icon-singulardtv::before {
  background-position: -1472px -704px;
}

.project-icon-singularitynet::before {
  background-position: -1472px -768px;
}

.project-icon-sirin-labs-token::before {
  background-position: -1472px -832px;
}

.project-icon-skycoin::before {
  background-position: -1472px -896px;
}

.project-icon-smartcash::before {
  background-position: -1472px -960px;
}

.project-icon-smartlands::before {
  background-position: -1472px -1024px;
}

.project-icon-smartmesh::before {
  background-position: -1472px -1088px;
}

.project-icon-smartofgiving::before {
  background-position: -1472px -1152px;
}

.project-icon-snapcoin::before {
  background-position: -1472px -1216px;
}

.project-icon-soarcoin::before {
  background-position: -1472px -1280px;
}

.project-icon-solarcoin::before {
  background-position: -1472px -1344px;
}

.project-icon-solve::before {
  background-position: -1472px -1408px;
}

.project-icon-sonm::before {
  background-position: 0 -1472px;
}

.project-icon-sophiatx::before {
  background-position: -64px -1472px;
}

.project-icon-bitshares-music::before {
  background-position: -128px -1472px;
}

.project-icon-spacechain::before {
  background-position: -192px -1472px;
}

.project-icon-spankchain::before {
  background-position: -256px -1472px;
}

.project-icon-spectre-dividend::before {
  background-position: -320px -1472px;
}

.project-icon-spendcoin::before {
  background-position: -384px -1472px;
}

.project-icon-srcoin::before {
  background-position: -448px -1472px;
}

.project-icon-stacs::before {
  background-position: -512px -1472px;
}

.project-icon-stakenet::before {
  background-position: -576px -1472px;
}

.project-icon-starbase::before {
  background-position: -640px -1472px;
}

.project-icon-stasis-euro::before {
  background-position: -704px -1472px;
}

.project-icon-stasis-eurs::before {
  background-position: -768px -1472px;
}

.project-icon-status::before {
  background-position: -832px -1472px;
}

.project-icon-stealth::before {
  background-position: -896px -1472px;
}

.project-icon-steem::before {
  background-position: -960px -1472px;
}

.project-icon-steem-dollars::before {
  background-position: -1024px -1472px;
}

.project-icon-stellar::before {
  background-position: -1088px -1472px;
}

.project-icon-stem-cell-coin::before {
  background-position: -1152px -1472px;
}

.project-icon-storiqa::before {
  background-position: -1216px -1472px;
}

.project-icon-storj::before {
  background-position: -1280px -1472px;
}

.project-icon-storm::before {
  background-position: -1344px -1472px;
}

.project-icon-stox::before {
  background-position: -1408px -1472px;
}

.project-icon-stratis::before {
  background-position: -1472px -1472px;
}

.project-icon-streamr-datacoin::before {
  background-position: -1536px 0;
}

.project-icon-substratum::before {
  background-position: -1536px -64px;
}

.project-icon-supernet-unity::before {
  background-position: -1536px -128px;
}

.project-icon-swarm-fund::before {
  background-position: -1536px -192px;
}

.project-icon-swftcoin::before {
  background-position: -1536px -256px;
}

.project-icon-swipe::before {
  background-position: -1536px -320px;
}

.project-icon-synthetix-network-token::before {
  background-position: -1536px -384px;
}

.project-icon-syscoin::before {
  background-position: -1536px -448px;
}

.project-icon-taas::before {
  background-position: -1536px -512px;
}

.project-icon-tael::before {
  background-position: -1536px -576px;
}

.project-icon-tao::before {
  background-position: -1536px -640px;
}

.project-icon-tatatu::before {
  background-position: -1536px -704px;
}

.project-icon-telcoin::before {
  background-position: -1536px -768px;
}

.project-icon-tenx::before {
  background-position: -1536px -832px;
}

.project-icon-ternio::before {
  background-position: -1536px -896px;
}

.project-icon-tether::before {
  background-position: -1536px -960px;
}

.project-icon-tezos::before {
  background-position: -1536px -1024px;
}

.project-icon-the-champcoin::before {
  background-position: -1536px -1088px;
}

.project-icon-thekey::before {
  background-position: -1536px -1152px;
}

.project-icon-theta::before {
  background-position: -1536px -1216px;
}

.project-icon-theta-token::before {
  background-position: -1536px -1216px;
}

.project-icon-theta-fuel::before {
  background-position: -1536px -1280px;
}

.project-icon-thorecoin::before {
  background-position: -1536px -1344px;
}

.project-icon-thunder-token::before {
  background-position: -1536px -1408px;
}

.project-icon-tierion::before {
  background-position: -1536px -1472px;
}

.project-icon-time-new-bank::before {
  background-position: 0 -1536px;
}

.project-icon-timicoin::before {
  background-position: -64px -1536px;
}

.project-icon-titan-coin::before {
  background-position: -128px -1536px;
}

.project-icon-tokenbox::before {
  background-position: -192px -1536px;
}

.project-icon-tokencard::before {
  background-position: -256px -1536px;
}

.project-icon-tokenclub::before {
  background-position: -320px -1536px;
}

.project-icon-tokenomy::before {
  background-position: -384px -1536px;
}

.project-icon-tokenpay::before {
  background-position: -448px -1536px;
}

.project-icon-tomochain::before {
  background-position: -512px -1536px;
}

.project-icon-top::before {
  background-position: -576px -1536px;
}

.project-icon-trade-token::before {
  background-position: -640px -1536px;
}

.project-icon-triggers::before {
  background-position: -704px -1536px;
}

.project-icon-trinity-network-credit::before {
  background-position: -768px -1536px;
}

.project-icon-tripio::before {
  background-position: -832px -1536px;
}

.project-icon-tron::before {
  background-position: -896px -1536px;
}

.project-icon-tronclassic::before {
  background-position: -960px -1536px;
}

.project-icon-truechain::before {
  background-position: -1024px -1536px;
}

.project-icon-trueusd::before {
  background-position: -1088px -1536px;
}

.project-icon-ttc::before {
  background-position: -1152px -1536px;
}

.project-icon-turtlecoin::before {
  background-position: -1216px -1536px;
}

.project-icon-ubex::before {
  background-position: -1280px -1536px;
}

.project-icon-ubiq::before {
  background-position: -1344px -1536px;
}

.project-icon-ucash::before {
  background-position: -1408px -1536px;
}

.project-icon-ugas::before {
  background-position: -1472px -1536px;
}

.project-icon-ugchain::before {
  background-position: -1536px -1536px;
}

.project-icon-ultiledger::before {
  background-position: -1600px 0;
}

.project-icon-u-network::before {
  background-position: -1600px -64px;
}

.project-icon-uni-coin::before {
  background-position: -1600px -128px;
}

.project-icon-uttoken::before {
  background-position: -1600px -192px;
}

.project-icon-universa::before {
  background-position: -1600px -256px;
}

.project-icon-unlimitedip::before {
  background-position: -1600px -320px;
}

.project-icon-unobtanium::before {
  background-position: -1600px -384px;
}

.project-icon-unus-sed-leo::before {
  background-position: -1600px -448px;
}

.project-icon-uptoken::before {
  background-position: -1600px -512px;
}

.project-icon-usd-coin::before {
  background-position: -1600px -576px;
}

.project-icon-utrust::before {
  background-position: -1600px -640px;
}

.project-icon-valor-token::before {
  background-position: -1600px -704px;
}

.project-icon-vechain::before {
  background-position: -1600px -768px;
}

.project-icon-verge::before {
  background-position: -1600px -832px;
}

.project-icon-veriblock::before {
  background-position: -1600px -896px;
}

.project-icon-veritaseum::before {
  background-position: -1600px -960px;
}

.project-icon-veros::before {
  background-position: -1600px -1024px;
}

.project-icon-vertcoin::before {
  background-position: -1600px -1088px;
}

.project-icon-vestchain::before {
  background-position: -1600px -1152px;
}

.project-icon-viacoin::before {
  background-position: -1600px -1216px;
}

.project-icon-vibe::before {
  background-position: -1600px -1280px;
}

.project-icon-vitae::before {
  background-position: -1600px -1344px;
}

.project-icon-vslice::before {
  background-position: -1600px -1408px;
}

.project-icon-v-systems::before {
  background-position: -1600px -1472px;
}

.project-icon-vulcano::before {
  background-position: -1600px -1536px;
}

.project-icon-wabnetwork::before {
  background-position: 0 -1600px;
}

.project-icon-wagerr::before {
  background-position: -64px -1600px;
}

.project-icon-waltonchain::before {
  background-position: -128px -1600px;
}

.project-icon-wanchain::before {
  background-position: -192px -1600px;
}

.project-icon-waves::before {
  background-position: -256px -1600px;
}

.project-icon-wax::before {
  background-position: -320px -1600px;
}

.project-icon-waykichain::before {
  background-position: -384px -1600px;
}

.project-icon-wepower::before {
  background-position: -448px -1600px;
}

.project-icon-whitecoin::before {
  background-position: -512px -1600px;
}

.project-icon-wings::before {
  background-position: -576px -1600px;
}

.project-icon-wink-tronbet::before {
  background-position: -640px -1600px;
}

.project-icon-wirex-token::before {
  background-position: -704px -1600px;
}

.project-icon-wixlar::before {
  background-position: -768px -1600px;
}

.project-icon-wowbit::before {
  background-position: -832px -1600px;
}

.project-icon-xinfin-network::before {
  background-position: -896px -1600px;
}

.project-icon-xmax::before {
  background-position: -960px -1600px;
}

.project-icon-xpa::before {
  background-position: -1024px -1600px;
}

.project-icon-xtrabytes::before {
  background-position: -1088px -1600px;
}

.project-icon-xyo::before {
  background-position: -1152px -1600px;
}

.project-icon-yee::before {
  background-position: -1216px -1600px;
}

.project-icon-you-coin::before {
  background-position: -1280px -1600px;
}

.project-icon-zb::before {
  background-position: -1344px -1600px;
}

.project-icon-zcash::before {
  background-position: -1408px -1600px;
}

.project-icon-zclassic::before {
  background-position: -1472px -1600px;
}

.project-icon-zcoin::before {
  background-position: -1536px -1600px;
}

.project-icon-zebi::before {
  background-position: -1600px -1600px;
}

.project-icon-zeepin::before {
  background-position: -1664px 0;
}

.project-icon-zencash::before {
  background-position: -1664px -64px;
}

.project-icon-zeusshield::before {
  background-position: -1664px -128px;
}

.project-icon-zilliqa::before {
  background-position: -1664px -192px;
}

.project-icon-zip::before {
  background-position: -1664px -256px;
}

.project-icon-zrcoin::before {
  background-position: -1664px -320px;
}
