@import url('./coordinates.css');

.project-icon {
  transform: scale(var(--scale));
  background-image:
    url(https://production-sanbase-images.s3.amazonaws.com/sprite/sprite.png),
    url(defaultProjectIcon.png);
  background-repeat: repeat, no-repeat;
}
