.holders {
  position: relative;

  &_opened {
    padding-right: 360px !important;
  }
}

.toggle {
  left: initial !important;
  right: 0;
  width: 24px !important;
}

.title {
  font-weight: 700;
  display: flex;
  align-items: center;
}

.sidepanel {
  width: 340px;

  &__content {
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
  }
}
