@import '~@santiment-network/ui/mixins';

.container {
  margin-left: 16px;
}

.wrapper {
  width: 175px;
  display: flex;
  padding: 6px 0;
  flex-direction: column;

  @include responsive('phone-xs', 'phone') {
    width: 100%;
  }
}

.block {
  border-bottom: 1px solid var(--porcelain);
  padding: 4px 8px 8px;
  margin-bottom: 6px;

  & button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.icon {
  margin-right: 8px;
}

.btn {
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  width: auto;
  margin: 2px 8px;
  fill: var(--casper);

  &:hover {
    fill: var(--jungle-green-light-3);
  }
}

.trigger {
  border: 1px solid var(--mystic);
  border-radius: 4px;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 32px;

  &__text {
    background: inherit;
    border-right: 1px solid var(--porcelain);
    border-radius: 0;
    padding: 5px 15px;
    height: 30px;

    &:hover {
      background: inherit;
    }
  }

  &__arrowBtn {
    padding: 13px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--waterloo);
    transition: background-color 0.2s ease-in-out;

    &:hover {
      fill: var(--jungle-green);
    }

    &_active {
      fill: var(--jungle-green);
      background-color: var(--jungle-green-light-2);
    }
  }

  &__arrow {
    box-sizing: content-box;
    transition: transform 0.2s ease-in-out;

    &_active {
      transform: rotate(180deg);
    }
  }
}

.delete {
  fill: var(--persimmon);
  color: var(--persimmon);

  &:hover {
    fill: var(--persimmon-hover);
    color: var(--persimmon-hover);
  }
}

.proLabel {
  margin-left: 8px;
}

.saveAsNonAuthor {
  padding: 12px;
  background-color: inherit;
}
