@import '~@santiment-network/ui/mixins';

.wrapper {
  padding: 16px 32px;
  margin: 0 0 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  height: 64px;
  min-height: 64px;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.light {
  background-color: var(--white);
}

.open {
  z-index: 24;
  position: absolute;
}

.row {
  display: flex;
  align-items: center;
}

.divider {
  width: 1px;
  height: 24px;
  margin: 0 4px;
  background: var(--porcelain);
}

.saving {
  margin-left: 12px;
  color: var(--waterloo);
}
