@import '~@santiment-network/ui/mixins';

.wrapper {
  background-color: var(--athens);
  padding: 16px 32px;
  margin: 0 0 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
}

.open {
  z-index: 24;
}

.name {
  @include text('h4');

  white-space: nowrap;
  margin: 0;
}

.description {
  margin: 0 0 0 10px;
}

.row {
  display: flex;
  align-items: center;
}

.divider {
  width: 1px;
  height: 24px;
  margin: 0 4px;
  background: var(--porcelain);
}
