@import '~@santiment-network/ui/mixins';

.wrapper {
  background-color: var(--athens);
  padding: 12px 32px;
  margin: 0  0 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  @include text('h4');

  margin: 0;
  display: inline-block;
}

.marketcap {
  color: var(--waterloo);
  margin: 0;

  @include text('body-3');
}

.right {
  display: flex;
  align-items: center;
}
