@import '~@santiment-network/ui/mixins';

.wrapper {
  width: 180px;

  @include responsive('phone-xs', 'phone') {
    width: 100%;
  }
}

.block {
  padding: 8px;
  border-bottom: 1px solid var(--porcelain);

  &:last-child {
    border: none;
  }
}

.trigger {
  margin-left: 0;
}
