@import '~@santiment-network/ui/mixins';

.triggerButton {
  align-items: center;
  justify-content: center;
  background: transparent !important;
  position: relative;
  fill: var(--waterloo);

  &__active {
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 8px;
      left: 21px;
      border-radius: 1px;
      width: 7px;
      height: 7px;
      background-color: var(--persimmon);
    }
  }
}

.wrapper {
  width: 250px;
  padding: 16px 17px;
  display: flex;
  flex-direction: column;

  @include responsive('phone-xs', 'phone') {
    width: 100%;
  }
}

.widgetInfo {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }
}

.toggle {
  margin-left: auto;
}

.label {
  color: var(--rhino);
  margin-left: 10px;

  @include text('body-3');
}
