@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.right {
  margin-left: 26px;
  flex-grow: 1;
}

.left {
  display: flex;
  flex-grow: 1;
}

.link {
  margin: 0 8px 0 0 !important;
}

.title {
  @include text('body-3');

  color: var(--waterloo);
  margin-bottom: 8px;
}

.block {
  padding: 24px;
  display: flex;
  flex-direction: column;
}
