@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.breadcrumbs {
  margin: auto;
  margin-bottom: 25px;
  display: flex;

  @include text('body-3');
}

.root {
  color: $bali-hai;
}

.arrow {
  margin: 0 14px;
  fill: $bali-hai;
}

.active {
  color: $fiord;
  text-transform: capitalize;
}
