@import '~@santiment-network/ui/mixins';
@import '../variables';

.wrapper {
  position: absolute;
  top: 70px;
  height: 100vh;
  left: 0;
  width: $sidebar-width;
  background: var(--white);
  border-right: 1px solid var(--porcelain);
  display: flex;
  flex-direction: column;
}

.fixed {
  position: fixed;
  top: 0;
}

.header {
  padding: 18px 24px;
  border-bottom: 1px solid var(--porcelain);
  box-shadow: 0 4px 12px rgba(24, 27, 43, 0.04);
}

.title {
  @include text('body-3', 'm');

  margin: 0 0 12px;
}

.count {
  color: var(--waterloo);
}

.anomaly {
  margin-top: 12px;
}

.selector {
  flex: 1;
  overflow: hidden;

  &:hover {
    overflow-y: auto;
    overflow-y: overlay;
  }
}

.loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
}
