@import '~@santiment-network/ui/mixins';
@import '../variables';

.wrapper {
  width: $sidebar-width;
  background: var(--white);
  border-right: 1px solid var(--porcelain);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 22;
  transform: translate(-$sidebar-width + 12px, 0);
}

.wrapper_transition {
  transition: transform 200ms;
}

.content {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toggle {
  width: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  user-select: none;
  border-right: 1px solid var(--porcelain);
  background: var(--white);
  display: flex;
}

.close {
  @include text('caption', 'm');

  position: absolute;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transform: rotate(270deg);
  color: var(--waterloo);
  fill: var(--waterloo);
  top: 68px;
  left: -39px;
  padding: 0 8px 3px;
  cursor: pointer;

  &,
  &::after {
    background: var(--white);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &::after {
    position: absolute;
    content: '';
    z-index: -1;
    top: 8px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border: 1px solid var(--porcelain);
    border-top: 0;
  }

  &::before {
    content: 'Lock Sidebar';
  }

  &:hover {
    color: var(--jungle-green);
    fill: var(--jungle-green);
  }
}

.icon {
  transform: rotate(270deg);
  margin: 0 0 0 8px;
}

.wrapper_opened,
.wrapper_locked {
  transform: translate(0, 0);

  .toggle {
    background: none;
  }
}

.wrapper_locked {
  transition: none;
  position: sticky;
  top: 0;

  .close::before {
    content: 'Hide Sidebar';
  }

  .icon {
    transform: rotate(90deg);
  }
}

.header {
  padding: 12px 24px 16px;
  border-bottom: 1px solid var(--porcelain);
  box-shadow: 0 4px 12px rgba(24, 27, 43, 0.04);
}

.count {
  color: var(--waterloo);
}

.anomaly {
  margin-top: 12px;
}

.selector {
  flex: 1;
  overflow: hidden;

  &:hover {
    overflow-y: auto;
    overflow-y: overlay;
  }
}

.loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
}

.tabs {
  border: none;
  margin: 0 0 16px;
  display: flex;
}

.tab {
  padding: 0 8px 7px;
  margin: 0;
  color: var(--casper);
  font-weight: 600;
  flex: 1;
  justify-content: center;
}

.selectedTab {
  color: var(--rhino);
}
