@import '~@santiment-network/ui/mixins';
@import '../variables';

.wrapper {
  width: $sidebar-width;
  background: var(--white);
  border-right: 1px solid var(--porcelain);
  display: flex;
  flex-direction: column;
  z-index: 21;
  height: 100vh;
  top: 0;
  position: sticky;
  align-self: flex-start;
}

.fixed {
  position: fixed;
  top: 0;
  height: 100vh;
}

.header {
  padding: 12px 24px 16px;
  border-bottom: 1px solid var(--porcelain);
  box-shadow: 0 4px 12px rgba(24, 27, 43, 0.04);
}

.count {
  color: var(--waterloo);
}

.anomaly {
  margin-top: 12px;
}

.selector {
  flex: 1;
  overflow: hidden;

  &:hover {
    overflow-y: auto;
    overflow-y: overlay;
  }
}

.loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
}

.toggle {
  display: flex;
  height: 48px;
  width: 13px;
  justify-content: flex-end;
  position: absolute;
  top: 41px;
  right: -13px;
  cursor: pointer;
  background: var(--white);
  border: 1px solid var(--porcelain);
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.close {
  white-space: nowrap;
  display: flex;
  align-items: center;
  fill: var(--casper);
  height: 100%;
  transform: rotate(180deg);
  padding-right: 4px;

  &:hover {
    fill: var(--jungle-green);
  }
}

.icon {
  transform: rotate(180deg);
  margin: 0 8px;
}

.toggle_closed {
  position: fixed;
  border-radius: 4px;
  background: var(--jungle-green);
  color: var(--white);
  right: initial;
  top: 137px;
  left: -52px;
  width: auto;
  height: auto;
  border: none;
  padding: 7px 16px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  transform: rotate(-90deg);
  z-index: 1;

  &:hover {
    background: var(--jungle-green-hover);
  }

  &::before {
    content: 'Show metrics';

    @include text('caption', 'l');
  }

  .close {
    fill: var(--white) !important;
    transform: rotate(90deg);
    padding: 0;
    margin: -1px -4px 0 6px;
  }
}

.tabs {
  border: none;
  margin: 0 0 16px;
  display: flex;
}

.tab {
  padding: 0 8px 7px;
  margin: 0;
  color: var(--casper);
  font-weight: 600;
  flex: 1;
  justify-content: center;
}

.selectedTab {
  color: var(--rhino);
}
