@import '~@santiment-network/ui/mixins';

.btn {
  border: 1px solid var(--porcelain);
  text-decoration: none;
  padding: 8px 10px;
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  align-items: center;
  justify-content: center;
  fill: var(--rhino);

  @include responsive('phone-xs') {
    margin-right: 0;
  }

  &:last-child {
    margin: 0;
  }

  &:hover {
    .twitter {
      fill: #1da1f2 !important;
    }

    .telegram {
      fill: #08c !important;
    }

    .facebook {
      fill: #3b5998 !important;
    }

    .reddit {
      fill: #ff4301 !important;
    }

    .linkedin {
      fill: #0e76a8 !important;
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
  text-align: center;
  transition: fill 0.2s ease-out;
}

.share {
  display: flex;

  @include responsive('phone-xs', 'phone') {
    justify-content: space-between;
  }
}

.block {
  margin-top: 24px;
}

.title {
  margin-bottom: 16px;

  @include text('body-3');
}
