@import '~@santiment-network/ui/mixins';

.btn {
  border: 1px solid var(--porcelain);
  color: var(--mirage);
  text-decoration: none;
  padding: 8px 10px;
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;

  &:last-child {
    margin: 0;
  }

  &:hover {
    .twitter {
      fill: #1da1f2 !important;
    }

    .telegram {
      fill: #08c !important;
    }

    .facebook {
      fill: #3b5998 !important;
    }

    .reddit {
      fill: #ff4301 !important;
    }

    .linkedin {
      fill: #0e76a8 !important;
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
  text-align: center;
  fill: var(--rhino) !important;
}

.share {
  display: flex;
}

.block {
  margin-top: 32px;
}

.title {
  margin-bottom: 8px;
}
