@import '~@santiment-network/ui/mixins';

.loader {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5px;
}

.block {
  margin-bottom: 70px;
  width: 100%;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    margin-bottom: 30px;
  }
}

.block__lists {
  @include grid-wrap(3);
}

.insights {
  margin-top: -40px;
}

.page {
  @include responsive('phone', 'phone-xs') {
    margin: 0;
  }
}

.back {
  @include responsive('phone', 'phone-xs') {
    padding-left: 0;
  }
}

.header {
  padding-bottom: 0 !important;

  @include responsive('phone', 'phone-xs') {
    margin: 0 16px;
  }
}

.watchlists {
  @include responsive('laptop', 'desktop') {
    grid-template-columns: 1fr 1fr 1fr !important;
  }

  @include responsive('tablet', 'phone') {
    grid-template-columns: 1fr 1fr !important;
  }
}

.card {
  padding: 24px !important;
}
