@import '~@santiment-network/ui/mixins';

.loader {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5px;
}

.block {
  margin-bottom: 70px;
  width: 100%;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    margin-bottom: 30px;
  }
}

.page {
  @include responsive('phone', 'phone-xs') {
    margin: 0;
  }
}

.header {
  padding-bottom: 0 !important;

  @include responsive('phone', 'phone-xs') {
    margin: 0 16px;
  }
}

.watchlists {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    width: auto;
    margin: 0 !important;
  }
}

.watchlist {
  margin-bottom: 24px !important;
  width: calc(50% - 14px);
  min-width: 458px;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    min-width: auto;
    width: 100%;
  }
}

.card {
  padding: 24px !important;
}
