@import '~@santiment-network/ui/mixins';

.container {
  padding: 0 !important;
  max-width: 100% !important;
  position: relative;
  margin: 0 auto !important;
  background: var(--athens);
}

.inner {
  max-width: 1152px;
  margin: auto;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    padding: 0 16px;
  }
}

.content {
  display: flex;

  @include responsive( 'tablet','phone', 'phone-xs') {
    flex-direction: column;
  }
}

.pageDescription {
  display: flex;
  flex-direction: column;
}

.block {
  margin: 80px 0;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    margin: 40px 0;
  }
}

.header {
  background: var(--white);
  padding: 32px 0 40px 0;

  @include responsive( 'tablet','phone', 'phone-xs') {
    padding: 16px 16px 24px 16px;
  }
}

.title {
  color: var(--rhino);
  margin: 0;

  @include text('h3');

  @include responsive( 'tablet','phone', 'phone-xs') {
    @include text('h4');
  }
}

.subHeader {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px 0;
}

.subTitle {
  color: var(--rhino);
  display: flex;
  text-align: center;

  @include text('h4', 'm');

  @include responsive( 'tablet','phone', 'phone-xs') {
    @include text('body-2','m');
  }
}

.subDescr {
  @include text('body-2');

  margin-top: 4px;
  color: var(--waterloo);
}

.description {
  color: var(--waterloo);
  margin-top: 16px;
  max-width: 600px;

  @include text('body-2');

  @include responsive( 'tablet','phone', 'phone-xs') {
    margin-top: 8px;
  }
}

.footer {
  margin-top: 80px !important;
}

.upgrade {
  margin-left: 24px;
  min-width: 52px;
  height: 24px;
  background: var(--texas-rose-light-2);
  padding: 6px;
  color: var(--texas-rose);
  width: initial;
}

.crown {
  fill: var(--texas-rose);
  margin-right: 8px;
}
