@import '~@santiment-network/ui/mixins';
@import '../../animations';

.wrapper {
  width: 100%;
  padding: 18px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--athens);
  transform-origin: top center;
  animation-name: grow;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.title {
  @include text('body-2', 'm');

  margin: 0 0 8px;
  color: var(--dodger-blue);
}

.desc {
  @include text('body-1', 'm');

  margin: 0;
  max-width: 332px;
}

.media {
  height: 104px;
  width: 230px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.info,
.media {
  animation-name: shiftDown, appear;
  animation-delay: 0.4s, 0;
  animation-timing-function: ease-in-out;
  animation-duration: 1s, 0.5s;
  animation-fill-mode: both;
}
