@import '~@santiment-network/ui/mixins';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;

  @include responsive('phone', 'phone-xs') {
    grid-template-columns: 1fr;
  }

  @include responsive('laptop', 'tablet') {
    grid-template-columns: 1fr 1fr;
  }

  & iframe {
    width: 100%;
    height: 100%;
  }
}

.useLink {
  display: flex;
  align-items: center;
  color: var(--jungle-green);
  fill: var(--jungle-green);

  @include text('body-2');

  &:hover {
    color: var(--jungle-green-hover);
    fill: var(--jungle-green-hover);
  }
}

.useIcon {
  margin-left: 8px;
  width: 8px;
  height: 6px;
}

.innerContainer {
  position: relative;
}

.template {
  padding: 16px 20px;
  border-radius: $border-radius;
  border: 1px solid var(--porcelain);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--white);
}

.description {
  @include text('body-3');

  margin-top: 8px;
  color: var(--waterloo);
}

.header {
  display: flex;
}

.title {
  @include text('body-2', 'l');

  color: var(--rhino);
  word-break: break-word;
  padding-right: 32px;
}

.new {
  margin-right: 8px;
}

.block {
  margin-top: 6px;
}

.avatarBlock {
  margin: 16px 0 0;
}

.preview {
  border-radius: $border-radius;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.video {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 144px;
  width: 352px;
  margin-bottom: 33px;
}

.playBtn {
  z-index: 1;
}

.menuBtn {
  z-index: 100;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  box-shadow: none;
  fill: var(--waterloo);
}
