@import '~@santiment-network/ui/mixins';

.new {
  margin-right: 8px;
}

.link {
  color: var(--rhino);
}

.create {
  border: 1px dashed var(--porcelain);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--rhino);
  min-height: 130px;

  @include text('body-2', 'm');

  &:hover {
    cursor: pointer;
    border: 1px dashed var(--jungle-green-hover);

    .link {
      color: var(--jungle-green-hover);
    }
  }
}

.loader {
  font-size: 10px;
}

.svg {
  margin-bottom: 8px;
}
