@import '~@santiment-network/ui/mixins';

.container {
  background: var(--white);
}

.chart {
  height: 400px;
  background-position: center;
  min-width: 600px;
  position: relative;
}

.watermark {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 67%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include responsive('tablet', 'laptop', 'phone', 'phone-xs') {
    display: none;
  }
}

.ticker {
  word-break: break-all;
  padding: 4px 4px 0 4px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;

  @include text('caption');

  &:hover {
    color: var(--jungle-green);
  }
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
