@import '~@santiment-network/ui/mixins';

.container {
  background: var(--white);
}

.chart {
  height: 440px;
  background: url('./../../../../src/assets/watermark.svg') no-repeat;
  background-position: center;
  min-width: 600px;

  @include responsive('tablet', 'laptop', 'phone', 'phone-xs') {
    background: none;
    overflow: auto;
  }
}

.ticker {
  @include text('caption'); }
