@import '~@santiment-network/ui/mixins';

.container {
  background: var(--white);
}

.chart {
  height: 440px;
  background-position: center;
  min-width: 600px;
  position: relative;
}

.watermark {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 67%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include responsive('tablet', 'laptop', 'phone', 'phone-xs') {
    display: none;
  }
}

.ticker {
  @include text('caption');
}
