@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: none;
  padding: 10px 24px 24px 24px !important;
  width: 600px;

  @include responsive('phone', 'phone-xs') {
    width: 100%;
  }
}

.title {
  border: 0;
  display: flex;
  justify-content: flex-end;
  background-color: var(--white);
  padding: 24px 24px 0 24px !important;
}

.join {
  @include text('h4', 'm');

  text-align: center;
  color: var(--rhino);
  margin-top: 4px;

  @include responsive('phone', 'phone-xs') {
    @include text('h4');
  }
}

.description {
  @include text('body-2');

  text-align: center;
  color: var(--waterloo);
  margin-top: 24px;
  max-width: 80%;

  @include responsive('phone', 'phone-xs') {
    @include text('body-3');
  }
}

.btn {
  height: 40px;
  width: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
  color: white !important;

  @include responsive('phone', 'phone-xs') {
    margin-bottom: 0;
  }
}
