@import '~@santiment-network/ui/mixins';

.wrapper {
  position: relative;
  margin-bottom: 12px;
}

.title {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-right: 18px;
  padding-left: 28px;

  &__notActive {
    cursor: default;
  }
}

.info {
  position: absolute;
  right: 0;
  top: 4px;
  fill: var(--casper);
  margin-left: auto;
  cursor: pointer;

  &:hover {
    fill: var(--rhino);
  }
}

.checkbox {
  position: absolute;
  top: 2px;
  left: 0;
}

.toggle:hover .checkbox div {
  border-color: var(--jungle-green);
}

.toggle__disabled:hover .checkbox div {
  border-color: var(--porcelain);
}

.explanation {
  color: var(--waterloo);
  margin-left: 6px;
}
