@import '~@santiment-network/ui/mixins';

.wrapper {
  position: relative;
  margin-bottom: 12px;
}

.title {
  display: inline-block;
  vertical-align: middle;
  margin-right: 18px;
  padding-left: 28px;
}

.toggle {
  cursor: pointer;

  &:hover {
    color: var(--mirage);
  }

  &__notActive {
    cursor: default;

    &:hover {
      color: var(--rhino);
    }
  }

  &__disabled {
    color: var(--mystic);

    &:hover {
      color: var(--mystic);
    }
  }
}

.info {
  position: absolute;
  right: 0;
  top: 4px;
  fill: var(--casper);
  margin-left: auto;
  cursor: pointer;

  &:hover {
    fill: var(--rhino);
  }
}

.checkbox {
  position: absolute;
  top: 2px;
  left: 0;
}

.explanation {
  color: var(--waterloo);
  margin-left: 6px;
}

.deprecated {
  &__tooltip {
    max-width: 199px;
    min-width: auto;
    width: auto;
  }

  &__label {
    border-radius: 4px;
    margin: 0 2px 0 6px;
    background-color: var(--mystic);
    color: var(--white);
    padding: 2px 4px;

    @include text('caption', 'm');

    &:hover {
      background-color: var(--casper);
    }
  }
}
