@import 'mixins.scss';

.title {
  margin-bottom: 1rem;
}

.cloud {
    width: 100%;
}

.searchContainer {
  display: flex;
  width: 100%;

  input {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

/* stylelint-disable */
@include responsive('desktop') {
  .title h1 {
    width: 392px;
    line-height: 37px !important;
    font-size: 32px !important;
  }

  section {
    width: 49%;
  }
}
/* stylelint-enable */
