@import '~@santiment-network/ui/variables.scss';
@import './../../mixins.scss';

$top: 22px;

.text {
  font-family: Rubik, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  // color: $dark-gray;
  color: var(--grey-dark);

  &_big,
  &_medium {
    // color: #7a859e;
      color: var(--grey-dark-2);
  }

  &_big {
    font-size: 28px !important;
  }

  &_medium {
    font-size: 20px !important;
  }
}

.hint {
  margin-top: 8px;
  margin-left: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  // color: #7a859e;
  color: var(--grey-dark-2);
  display: flex;
  align-items: center;
}

.hint strong {
  // color: $black;
    color: var(--black);
}

/* stylelint-disable */
@include responsive('desktop') {
  .wrapper {
    width: 49%;
  }
}
/* stylelint-enable */
