@import '~@santiment-network/ui/mixins';

$top: 22px;

.text {
  font-family: Rubik, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  color: var(--casper);
}

.score {
  position: relative;
  background-color: var(--athens);
  width: 24px;
  height: 24px;
  color: var(--mirage);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  top: -32px;
  right: -10px;
  font-size: 9px;
}

.hint {
  margin-top: 8px;
  margin-left: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  color: var(--grey-dark-2);
  display: flex;
  align-items: center;
}

.hint strong {
  color: var(--black);
}

.heading {
  margin-right: 8px;
}

/* stylelint-disable */
@include responsive('desktop') {
  .wrapper {
    width: 49%;
  }
}
/* stylelint-enable */
