@import '~@santiment-network/ui/variables.scss';
@import './../../mixins.scss';

$top: 22px;

.text {
  font-family: Rubik, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  color: var(--casper);
  font-size: 12px !important;

  &_medium {
    color: var(--mirage);
    font-size: 18px !important;
  }

  &_big {
    color: var(--dodger-blue);
    font-size: 28px !important;
    font-weight: 800 !important;
  }
}

.hint {
  margin-top: 8px;
  margin-left: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  color: var(--grey-dark-2);
  display: flex;
  align-items: center;
}

.hint strong {
  color: var(--black);
}

/* stylelint-disable */
@include responsive('desktop') {
  .wrapper {
    width: 49%;
  }
}
/* stylelint-enable */
