@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  @include text-normal;

  display: inline-flex;
  align-items: center;
  cursor: pointer;
  line-height: 20px;
  color: var(--mirage);
  fill: var(--casper);
}

.icon {
  height: 10.15px;
  width: 12px;
  margin-right: 6px;
}

.info {
  color: var(--waterloo);
  fill: var(--mystic);
  cursor: default;
}

.active {
  &:hover {
    color: var(--jungle-green);
    fill: var(--jungle-green);
  }
}

.liked {
  fill: var(--persimmon);
}
