@import "~@santiment-network/ui/mixins.scss";

.wrapper {
    @include text-normal;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    line-height: 20px;
    color: var(--black);
    stroke: var(--grey-dark);
    fill: transparent;
    stroke-width: 1.5;
}

.icon {
    margin-right: 6px;
}

.liked {
    stroke: var(--red);
    fill: var(--red);
}
