.santokens {
    position: fixed;
    left: 25px;
    bottom: 25px;
    z-index: 1000;
    padding: 20px 24px;
}

.tokensvg {
    margin-right: 22px;
}

.main {
    max-width: 292px;
    margin-right: 7px;
}

.title {
    color: var(--rhino);
}

.larnbtn {
    padding: 8px 20px;
    display: inline-block;
}