@import '~@santiment-network/ui/mixins';

.checkbox {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  min-width: 50px;

  &:hover div div {
    border-color: var(--jungle-green);
  }
}
