@import "~@santiment-network/ui/mixins";

.container {
  margin-top: 14px;
  display: flex;
}

.name {
  color: var(--waterloo) !important;
  word-break: break-word;

  &:hover {
    color: var(--jungle-green-hover) !important;
  }
}

.right {
  margin: 0 0 0 12px;
  display: flex;
  align-items: center;

  @include text('caption');
}

.withoutUser {
  margin: 0;
}

.fromDate {
  color: var(--waterloo);
}

.avatar {
  width: 32px;
  height: 32px;
}
