@import "~@santiment-network/ui/mixins";

.right {
  margin: 0 0 0 12px;
  display: flex;
  align-items: center;
  color: var(--waterloo) !important;
  word-break: break-word;

  @include text('caption');
}

.container {
  margin-top: auto;
  display: flex;
  cursor: pointer;

  &:hover {
    .right {
      color: var(--jungle-green-hover) !important;
    }
  }
}

.withoutUser {
  margin: 0;
}

.fromDate {
  color: var(--waterloo);
}

.avatar {
  width: 32px;
  height: 32px;
}
