@import '~@santiment-network/ui/variables.scss';
@import '~@santiment-network/ui/mixins';

.colBox {
  border-radius: $border-radius;
  display: inline-block;
  padding: 38px;
  min-height: 300px;
  position: relative;
  overflow: hidden;
  color: white;

  &:hover {
    color: white;
  }
}

.cardTitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 16px;
  position: relative;
}

.cardDescription {
  @include text('body-2');

  position: relative;
  max-width: 410px;
}

.cardButton {
  position: absolute;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  right: 45px;
  bottom: 24px;
  cursor: pointer;
}

.cardBg {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.cardhover {
  pointer-events: none;
}
