@import '~@santiment-network/ui/variables.scss';
@import '../../mixins.scss';

.colBox {
  width: 48%;
  padding: 0 15px;
  margin: 0 30px 30px 0;
  box-shadow: 0px 4px 50px rgba(21, 24, 31, 0.02);
  border-radius: $border-radius;
  display: inline-block;
  padding: 38px;
  min-height: 300px;
  position: relative;
  overflow: hidden;
  color: var(--white);

  &:nth-of-type(even) {
    margin-right: 0;
  }

  &:hover {
    color: var(--white);
  }

  @include responsive('phone', 'phone-xs') {
    width: auto;
    margin: 15px 10px;

    &:nth-child(2){
      margin-right: 10px;
    }
  }
}

.cardTitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 16px;
  position: relative;
}

.cardDescription {
  font-size: 16px;
  position: relative;
}

.cardButton {
  position: absolute;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  right: 45px;
  bottom: 24px;
  cursor: pointer;
}

.cardBg {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}
