@import '~@santiment-network/ui/mixins.scss';

.img {
  margin-top: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include responsive('phone', 'phone-xs') {
    margin-top: 22vh;
  }
}

.empty__text {
  @include responsive('desktop', 'laptop', 'tablet') {
    display: flex;
    align-items: baseline;
    margin-left: 55px;
    flex-direction: column;
  }

  @include responsive('phone', 'phone-xs') {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.empty__row {
  margin-bottom: 50px;

  @include responsive('desktop', 'laptop', 'tablet') {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}

.emptyText {
  display: block;
  width: 274px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  color: var(--rhino);
}

.emptyBtn {
  justify-content: center;
  align-items: center;
  width: 160px;
  margin-top: 16px;
}
