@import "~@santiment-network/ui/mixins";
@import "../../../../animations";

.tables {
  display: flex;
  justify-content: space-between;
  animation-name: shiftUp;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
}

.table {
  flex: 1;
  margin-right: 15px;

  &:last-child {
    flex: 3;
    margin-right: 0;
  }

  @include responsive('phone', 'phone-xs') {
    border: none !important;
    box-shadow: none;
  }
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--porcelain);
}

.mobileTabs {
  flex-direction: row-reverse;
}

.tab {
  min-width: 100px;
  padding: 14px 16px;
  color: var(--waterloo);

  @include text('body-2');
}

.active {
  color: var(--jungle-green);
  border-bottom: 1px solid var(--jungle-green);
}

.loader {
  font-size: 7px;
  justify-content: center;
  margin: 30vh auto;
}
