.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;
}

.title {
  margin-bottom: 24px;
}

.titleBlock {
  height: 100px;
  margin-bottom: 16px;
}

.descriptionBlock {
  height: 140px;
  margin-bottom: 24px;
}
