@import '~@santiment-network/ui/mixins';

.container {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--porcelain);
  min-height: 60px;
  padding: 17px 20px;

  @include responsive('phone', 'phone-xs') {
    align-items: flex-end;
  }
}

.connect {
  @include text('body-3');

  color: var(--jungle-green);
  margin-top: 5px;
  cursor: pointer;
}

.left {
  margin-right: 15px;

  @include responsive('phone', 'phone-xs') {
    margin: 0;
  }
}

.right {
  margin-left: auto;
}

.inputContainer {
  @include responsive('phone', 'phone-xs') {
    display: flex;
    flex-direction: column;
    height: auto !important;
  }
}

.inputContainerRight {
  @include responsive('phone', 'phone-xs') {
    display: flex;
    margin-top: 10px;
  }
}

.inputContainerLeft {
  @include responsive('phone', 'phone-xs') {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.inputContainerLabel {
  margin: 0 0 0 auto;
}

.notifications {
  display: flex;
}

.dialog {
  min-width: 637px;

  @include responsive('phone', 'phone-xs') {
    min-width: initial;
  }
}
