.chart {
  margin-top: 24px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ebeef5;
  min-width: 49%;
  min-height: 170px;
  display: inline-block;
  border-radius: 4px;
  padding: 12px 24px;

  & :global(.recharts-yAxis .recharts-cartesian-axis-tick:first-child) {
    display: none;
  }
  :global(.recharts-cartesian-axis-tick) {
    font-family: Rubik;
    font-size: 10px;
    & text {
      fill: #adb6cd;
    }
  }
}

.info {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  color: #79849e;
}

.slug {
  color: #15181f;
}
