#root {
  	height: 100%;
}

.loader {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.loader img {
  animation: load 1s infinite alternate;
}

@keyframes load {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}
