@import '~@santiment-network/ui/mixins';

.wrapper {
  flex: 1 1;
}

.content {
  flex: 1 1;
}

.link {
  --color: var(--waterloo);
  --color-hover: var(--green);
}

.arrow {
  fill: var(--waterloo);
}

.main {
  flex: 1;
}

.divider {
  width: 1px;
  background-color: var(--porcelain);
}

.sidebar {
  padding: 24px 0;
}
