@import '~@santiment-network/ui/mixins';

.wrapper {
  flex: 1 1;
}

.content {
  flex: 1 1;

  :global(.phone) &,
  :global(.tablet) &,
  :global(.phone-xs) & {
    flex-direction: column;
  }
}

.main {
  flex: 1;
}

.mainEmptySearch {
  order: 3;
  margin-bottom: 40px;
}

.sidebar {
  padding: 24px 0;

  :global(.phone) &,
  :global(.tablet) &,
  :global(.phone-xs) & {
    padding: 0;
    margin-bottom: 64px;
  }
}

.link {
  --color: var(--waterloo);
  --color-hover: var(--green);
}

.arrow {
  fill: var(--waterloo);
}

.divider {
  width: 1px;
  background-color: var(--porcelain);
}

.popularTrends {
  --margin: 0;
}
