@import '~@santiment-network/ui/mixins';

.input {
  & button svg:last-of-type {
    box-sizing: content-box;
  }

  padding-right: 40px;

  &:hover {
    cursor: text;
  }

  @include responsive('phone', 'phone-xs') {
    padding-right: 0;
    margin-bottom: 74px;
  }
}

.button {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  height: auto;
  background-color: var(--athens);

  @include responsive('phone', 'phone-xs') {
    top: calc(100% + 8px);
    left: 0;
    right: 0;
    height: 40px;
  }
}

.limit {
  top: calc(100% + 8px);
  right: 0;
  position: absolute;
  color: var(--waterloo);

  @include text('body-3');
}

.content {
  display: flex;
  align-items: center;
}

.toggle {
  margin-right: 8px;
}
