@import '~@santiment-network/ui/mixins';

.input {
  & button {
    min-height: 32px;
    height: auto;

    & svg:last-of-type {
      box-sizing: content-box;
      min-width: 6px;
    }
  }

  padding-right: 40px;

  &:hover {
    cursor: text;
  }

  @include responsive('phone', 'phone-xs') {
    padding-right: 0;
    margin-bottom: 74px;

    & button {
      min-height: 40px;
    }
  }
}

.button {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  height: auto;
  background-color: var(--athens);

  @include responsive('phone', 'phone-xs') {
    top: calc(100% + 8px);
    left: 0;
    right: 0;
    height: 40px;
  }
}

.limit {
  top: calc(100% + 8px);
  right: 0;
  position: absolute;
  color: var(--waterloo);

  @include text('body-3');
}

.content {
  display: flex;
  align-items: center;
}

.toggle {
  margin-right: 8px;
}

.link {
  color: var(--rhino);

  &:hover {
    color: var(--jungle-green);
  }
}

.hidden {
  opacity: 0;
  position: absolute;
  left: 0;
}

.wrapper {
  position: relative;
  display: flex;
  color: var(--rhino);

  &:hover {
    color: var(--jungle-green);
  }
}

.hiddenToggle {
  z-index: 1000;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
}
