@import '~@santiment-network/ui/mixins';

.input {
  & button {
    min-height: 32px;
    height: auto;

    & svg:last-of-type {
      box-sizing: content-box;
      min-width: 6px;
    }
  }

  padding-right: 110px;

  &:hover {
    cursor: text;
  }

  @include responsive('phone', 'phone-xs') {
    padding-right: 0;
    margin-bottom: 74px;

    & button {
      min-height: 40px;
    }
  }
}

.button {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  height: auto;
  background-color: var(--athens);
  align-items: center;

  &:hover {
    color: var(--jungle-green);
    fill: var(--jungle-green);
  }

  @include responsive('phone', 'phone-xs') {
    top: calc(100% + 8px);
    left: 0;
    right: 0;
    height: 40px;
  }
}

.plus {
  margin-right: 11px;
  transform: rotate(45deg) scale(0.8);
}

.limit {
  top: calc(100% + 8px);
  right: 0;
  position: absolute;
  color: var(--waterloo);

  @include text('body-3');
}

.content {
  display: flex;
  align-items: center;
}

.toggle {
  margin-right: 8px;

  &.active {
    rect {
      fill: var(--waterloo) !important;

      &:hover {
        fill: var(--waterloo) !important;
      }
    }
  }
}

.link {
  color: var(--rhino);

  &:hover {
    color: var(--jungle-green);
  }
}

.btn {
  width: auto;
  padding: 0;
}
