@import '~@santiment-network/ui/mixins';

.sidebar {
  display: flex;
  flex-direction: row;
  width: 100%;

  @include responsive('desktop', 'laptop') {
    position: absolute;
    top: 70px;
    right: 0;
    height: calc(100vh - 70px);
    flex-direction: column;
    width: 350px;
    margin: 0 10px 0 24px;
    padding: 22px 24px;
    overflow: hidden;
    border-left: 1px solid var(--porcelain);

    &:hover {
      overflow-y: auto;
      overflow-y: overlay;
    }
  }

  @include responsive('phone-xs', 'phone') {
    flex-direction: column;
  }
}

.fixed {
  @include responsive('desktop', 'laptop') {
    position: fixed;
    top: 0;
    height: 100vh;
  }
}

.trends {
  @include responsive('tablet') {
    margin-left: 50px;
  }
}

.cloud {
  min-width: 281px;
  height: 190px;
  border-radius: 0;
  border-left: none;
  border-right: none;
  margin: 22px 0;

  @include responsive('tablet') {
    height: auto !important;
    margin-top: 0;
    border: none !important;
  }

  &__header {
    border: none;
    padding: 24px 0 5px;

    @include responsive('tablet') {
      padding: 0 0 5px;
    }
  }
}
