@import '~@santiment-network/ui/mixins';

.sidebar {
  position: sticky;
  top: 24px;
  width: 320px;
}

.calendar {
  fill: var(--casper);
  margin-left: auto;
}

.footer {
  padding: 0;
  margin-bottom: 0;
}

.footerVersionDivider {
  display: none;
}
