@import '~@santiment-network/ui/mixins';

.img {
  background: var(--porcelain);
  border-radius: $border-radius;
  width: 622px;
  height: 432px;
}

.cropBtn {
  margin-left: auto;
}

.actions {
  width: 100%;
  margin-top: 23px;
  display: flex;
}

.wrapper {
  padding: 24px;
}
