@import '~@santiment-network/ui/mixins';

.img {
  background: var(--porcelain);
  border-radius: $border-radius;
  width: 622px;
  height: 432px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
}

.cropBtn {
  margin-left: auto;
}

.actions {
  width: 100%;
  margin-top: 23px;
  display: flex;
}

.wrapper {
  padding: 24px;
  position: relative;
}
