@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.wrapper {
  display: grid;
  grid-row-gap: 24px;

  @include responsive('laptop', 'desktop') {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 32px;
    grid-template-areas:
      'card confirmation'
      'address confirmation';
  }
}

@include responsive('laptop', 'desktop') {
  .card {
    grid-area: card;
  }

  .address {
    grid-area: address;
  }

  .confirmation {
    grid-area: confirmation;
  }
}

.top {
  @include text('body-3');

  color: var(--waterloo);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 16px;
  position: relative;

  &__cards {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__visa {
    margin-right: 16px;
  }
}

.form {
  border-radius: 4px;
  padding: 24px 32px;
  border: 1px solid var(--porcelain);

  &_filled {
    background: var(--athens);
  }
}

.toggle {
  @include text('body-3');

  color: var(--waterloo);
  fill: var(--waterloo);
  margin: 0 0 15px;
  user-select: none;

  svg {
    height: 13px;
    width: 13px;
    margin: 0 5px -1px 0;
  }
}

.row {
  display: flex;
}

.input {
  height: 40px;
  margin-bottom: 16px;

  &:hover,
  &:focus {
    border-color: var(--jungle-green);
  }

  &_last {
    margin: 0;
  }
}

.label_card {
  :global {
    .StripeElement {
      border: 1px solid var(--porcelain);
      box-sizing: border-box;
      border-radius: 4px;
      display: block;
      padding: 11px 10px;
      outline: 0;
      background: var(--white);
      margin-bottom: 5px;
      height: 40px;

      &--focus {
        border-color: var(--jungle-green);
      }

      &--invalid {
        border-color: var(--persimmon);
      }
    }
  }
}

.label {
  @include text('caption', 'l');

  color: var(--waterloo);
  flex: 1;
  margin-bottom: 3px;
  position: relative;

  &_cvc {
    margin-left: 16px;
  }
}

.bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.tooltip {
  z-index: 1000;

  &__content {
    width: 340px;
    padding: 12px 20px 20px;
  }

  &__text {
    @include text('caption');

    color: var(--waterloo);
  }
}

.icon {
  width: 13px;
  height: 13px;
  fill: var(--casper);
  vertical-align: text-top;
  margin-left: 5px;
  cursor: pointer;

  &_active {
    fill: var(--jungle-green);
  }
}

.cards {
  display: flex;
  justify-content: space-between;
}

.title {
  @include text('caption', 'l');

  margin: 12px 0 4px;
}

.magnet {
  height: 22px;
  background: $mirage;
}

.block {
  width: 90%;
  height: 20px;
  background: $white;
  border-radius: 2px;
  margin: 6px auto;
  text-align: right;
}

.number {
  position: relative;

  @include text('caption', 'l');

  color: var(--casper);
  margin-top: 30px;
  text-align: center;
}
