@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.form {
  height: calc(100% - 36px);
}

.dai {
  @include text('caption');
}

.contact {
  margin-left: 4px;
  text-decoration: underline;
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.discount {
  position: relative;
  margin-bottom: 16px;
  margin-top: 3px;

  &__icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    fill: var(--persimmon);
  }
}

.label {
  @include text('caption', 'l');

  color: var(--waterloo);
}

.check {
  color: var(--waterloo);

  &__label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__discount {
    color: var(--jungle-green);
  }

  &__total {
    display: flex;
    justify-content: space-between;
    color: var(--rhino);
    padding-top: 20px;
    border-top: 1px solid var(--porcelain);
    margin-top: 16px;
    align-items: flex-end;

    @include text('body-2', 'm');
  }

  &__price {
    @include text('h4', 'l');
  }
}

.valid {
  fill: var(--jungle-green);
}

.plan {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 24px;

  &__check {
    box-sizing: content-box;
    fill: var(--jungle-green);
    padding: 12px 11px;
    height: 7.5px;
    width: 10px;
    background: #ccf2e7;
    border-radius: 50%;
    margin-right: 12px;
  }

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__price {
    @include text('body-1');

    font-weight: bold;
    color: var(--mirage);
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__save {
    @include text('caption');

    color: var(--jungle-green);
  }

  &__right {
    color: var(--casper);
    text-align: right;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }

  &__year {
    @include text('h3');

    color: var(--rhino);
  }

  &__month {
    @include text('body-3', 'l');

    color: var(--waterloo);
  }
}

.hold {
  position: relative;
  border-radius: $border-radius;
  color: var(--mirage);
  fill: var(--mirage);
  padding: 12px 16px 8px 40px;
  background: var(--jungle-green-light);
  margin-bottom: 32px;

  &__icon {
    position: absolute;
    left: 17px;
    top: 12px;
    width: 16px;
    height: 16px;
  }
}

.btn {
  height: 40px;
  justify-content: center;
  margin: 20px 0 12px;
  color: var(--white);
  background: var(--jungle-green) !important;
  width: 100% !important;
  padding: 10px 20px !important;

  @include text('body-3');

  &:hover {
    color: var(--white) !important;
    background: var(--jungle-green-hover) !important;
  }
}

.expl {
  @include text('caption', 'm');

  color: var(--waterloo);
  text-align: center;
  margin: 12px 0 0 0;
}

.input {
  height: 40px;

  &:hover,
  &:focus {
    border-color: var(--jungle-green);
  }
}

.learn {
  margin-left: 4px;
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}
