@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.form {
  height: calc(100% - 36px);
}

.dai {
  @include text('caption');
}

.contact {
  margin-left: 4px;
  text-decoration: underline;
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.discount {
  position: relative;
  margin-bottom: 16px;
}

.label {
  @include text('caption', 'l');

  color: var(--waterloo);
}

.check {
  color: var(--waterloo);

  &__label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__discount {
    color: var(--jungle-green);
  }

  &__total {
    display: flex;
    justify-content: space-between;
    color: var(--mirage);
    padding-top: 25px;
    border-top: 1px solid var(--porcelain);
    margin-top: 24px;
  }

  &__price {
    @include text('h4', 'l');

    font-weight: bold;
  }
}

.valid {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  fill: var(--jungle-green);
}

.plan {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 19px;

  &__check {
    box-sizing: content-box;
    fill: var(--jungle-green);
    padding: 12px 11px;
    height: 7.5px;
    width: 10px;
    background: #ccf2e7;
    border-radius: 50%;
    margin-right: 12px;
  }

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__price {
    @include text('body-1');

    font-weight: bold;
    color: var(--mirage);
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__save {
    @include text('caption');

    color: var(--jungle-green);
  }

  &__right {
    color: var(--casper);
    text-align: right;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }

  &__year {
    font-size: 32px;
    font-weight: normal;
    line-height: 40px;
    color: var(--waterloo);
  }

  &__month {
    @include text('body-3', 'l');

    color: var(--waterloo);
  }
}

.hold {
  position: relative;
  border-radius: 4px;
  color: var(--mirage);
  padding: 12px 16px 8px 40px;
  background: #ecfaf6;
  margin-bottom: 44px;

  &__icon {
    position: absolute;
    left: 17px;
    top: 15px;
  }
}

.btn {
  height: 40px;
  justify-content: center;
  margin: 37px 0 16px;
  color: var(--white);
  background: var(--jungle-green) !important;
  width: 100% !important;
  padding: 6px 12px !important;

  &:hover {
    color: var(--white) !important;
    background: var(--jungle-green-hover) !important;
  }
}

.expl {
  @include text('caption');

  color: var(--waterloo);
  text-align: center;
}

.input {
  height: 40px;

  &:hover,
  &:focus {
    border-color: var(--jungle-green);
  }
}

.learn {
  margin-left: 4px;
  color: var(--jungle-green);
  text-decoration: underline;

  &:hover {
    color: var(--jungle-green-hover);
  }
}
