@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  @include text('body-1');

  font-weight: bold;
  color: var(--mirage);
  text-transform: lowercase;
  position: relative;

  &::first-letter {
    text-transform: uppercase;
  }
}

.icon {
  margin-left: 10px;
  fill: var(--casper);

  &_active {
    fill: var(--jungle-green);
    transform: rotate(180deg);
  }
}

.holder {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover .icon {
    fill: var(--jungle-green);
  }
}

.dropdown {
  border: 1px solid var(--porcelain);
  overflow: hidden;
  border-radius: 4px;
  background: var(--white);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  user-select: none;
}

.option {
  @include text('body-3');

  position: relative;
  cursor: pointer;
  padding: 8px 16px;
  white-space: nowrap;

  &:last-child {
    border-top: 1px solid var(--porcelain);
  }

  &:hover {
    background: var(--athens);
  }
}

.save {
  @include text('caption');

  color: var(--jungle-green);

  &_drop {
    margin-left: 24px;
  }
}

.price {
  font-weight: bold;
}

.active::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  width: 3px;
  height: 3px;
  background: var(--jungle-green);
  border-radius: 50%;
}
