@import '~@santiment-network/ui/variables.scss';
@import '~@santiment-network/ui/mixins';

.banner {
  &__top {
    margin-bottom: 50px;
    border-radius: 4px;

    @include responsive('phone-xs', 'phone') {
      margin-bottom: 40px;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    color: $white;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
    color: $bali-hai;
    width: 400px;

    @include responsive('phone-xs') {
      width: 90%;
    }

    @include responsive('phone') {
      width: 60%;
    }
  }
}

.advantages {
  display: flex;
  justify-content: space-between;

  @include responsive('phone-xs') {
    flex-direction: column;
  }
}

.advantage {
  display: flex;
  color: var(--waterloo);
  align-items: center;

  @include responsive('phone-xs', 'phone', 'tablet') {
    flex-direction: column;
  }

  @include responsive('phone-xs', 'phone') {
    margin-bottom: 32px;
  }

  &__img {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 50%;
    background: linear-gradient(135deg, #dcf6ef 0%, #b9eddf 100%);
    fill: var(--jungle-green);
    display: flex;
    align-items: center;
    justify-content: center;

    @include responsive('phone-xs','phone', 'tablet') {
      margin-bottom: 16px;
    }
  }

  &__text {
    max-width: 235px;

    @include responsive('phone', 'tablet') {
      text-align: center;
      max-width: 185px;
    }

    @include responsive('phone-xs') {
      text-align: center;
    }
  }
}
