@import '~@santiment-network/ui/variables.scss';
@import '~@santiment-network/ui/mixins';

.banner {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 60px 33px 24px;
    background-color: $mirage;
    background-repeat: no-repeat;
    background-image: url(./wavesB.svg);
    background-position: 110% 35%;
    background-size: 57%;

    @include responsive('phone-xs', 'phone') {
      align-items: baseline;
      flex-direction: column;
      padding: 33px 24px;
    }

    @include responsive('phone') {
      background-size: 95%;
      background-position: 600% 60%;
    }

    @include responsive('phone-xs') {
      background-size: 115%;
      background-position: -250% 57%;
    }
  }

  &__left {
    flex: 1;
  }

  &__title {
    margin-bottom: 4px;
  }

  &__description {
    margin: 0;
    width: 100%;

    @include responsive('phone-xs', 'phone') {
      margin-bottom: 16px;
    }
  }

  &__btn {
    width: 180px;
    justify-content: center;
    height: 40px;
  }
}
