@import '~@santiment-network/ui/variables.scss';
@import '~@santiment-network/ui/mixins';

.banner {
  &__top {
    padding: 20px 24px;
    background-color: $mirage;
    background-image: url(./waves.svg);
    background-repeat: no-repeat;
    background-position: 107% 57%;
    background-size: 52%;

    @include responsive('phone', 'tablet') {
      background-size: 95%;
      background-position: 600% 60%;
    }

    @include responsive('phone-xs') {
      background-size: 115%;
      background-position: -250% 57%;
    }
  }

  &__title {
    margin-bottom: 4px;
  }

  &__description {
    margin-bottom: 16px;
  }
}
