.wrapper {
  display: flex;
  align-items: center;
}

.btn {
  width: 24px;
  height: 24px;
  max-width: 24px;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  fill: var(--rhino);

  &.stroke {
    stroke: var(--rhino);
  }

  &:hover {
    background: var(--athens);
    fill: var(--rhino);

    &.stroke {
      stroke: var(--rhino);
    }
  }

  &_active {
    &,
    &:hover {
      background: var(--jungle-green-light);
      fill: var(--jungle-green);

      &.stroke {
        stroke: var(--jungle-green);
      }
    }
  }
}

.drawing {
  position: relative;
}

.divider {
  height: 24px;
  border: 1px solid var(--porcelain);
  margin: 0 8px;
}
