.wrapper {
  display: flex;
  align-items: center;
}

.btn {
  width: 24px;
  height: 24px;
  max-width: 24px;
  padding: 0;
  align-items: center;
  justify-content: center;

  &:hover {
    background: var(--athens);
    fill: var(--rhino);
  }

  &_active {
    &,
    &:hover {
      background: var(--jungle-green-light);
      fill: var(--jungle-green);
    }
  }
}
