@import '~@santiment-network/ui/mixins';

.container {
  background: var(--white);
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  border-radius: $border-radius;
  padding: 24px 55px 10px 24px;
  overflow: auto;

  @include responsive('tablet', 'laptop', 'phone', 'phone-xs') {
    padding: 24px 24px 10px 24px;
  }
}

.toggle {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.toggleText {
  margin-left: 16px;
}
