@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  padding: 16px 24px 24px 24px;
  width: 600px;
  flex-direction: column;

  @include responsive('phone-xs', 'phone') {
    width: 100%;
  }
}

.title {
  padding: 16px 24px !important;
  color: var(--rhino);

  @include text('body-2', 'm');
}

.btn,
.input {
  height: 32px;
  @include text('body-3');
}

.btn {
  justify-content: center;
  padding: 10px 20px;
}

.input {
  padding-left: 10px;
  padding-right: 10px;
}

.textarea {
  border-radius: $border-radius;
  margin: 0;
  padding: 10px;
  color: var(--rhino);
  background: var(--white);
  border: 1px solid var(--porcelain);
  min-height: 80px;
  resize: vertical;
  outline: none;

  @include text('body-3');

  &::placeholder {
    color: var(--casper);
  }

  &:hover,
  &:focus {
    border: 1px solid var(--jungle-green);
  }
}

.actions {
  display: flex;
  align-items: center;
  margin-top: 24px;

  @include responsive('phone-xs', 'phone') {
    flex-direction: column-reverse;
  }
}

.toggle {
  width: auto;
  margin-left: auto;
  padding-right: 0;

  @include responsive('phone-xs', 'phone') {
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 16px;
  }
}

.error {
  min-height: 22px;
}

.name__label {
  margin-bottom: 4px;
}

.description__label {
  margin: 17px 8px 0 4px;
}

.mrhalf {
  margin-right: 8px;
}

.mlzero {
  margin-left: 0 !important;
}

.arrow {
  transition: transform 0.25s ease-in-out;
}

.arrowup {
  transform: rotate(180deg);
}

.selector {
  position: relative;
  padding: 0 10px;

  &:hover, &:focus {
    border: 1px solid var(--jungle-green);
  }
}

.searchInput {
  border: none;
  padding: 0px;
  width: 100%;
  height: 99.9%;
}

.panel {
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 197px;
  height: auto;
  overflow-y: auto;
  top: 120%;
  z-index: 100;
  padding: 12px 17px;
  opacity: 1;
  transition: all 0.25s ease-in-out;
}

.hide {
  opacity: 0;
  height: 0;
}

.groupLabel {
  @include text('caption', 'l');

  display: flex;
  align-items: center;
  color: var(--waterloo);
  margin-bottom: 8px;
}

.groupLabel_mt {
  margin-top: 12px;
}

.assetItem {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 2px;
  padding: 8px 0;
}

.logo {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  margin-left: 8px;
}