@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  align-items: center;

  @include responsive('laptop', 'tablet') {
    flex-wrap: wrap;
  }

  @include responsive('phone-xs', 'phone') {
    flex-direction: column;
    align-items: baseline;
  }
}

.settings {
  display: flex;
  align-items: center;
  margin-left: auto;

  @include responsive('phone-xs', 'phone') {
    margin-left: 0;
    margin-top: 16px;
  }
}
