
@import "~@santiment-network/ui/variables.scss";
@import "~@santiment-network/ui/mixins.scss";

.wrapper {
    box-sizing: border-box;
    background-color: $white;
    border: 1px solid $light-gray2;
    width: 49%;
    height: 170px;
    display: inline-block;
    border-radius: $border-radius;
    padding: 12px 24px;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.msg {
    @include text-normal;
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.info {
    @include text-normal;
    color: #79849e;
}

.word {
    color: $black;
}
