@import '~@santiment-network/ui/variables.scss';
@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  box-sizing: border-box;
  background-color: var(--white);
  border: 1px solid var(--porcelain);
  width: 100%;
  height: 230px;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.msg {
  @include text-normal;

  text-align: center;
  font-size: 20px;
  margin: 0;
  color: var(--grey-dark);
}

.loader {
  font-size: 7px;
}

.info {
  @include text-normal;

  color: var(--grey-dark-2);
  border-bottom: 1px solid var(--porcelain);
  padding: 10px 24px;
  display: flex;
}

.content {
  padding: 10px 24px;
  flex: 1;
  position: relative;
}

.word {
  color: var(--black);
  margin-right: 5px;
}
