@import '~@santiment-network/ui/mixins';

.wrapper {
  box-sizing: border-box;
  background-color: var(--white);
  border: 1px solid var(--porcelain);
  width: 100%;
  height: 230px;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.msg {
  text-align: center;
  margin: 0;
  color: var(--waterloo);

  @include text('body-1');
}

.loader {
  font-size: 7px;
}

.info {
  @include text-normal;

  color: var(--waterloo);
  border-bottom: 1px solid var(--porcelain);
  padding: 10px 24px;
  display: flex;
  align-items: center;
}

.content {
  padding: 14px 10px 6px;
  flex: 1;
  position: relative;
}

.word {
  color: var(--rhino);
  margin-right: 5px;

  @include text('body-3', 'bold');
}
