@import '~react-virtualized-select/styles.css';
@import "~@santiment-network/ui/mixins.scss";
@import "~@santiment-network/ui/variables.scss";

:global {
  .Select-control {
    height: 32px;
    padding: 4px 0 0 0;
    border-color: var(--porcelain);
    background: var(--white);

    &:hover {
      box-shadow: none;
      border-color: var(--jungle-green);
    }
  }

  .Select-menu-outer {
    background: var(--white);
    border-color: var(--porcelain);
  }

  .Select-menu {
    min-height: 40px;
  }

  .Select-placeholder {
    color: var(--casper) !important;
    line-height: 37px !important;
  }

  .Select {
    &.is-focused > .Select-control {
      background: var(--white) !important;

      & .Select-placeholder {
        top: 1px;
      }
    }
  }

  .Select-input {
    height: 32px;

    & > input {
      color: var(--mirage);
      padding: 8px 0;
    }
  }

  .Select--multi {
    .Select-value-icon,
    .Select-value-label {
      padding: 0;
    }

    .Select-value-icon {
      margin-left: 8px;
      color: var(--waterloo);

      &:hover {
        background-color: transparent;
        color: var(--jungle-green);
      }
    }

    .Select-value {
      margin: 0 0 4px 4px;
      vertical-align: middle;
      border-color: var(--porcelain);
      border-radius: $border-radius;
      background-color: var(--athens);
      color: var(--mirage);
      padding: 3px 8px;
    }
  }

  .Select--single > .Select-control .Select-value {
    color: var(--casper) !important;
    line-height: 37px !important;
  }

  .ReactVirtualized__List {
    padding: 8px;
  }

  .VirtualizedSelectOption {
    padding: 6px 8px;
    border-radius: 4px;
  }

  .VirtualizedSelectFocusedOption {
    background: var(--grey-light) !important;
  }
}
