@import 'variables.scss';
@import 'mixins.scss';
@import "~@santiment-network/ui/mixins.scss";

.wrapper {
  width: 100%;
  max-width: 496px;
  position: relative;
  padding: 10px 20px;
}

.closeButton {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 15px;
  fill: var(--waterloo);
  z-index: 100;
}

.signalPreview {
  display: block !important;
  padding: 15px 15px 0 15px;
  background: var(--white);
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  border-radius: 4px;
}

.Trigger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 448px;
  padding: 0 20px 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;

  @include text-normal;
}

.messages {
  margin: 1rem 0;
}

.TriggerChart {
  margin-bottom: 1rem;
}

.connectLink {
  @include text-normal;
}

span.connectLink {
  color: var(--dodger-blue) !important;
  margin-left: 0.3rem;
}

a.connectLink {
  margin-left: 0;
  padding-left: 0;
  color: var(--mirage) !important;
}

.notifyBlock {
  display: flex;

  div:first-child {
    margin-right: 25px !important;
  }
}

.Field {
  text-align: left;
  width: 50%;
  padding-right: 1rem;
  user-select: none;
  margin-bottom: auto;

  @include text-normal;
}

.isRepeating {
  display: flex;
  align-items: center;

  div:first-child {
    margin-right: 0.5rem;
  }
}

.repeatingItem {
  cursor: pointer;
}

.Field:last-child {
  padding-right: 0;
}

.Field:only-child {
  padding-right: 1rem;
}

label {
  color: var(--waterloo);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  line-height: 18px;
  font-size: 12px;
}

.controls {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 20px;
  bottom: 20px;

  button {
    width: 92px;
    justify-content: center;
    margin-right: 1rem;
  }

  button:last-child {
    margin-right: 0;
  }
}

.timeWindow {
  display: flex;
  align-items: center;
}

.timeWindowInput {
  flex: 1;
  width: 50%;
  margin-right: 8px;
}

.timeWindowUnit {
  width: 50%;
  flex: 1;
}

.frequency {
  display: flex;
  align-items: center;
}

.frequencyTimeValue {
  flex: 1;
  width: 50%;
  margin-right: 8px;
}

.frequencyTimeType {
  width: 50%;
  flex: 1;
}

.AboutForm {
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 4px;
  padding-bottom: 20px;

  .Field {
    width: 100%;
    padding: 0;
  }

  .row {
    margin: 0 0 15px 0;
  }

  .controls {
    margin-top: 1.1rem;
  }
}

.triggerFormItem {
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
}

.triggerToggleBlock {
  display: flex;
  padding: 10px;

  @include text-normal;
}

.triggerToggleLabel {
  margin-left: 20px;
}

a {
  &:hover {
    fill: var(--jungle-green);
  }
}

@include responsive('desktop') {
  .wrapper {
    width: 100%;
  }
}
