@import '~@santiment-network/ui/mixins.scss';

$trigger-form-width: 534px;

.wrapper {
  position: relative;
  width: $trigger-form-width;
  padding: 0;

  @include responsive('phone', 'phone-xs') {
    width: 100%;
  }
}

.loading {
  padding: 20px 0;
  text-align: center;
}

.closeButton {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 15px;
  fill: var(--waterloo);
  z-index: 100;
}

.signalPreview {
  display: block !important;
  position: relative;
  padding: 15px;
  background: var(--white);
  border: 1px solid var(--porcelain);

  @include border-box();

  border-radius: $border-radius;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;

  @include text('body-3');

  &:first-child {
    margin-top: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:empty {
    margin: 0;
  }
}

.rowTop {
  margin-top: 0 !important;
}

.rowBottom {
  margin-bottom: 0 !important;
}

.messages {
  margin: 1rem 0;
  display: inline-block;
}

.TriggerChart {
  margin-bottom: 1rem;
}

span.connectLink {
  color: var(--dodger-blue) !important;
  margin-left: 0.3rem;
}

a.connectLink {
  margin-left: 0;
  padding-left: 0;
  color: var(--mirage) !important;
}

.notifyBlock {
  display: flex;
  margin-top: 5px;

  div:first-child {
    margin-right: 20px;
  }
}

.connectLink {
  @include text('body-3');
}

.Field {
  text-align: left;
  width: 50%;
  user-select: none;
  margin-bottom: auto;
  padding-right: 0;
  padding-left: 8px;
  display: flex;
  flex-direction: column;

  @include text('body-3');

  &:first-child {
    padding-right: 8px;
    padding-left: 0;
  }
}

.rowTimeWindow {
  margin-bottom: 12px;
}

.fieldFilled {
  width: 100%;
  padding: 0 !important;
}

.isRepeating {
  display: flex;
  align-items: center;

  div:first-child {
    margin-right: 0.2rem;
  }
}

.repeatingItem {
  cursor: pointer;
}

.Field:last-child {
  padding-right: 0;
}

.Field:only-child {
  padding-right: 1rem;
}

.timeWindow {
  display: flex;
}

.timeWindowInput {
  flex: 1;
  margin-right: 8px;
}

.timeWindowUnit {
  flex: 1;
}

.frequency {
  display: flex;
}

.frequencyTimeValue {
  flex: 1;
  margin-right: 8px;
  width: 100px;
}

.frequencyTimeType {
  flex: 1;
  width: 100px;
}

.selector {
  width: 100%;
}

.triggerFormItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px 20px;
  margin-top: 0;
  border-radius: 0;
}

.lastPrice {
  @include text('body-3');

  font-size: 10px;
  color: var(--casper);
  margin-left: 2px;
  margin-top: 1px;
}

.triggerToggleBlock {
  display: flex;

  @include text('body-3');
}

.triggerToggleLabel {
  margin-left: 20px;
}

.timeWindowExplanation {
  @include text('body-3');

  font-size: 10px;
  color: var(--casper);
  margin-left: 2px;
  margin-top: 1px;
}

a {
  &:hover {
    fill: var(--jungle-green);
  }
}

.createWatchlist {
  height: 32px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.descriptionBlock {
  margin-top: 20px;
}

.submitButton {
  width: 120px;
  margin-left: auto;
}

.descriptionTextarea {
  border: 0 !important;
  padding: 0 !important;
}

.chainBlock {
  margin-top: 20px;
}

.preview {
  position: relative;
}
