@import '~@santiment-network/ui/mixins';

$trigger-form-width: 560px;
$trigger-form-field-margin: 24px;
$trigger-shared-form-width: 496px;

.wrapper {
  position: relative;
  width: $trigger-form-width;
  padding: 0;

  @include responsive('phone', 'phone-xs') {
    width: 100%;
  }
}

.sharedForm {
  max-width: $trigger-shared-form-width;
}

.loading {
  padding: 20px 0;
  text-align: center;
}

.closeButton {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 15px;
  fill: var(--waterloo);
  z-index: 100;
}

.signalPreview {
  display: block !important;
  position: relative;
  padding: 15px;
  background: var(--white);
  border: 1px solid var(--porcelain);

  @include border-box();

  border-radius: $border-radius;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: $trigger-form-field-margin;

  @include text('body-3');

  &:first-child {
    margin-top: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:empty {
    margin: 0;
  }
}

.rowTop {
  margin-top: 0 !important;
}

.rowBottom {
  margin-bottom: 0 !important;
}

.rowSingle {
  margin: 0 !important;
}

.messages {
  margin-top: 10px;
}

.messagesText {
  @include text('caption');
}

.openSettings {
  cursor: pointer;
}

.link {
  color: var(--persimmon);
}

.notifyBlock {
  display: flex;
  margin-top: 5px;
  align-items: center;
  flex-wrap: wrap;
}

.labelClassName {
  margin-right: 20px;
}

.Field {
  text-align: left;
  width: 50%;
  user-select: none;
  margin-bottom: auto;
  padding-right: 0;
  padding-left: 8px;
  display: flex;
  flex-direction: column;

  @include responsive('phone', 'phone-xs') {
    @include text('body-2');
  }

  &:first-child {
    padding-right: 8px;
    padding-left: 0;
  }
}

.rowTimeWindow {
  margin-bottom: 12px;
}

.fieldFilled {
  width: 100%;
  padding: 0 !important;
}

.isRepeating {
  display: flex;
  align-items: center;
}

.checkboxLabel {
  cursor: pointer;
  margin: 2px 20px 0 10px !important;
  color: var(--mirage);

  @include text('body-3');
}

.Field:last-child {
  padding-right: 0;
}

.timeWindow {
  display: flex;
}

.timeWindowInput {
  flex: 1;
  margin-right: 8px;
  max-width: 72px;
}

.timeWindowUnit {
  flex: 1;
}

.frequency {
  display: flex;
}

.frequencyTimeValue {
  flex: 1;
  margin-right: 8px;
  max-width: 64px;
}

.frequencyTimeType {
  flex: 1;
  width: 100px;
}

.selector {
  width: 100%;

  @include responsive('phone', 'phone-xs') {
    display: flex;
    height: auto;
    flex-direction: column;
    padding: 5px;

    div {
      width: 100%;
    }
  }
}

.triggerFormItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px 20px;
  margin-top: 0;
  border-radius: 0;
}

.lastPrice {
  @include text('body-3');

  font-size: 10px;
  color: var(--casper);
  margin-left: 2px;
  margin-top: 1px;
}

.triggerToggleBlock {
  display: flex;

  @include text('body-3');
}

.triggerToggleLabel {
  margin-left: 20px;
}

.timeWindowExplanation {
  @include text('body-3');

  font-size: 10px;
  color: var(--casper);
  margin-left: 2px;
  margin-top: 1px;
}

a {
  &:hover {
    fill: var(--jungle-green);
  }
}

.createWatchlist {
  height: 32px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.descriptionBlock {
  margin-top: 20px;
}

.submitButton {
  width: 120px;
  margin-left: auto;
  display: flex;
  justify-content: center;

  @include responsive('phone-xs') {
    width: 100%;
  }
}

.descriptionTextarea {
  border: 0 !important;
  padding: 0 !important;

  @include responsive('phone-xs', 'phone') {
    font-size: 16px !important;
    line-height: 24px !important;
  }
}

.chainBlock {
  margin-top: 20px;
}

.preview {
  position: relative;
}

.previewWithDiviver {
  padding-top: 22px;
}

.checkboxBlock {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.explanation {
  z-index: 1000 !important;
}

.requiredChannelExplanation {
  margin-top: 2px;
  cursor: pointer;
  color: var(--jungle-green);
}

.percentagesBlock {
  display: flex;
  flex-direction: row;

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
  }
}

.percentages {
  display: flex;
  align-items: center;
}

.fieldTimeWindow {
  @include responsive('phone', 'phone-xs') {
    padding: 0;
  }
}

:global(.Select-value) {
  @include responsive('phone', 'phone-xs') {
    @include text('body-2');
  }
}

.tooltip {
  z-index: 1000;
  max-width: 231px;
}

.question {
  margin: 0;
}
