@import '~@santiment-network/ui/mixins';

.tooltip {
  z-index: 1000;
}

.trigger {
  padding: 8px;
  margin-right: 8px;
}

.img {
  width: 16px;
  height: 16px;
}

.button {
  margin: 1px 0;
  padding: 6px 8px;
  width: 100%;
  color: var(--fiord);

  &:hover {
    color: var(--rhino);
  }

  &__disabled {
    color: var(--waterloo);
    cursor: not-allowed;
  }
}

.panel {
  padding: 8px;
  width: 182px;

  & img {
    margin-right: 10px;
  }
}
