@import '~@santiment-network/ui/mixins';

.container {
  position: relative;
  min-height: 664px;
}

.table {
  width: 100%;
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  border-spacing: 0;
  overflow: hidden;
  text-align: left;
}

.header {
  @include text('caption');

  background: var(--athens);
  color: var(--casper);

  :global(th) {
    padding: 8px 16px;
    white-space: nowrap;
  }
}

.table :global(td) {
  padding: 8px 16px;
  border-top: 1px solid var(--porcelain);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hash {
  max-width: 0;
  width: 35%;
}

.values {
  max-width: 0;
  width: 35%;
}

.link {
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.asset {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.actor {
  color: var(--waterloo);
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.address {
  color: var(--rhino);
  background: var(--jungle-green-light-2);
  padding: 1px 8px;
  border-radius: 4px;
  margin-left: 4px;
}

.skeleton {
  position: absolute;
  width: 100%;
  top: 0;
}
