@import '~@santiment-network/ui/mixins';

.container {
  position: relative;
  min-height: 664px;
}

.table {
  border: 1px solid var(--porcelain);
  border-radius: 4px;

  :global {
    td {
      border-top: 1px solid var(--porcelain);
    }

    tbody tr {
      height: 62px;
    }
  }
}

.hash {
  max-width: 0;
  width: 30%;
}

.values {
  max-width: 0;
  width: 45%;
}

.link {
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.asset {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.actor {
  color: var(--waterloo);
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.address {
  color: var(--rhino);
  background: var(--jungle-green-light-2);
  padding: 1px 8px;
  border-radius: 4px;
  margin-left: 4px;
}
