@import '~@santiment-network/ui/mixins';

.wrapper {
  flex: 1;
  width: 100%;
  background: #fbfcfe;

  :global(.night-mode) & {
    background: #1a1d2f;
  }
}

.block {
  width: 100%;
  padding: 0 0 36px;

  &_main {
    padding-bottom: 72px;
  }
}

.content {
  max-width: 100%;
  margin: 0 32px;

  &_main {
    display: flex;
  }
}

.title {
  @include text('h4');

  color: var(--rhino);
  margin: 0 0 8px;
}

.subtitle {
  @include text('body-2');

  color: var(--waterloo);
  margin: 0 0 24px;
}

.main {
  flex: 1;
  padding: 0 48px 48px;
  margin: 0 auto;
  max-width: 744px;
  box-sizing: content-box;
  width: auto;
}

.aside {
  margin-top: 32px;
  width: 304px;
  min-width: 304px;
  margin-left: auto;

  @media only screen and (min-width: 1400px) {
    width: 344px;
    min-width: 344px;
  }
}

.anchor {
  @include text('h4', 'm');

  margin: 32px 0 24px 0;
  padding-top: 24px;
  display: block;
  color: var(--rhino) !important;
  cursor: pointer;
}

.sectionContent {
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  background-color: var(--white);
}

.navigation {
  margin-top: 32px;
}
