@import '~@santiment-network/ui/mixins';

.action {
    margin-right: 24px;
    line-height: 0;
  
    svg {
      cursor: pointer;
    }
}

.remove {
  fill: var(--waterloo);
  
  &:hover {
    fill: var(--persimmon);
  }
}
