.btn {
  margin-left: 8px;
  fill: var(--casper);
}

.icon {
  width: 16px;
  height: 16px;
}

.dialog {
  max-width: initial;
  width: 98%;
}

.content {
  padding: 15px;
}

.settings {
  justify-content: flex-end;
}
