@import '~@santiment-network/ui/mixins';

.tooltip {
  z-index: 100;
}

.btn {
  background: var(--texas-rose-light);
  color: var(--texas-rose);
  fill: var(--texas-rose);
  margin-left: 8px;
  white-space: nowrap;

  &:hover {
    background: var(--texas-rose-light-2);
    color: var(--texas-rose);
    fill: var(--texas-rose);
  }
}

.icon {
  margin: -2px 6px 0 0;
}

.content {
  background: var(--white);
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  border-radius: 4px;
  width: 278px;
  padding: 16px 24px;
}

.title {
  @include text('caption', 'm');
}

.text {
  @include text('caption');

  color: var(--waterloo);
}

.upgrade {
  justify-content: center;

  &_trial {
    margin-left: 8px;
    height: 32px;
  }
}

.restriction {
  margin-top: -12px;

  @include text('caption');

  color: var(--waterloo);

  &::before {
    content: '●';
    margin-right: 8px;
  }
}
