@import "~@santiment-network/ui/mixins";

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 4px;
  flex-wrap: wrap;
}

.item {
  display: flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
  padding: 6px 12px;
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--fiord);

  @include text("body-3");
}

.address {
  border-radius: 4px;
  padding: 6px 12px;
  border: 1px solid var(--porcelain);
  margin-top: 0;
  color: var(--fiord);
}

.condition {
  border-radius: 4px;
  padding: 6px 12px;
  border: 1px solid var(--porcelain);
  color: var(--fiord);
}


.conditionType {
  margin-right: 4px;
  color: var(--waterloo);
}


.col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.error {
  margin: 0;
  width: fit-content;
  padding: 6px 10px !important;
}
