@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  min-height: 280px;
}

.new {
  margin-right: 8px;
}

.block {
  flex: 1;
  width: 280px;
  padding: 24px 22px;
}

.block + .block {
  border-left: 1px solid var(--porcelain);
}

.title {
  @include text('body-3');

  color: var(--waterloo);
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 10px;
}

.listWrapper {
  box-sizing: border-box;
  margin: 14px 0 16px 0;
  flex: 1;
  position: relative;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  &:hover {
    overflow-y: auto;
    overflow-y: overlay;
  }
}

.recentList {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
}

.btn {
  color: var(--rhino) !important;
  padding: 6px 10px;
}
