@import '~@santiment-network/ui/mixins';

.createBtn {
  padding: 6px 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 16px 2px 0;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 37px;
}

.description {
  margin-top: 6px;
}

.first {
  margin-top: auto;
  width: 100%;
}

.btnInText {
  padding: 0 2px;
  height: auto;
}
