@import '~@santiment-network/ui/mixins';

.wrapper {
  box-sizing: border-box;
  flex: 1;
  overflow-x: hidden;
  position: relative;
  margin-bottom: 16px;

  @include overlay-scroll;
}

.list {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.watchlistName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;

  &::first-letter {
    text-transform: uppercase;
  }
}

.watchlistNew {
  margin: 10px;
  width: calc(100% - 20px);
  fill: var(--casper);
  justify-content: center;
}

.emptyWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.anon {
  margin-top: auto;
}

.watchlistBtn {
  margin-top: auto;
}

.screenerBtn {
  width: calc(100% - 4px);
}
