@import '~@santiment-network/ui/mixins';

.wrapper {
  padding: 0 16px;
  margin-bottom: 24px;

  @include responsive('laptop', 'desktop') {
    padding: 0;
  }
}

.insightWrapper {
  max-width: 720px;
  margin: 0 auto;
}

.profile {
  margin-bottom: 25px;
}

.tags {
  margin-top: 30px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  border-top: 1px solid var(--porcelain);
  padding: 22px 0;
}

.wrapperBottom {
  display: flex;
  align-items: center;
}

.wrapperAside {
  display: none;

  @include responsive('laptop', 'desktop') {
    position: fixed;
    top: 200px;
    display: flex;
    flex-direction: column;
  }
}

.like {
  margin-right: 11px;
  padding: 10px;
}

.banner {
  margin-top: 50px;
  margin-bottom: 20px;
}
