@import '~@santiment-network/ui/variables.scss';
@import '../../mixins.scss';

.wrapper {
  display: flex;

  @include responsive('tablet', 'phone', 'phone-xs') {
    width: auto;
  }
}

.insights {
  flex: 2 1;
  margin-right: 30px;

  @include responsive('tablet', 'phone', 'phone-xs') {
    margin-right: 0;
  }
}

.featuredInsights {
  flex: 1 1;
  height: 90vh;
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 5vh;
  margin-top: 30px;

  &__title {
    font-family: Rubik, sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: var(--mirage);
    margin: 0;
    margin-bottom: 12px;
  }
}
