.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;

    &__right {
        display: flex;
        align-items: center;
    }
}

.tabs {
    display: block;
    margin-bottom: 40px;
}

.newSignal {
    background: var(--green) !important; // NOTE(vanguard): Delete after updating ui button green variant
    color: var(--white) !important;
    fill: var(--white) !important;

    &__icon {
        height: 18px;
        margin-right: 7px;
    }
}

.sort {
    width: 90px;
    margin-right: 16px;

    :global(.ReactVirtualized__List) { 
        height: auto !important;
    }
}
