@import '../../mixins.scss';

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;

  &__right {
    display: flex;
    align-items: center;
  }
}

.tabs {
  display: block;
  padding: 0 16px;
  margin-bottom: 24px;
}

.title {
  color: var(--mirage);
}

.mainSection {
  padding: 0;
}

.newSignal {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  margin-right: 16px;

  &__icon {
    height: 18px;
    margin-right: 7px;
  }
}

.sort {
  width: 90px;
  margin-right: 16px;

  :global(.ReactVirtualized__List) {
    height: auto !important;
  }
}

@media (min-width: $breakpoint-desktop) {
  .newSignal {
    width: initial;
    margin-bottom: 0;
  }

  .tabs {
    padding: 0;
    margin-bottom: 40px;
  }

  .header {
    flex-direction: row;
    align-items: center;
    margin-bottom: 22px;
  }

  .mainSection {
    padding: 0;
  }
}
