@import "../../mixins.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;

  @include responsive('phone-xs') {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  &__right {
    display: flex;
    align-items: center;
  }
}

.tabs {
  display: block;
  margin-bottom: 40px;

  @include responsive('phone-xs') {
    padding: 0 16px;
    margin-bottom: 24px;
  }
}

.mainSection {
  @include responsive('phone-xs') {
    padding: 0 16px;
  }
}

.newSignal {
  @include responsive('phone-xs') {
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    height: 18px;
    margin-right: 7px;
  }
}

.sort {
  width: 90px;
  margin-right: 16px;

  :global(.ReactVirtualized__List) {
    height: auto !important;
  }
}
