@import 'variables.scss';
@import '../../mixins.scss';

.wrapper {
  padding: 0 16px;
  margin-bottom: 24px;
}

@media (min-width: $breakpoint-desktop) {
  .wrapper {
    padding: 0;
    margin-bottom: 0;
  }
}

.profile {
  margin-bottom: 25px;
}

.tags {
  margin-top: 30px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  border-top: 1px solid var(--porcelain);
  padding: 24px 0;
}

.right {
  display: flex;
  align-items: center;
}

.like {
  margin-right: 31px;
}

.banner {
  margin-top: 50px;
  margin-bottom: 20px;
}
