@import '~@santiment-network/ui/variables.scss';
@import '../../mixins.scss';

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  &__right {
    display: flex;
    align-items: center;
  }

  @include responsive('tablet', 'laptop', 'desktop') {
    flex-direction: row;
    align-items: center;
    margin-bottom: 22px;
  }
}

.tabs {
  display: block;
  padding: 0 16px;
  margin-bottom: 24px;

  @include responsive('laptop', 'desktop') {
    padding: 0;
    margin-bottom: 40px;
  }
}

.title {
  color: var(--mirage);
}

.mainSection {
  padding: 0;
}

.newSignal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  &__icon {
    height: 18px;
    margin-right: 7px;
  }

  @include responsive('phone', 'phone-xs') {
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 12px;
  }
}

.sort {
  width: 90px;
  margin-right: 16px;

  :global(.ReactVirtualized__List) {
    height: auto !important;
  }
}
