@import '~@santiment-network/ui/mixins';

.wrapper {
  padding: 8px 16px;
  min-width: 400px;

  @include responsive('phone', 'phone-xs') {
    min-width: initial;
  }
}

.search {
  margin-bottom: 10px;
}

.projects {
  height: 300px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin: 12px 0;
  padding: 0 10px;

  & > div {
    padding-bottom: 7px;
  }
}
