.wrapper {
  height: 150px;
  width: 100%;
}

.icon {
  margin-right: 8px;
}

.ticker {
  color: var(--waterloo);
  margin-left: 4px;
}

.btn {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;

  &_cursored {
    background: var(--porcelain);
  }
}

.panel {
  padding: 8px;
}
