@import '~@santiment-network/ui/mixins.scss';

.container {
  background: var(--white);
}

.tableWrapper {
  margin: 40px 30px 40px 40px;
}

.table {
  border: none !important;
}

.loading {
  height: 70vh;
}

.treeMaps {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 8px;
  margin: 0 32px 24px 32px;
}

.twoTrees {
  grid-template-columns: 1fr 1fr;
}

.containerTreeMap {
  display: flex;
  height: 158px;
  flex-direction: column;
  width: 100%;
}

.both {
  width: 100%;
}
