@import '../../../mixins.scss';

.wrapper {
  width: 100%;
  margin: 0;
  margin-top: 60px;

  @include responsive('phone-xs', 'phone') {
    padding: 0 20px;
  }
}

.tabsContent {
  display: flex;
  padding: 40px 0;
  margin-top: -1px;
  border-top: 1px solid var(--porcelain);
}

.insights {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  @include responsive('phone-xs') {
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.insight {
  width: 32%;
  min-width: auto;
  margin-bottom: 2%;
  margin-right: 2%;

  @include responsive('desktop', 'laptop') {
    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @include responsive('tablet') {
    width: 49%;
    margin-bottom: 2%;
    margin-right: 2%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include responsive('phone-xs', 'phone') {
    width: 100%;
    margin-bottom: 24px;
    margin-right: 0;
  }
}
