@import '~@santiment-network/ui/mixins';

.wrapper {
  @include responsive('tablet', 'laptop', 'desktop') {
    display: flex;
    align-items: center;
  }

  @include responsive('phone-xs', 'phone') {
    width: 100%;
  }
}

.search {
  margin-right: 1rem;

  @include responsive('phone-xs', 'phone') {
    margin-right: 0;
  }
}
