@import '~@santiment-network/ui/mixins';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  margin-top: 40px;
}

.block {
  background-color: var(--dodger-blue);
  border-radius: 8px;
  color: var(--white);
  padding: 40px 48px;
}

.title {
  color: var(--white);

  @include text('h4', 'l'); }

.description {
  color: var(--white);
  margin-top: 16px;
  max-width: 318px;
  word-break: break-word;
}

.btn {
  margin-top: 22px;
  padding: 8px 10px;
  height: 40px;

  @include text('body-2'); }
