.wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}

.title {
  margin-bottom: 24px;
}

.actionBlock {
  margin-bottom: 16px;
}

.frequencyBlock {
  margin-bottom: 16px;
}

.privacyBlock {
  margin-bottom: 26px;
}

.nextBtn {
  float: right;
  height: 24px;
}

.warning {
  color: var(--rhino);
  padding: 10px 16px;
  width: fit-content;
  background: transparent;
  margin-bottom: 16px;
}
