.wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.title {
  margin-bottom: 24px;
}

.actionBlock {
  height: 270px;
  margin-bottom: 16px;
}

.frequencyBlock {
  height: 116px;
  margin-bottom: 26px;
}

.nextBtn {
  float: right;
  height: 24px;
}
