@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  padding: 0 0 32px;
  margin: -6px 0 32px;
}

.title {
  @include text('h4');

  color: var(--mirage);
  margin: 70px 0 25px;
}

.banner {
  margin-top: 40px;
}

.sidecar__toggle {
  &_assets {
    top: 340px !important;
  }

  &_social {
    top: 390px !important;
  }

  &_assets_wide {
    top: 220px !important;
  }

  &_social_wide {
    top: 270px !important;
  }
}

.stories {
  margin: 0 0 3px;
}

.wideChart {
  max-width: 100%;
  padding: 0;
}
