@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  background: var(--athens);
  padding: 26px 0 32px;
  margin: -32px 0 32px;
}

.title {
  @include text('h4');

  color: var(--mirage);
  margin: 70px 0 25px;
}

.banner {
  margin-top: 40px;
}

.sidecar__toggle {
  top: 400px !important;
}

.stories {
  margin: 0 0 3px;
}
