@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  padding: 0 0 32px;
  margin: -6px 0 0;

  @include responsive('laptop', 'tablet') {
    padding-bottom: 0;
  }
}

.title {
  @include text('h4');

  color: var(--mirage);
  margin: 70px 0 25px;
}

.banner {
  margin-top: 40px;
}

.sidecar__toggle {
  &_assets {
    top: 340px !important;

    @include responsive('laptop', 'tablet') {
      top: 364px !important;
    }
  }

  &_social {
    top: 440px !important;

    @include responsive('laptop', 'tablet') {
      top: 454px !important;
    }
  }

  &_histogram {
    top: 390px !important;

    @include responsive('laptop', 'tablet') {
      top: 414px !important;
    }

    &_wide {
      top: 260px !important;

      @include responsive('laptop', 'tablet') {
        top: 360px !important;
      }
    }
  }

  &_assets_wide {
    top: 210px !important;

    @include responsive('laptop', 'tablet') {
      top: 310px !important;
    }
  }

  &_social_wide {
    top: 310px !important;

    @include responsive('laptop', 'tablet') {
      top: 410px !important;
    }
  }
}

.stories {
  margin: 0 0 3px;
}

.wideChart {
  max-width: 100%;
  padding: 0;

  @include responsive('laptop', 'tablet') {
    padding: 0 15px;
  }
}
