.content {
  height: 100%;
  padding: 32px 24px;
  background: var(--athens);
}

.socialTrendsPeriod {
  margin-top: 0 !important;
}

.socialTrendsForm {
  max-width: 368px;
}

.firstBlock {
  padding-top: 0 !important;
}

:global(.phone-xs) .socialTrendsForm,
:global(.phone) .socialTrendsForm,
:global(.tablet) .socialTrendsForm {
  max-width: 100%;
}
