.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.inputWrapper {
  flex: 1;
  position: relative;
}

.singleInput {
  max-width: 122px;
}

.prefix {
  position: absolute;
  left: 10px;
  top: 7px;
  color: var(--casper);
}

.inputWithPrefix {
  padding-left: 22px;
}
