.content {
  width: 440px;
  margin-bottom: 40px !important;
  max-width: 100%;
}

.actions {
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.toggle {
  margin-right: 12px;
}

.approve {
  margin-left: 16px;
}
