@import '~@santiment-network/ui/mixins.scss';

.content {
  max-width: 100%;
  position: relative;
  overflow: initial;

  @include responsive('tablet', 'laptop', 'desktop') {
    margin-bottom: 30px !important;
    width: 440px;
  }
}

.toggleWrapper {
  display: flex;
  align-items: center;

  @include responsive('tablet', 'laptop', 'desktop') {
    position: absolute;
    bottom: -57px;
  }

  @include responsive('phone-xs', 'phone') {
    margin: 16px 0 8px;
  }
}

.name {
  margin-bottom: 10px;
}

.toggle {
  margin-right: 12px;
}

.approve {
  @include responsive('tablet', 'laptop', 'desktop') {
    margin-left: 16px;
  }
}

.error {
  position: absolute;
  left: 20px;
  top: 100%;
}
