@import "../../mixins.scss";

.wrapper {
  @include responsive('phone', 'phone-xs', 'tablet') {
    width: 100%;
  }
}

.btn {
  display: flex;
  align-items: flex-end;

  @include responsive('phone', 'phone-xs', 'tablet') {
    justify-content: center;
    width: 100%;
    margin: 4px 16px 12px;
  }
}
