@import '~@santiment-network/ui/variables.scss';
@import "~@santiment-network/ui/mixins.scss";
@import "../../mixins.scss";

.wrapper {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-family: 'Rubik', sans-serif;
  color: var(--mirage);
  font-size: 22px;
  line-height: 30px;
  font-weight: normal;
  margin: 0;
}

.createBtn {
  padding-right: 4px;
}

.img {
  height: 240px;
}

.anonBanner {
  margin-top: 26px;
}
