@import '~@santiment-network/ui/variables.scss';
@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  width: 100%;

  @include responsive('phone', 'phone-xs') {
    margin-top: 32px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}

.heading {
  font-family: 'Rubik', sans-serif;
  color: var(--mirage);
  font-size: 22px;
  line-height: 30px;
  font-weight: normal;
  margin: 0;

  &::first-letter {
    text-transform: uppercase;
  }
}

.createBtn {
  padding-right: 4px;
}

.emptyWrapper {
  margin-top: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @include responsive('phone', 'phone-xs') {
    margin-top: 22vh;
  }
}

.emptyText {
  width: 274px;
  margin-bottom: 29px;
  font-size: 16px;
  line-height: 24px;
  color: var(--mirage);
}

.emptyBtn {
  justify-content: center;
  align-items: center;
  width: 200px;
}

.subtitle {
  @include text('body-1', 'm');

  margin: 32px 16px 12px;
}

.overviewInfo {
  margin: 22px 0 56px;
  border-right: none;
}
