@import '~@santiment-network/ui/variables.scss';
@import '~@santiment-network/ui/mixins.scss';
@import '../../mixins.scss';

.wrapper {
  @include text-normal;

  width: 23%;
  margin: 12px 2.6% 12px 0;
  border: 1px solid var(--porcelain);
  border-radius: $border-radius;
  display: inline-block;
  padding: 16px 20px;
  position: relative;
  overflow: hidden;
  color: var(--mirage);
  cursor: pointer;
  transition: all ease-in-out 0.1s;

  @include responsive('laptop', 'desktop') {
    &:nth-child(4n) {
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0 14px 20px rgba(24, 27, 43, 0.06);
      transform: translateY(-4px);

      .name {
        color: var(--jungle-green);
      }
    }
  }

  @include responsive('phone', 'phone-xs', 'tablet') {
    width: 100%;
    margin: 4px 16px;
  }

  @include responsive('tablet') {
    width: 49%;
    margin: 4px 0;
  }
}

.name {
  line-height: 20px;
}

.flexRow {
  display: flex;
  align-items: center;
}

.content {
  justify-content: space-between;
}

.volumeLabel {
  color: var(--waterloo);
  line-height: 20px;
  margin-left: 5px;
}

.change {
  margin-left: 0;
  font-size: 14px;
}

.marketcap {
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  line-height: 30px;
  color: var(--mirage);
  margin-top: 12px;
  margin-bottom: 6px;
}
