@import '~@santiment-network/ui/mixins';

.wrapper {
  margin: 8px 0 0 24px;
  max-height: 600px;
  padding-right: 24px;

  @include overlay-scroll();
}

.block {
  margin-top: 24px;
}

.description {
  margin: 8px 24px 40px 24px;

  @include text('body-3');
}

.title {
  padding: 16px 24px;
  color: var(--rhino);
  background: var(--white);
  margin: 0;

  @include text('body-2', 'm');

  &:hover {
    background: var(--athens);
  }
}

.opened {
  border: none;
}

.expansion {
  margin: 0;
  border: 1px solid var(--porcelain);
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  &:last-child {
    margin-bottom: 24px;
    border-bottom: 1px solid var(--porcelain);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.expansion + .expansion {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn {
  margin-top: 24px;
  padding: 6px 10px 6px 16px;
}

.external {
  margin-left: 8px;
}

.link {
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.skeleton {
  height: 80px;
  margin-bottom: 4px;
}

.pro {
  margin-left: 8px;
}
