@import '~@santiment-network/ui/mixins';

.wrapper {
  width: 100%;
}

:global(.tablet) .wrapper,
:global(.phone) .wrapper,
:global(.phone-xs) .wrapper {
  padding-top: 73px;
}

.centered {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  padding: 16px 40px;
  margin-bottom: 8px;
  background: var(--white);
}

:global(.tablet) .header,
:global(.phone) .header,
:global(.phone-xs) .header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 32px 20px 20px;
  border-bottom: 1px solid var(--athens);
  margin-bottom: 0;
  z-index: 10;
}

.main {
  &_padding {
    padding: 0 40px;
  }
}

:global(.tablet) .main,
:global(.phone) .main,
:global(.phone-xs) .main {
  padding: 24px 20px 51px;
}

.searchIcon {
  display: flex;
  margin-left: auto;
}
