@import '~@santiment-network/ui/mixins';

.wrapper {
  margin: 0 0 48px;

  &:last-child {
    margin: 0;
  }
}

.title {
  @include text('h4', 'm');

  display: flex;
  margin: 0 0 24px;
}

.container {
  background: var(--white);
  border: 1px solid var(--porcelain);
  border-radius: 4px;
}

.row {
  display: flex;
  align-items: center;
  padding: 0 24px;
  min-height: 56px;
  border-bottom: 1px solid var(--porcelain);
  width: 100%;

  &:last-child {
    border-bottom: none;
  }
}
