@import '~@santiment-network/ui/variables';
@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  position: relative;
}

.main {
  position: relative;
  min-height: 100vh;
  flex: 1;
}

.tab {
  background: var(--athens);
  padding: 25px;
  min-height: 100vh;
}
