@import '~@santiment-network/ui/mixins';

.category {
  display: flex;
  flex-direction: column;

  &:last-child {
    padding-bottom: 40px;
  }
}

.category + .category {
  margin-top: 4px;
}

.title {
  margin: 0 0 0 24px;
  color: var(--waterloo);

  @include text('body-3', 'l');
}

.group__title {
  margin: 8px 0 0 24px;
  color: var(--waterloo);

  @include text('caption', 'm');
}

.group .group__title + .group {
  margin-top: 22px;
}

.columns {
  margin: 16px 20px 20px 24px;
}

.draggable {
  position: absolute;
  left: -24px;
  width: 24px;
  top: 0;
  padding-top: 4px;
  height: 100%;
  display: flex;
  justify-content: center;
  fill: var(--rhino);
  cursor: ns-resize !important;
  opacity: 0;
  will-change: opacity;
}

.dragged {
  pointer-events: initial !important;
}

.searchedColumn {
  & .draggable {
    opacity: 0 !important;
    cursor: default !important;
  }

  &:last-child {
    padding-bottom: 12px;
  }
}

.column {
  padding-bottom: 12px;

  &__active {
    z-index: 1100;
    position: relative;

    &:hover .draggable {
      opacity: 1;
    }
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.flat {
  margin-top: 0;
  margin-bottom: 0;
}

.flatGroup {
  margin-top: 0;

  &:first-of-type {
    margin-top: 20px;
  }
}
