@import "~@santiment-network/ui/mixins";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 9px;
  fill: var(--waterloo);
  position: relative;

  &__withLine {
    &::before {
      display: block;
      content: '';
      position: absolute;
      right: -8px;
      height: 24px;
      width: 1px;
      background: var(--porcelain);
    }

    &::after {
      display: block;
      content: '';
      position: absolute;
      right: -8px;
      height: 24px;
      width: 16px;
    }
  }
}

.wrapper {
  width: 320px;
  padding: 20px 0 0 24px;
  user-select: none;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 24px;
    height: 64px;
    z-index: 1;
    background: linear-gradient(180deg, var(--shadowFrom) 0%, var(--shadowTo) 9%, var(--white) 100%);
  }
}

.content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: calc(100vh - 300px);
  max-height: 520px;
}

.search {
  margin: 0 24px 24px 0;
}

.buttons {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px 24px;
  z-index: 1;
  transform: translateY(16px);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in;
  opacity: 0;

  & button {
    margin-right: 16px;
    width: 80px;
    justify-content: center;
  }

  &__active {
    transition: transform 0.3s ease-out;
    opacity: 1;
    transform: translateY(0);
  }
}
