@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 127px 0 80px 0;

  @include responsive('tablet', 'phone', 'phone-xs') {
    margin: 40px 0;
  }
}

.header {
  margin-bottom: 64px;
  text-align: center;

  @include text('h3', 'l');

  @include responsive('tablet', 'phone', 'phone-xs') {
    margin: 0 0 32px 0;

    @include text('h4', 'l');
  }
}

.description {
  @include text('body-2');

  padding: 8px 24px;

  @include responsive('tablet', 'phone', 'phone-xs') {
    padding: 4px 16px 24px 16px;

    @include text('body-3');
  }
}

.list {
  width: 100%;
  max-width: 760px;
}

.title {
  padding: 0 24px;
  margin-bottom: 16px;
  height: 64px;
  display: flex;
  align-items: center;

  @include text('body-1', 'l');

  @include responsive('tablet', 'phone', 'phone-xs') {
    @include text('body-2', 'l');

    padding: 12px 16px;
    margin-bottom: 8px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.opened {
  background: none;
  color: var(--rhino);
}

.link {
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.expansion {
  margin-top: 16px;
}
