@import '~@santiment-network/ui/mixins';

.container {
  padding: 24px 0;
  margin: 0 24px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--porcelain);

  &:last-child {
    border-bottom: none;
  }

  &:first-child {
    padding-top: 20px;
  }
}

.content {
  max-width: 480px;
}

.title {
  @include text('body-2', 'm');
}

.description {
  margin-top: 8px;
  color: var(--waterloo);

  @include text('body-3');
}

.btn {
  margin-left: auto;
  margin-bottom: auto;

  &:focus {
    fill: var(--jungle-green);
  }
}

.disabled {
  fill: var(--mystic) !important;
}

.proLabel {
  margin-left: 12px;
}
