@import '~@santiment-network/ui/mixins';

.wrapper {
    flex: 1;
    width: 100%;
    background: var(--white);
}

.content {
    max-width: 1152px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 24px auto;
}

.leftcol {
    width: 640px;
    margin-right: 48px;
}

.rightcol {
    width: 320px;
}

