@import '~@santiment-network/ui/mixins';

.dialog {
  width: 600px;
  height: 560px;
}

.panel {
  padding: 21px 24px;
}

.info {
  @include text('body-3');
}

.search {
  margin-top: 20px;
  height: 40px;

  input {
    height: 40px;
  }
}

.metrics {
  margin-top: 8px;
}

.metricBtns {
  margin-top: 16px;
}

.actions {
  margin-top: auto;
  padding: 20px 24px;
  justify-content: flex-start;
  border-top: 1px solid var(--porcelain);
}

.compare {
  min-width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel {
  margin-left: 16px;
  min-width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  margin: 0 4px 0 0;
  color: var(--mirage);

  @include text('body-3', 'm');

  &:last-child {
    margin-right: 0;
  }
}

.loader {
  min-height: 260px;
  height: auto;
}

.title {
  @include text('body-2');

  padding: 14px 24px !important;
}
