@import '~@santiment-network/ui/mixins';

.chart {
  margin: 24px 0 16px;
  display: flex;
  flex-direction: column;
}

.label {
  margin: 0 auto;
  position: relative;

  @include text('body-2');

  &::before,
 &::after {
    content: '';
    position: absolute;
    display: block;
    top: 10px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--color);
  }

  &::before {
    left: -10px;
  }

  &::after {
    right: -10px;
  }
}
