@import '~@santiment-network/ui/mixins';

.top {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: var(--athens);
  padding: 0 24px;
  margin-top: 48px;
  z-index: 1;
}

.heading {
  color: var(--waterloo);

  @include text('body-2');
}

.tab {
  color: var(--rhino);

  @include text('body-3');
}

.tab + .tab {
  margin-left: 42px;
}

.icon {
  fill: var(--color);
  margin-right: 11px;
}

.chart {
  margin: 30px 0 0;
}
