@import '~@santiment-network/ui/mixins';

.row {
  padding: 32px 24px;
  border-top: 1px solid var(--porcelain);
}

.heading {
  color: var(--waterloo);
  margin: 0 0 24px;

  @include text('body-3');
}

.button + .button {
  margin-left: 8px;
}
