@import "../../../node_modules/@santiment-network/ui/mixins";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 40px;
}

:global(.laptop) .container,
:global(.phone) .container,
:global(.tablet) .container,
:global(.phone-xs) .container {
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 0;
  padding: 16px 16px 80px;
}

:global(.desktop) .bigImgContainer {
  justify-content: space-between;
  padding-left: 10%;
}

:global(.desktop) .info {
  min-width: 400px;
}

.title {
  @include text("h2", "l");
}

:global(.laptop) .title,
:global(.phone) .title,
:global(.tablet) .title,
:global(.phone-xs) .title {
  @include text("h4", "l");
}

.error {
  margin-top: 32px;

  @include text("body-1", "m");
}

:global(.laptop) .error,
:global(.phone) .error,
:global(.tablet) .error,
:global(.phone-xs) .error {
  @include text("body-2", "m");
}

.eventId {
  &:hover {
    color: var(--jungle-green);
    cursor: pointer;
  }
}

.description {
  @include text("body-1");

  margin-top: 16px;
}

:global(.laptop) .description,
:global(.phone) .description,
:global(.tablet) .description,
:global(.phone-xs) .description {
  @include text("body-2", "m");
}

.btn {
  margin-top: 32px;
  min-width: 146px;
  justify-content: center;
}

:global(.phone) .btn,
:global(.tablet) .btn,
:global(.phone-xs) .btn {
  width: 100%;
}

.img {
  min-width: 600px;
  min-height: 440px;
}

:global(.phone) .img,
:global(.phone-xs) .img,
:global(.tablet) .img {
  margin-left: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 300px;
  padding-bottom: 30px;
}
