@import 'node_modules/@santiment-network/ui/mixins';

.container {
  display: flex;
  max-width: 1152px;
  align-items: center;
  margin: auto;
  gap: 135px;

  :global(.phone-xs) &,
  :global(.phone) &,
  :global(.tablet) &,
  :global(.laptop) & {
    margin: 0;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 0;
    padding: 16px 16px 80px;
  }
}

:global(.desktop) .info {
  min-width: 400px;
}

.title {
  @include text('h4', 'l');

  :global(.desktop) & {
    @include text('h2', 'l');
  }
}

.error {
  margin-top: 32px;

  @include text('body-2', 'm');

  :global(.desktop) & {
    @include text('body-1', 'm');
  }
}

.eventId {
  &:hover {
    color: var(--jungle-green);
    cursor: pointer;
  }
}

.description {
  margin-top: 16px;

  @include text('body-2', 'm');

  :global(.desktop) & {
    @include text('body-1');
  }
}

.btn {
  margin-top: 32px;
  min-width: 146px;
  justify-content: center;

  :global(.phone) &,
  :global(.tablet) &,
  :global(.phone-xs) & {
    width: 100%;
  }
}

.img {
  min-width: 600px;
  min-height: 440px;

  :global(.phone) &,
  :global(.phone-xs) &,
  :global(.tablet) & {
    margin-left: 0;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: 300px;
    padding-bottom: 30px;
  }
}
