@import '~@santiment-network/ui/mixins';

.wrapper {
  margin-bottom: 32px;
}

.title {
  @include text('body-1', 'l');

  margin-top: 0;
  margin-bottom: 13px;
}

.price,
.name {
  @include text('body-3');

  margin: 0;

  @include responsive('phone', 'phone-xs') {
    @include text('body-2');
  }
}

.name {
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  margin: 0 0 0 8px;
}

.ticker {
  text-transform: uppercase;
  color: var(--casper);
}

.item {
  margin-top: 8px;
  padding: 13px 12px;
  border-radius: 4px;
  border: 1px solid var(--porcelain);
  display: flex;
  justify-content: space-between;
  color: var(--rhino);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    @include responsive('laptop', 'tablet', 'desktop') {
      border-color: var(--mystic);
    }
  }
}

.change {
  margin: 0 0 0 12px;
  white-space: nowrap;

  @include responsive('phone', 'phone-xs') {
    @include text('body-2');
  }
}

.group {
  display: flex;

  &:first-child {
    max-width: 50%;

    @include responsive('phone-xs') {
      max-width: 55%;
    }
  }
}

.skeleton {
  height: 48px;

  @include responsive('phone', 'phone-xs') {
    height: 50px;
  }
}

.skeleton + .skeleton {
  margin-top: 8px;
}
