@import "~@santiment-network/ui/mixins.scss";

.label {
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--waterloo);

  @include text('body-3', 'm');
}

.inner {
  margin-bottom: 3px;
}
