@import "~@santiment-network/ui/mixins";

$select-line-height: 30px;
$select-width: 200px;
$select-height: 330px;

.Select-control {
  cursor: pointer;
}

.Select--single {
  .Select-control {
    height: 30px;
    line-height: $select-line-height;
  }

  .Select-value {
    line-height: $select-line-height !important;
  }

  .Select-multi-value-wrapper {
    height: 30px;
    line-height: $select-line-height;
  }
}

.Select--multi {
  position: relative;

  .Select-control {
    height: auto;
  }

  .Select-arrow-zone {
    height: 30px;
  }

  .Select-clear-zone {
    height: 30px;
  }

  .Select-multi-value-wrapper {
    position: relative;
    width: 100%;
  }

  .Select-value {
    display: inline-block;
    box-sizing: border-box;
    background: var(--athens);
    border: 1px solid var(--porcelain);
    border-radius: $border-radius;
    padding: 1px 10px;
    margin: 3px 4px 3px 4px;
    height: 24px;
  }

  .Select-value-label {
    @include text('body-3');

    padding: 0;
  }

  .Select-value-icon {
    padding: 0;
    margin-left: 8px;
  }

  .Select-input {
    height: 24px;
  }
}

.Select.is-disabled {
  .Select-control {
    background-color: var(--athens);
    color: var(--mystic);

    .Select-value-label {
      color: var(--mystic) !important;
    }
  }
}

.VirtualSelectGrid {
  padding: 0 !important;
}

.VirtualizedSelectOption {
  margin: 0 !important;
  border-radius: 0 !important;
}

.Select.is-disabled .Select-value {
  color: var(--mystic) !important;
}

.Select-menu-outer {
  max-height: $select-height;
  min-width: $select-width;
}

.Select-menu {
  max-height: $select-height;
  min-width: $select-width;
}
