@import "~@santiment-network/ui/mixins.scss";

.prefix {
  color: var(--waterloo);
  position: absolute;
  left: 10px;
  top: 5px;
}

.field {
  position: relative;
  text-align: left;
  width: 100%;
}

.inputWithPrefix {
  padding-left: 28px;
}

.input {
  height: 32px;
}
