$select-line-height: 30px;

.select__container-single {
  .Select-control {
    height: 30px;
    line-height: $select-line-height;
  }

  .Select-multi-value-wrapper {
    height: 30px;
    line-height: $select-line-height;
  }

  .Select-value {
    line-height: $select-line-height !important;
  }
}

.select__container-multi {
  position: relative;
}

.VirtualSelectGrid {
  padding: 0 !important;
}

.VirtualizedSelectOption {
  margin: 0 !important;
  border-radius: 0 !important;
}

.Select.is-disabled .Select-value {
  color: var(--mystic) !important;
}
