@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  margin-bottom: 24px;
  flex-direction: column;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.connector {
  margin: 0 4px;
  color: var(--casper);
}
