@import '~@santiment-network/ui/mixins';

.balanceViewContainer {
  margin: 20px;
  width: initial;
}

.historicalBalancePage {
  width: initial !important;
}

.dialog {
  width: 85%;
}

.title {
  display: flex;
  align-items: center;
}
