@import '~@santiment-network/ui/mixins';

.wrapper {
  --table-header-sticky-offset: 64px;
}

.header {
  margin: 0;
  z-index: 1;
  position: sticky;
  top: 0;
}

.labels {
  @include text('caption');

  display: flex;
  margin-top: -4px;
}

.chart {
  stroke-width: 2;
  overflow: visible;
  fill: none;

  --stroke: var(--persimmon);
  --fill: url(#negative-change);

  &_positive {
    --stroke: var(--lima);
    --fill: url(#positive-change);
  }
}

.line {
  stroke: var(--stroke);
}

.area {
  fill: var(--fill);
}

.divider {
  width: 1px;
  height: 32px;
  background: var(--porcelain);
}
