@import '~@santiment-network/ui/mixins';

.left {
  margin-left: auto;
}

.table {
  margin: 0 -32px;

  :global {
    th {
      position: sticky;
      top: 0;

      &:first-child {
        line-height: 0;
      }
    }

    tbody tr:hover {
      background: var(--athens);
    }
  }
}

.labels {
  @include text('caption');

  display: flex;
  margin-top: -4px;
}

.checkbox {
  line-height: 0;
  width: 1px;
}

.index {
  color: var(--waterloo);
}

.chart {
  stroke-width: 2;
  overflow: visible;
  fill: none;

  --stroke: var(--persimmon);
  --fill: url(#negative-change);

  &_positive {
    --stroke: var(--lima);
    --fill: url(#positive-change);
  }
}

.line {
  stroke: var(--stroke);
}

.area {
  fill: var(--fill);
}

.divider {
  width: 1px;
  height: 32px;
  background: var(--porcelain);
}
