@import "~@santiment-network/ui/mixins.scss";

.header {
  display: flex;
  align-items: center;
}

.explanation {
  margin-left: 12px;
  display: flex;
}

.container {
  display: flex;
  margin-left: auto;
}

.select {
  width: 90px;
  margin-right: 10px;
  height: 32px;
}
