@import '~@santiment-network/ui/mixins.scss';

.dialog {
  max-height: 96%;
}

.wrapper {
  padding: 0;
  width: 100%;
  max-width: 448px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  @include responsive('phone-xs', 'phone') {
    width: 100%;
    padding: 0 24px 0;
    margin-top: -12px;
  }
}

.header {
  border-bottom: none;
  padding: 26px 26px 10px !important;
  justify-content: flex-end;
  background: none;

  @include responsive('phone-xs', 'phone') {
    padding: 24px 24px 0 !important;
  }
}

.image {
  min-width: 196px;
  max-width: 196px;
  min-height: 122px;

  @include responsive('phone-xs', 'phone') {
    min-width: 148px;
    max-width: 148px;
    min-height: 92px;
  }
}

.title {
  margin: 32px 0 16px;
  color: var(--rhino);
  text-align: center;

  @include text('h4', 'l');

  @include responsive('phone-xs', 'phone') {
    margin: 16px 0 12px;

    @include text('body-1', 'l');
  }
}

.description {
  margin: 0 0 24px;
  color: var(--waterloo);
  text-align: center;

  @include text('body-3');
}

.toggle {
  margin-right: 9px;

  @include responsive('phone-xs', 'phone') {
    margin-right: 0;
  }
}

.toggleWrapper {
  color: var(--waterloo);
  padding: 0;
  height: auto;
  margin-bottom: 16px;

  &:hover {
    color: var(--rhino);

    @include responsive('phone-xs', 'phone') {
      color: var(--waterloo);
    }
  }

  &.active {
    color: var(--rhino);
  }

  @include responsive('phone-xs', 'phone') {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: row-reverse;
  }
}

.notification {
  margin-top: 16px;
  box-shadow: none;

  @include responsive('phone-xs', 'phone') {
    min-width: auto;
    padding: 24px 0 0;
    border: none;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      background: var(--porcelain);
      border-radius: 4px;
      top: 0;
    }
  }
}

.notificationDescription {
  @include responsive('phone-xs', 'phone') {
    padding-right: 0;
    padding-top: 8px;
  }
}

.notificationTitle {
  @include responsive('phone-xs', 'phone') {
    padding-right: 0;
  }
}

.notificationWarning {
  border-color: $texas-rose-light-2;
  background: $texas-rose-light;

  @include responsive('phone-xs', 'phone') {
    background: none;
    border: none;
  }

  & .notificationDescription {
    @include responsive('tablet', 'laptop', 'desktop') {
      color: $waterloo;
    }
  }

  & .notificationTitle {
    @include responsive('tablet', 'laptop', 'desktop') {
      color: $mirage;
    }
  }
}

.actions {
  padding: 16px 0 50px;
  width: 100%;
  max-width: 448px;
  margin: 0 auto;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  @include responsive('phone-xs', 'phone') {
    padding: 16px 24px 16px;
  }
}

.approve {
  width: 100%;
  height: auto;
  margin: 0;
  justify-content: center;
  padding: 8px 12px;

  @include text('body-2');

  @include responsive('phone-xs', 'phone') {
    padding: 8px;
  }
}

.monitoredContent {
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  height: 190px;

  &__big {
    height: 212px;
  }

  &__hide {
    height: 0;
  }
}
