@import "~@santiment-network/ui/variables.scss";

.icon {
  height: 16px;
  width: 16px;
}

.active {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    background: var(--persimmon);
    box-sizing: content-box;
    top: -1px;
    left: -11px;
    width: 6px;
    height: 6px;
  }
}

.text {
  margin-left: 8px;
  color: var(--rhino);
}

.trigger {
  margin-left: 16px;
}
