@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.label {
  margin-left: 12px;
}

.info {
  fill: var(--casper);
  margin-left: auto;
  cursor: pointer;

  &:hover {
    fill: var(--rhino);
  }
}
