@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  justify-content: space-between;
}

.timerange {
  margin-left: 8px;
  min-width: 52px;
  justify-content: center;
}
