@import '~@santiment-network/ui/mixins';

.wrapper {
  background-color: var(--white);
  border-top: 1px solid var(--porcelain);
  border-left: 1px solid var(--porcelain);
  margin-left: 28px;
  border-radius: 4px 0 0 0;
  width: 480px;
  z-index: 10;
  position: absolute;
  right: 0;
  display: none;
  transform-origin: top right;
  user-select: none;
  min-height: calc(100vh - 200px);
}

.active {
  display: block;
}

.content {
  overflow: hidden;

  &:hover {
    overflow-y: auto;
    overflow-y: overlay;
  }
}

.fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;

  & .content {
    height: calc(100vh - 64px) !important;
  }
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 26px;
  padding: 5px;
  box-sizing: content-box;
  fill: var(--waterloo);
  cursor: pointer;

  &:hover {
    fill: var(--rhino);
  }
}

.button {
  padding: 0 4px;
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.loader {
  margin-left: 16px;
  font-size: 5px;
  color: var(--fiord);
}

.top {
  margin: 19px 32px 13px;
  display: flex;
  align-items: stretch;
  min-height: 32px;
  flex-direction: column;
}

.count__assets {
  @include text('body-2');

  margin-right: 12px;
}

.count__filters {
  @include text('body-3');

  color: var(--waterloo);
}

.search {
  margin-top: 16px;
}

.togglers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.message {
  margin-top: 12px;
}
