.page-head-assets {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-table {
  width: 100%;
  height: auto !important;
}

.page-head-projects__left h1 {
  margin-right: 1rem !important;
}

.page-head-projects__left a {
  text-decoration: none;
  border: none;
}

.page-head-projects button {
  margin-left: 1em;
}

.page-head-projects__right {
  display: flex;
}

.assets-table-widget-wrapper {
  margin: 1.4rem 0;
}
