@import '~@santiment-network/ui/mixins';

:global(.list-container) {
  background: var(--white);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh !important;
  overflow: scroll;

  & header {
    position: sticky;
    left: 0;
  }
}
