@import '~@santiment-network/ui/mixins';

:global(.list-container) {
  background: var(--white);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 64px) !important;
  min-height: calc(100vh - 64px) !important;
  overflow: auto;

  & header {
    position: sticky;
    left: 0;
  }

  & footer {
    display: none;
  }
}

.infographics {
  position: sticky;
  left: 0;
  z-index: 3;
}
