@import '~@santiment-network/ui/mixins.scss';

.container {
  background: var(--white);
}

.tableWrapper {
  margin: 40px 30px 40px 40px;
}

.table {
  border: none !important;
}

.loading {
  height: 70vh;
}

.treeMaps {
  margin: 0 32px 0 32px;
}

.twoTrees {
  display: flex;
}

.containerTreeMap {
  display: flex;
  height: 186px;
  flex-direction: column;
  width: 100%;
  margin-bottom: 24px;
}

.both {
  width: calc(50% - 4px);
}
