@import '~@santiment-network/ui/mixins.scss';

.watchlist {
  background: var(--white);
  min-height: calc(100vh - 70px);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 34px 18px 32px;
  position: sticky;
  top: 0;
  background: var(--white);
  z-index: 1;
}

.left {
  display: flex;
  align-items: center;
}

.heading {
  @include text('h4');

  margin: 0 6px 0 0 !important;

  &::first-letter {
    text-transform: uppercase;
  }
}

.right {
  display: flex;
  align-items: center;
}

.overviewInfo {
  margin: 4px 32px 56px;
  border-right: none;
  box-shadow: none;
}

.tableWrapper {
  margin: 42px 0 40px 0;
}

.tableTop {
  padding: 0 40px 0 32px;
}
