@import '~@santiment-network/ui/mixins.scss';

.top {
  background-color: var(--white) !important;
}

.left {
  display: flex;
  align-items: center;
}

.heading {
  @include text('h4');

  margin: 0 6px 0 0 !important;

  &::first-letter {
    text-transform: uppercase;
  }
}

.right {
  display: flex;
  align-items: center;
}

.overviewInfo {
  margin: 4px 32px 56px;
  border-right: none;
  box-shadow: none;
}
