.container {
  position: relative;
  width: 100%;
}

.gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--white) 100%);
}
