@import "~@santiment-network/ui/mixins.scss";
@import 'variables.scss';

.header {
  display: flex;
  width: 100%;
}

.title {
  margin-bottom: 1rem;

  @include text('h3');

  color: var(--mirage);
}

.newTrigger {
  margin-left: auto;
}

.questionIcon {
  fill: var(--casper);
  cursor: pointer;
  margin-left: 15px;
}

/* stylelint-disable */
@include responsive('desktop') {
  .HistoricalBalancePage {
    margin-bottom: 2em !important;
    width: $breakpoint-desktop;
  }

  .title h1 {
    width: 392px;
    line-height: 37px !important;
    font-size: 32px !important;
  }
}
/* stylelint-enable */
