@import "~@santiment-network/ui/mixins.scss";

.header {
  display: flex;
  width: 100%;

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
    padding: 10px;
  }
}

.title {
  margin-bottom: 1rem;

  @include text('h3');

  color: var(--mirage);
  display: flex;
}

.newTrigger {
  margin-left: auto;
}

.questionIcon {
  fill: var(--casper);
  cursor: pointer;
  margin-left: 12px;
  top: 2px;
  position: relative;
  display: flex;
}

.historicalBalancePage {
  @include responsive('desktop') {
    width: 1024px;
  }
}

.wrapper {
  display: flex;
}

.right {
  margin: auto 0 auto auto;
}
