@import "~@santiment-network/ui/mixins.scss";
@import 'variables.scss';

.header {
  display: flex;
  width: 100%;
}

.title {
  margin-bottom: 1rem;

  @include text('h3');

  color: var(--mirage);
}

.newTrigger {
  margin-left: auto;
}

.questionIcon {
  fill: var(--casper);
  cursor: pointer;
  margin-left: 15px;
  top: 2px;
  position: relative;
}

@include responsive('desktop') {
  .historicalBalancePage {
    margin-bottom: 2em !important;
    width: $breakpoint-desktop;
  }
}

@include responsive('phone', 'phone-xs') {
  .header {
    flex-direction: column;
    padding: 10px;
  }
}
