@import "~@santiment-network/ui/mixins.scss";

.container {
  width: 100%;
  border-radius: $border-radius;
  border: 1px solid var(--porcelain);

  @include border-box();
}

.filters {
  width: 100%;
  background: var(--athens);
  border: 1px solid var(--porcelain);
  padding: 16px 0;

  @include border-box();

  display: flex;

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart {
  position: relative;
}

.chartHeader {
  padding: 20px 24px;
  display: flex;

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
  }
}

.toggleY {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 6px 12px;
}

.toggler {
  margin-left: auto;
}

.toggleLabel {
  margin-right: 10px;
}

.chartParams {
  margin-left: auto;

  @include responsive('phone', 'phone-xs') {
    margin-top: 10px;
  }
}

.InputWrapper {
  width: 50%;
  padding: 0 24px;

  @include text('body-3');
}

.wallet {
  padding: 0 12px 0 24px;

  @include responsive('phone', 'phone-xs') {
    width: 100%;
    padding: 0 24px 0 24px;
  }
}

.walletInput {
  height: 32px;
}

.address {
  padding: 0 24px 0 12px;

  @include responsive('phone', 'phone-xs') {
    width: 100%;
    padding: 0 24px 0 24px;
    margin-top: 10px;
  }
}

.label {
  @include text('caption');

  color: var(--waterloo);
}

.etherscan {
  margin-top: 4px;
}

.InputWithAction input {
  margin-top: 0;
  border: none;
}

.InputWithAction button {
  border-left: 1px solid #e0e4ee;
  border-radius: 0;
}

.header {
  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
    padding: 10px;
  }
}

.descriptionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 450px;

  @include responsive('tablet', 'phone', 'phone-xs') {
    min-height: 310px;
  }

  @include responsive('phone', 'phone-xs') {
    min-height: 210px;
  }
}

.description {
  position: relative;
  width: 260px;
  text-align: center;
  color: var(--mirage);
}

.settings {
  padding: 0;

  @include responsive('phone', 'phone-xs') {
    display: flex;
    flex-direction: column;
  }
}

.calendarButton {
  margin-right: 16px;
  min-width: 180px;

  @include responsive('tablet', 'phone', 'phone-xs') {
    margin: 0 0 3px auto;
  }

  @include responsive('tablet') {
    margin-bottom: 16px;
  }
}

.datesSelector {
  margin-right: 16px;

  @include responsive('tablet') {
    margin: 0 0 0 auto;
  }

  @include responsive('phone', 'phone-xs') {
    margin: 8px 0 0 auto;
  }
}

.settingsBtn {
  @include responsive('tablet', 'phone', 'phone-xs') {
    margin: 0 0 3px auto;
  }
}

.expanderButton {
  top: -50px;
  right: 20px;

  @include responsive('phone', 'phone-xs') {
    top: -52px;
  }
}

.divider {
  background: var(--grey-light-2);
  height: 1px;
  width: 100%;
  margin: 15px 0;
  position: relative;
}

.chartSettings {
  @include responsive('phone', 'phone-xs') {
    display: flex;
    flex-direction: column-reverse;
  }
}

.dateAndSettings {
  display: flex;

  @include responsive('phone', 'phone-xs') {
    display: flex;
  }
}
