.wrapper {
  min-height: 56px;
  padding-left: 48px;
  background-color: var(--texas-rose-light);
}

.wrapperPage {
  border-radius: 4px;
  margin-bottom: 24px;
}

.icon {
  fill: var(--texas-rose-hover);
  margin-right: 12px;
  margin-bottom: 3px;
}

.link {
  color: var(--texas-rose);

  &:hover {
    color: var(--texas-rose-hover);
  }
}
