@import '~@santiment-network/ui/mixins';

.header {
  display: flex;
  align-items: center;
}

.headerLoader {
  font-size: 5px;
  margin-left: 24px;
}

.panel {
  padding: 0;
}

.wrapper {
  width: 100%;
}

.tableWrapper {
  min-height: 500px;
}

.table {
  min-width: 720px;
}

.tableRow {
  height: 53px;
}
