@import "~@santiment-network/ui/mixins";

.alert {
  @include border-box();

  border-radius: $border-radius;
  margin-bottom: 25px;
  padding: 12px 10px;
  display: flex;
  align-items: center;
}

.warning {
  background: rgba(216, 148, 98, 0.1);
  border: 1px solid var(--texas-rose);
  color: var(--texas-rose);
}

.error {
  border: 1px solid var(--persimmon);
  color: var(--rhino);

  @include text("body-3");
}

.warningIcon {
  fill: var(--texas-rose);
}

.errorIcon {
  fill: var(--persimmon);
}

.text {
  margin-left: 12px;
  top: 1px;
  position: relative;
}
