@import '~@santiment-network/ui/mixins';

.counter {
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 16px;
  flex: 1;
  min-width: 26px;
  height: 32px;
  color: var(--waterloo);

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.tooltip {
  display: flex;

  @include text('caption');
}

.tooltipWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.new {
  color: var(--jungle-green);
  margin-right: 8px;
}
