@import '~@santiment-network/ui/mixins';

.icon {
  fill: var(--rhino);
  display: none;
}

.counter {
  display: flex;
}

.hovered {
  display: flex;

  &:hover {
    svg {
      display: flex;
    }

    .counter {
      display: none;
    }
  }
}

.counterContainer {
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 16px;
  flex: 1;
  min-width: 26px;
  height: 32px;
  color: var(--waterloo);

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    .icon {
      display: flex;
      fill: var(--jungle-green-hover);
    }

    .counter {
      display: none;
    }
  }
}

.tooltip {
  display: flex;
  flex-direction: column;
  max-width: 180px;

  @include text('caption');
}

.iconTooltip {
  display: flex;
  padding: 6px 4px;
}

.titleLine {
  display: flex;
}

.tooltipWrapper {
  display: flex;
  justify-content: center;
  width: 180px;
}

.new {
  color: var(--jungle-green);
  margin-right: 4px;
}

.tooltipContainer {
  margin-bottom: 9px !important;
  z-index: 1;
}
