@import "../../../../node_modules/@santiment-network/ui/mixins";

.container {
  display: flex;
  margin-left: auto;
}

.select {
  min-width: 110px;
  height: 32px;

  .Select-menu-outer {
    max-width: 110px;
  }
}
