@import '~@santiment-network/ui/mixins';

.container {
  padding: 16px 24px 8px 24px;
  position: relative;
}

.imgPro {
  width: 20px;
  height: 20px;

  & rect,
  & path {
    transition: fill 0.2s ease-in-out;
  }
}

.containerPro {
  padding: 16px 24px 8px 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--texas-rose);
  border-top: none;
  transition: background-color 0.25s ease-in-out;
  cursor: pointer;

  &::before {
    position: absolute;
    content: '';
    display: block;
    top: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--texas-rose);
    z-index: 1;
  }

  &:hover {
    background-color: var(--texas-rose-light);

    & .imgPro {
      & rect {
        fill: var(--texas-rose);
      }

      & path {
        fill: var(--white);
      }
    }
  }
}

.info {
  display: inline-flex;
  align-items: center;
  position: relative;
  color: var(--rhino);

  @include text('body-2');
}

.name {
  margin-left: 6px;
  white-space: nowrap;
  position: relative;
}

.ticker {
  color: var(--waterloo);
  margin-left: 6px;
  position: relative;
  white-space: nowrap;
}

.upgrade {
  position: absolute;
  top: 12px;
  right: 24px;
  width: 94px;
  justify-content: center;
}

.count {
  position: absolute;
  top: -2px;
  right: -22px;
  background: var(--jungle-green-light);
  color: var(--jungle-green);
  padding: 1px 5px;
  border-radius: 50%;
  min-width: 16px;
  min-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include text('caption');

  font-size: 10px;
}

.countPro {
  background: var(--texas-rose);
  color: #fff;
}

.skeleton {
  min-height: 20px;
}

.skeletonWrapper {
  width: 100%;
}
