@import '~@santiment-network/ui/mixins';

.project {
  margin-right: auto;
  margin-bottom: 8px;

  &__name {
    @include text('body-3');

    font-size: 16px !important;
    line-height: 22px !important;
  }
}
