.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.conditionsWrapper {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  margin-bottom: 16px;
}

.loaderWrapper {
  height: 100%;
}

.loader {
  height: 100%;
}

.nextBtn {
  float: right;
  height: 24px;
}
