@import '~@santiment-network/ui/mixins';

.wrapper {
  position: sticky;
  top: 0;
  z-index: 5;
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.left {
  padding: 16px;

  @include responsive('phone', 'phone-xs') {
    max-width: 85%;
  }
}

.shortLeft {
  @include responsive('phone', 'phone-xs') {
    max-width: 77%;
  }
}

.icon {
  fill: var(--rhino);
  width: 22px;
}

:global(.App .page) .title {
  @include text('h4', 'm');

  color: var(--mirage);
  width: 100%;

  @include responsive('desktop', 'laptop') {
    margin: 0 !important;
  }

  &::first-letter {
    text-transform: uppercase;
  }

  @include responsive('phone', 'phone-xs') {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}

.searchBtn {
  padding-right: 16px;
  fill: var(--rhino);
}

.isTitleLink {
  margin: 0 0 0 17px !important;
}
