.wrapper {
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.left {
  padding: 16px;
}

.title {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: var(--mirage);
  margin: 0;
}

.searchBtn {
  padding-right: 16px;
}

.isTitleLink {
  margin: 0 0 0 17px;
}
