@import '~@santiment-network/ui/mixins';

.wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 32px 20px 20px;
  border-bottom: 1px solid var(--athens);
  background: var(--white);
  z-index: 10;
}

:global(.tablet) .title,
:global(.phone) .title,
:global(.phone-xs) .title {
  display: block;
  max-width: 65vw;
}

.icon {
  fill: var(--rhino);
  width: 22px;
  transform: rotate(180deg);
}

.searchBtn {
  fill: var(--rhino);
}

.isTitleLink {
  margin: 0 0 0 17px !important;
}
