@import '~@santiment-network/ui/mixins';

.wrapper {
  position: sticky;
  top: 0;
  z-index: 5;
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.left {
  padding: 16px;
}

.icon {
  fill: var(--mirage);
}

:global(.App .page) .title {
  @include text('h4', 'm');

  color: var(--mirage);
  // margin: 0 !important;
  width: 100%;

  &::first-letter {
    text-transform: uppercase;
  }
}

.searchBtn {
  padding-right: 16px;
}

.isTitleLink {
  margin: 0 0 0 17px !important;
}
