@import '~@santiment-network/ui/mixins.scss';

.title {
  @include text('h3');

  margin: 0 0 1rem;
  color: var(--mirage);
}

.tabs {
  width: 100%;
  margin: 24px 0 16px;
  user-select: none;
}

.table {
  border: none;
}
