@import "~@santiment-network/ui/mixins";

.trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 9px;
  margin: 0 8px 0 16px;
  fill: var(--waterloo);
  position: relative;

  &:hover,
  &:focus {
    fill: var(--jungle-green-light-3);
  }

  & .arrow {
    transition: transform 0.2s ease-in-out;
    margin-left: 12px;
  }

  &.isOpened {
    color: var(--jungle-green);

    & .arrow {
      transform: rotate(180deg);
    }
  }
}

.wrapper {
  width: 260px;
  padding: 12px 0 0 0;
  user-select: none;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: auto;
  max-height: 400px;
  padding-bottom: 14px;
}

.saveAs {
  margin: 0 16px 6px;
  width: calc(100% - 32px);
}

.title {
  margin: 14px 16px 4px;
  color: var(--waterloo);

  @include text('caption', 'm');
}

.actions {
  position: absolute;
  right: 4px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  margin-left: auto;
  fill: var(--waterloo);
  opacity: 0;

  & svg {
    padding: 9px 8px;
    box-sizing: content-box;

    &:hover {
      fill: var(--jungle-green);
    }
  }
}

.buttonConfig {
  margin: 0 9px;
  position: relative;

  &:hover .actions {
    opacity: 1;
  }

  &__active {
    color: var(--jungle-green);
  }
}
