@import "~@santiment-network/ui/mixins";

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  background-color: var(--athens);
  border-radius: 0 0 0 4px;
}

.type {
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 0 12px;
  color: var(--waterloo);
  cursor: pointer;
}

.activeType {
  background-color: var(--white);
  color: var(--rhino);
}

.backButton {
  background-color: var(--athens);
  padding: 0;
  margin-bottom: 16px;
  color: var(--waterloo);
  font-size: 13px;

  & > svg {
    margin-bottom: 2px;
    transform: rotate(180deg);
    margin-right: 8px;
    fill: var(--waterloo);
  }

  &:hover {
    color: var(--jungle-green);

    & > svg {
      fill: var(--jungle-green);
    }
  }
}

.smallStepSelector {
  padding: 0 0 0 8px;
}

.assetsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.projectWrapper {
  border: 1px solid var(--porcelain);
  display: flex;
  align-items: center;
  height: 24px;
  padding: 4px 8px;
  border-radius: 4px;

  & .projectTitle {
    color: var(--rhino);
    margin-left: 6px;

    @include text("caption");
  }

  & .projectLengthTitle {
    color: var(--rhino);

    @include text("caption");
  }
}

.metricsWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.metricWrapper {
  width: fit-content;
  border: 1px solid var(--porcelain);
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;

  & .metricTitle {
    color: var(--rhino);

    @include text("caption");
  }
}

.metricSubtitle {
  color: var(--rhino);

  @include text("caption");

  & > span {
    color: var(--waterloo);

    text-transform: capitalize;
  }
}
