@import '~@santiment-network/ui/mixins';

.container {
  padding-bottom: 24px;
  padding-top: 24px;
  border-top: 1px solid var(--porcelain);
}

.link {
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.title {
  @include text('body-3');

  color: var(--rhino);
  margin-bottom: 16px;
}

.loader {
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.assets {
  border-top: none !important;
}
