@import '~@santiment-network/ui/mixins';

.smoothDd {
  padding: 0 !important;
}

.header {
  display: flex;
}

.filterBy {
  @include text('caption');

  color: var(--waterloo);
}

.dialogContent {
  min-width: 456px;
  max-width: 456px;
  padding: 24px;

  @include responsive("phone", "phone-xs") {
    min-width: initial;
  }
}

.resetIcon {
  fill: var(--persimmon);
  margin-right: 8px;
}

.resetBlock {
  @include text('caption');

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  color: var(--persimmon);
  cursor: pointer;

  &:hover {
    color: var(--persimmon-hover);

    .resetIcon {
      fill: var(--persimmon-hover);
    }
  }
}
