@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 0 16px;
  border-bottom: 1px solid var(--porcelain);
}

.tabs {
  margin-left: auto;
  margin-right: 3px;
}

.tab {
  padding: 0 13px 9px 13px;
  margin: 0;
}
