.wrapper {
  flex: 1;
  width: 100%;
  padding: 0 20px 0 40px;
}

.help {
  margin-left: 12px;
}

.title {
  margin-bottom: 24px !important;
}

.mobile__title {
  display: flex;
  justify-content: space-between;
}
