.wrapper {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid var(--white);
  background: var(--author) no-repeat 50% / cover, var(--porcelain);
  box-shadow: 0 2px 4px rgba(24, 27, 43, 0.1);
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, -100%);

  &:hover {
    border-color: var(--jungle-green);
  }
}
