@import "~@santiment-network/ui/mixins";

.title {
  display: none;
}

@mixin assets {
  background: var(--white);
  border: 1px solid var(--porcelain);
  height: auto;
  display: flex;
  padding: 2px 2px;
  cursor: pointer;
  min-height: 32px;

  @include border-box;

  border-radius: $border-radius;

  &:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  }
}

.assetsSelect {
  @include assets;
}

.alert {
  color: var(--persimmon);
}

.wrapper {
  padding: 12px 0 10px 20px;
  width: 360px;
  min-height: 200px;
  overflow-y: hidden;

  @include responsive('phone-xs', 'phone') {
    width: 100%;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.search {
  z-index: 5;
  margin-right: 20px;
}

.assetsWrapper {
  height: 400px;
}

.divider {
  border-bottom: 1px solid var(--waterloo);
  margin: 2px 30px 10px 0;
}

.actions {
  @include responsive('tablet', 'laptop', 'desktop') {
    padding-top: 16px;
  }
}

.approve {
  @include responsive('tablet', 'laptop', 'desktop') {
    margin-left: 16px;
  }
}

.name {
  @include text('body-3');
}

.assetGroup {
  display: flex;
  flex-wrap: wrap;
}

.asset {
  @include border-box();

  background: var(--athens);
  border: 1px solid var(--porcelain);
  border-radius: $border-radius;
  padding: 3px 10px;
  margin: 1px 4px 1px 4px;

  @include text('body-3');

  height: 24px;
  display: flex;
  align-items: center;
}

.closeIcon {
  width: 6px;
  margin-left: 8px;
  background: var(--athens);
  fill: var(--waterloo);

  &:hover {
    fill: var(--jungle-green);
  }
}

.close {
  padding: 0;
  height: auto;
  background: var(--athens);
  cursor: pointer !important;
}

.label {
  margin-left: 8px;
  display: flex;
  align-items: center;
  color: var(--casper);
}

.loader {
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include assets;
}
