@import '~@santiment-network/ui/mixins';

.card {
  margin-bottom: 16px !important;
  width: 100%;
  display: flex;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(59, 84, 106, 0.03), 0 1px 2px rgba(59, 84, 106, 0.03);

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
  }
}

.pulseInsight {
  flex-direction: column;
}

.activitiesWrapper {
  padding-right: 32px;
  margin: 0 !important;

  @include responsive('phone', 'phone-xs') {
    padding-right: 0;
  }
}

.activityItem {
  margin-bottom: 16px;
  display: flex;
  width: 100%;

  @include text('caption');
}

.firstActivity {
  margin-top: 0;
}

.activityMarkdown {
  word-break: break-all;

  @include text('caption');

  p {
    // GarageInc: becuase markdown from server
    margin-bottom: 0 !important;
  }

  a:nth-of-type(2) {
    display: none;
  }

  p:nth-of-type(2) {
    display: none;
    margin: 0;
  }

  p:nth-of-type(3) {
    display: none;
    margin: 0;
  }

  @include responsive('phone', 'phone-xs') {
    margin-bottom: 16px;
  }
}
