.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  cursor: pointer;
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;

  &:hover {
    background-color: #d4d9dd5e;
  }
}

.bottom {
  padding: 5px;
  display: flex;
}

.input input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.title {
  font-size: 14px;
  text-align: center;
  margin: 0px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
