@import '~@santiment-network/ui/mixins';

.wrapper {
  padding: 20px 10px 12px;
}

.tabs {
  width: 100%;
  padding: 16px 20px 0;

  @include responsive('phone', 'phone-xs') {
    padding: 0;

    & > div {
      justify-content: center;
      margin: 0;
      padding: 16px;
      width: 50%;
      cursor: default;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
    }
  }
}

.project {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px;

  &:hover {
    background: var(--athens);
  }
}

.name {
  margin-left: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--rhino);

  @include text('body-2');
}

.ticker {
  color: var(--casper);
  margin-left: 4px;
  max-width: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @include text('body-2');
}

.tickerWithMargin {
  margin-left: 10px;
  max-width: 100%;
  color: var(--rhino);
}

.changes {
  margin-left: auto;
}

.title {
  @include text('body-1', 'm');

  margin-top: 0;
}
