.wrapper {
  padding: 20px 20px 0;
}

.tabs {
  width: 100%;
  padding: 16px 20px 0;
}

.project {
  margin-bottom: 22px;
  display: flex;
  align-items: center;
}

.name {
  margin-left: 8px;
  width: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 20px;
}

.changes {
  margin-left: auto;
}
