@import "~@santiment-network/ui/mixins";

.container {
  padding: 16px 24px 24px 24px;

  @include responsive('phone', 'phone-xs') {
    padding: 24px 24px 12px 24px;
  }
}

.backTesting {
  margin-top: 24px;

  @include responsive('phone', 'phone-xs') {
    margin-top: 32px;
  }
}

.preview {
  position: relative;
}

.chartDivider {
  border-top: 1px solid var(--porcelain);
  margin-bottom: 24px;
  padding-top: 16px;

  @include responsive('phone', 'phone-xs') {
    display: none;
  }
}

.actions {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.unsupported {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--waterloo);
}

.btnEdit {
  margin-left: 8px;

  @include responsive('phone', 'phone-xs') {
    margin: 0;
    border-left: 1px solid var(--mystic);
    display: flex;
    justify-content: center;

    @include text('body-2');
  }
}

.cardPanel {
  padding: 0 !important;
  border: none;
  box-shadow: none;
}

.copyBtn {
  margin: 0 !important;
  color: var(--white) !important;

  @include responsive('phone', 'phone-xs') {
    display: flex;
    justify-content: center;
    color: var(--jungle-green) !important;

    @include text('body-2');
  }
}
