@import '~@santiment-network/ui/mixins';

.wrapper {
  padding: 0 16px;
  margin-bottom: 24px;

  @include responsive('laptop', 'desktop') {
    position: relative;
    padding: 0 0 80px;
    margin-bottom: 0;
  }
}

.insightWrapper {
  max-width: 720px;
  margin: 0 auto;
}

.title {
  font-weight: 800;
  line-height: 50px;
  font-size: 38px;
  color: var(--mirage);
  background: var(--white) !important;
  display: block;
  width: 100%;
  border: 0;
  resize: none;
  outline: none;
  padding: 0;
  margin-bottom: 14px;

  &::placeholder {
    color: var(--casper);
  }

  @include responsive('phone-xs') {
    line-height: 42px;
    font-size: 32px;
  }
}

.container {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.bottom {
  position: fixed;
  z-index: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  height: 50px;
  border-top: 1px solid var(--porcelain);
  background: var(--white);

  &__left {
    color: var(--waterloo);
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  @include responsive('laptop', 'desktop') {
    bottom: 0;
  }
}

.save {
  color: var(--casper);

  @include responsive('phone-xs') {
    display: none;
  }

  + svg {
    margin-left: 10px;
  }
}

.publishBtn {
  margin-left: 18px;
  border-color: var(--jungle-green);
  color: var(--jungle-green);

  &[disabled] {
    border-color: var(--mystic);
    color: var(--mystic);
  }
}

.tagsLabel {
  margin-right: 18px;

  @include responsive('phone-xs') {
    display: none;
  }
}

.tags {
  min-width: 200px;
  margin-right: 13px;
}
