@import "~@santiment-network/ui/mixins.scss";
@import "~@santiment-network/ui/variables.scss";

.wrapper {
  padding: 16px 20px;
  width: 317px;

  @include responsive('phone') {
    max-width: 550px;
    min-width: 450px;
    margin: 0 auto;
  }

  @include responsive('phone-xs', 'phone') {
    width: 100%;
  }
}

.icon {
  margin-left: 10px;
}

.paragraph {
  margin: 0 0 8px 0;
  color: var(--mirage);

  @include text('body-3');
}

.label {
  color: var(--waterloo);
  margin: 14px 0 3px;

  @include text('caption');
}

.bold {
  @include text('caption', 'm');

  margin-right: 5px;
}

.warning {
  margin: 35px 0 4px 0;
  color: var(--casper);

  @include text('caption');

  text-align: center;
}

.tags {
  border: 1px solid var(--porcelain);
  border-radius: $border-radius;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 4px 4px;
}

.tag {
  margin: 4px 4px 0 0;
  height: 24px;
  padding: 3px 23px 3px 8px;
  background: var(--athens);
  border: 1px solid var(--porcelain);
  border-radius: $border-radius;
  display: flex;
  align-items: center;

  &:first-child {
    padding-left: 28px;
    position: relative;

    &::before {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      left: 12px;
      border: 1.5px solid var(--dodger-blue);
      border-radius: 50%;
    }
  }
}

.button {
  width: 100%;
  justify-content: center;
}
