@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  padding: 16px 24px 24px 24px;
  width: 514px;
  flex-direction: column;
}

.title {
  border: none;
  padding: 16px 24px !important;
  color: var(--rhino);

  @include text('body-2', 'm');
}

.btn,
.input {
  height: 40px;
  padding: 10px 16px;

  @include text('body-3');
}

.btn {
  min-width: 116px;
  justify-content: center;
}

.textarea {
  border-radius: $border-radius;
  margin: 24px 0;
  padding: 10px 16px;
  color: var(--rhino);
  background: var(--white);
  border: 1px solid var(--porcelain);
  min-height: 80px;

  @include text('body-3');

  &::placeholder {
    color: var(--casper);
  }
}

.actions {
  display: flex;
  align-items: center;
}

.dialog {
  min-width: 300px;
}
