@import "~@santiment-network/ui/mixins.scss";

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

.card {
  padding: 16px 24px !important;
}

@include responsive('phone', 'phone-xs') {
  .card {
    width: 100%;
  }
}
