@import "~@santiment-network/ui/mixins.scss";

.wrapper {
  display: flex;

  &__right {
    padding: 4px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__left {
    margin-right: 15px;
    display: flex;
    align-items: center;

    &_subscription {
      display: block;
    }
  }
}

.wrapper__top {
  display: flex;
  height: 100%;
}

.icon {
  display: inline-flex;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: var(--blue-light);
  fill: var(--blue);
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  margin-bottom: 4px;

  @include text-normal;
  @include text('h4','m');
}

.description {
  @include text-normal;

  margin: 0;
  color: var(--waterloo);
  margin-top: 10px;
}

.upper {
  cursor: pointer;
}

.modalCentered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bottom {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;

  &__right {
    display: flex;
  }
}

.awaitingBlock {
  display: flex;
  fill: var(--waterloo);
}

.author {
  @include text-normal;

  color: var(--waterloo);
  margin: 0;

  &__link {
    color: var(--green);
    text-decoration: none;

    &:hover {
      color: var(--green-hover);
    }
  }
}

.subscriptions {
  @include text-normal;

  margin-right: 24px;
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 7px;
    fill: var(--grey-dark);
  }
}

.awaiting {
  @include text-normal;

  display: inline-flex;
  align-items: center;
  margin: 0;
  color: var(--grey-dark);
  fill: var(--grey-dark);

  &__icon {
    width: 15px;
    margin-right: 9px;
  }
}
