@import "~@santiment-network/ui/mixins.scss";

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

$margin-between-cards: 28px;

.card {
  margin-bottom: 24px;
  width: calc(50% - #{$margin-between-cards/2});
  padding: 16px 24px !important;
}

@include responsive('phone', 'phone-xs') {
  .card {
    width: 100%;
  }
}
