@import '~@santiment-network/ui/mixins';

.container {
  background: var(--white);
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  border-radius: $border-radius;
  display: flex;
  min-height: 715px;

  @include responsive('tablet', 'laptop', 'phone', 'phone-xs') {
    flex-direction: column;
  }
}

.header {
  display: flex;
  align-items: center;

  @include responsive('tablet', 'laptop', 'phone', 'phone-xs') {
    justify-content: center;
    padding: 0 16px;
    margin-top: 24px;
  }
}

.gaps {
  margin-left: auto;
}

.chartContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 32px 24px 24px 24px;

  @include responsive('tablet', 'laptop', 'phone', 'phone-xs') {
    padding: 0;
  }
}

.chart {
  margin-top: auto;

  @include responsive('tablet', 'laptop', 'phone', 'phone-xs') {
    margin-bottom: 16px;
  }
}

.metrics {
  min-width: 332px;
  padding: 24px;
  border-left: 1px solid var(--porcelain);
  display: flex;
  flex-direction: column;

  @include responsive('tablet', 'laptop', 'phone', 'phone-xs') {
    padding: 24px 16px 24px 16px;
    border: none;
  }
}

.holdersTitle {
  color: var(--rhino);
  margin-bottom: 22px;

  @include text('body-2', 'm');
}

.holderMetricBtn {
  box-shadow: none !important;
  border: none !important;

  &:hover {
    color: var(--rhino);
  }
}

.metricBtn {
  margin-top: 8px;
}

.metricBtns {
  display: flex;
  margin: 24px 0;
  flex-wrap: wrap;
}
