.TotalMarketcapWidget {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 36px 0 84px;
  &__label,
  &__value {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
  }

  &.night-mode {
    border-color: #4a4a4a;
  }

  &__left {
    margin-right: 55px;
  }
  &__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    display: flex;
  }
  &__label {
    color: #7a859e;
    font-size: 14px;
    margin: 0;
  }
  &__value {
    margin: 0;
    font-weight: bold;
    position: relative;
    font-size: 22px;
    line-height: 30px;
    color: #15181f;
    &_loading {
      background: #ddd;
      overflow: hidden;
      color: #ddd;
      &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        animation: loading 1.3s linear infinite;
        background: linear-gradient(
            to right,
            transparent 50%,
            rgba(#fff, 0.35) 60%,
            transparent 50%
          )
          50% 50%;
      }
    }
  }

  &__chart {
    margin-top: 9px;
    height: 430;
    // border: 1px solid #ebeef5;
    border-radius: 4px;
    overflow: hidden;

    & .recharts-yAxis .recharts-cartesian-axis-tick:first-of-type {
      display: none;
    }
  }
  // & .Widget__content {
  //   display: flex;
  // }

  &__btns {
    position: relative;
    height: 32px;
    border: 1px solid #e0e4ee;
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    display: flex;
    &::before {
      transition: 200ms;
      display: inline-block;
      content: '';
      width: 50%;
      position: absolute;
      top: -1px;
      left: -1px;
      bottom: -1px;
      background: #dcf6ef;
      border: 1px solid #14c393;
      box-sizing: border-box;
      border-radius: 4px;
    }
    &.switched {
      &::before {
        left: calc(50% + 1px);
      }

      & .TotalMarketcapWidget__view-btn {
        &:first-of-type {
          color: #7a859e;
        }
        &:last-of-type {
          color: #14c393;
        }
      }
    }
    & .TotalMarketcapWidget__view-btn {
      &:first-of-type {
        color: #14c393;
      }
    }
  }

  &__view-btn {
    width: 56px;
    border: none;
    color: #7a859e;

    cursor: pointer;
    outline: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    background-color: transparent;
    position: relative;
    z-index: 2;

    // &.active {
    //   color: #14c393;
    // }
  }

  & svg:not(:root) {
    overflow: visible;
  }

  &__change {
    display: inline-block;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 14px;
    margin-left: 13px;
  }

  .recharts-tooltip-wrapper {
    // @NOTE(vanguard): Propose to make it as global styles.
    font-family: Rubik, sans-serif;
    box-shadow: 0px 2px 2px rgba(21, 24, 31, 0.02),
      0px 2px 6px rgba(0, 0, 0, 0.04), 0px 4px 12px rgba(0, 0, 0, 0.04);
    & .recharts-default-tooltip {
      border-radius: 4px;

      & > p:first-of-type {
        color: #7a859e;
        margin-bottom: 4px !important;
      }
    }

    .recharts-tooltip-item {
      padding: 0 !important;
    }
  }
}
@keyframes loading {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  80% {
    transform: translate3d(200%, 0, 0);
  }
  100% {
    transform: translate3d(200%, 0, 0);
  }
}
