.TotalMarketcapWidget {
  max-width: 100%;
  width: 100%;
  border: 1px solid #adadad;
  display: flex;
  &.night-mode {
    border-color: #4a4a4a;
  }
  &__right {
    margin-top: 20px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
  }
  &__label {
    color: #555;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin: 0;
  }
  &__value {
    color: #000;
    font-size: 1.1rem;
    margin: 0;
    font-weight: bold;
    position: relative;
    &_loading {
      background: #ddd;
      overflow: hidden;
      color: #ddd;
      &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        animation: loading 1.3s linear infinite;
        background: linear-gradient(
            to right,
            transparent 50%,
            rgba(#fff, 0.35) 60%,
            transparent 50%
          )
          50% 50%;
      }
    }
  }

  &__chart {
    position: relative;
    flex: 1;
    width: 50% !important;

    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 20px;
      left: -5px;
      z-index: 999;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.9) 40%,
        rgba(225, 255, 255, 0)
      );
    }
  }
  & .Widget__content {
    display: flex;
  }

  &__btns {
    margin-bottom: 20px;
    margin-top: -20px;
  }

  &__view-btn {
    border: none;
    color: #ccc;
    cursor: pointer;
    outline: none;

    &.active {
      color: #000;
      text-decoration: underline;
    }
  }

  & svg:not(:root) {
    overflow: visible;
  }

  &__change {
    display: inline-block;
    font-size: 13px;
  }
}
@keyframes loading {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  80% {
    transform: translate3d(200%, 0, 0);
  }
  100% {
    transform: translate3d(200%, 0, 0);
  }
}
