@import '~@santiment-network/ui/mixins';

.table {
  width: 100%;
  border-spacing: 0;
  margin-top: 40px;
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  position: relative;

  tr:last-child td:first-child {
    border-bottom: 0;
  }
}

.head {
  padding: 32px 25px;
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  width: 15%;
  border: 1px solid var(--porcelain);
  border-left: 0;

  &:first-child {
    border-top: 0;
  }
}

.cell {
  border-right: 1px solid var(--porcelain);
  border-bottom: 1px solid var(--porcelain);
  word-break: break-word;
  white-space: break-spaces;

  @include text('body-3');

  &:last-child {
    border-right: none;
  }
}

.noRightBorder {
  border-right: none;
}

.group {
  padding: 40px 0 16px 24px;
  min-width: 350px;

  @include text('body-1', 'l');

  @include responsive('tablet', 'phone', 'phone-xs') {
    padding: 16px 12px;
    min-width: initial;
  }
}

.feature {
  &__title {
    padding: 15px 24px;

    @include text('body-3');

    word-break: break-word;
    white-space: break-spaces;

    @include responsive('tablet', 'phone', 'phone-xs') {
      padding: 16px 12px;
    }
  }

  &__cell {
    text-align: center;

    @include text('body-3');

    @include responsive('tablet', 'phone', 'phone-xs') {
      min-width: 150px;
    }
  }

  &__check {
    fill: var(--texas-rose);
    vertical-align: middle;

    &__green {
      fill: var(--jungle-green);
    }

    &__grey {
      background: var(--athens);
    }
  }
}

.th {
  padding: 16px;
  position: sticky;
  top: 0;
  background: var(--white);

  button,
  a {
    margin-bottom: 0;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
}

.name {
  @include text('h4', 'l');
}

.description {
  color: var(--waterloo);

  @include text('body-3');
}
