// COLORS
$text-grey: #7a859e;
$text-green: #14c393;
$btn-background-light-green: #dcf6ef;
$btn-background-light-grey: #f6f6f8;

// DECORATORS
$border-radius: 4px;

// TEXT
$font-size-regular: 14px;
$line-height-regular: 20px;

.button {
  color: #15181f;

  & svg {
    fill: #15181f;
  }

  &:hover {
    background: $btn-background-light-grey;
  }

  &.active {
    color: $text-green;
    & svg {
      fill: $text-green;
    }
  }
}
