@import '~@santiment-network/ui/variables.scss';
@import '~@santiment-network/ui/mixins.scss';

.header {
  margin: 0 0 32px;
  background: var(--white);
  max-height: 70px;
  border-bottom: 1px solid var(--porcelain);

  a {
    text-decoration: none;
  }
}

.wrapper {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.products {
  margin: 0 48px 0 8px;
  cursor: pointer;
}

.logo {
  display: inline-flex;
  align-items: center;

  svg {
    fill: var(--mirage);
  }
}

.right,
.left {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.right {
  justify-content: flex-end;
}

.divider {
  display: flex;
  justify-content: flex-end;
  border-left: 1px solid var(--porcelain);
  padding-left: 12px;
}

.btn {
  display: flex;
  align-items: center;
  background: transparent;
  color: var(--waterloo);
  margin-right: 8px;
}

.leftLink {
  color: var(--waterloo);
}

.rightBtns {
  margin: 0;

  svg {
    fill: var(--waterloo);
  }
}

.externalLink {
  color: var(--waterloo);
  fill: var(--waterloo);

  &:hover {
    fill: var(--jungle-green);
  }
}

.externalLinkImg {
  margin-left: 6px;
}
