.list {
  padding: 8px;

  a {
    text-decoration: none;
  }
}

.listBottom {
  padding: 10px 8px 14px 8px;
}

.item {
  padding: 8px 16px;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-between;

  &:hover {
    color: var(--jungle-green) !important;
  }
}

.updateBtn {
  color: var(--jungle-green) !important;
}
