@import '~@santiment-network/ui/variables.scss';
@import '~@santiment-network/ui/mixins.scss';

.header {
  margin: 0;
  background: var(--white);
  max-height: 70px;
  border-bottom: 1px solid var(--porcelain);
  animation-name: shiftDown;
  animation-timing-function: cubic-bezier(0, 0.96, 1, 1);
  animation-duration: 1s;

  a {
    text-decoration: none;
  }
}

.wrapper {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;

  @include responsive('desktop') {
    max-width: none !important;
  }
}

.products {
  margin: 0 35px 0 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo {
  display: inline-flex;
  align-items: center;

  svg {
    fill: var(--mirage);
  }
}

.logoIcon {
  width: 32px;
  height: 32px;
}

.right,
.left {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.right {
  justify-content: flex-end;
}

.divider {
  display: flex;
  justify-content: flex-end;
  border-left: 1px solid var(--porcelain);
  padding-left: 24px;
}

.btn {
  display: flex;
  align-items: center;
  background: transparent;
  color: var(--waterloo);
  margin-right: 8px;
}

.leftLink {
  color: var(--waterloo);
}

.rightBtns {
  margin: 0;

  svg {
    fill: var(--waterloo);
  }
}

.externalLink {
  color: var(--waterloo);
  fill: var(--waterloo);

  &:hover {
    fill: var(--jungle-green);
  }
}

.externalLinkImg {
  margin-left: 6px;
}

.headerIcon {
  width: 16px;
  height: 16px;
}

.avatar {
  margin-top: -5px;

  &:hover {
    box-shadow: 0 0 0 0 var(--white), 0 0 0 1.6px var(--jungle-green);
  }
}

.avatarEmpty {
  background: var(--jungle-green-light);
}

.avatarIcon {
  fill: var(--jungle-green) !important;
}

.accountBtn {
  padding: 5px 0 0 12px;
}

.labCard {
  width: 50%;

  @include responsive('desktop') {
    padding-right: 85px;
  }
}

.imgLab {
  width: 48px;
  height: 48px;
}

.center {
  align-items: center;
}

.help {
  margin-right: 12px;
}

@keyframes shiftDown {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}
