@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  width: 260px;
  color: var(--fiord);
}

.login {
  width: 260px;
}

.logout {
  color: var(--persimmon);
  fill: var(--persimmon);

  &:hover {
    color: var(--persimmon-hover);
    fill: var(--persimmon-hover);
  }

  &__icon {
    margin: 0 8px 0 4px;
  }
}

.onlineIndicator {
  display: none; // NOTE(vanguard): hidden until functionality comes in
  border-radius: 50%;
  width: 6px;
  height: 6px;
  border: 2px solid var(--white);
  position: absolute;
  right: 0;
  bottom: 0;

  &.active {
    background: var(--green);
  }

  &.offline {
    background: var(--fiord);
  }
}

.profile {
  padding: 15px 20px 12px 24px;
}

.icon {
  fill: var(--white);
}

.name {
  color: var(--rhino);

  @include text('body-3');

  width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plan {
  margin-top: 6px;
  line-height: 18px;
  font-size: 12px;
  color: var(--fiord);
  text-transform: lowercase;

  &::first-letter {
    text-transform: uppercase;
  }
}

.setting {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  width: 100%;
  box-sizing: border-box;
  border-left: 1px solid var(--porcelain);
  border-right: 1px solid var(--porcelain);
  background-color: var(--athens);
  border-radius: 0;
  height: auto;

  &:hover {
    color: var(--mirage);
  }
}

.upgrade {
  padding: 6px 8px !important;
  border: 1px solid var(--texas-rose);
  margin-top: 9px;
  text-transform: capitalize;

  &:hover,
 &:focus {
    color: var(--texas-rose);
    fill: var(--texas-rose);
  }
}

.productName {
  text-transform: capitalize;
}
