@import "~@santiment-network/ui/variables.scss";

.wrapper {
    display: flex;

    & > * {
        flex: 1;
        width: 287px;
        &:nth-of-type(2) {
            border-left: 1px solid var(--grey-light-2);
        }
    }
}

.title {
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    font-size: 12px;
    margin: 11px 16px 3px !important;
    // color: $dark-gray2;
    color: var(--grey-dark-2);
}

.list {
    display: flex;
    flex-direction: column;
    & :global(.create-new-watchlist-btn) {
        padding: 0;
        & > :global(.input) {
            margin: 0;
        }

        & > :global(.button) {
            padding: 10px;
            margin: 0 0 0 4px;
        }
    }
}

.testList {
    padding: 0 8px 8px;

    a {
        text-decoration: none;
    }
}


.input {
    padding-left: 8px;
    margin-top: 8px;
}

