// COLORS
$text-grey: #7a859e;
$text-green: #14c393;
$btn-background-light-green: #dcf6ef;
$btn-background-light-grey: #f6f6f8;

// DECORATORS
$border-radius: 4px;

// TEXT
$font-size-regular: 14px;
$line-height-regular: 20px;

// * {
//   box-sizing: border-box;
// }
.text {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  color: #15181f;
}

.wrapper {
  background-color: #fff;
  border: 1px solid #e0e4ee;
  box-shadow: 0px 1px 2px rgba(21, 24, 31, 0.02),
    0px 2px 10px rgba(21, 24, 31, 0.04), 0px 4px 24px rgba(21, 24, 31, 0.06);
  border-radius: $border-radius;
  width: 260px;
  box-sizing: border-box;
  & * {
    box-sizing: border-box;
  }
  // height: 241px;
}

.list {
  // border-top: 1px solid #ebeef5;
  padding: 8px;
}

.item {
  // height: 32px;
  padding: 6px 8px;
  // border-radius: $border-radius;
  // // @include menu-side-padding;
  // cursor: pointer;

  // &:hover {
  //   background: $btn-background-light-grey;
  //   color: $text-green;
  // }
}
