@import '~@santiment-network/ui/variables.scss';
@import './../../mixins.scss';

.header {
  margin: 0 !important;
  margin-bottom: 2rem !important;
  // background: #fff;
  background: var(--white);
  max-height: 70px;
  // border-bottom: 1px solid $light-gray2;
  border-bottom: 1px solid var(--grey-light-2);

  a {
    text-decoration: none;
  }
}

.wrapper {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* stylelint-disable */
  @include responsive('desktop') {
    margin: 0 auto;
    max-width: 1200px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  /* stylelint-enable */
}

.logo {
    margin-right: 46px;
    display: inline-flex;
    align-items: center;

    svg {
        fill: var(--black);
    }
}

.right,
.left {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.right {
  justify-content: flex-end;
}

/* stylelint-disable */
.right :global .search-panel {
  margin-right: 1rem !important;
}
/* stylelint-enable */

.btn {
  display: flex;
  align-items: center;
  background: transparent;

  &:focus {
    background-color: none;
  }
}

.pseudoBtn {
  padding: 0 !important;
}

.button {
  height: 32px;
  padding: 6px 12px;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  font-family: Rubik, sans-serif;
  color: $text-grey;
  border-radius: $border-radius;
  background: transparent;
  cursor: pointer;

  & svg {
    fill: #15181f;
  }

  &:hover {
    color: $text-green;

    & svg {
      fill: $text-green;
    }
  }

  &.active {
    color: $text-green;
    background-color: $btn-background-light-green;

    & svg {
      fill: $text-green;
    }
  }
}
