@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.loader {
  height: 22px;
  width: 60px;
}

.text {
  @include text('caption');

  color: var(--waterloo);
}

.link {
  &:hover {
    color: var(--jungle-green-hover);
  }
}

.upgrade {
  position: absolute;
  right: 0;
  bottom: -15px;
  transition: opacity 200ms;
  opacity: 0;
  pointer-events: none;

  &,
  &:active {
    color: var(--texas-rose);
  }

  &:hover {
    color: var(--texas-rose-hover);
  }
}

.free {
  position: relative;
  transition: transform 200ms;

  &:hover {
    transform: translateY(-6px);

    .upgrade {
      pointer-events: all;
      opacity: 1;
    }
  }
}

.premium {
  border-radius: 4px;
  padding: 4px 12px;
  background: var(--texas-rose-light);

  &,
  &:focus {
    color: var(--texas-rose);
    fill: var(--texas-rose);
  }

  &:hover {
    color: var(--texas-rose-hover);
    fill: var(--texas-rose-hover);
  }

  @include responsive('laptop', 'tablet') {
    padding: 4px 8px;
  }
}

.icon {
  margin-top: -2px;
  margin-right: 5px;
}
