svg {
  // @NOTE(vanguard): move to global
  display: block;
}

.toggle {
  position: relative;
  cursor: pointer;
  display: inline-block;

  &::before {
    display: inline-block;
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #ffffff;
    border-radius: 10px;

    left: 3px;
    top: 3px;
  }

  & rect {
    fill: #adb6cd;
  }

  &.active {
    & rect {
      fill: #14c393;
    }

    &::before {
      left: calc(100% - 14px - 3px);
    }
  }

  & rect,
  &::before {
    transition: 200ms;
  }
}
