.wrapperList {
  height: inherit;
}

.assetsList {
  height: calc(100vh - var(--remaining-height));
  height: calc(var(--vh, 1vh) * 100 - var(--remaining-height));
  position: relative;
}

.headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 5px 47px;
  position: sticky;
  top: 58px;
  z-index: 1;
  background: var(--white);
}

.emptyWrapper {
  top: 50%;
  right: 0;
  left: 0;
  margin-top: -135px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyImg {
  height: 150px;
}

.emptyText {
  width: 230px;
  margin-bottom: 29px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
}

.emptyBtn {
  justify-content: center;
  align-items: center;
  width: 200px;
}

.intervalToggle {
  display: inline-flex;
  margin-left: 8px;
}
