@import '~@santiment-network/ui/mixins';

.wrapper {
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 20px;
  height: 120px;

  &:hover {
    border-color: var(--mystic);

    .name {
      color: var(--jungle-green);
    }
  }
}

.marketcap {
  display: flex;
  justify-content: space-between;

  @include text('h4');

  margin: 12px 0 8px;
}

.change {
  color: var(--casper);
  display: flex;
}
