@import '~@santiment-network/ui/mixins';

.title {
  @include text('h4', 'm');

  margin: 0;
}

.section {
  margin: 25px 0 50px;
}

:global(.tablet) .section,
:global(.phone) .section,
:global(.phone-xs) .section {
  margin: 20px 0 64px;
}

.empty__img {
  margin: 0;
}

.grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @include responsive('tablet') {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.stories {
  margin: 0 -16px;
  width: auto !important;
}

.login {
  margin: 0 0 40px !important;
}

.subtitle {
  @include text('body-1');

  color: var(--waterloo);
  margin: 24px 0 16px;
}

@include responsive('phone-xs', 'phone') {
  .title {
    @include text('body-1', 'l');
    font-weight: 500;
  }

  .subtitle {
    @include text('body-2');

    margin: 16px 0 8px;
  }

  .card:not(:last-of-type) {
    margin-bottom: 12px;
  }
}

.projects,
.addresses {
  margin-top: 0;
}

.banner {
  margin-bottom: 72px;
}

.trends {
  border: 1px solid var(--porcelain);
  border-radius: 6px;
  border-spacing: 0;

  td {
    padding: 12px 16px !important;
  }

  tr:not(:last-of-type) td {
    border-bottom: 1px solid var(--porcelain);
  }
}
