@import '~@santiment-network/ui/mixins';

.title {
  @include text('h4', 'm');

  margin: 0;
}

.section {
  margin: 25px 0 50px;
}

.empty__img {
  margin: 0;
}

.grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @include responsive('tablet') {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.stories {
  margin: 0 -16px;
  width: auto !important;
}

.login {
  margin: 0;
}

.subtitle {
  @include text('body-1');

  color: var(--waterloo);
  margin: 24px 0 16px;
}

@include responsive('phone-xs', 'phone') {
  .wrapper {
    margin-bottom: 60px;
  }

  .title {
    @include text('body-1', 'l');
  }

  .subtitle {
    @include text('body-2');

    margin: 16px 0 8px;
  }

  .empty {
    padding: 30px 16px 16px;
    border: 1px solid var(--porcelain);
    border-radius: 4px;
  }

  .section {
    margin: 16px 0 40px;
  }

  .card {
    margin-bottom: 8px;
  }
}

.projects,
.addresses {
  margin-top: 0;
}

.projects {
  margin-bottom: 0;
}

.banner {
  margin-bottom: 72px;
}
