@import '~@santiment-network/ui/mixins';

.title {
  @include text('h4', 'm');

  margin: 0;
}

.section {
  margin: 25px 0 50px;
}

.empty__img {
  margin: 0;
}

.grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.trends,
.stories {
  margin: 0 -16px;
  width: auto !important;
}

// NOTE: For some reason react-table styles are not applied [@vanguard | Jan 13, 2021]
// TODO: Remove after migrating to san table [@vanguard | Jan 13, 2021]
.trends :global {
  .ReactTable {
    .-loading {
      display: none;
    }

    .rt-th {
      background: var(--athens);
    }

    .rt-thead.-header {
      display: flex;
    }

    .rt-tr-group {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    .rt-tr {
      flex: 1 0 auto;
      display: inline-flex;
    }
  }
}

@include responsive('phone-xs', 'phone') {
  .wrapper {
    margin-bottom: 60px;
  }

  .title {
    @include text('body-1', 'l');
  }

  .empty {
    padding: 30px 16px 16px;
    border: 1px solid var(--porcelain);
    border-radius: 4px;
  }

  .section {
    margin: 16px 0 40px;
  }

  .card {
    margin-bottom: 8px;
  }
}

.login {
  margin: 0;
}
