@import '~@santiment-network/ui/mixins';

.title {
  @include text('h4', 'm');

  margin: 0;
}

.section {
  margin: 25px 0 50px;
}

.grid {
  // width: 100%;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
