@import '~@santiment-network/ui/mixins';

.wrapper {
  margin: 16px 0;
  padding: 0 18px;
  background-color: $bright-sun !important;
}

.crown {
  margin-right: 6px;
}

.close {
  margin-left: auto;
}
