.sanbase-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: var(--casper);
}

.sanbase-footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.sanbase-footer__links a {
  margin-left: 1em;
  color: var(--casper);
}

.sanbase-footer__links a:first-child {
  margin-left: 0;
}

.sanbase-footer__greetings {
  margin-top: 1em;
}
