@import "~@santiment-network/ui/mixins";

.post-visual-backtest {
  width: 260px;
  padding: 16px 16px 0 0;
  background: linear-gradient(180deg, var(--athens), hsla(0, 0%, 100%, 0));
  display: flex;
  flex-direction: column;
  text-align: right;
}

.post-visual-backtest__info {
  margin-bottom: 5px;
  display: flex;
}

.post-visual-backtest__changes {
  font-size: 14px;
  text-align: center;
  align-items: center;
  color: var(--waterloo);
}

.post-visual-backtest__percent {
  font-size: 14px;
  margin-left: auto;
}

@media (min-width: 768px) {
  .post-visual-backtest {
    display: flex;
  }

  .post-visual-backtest__info {
    flex-direction: column;
  }
}
