@import "~@santiment-network/ui/mixins";

.post-visual-backtest {
  width: 231px;
  background: linear-gradient(180deg, var(--athens), hsla(0, 0%, 100%, 0));
  display: flex;
  flex-direction: column;
  text-align: right;

  @include responsive('phone', 'phone-xs') {
    width: 100%;
  }
}

.post-visual-backtest__info {
  margin: 9px auto auto auto;
  display: flex;
}

.post-visual-backtest__changes {
  font-size: 14px;
  text-align: center;
  align-items: center;
  color: var(--waterloo);
}

.post-visual-backtest__percent {
  font-size: 14px;
  margin-left: auto;
  position: relative;
  top: -10px;
}

@media (min-width: 768px) {
  .post-visual-backtest {
    display: flex;
  }

  .post-visual-backtest__info {
    flex-direction: column;
  }
}
