@import '~@santiment-network/ui/mixins';

.label {
  width: 100%;
  text-align: left;
  padding: 0;
  display: flex;
  align-items: center;
}

.name {
  color: var(--rhino);
  padding-left: 10px;
  font-size: 14px;
}

.ticker {
  padding-left: 4px;
  color: var(--casper);
  font-size: 14px;
}

.label:hover .name {
  color: var(--jungle-green);
}
