@import '../mixins.scss';

.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  @include responsive('phone', 'phone-xs', 'tablet') {
    margin: 20px 0;
    justify-content: space-between;
  }
}
