.word {
  --color-hover: var(--green);

  :global(.phone) &,
  :global(.phone-xs) &,
  :global(.tablet) & {
    width: 100%;
  }
}

.cloud {
  min-width: 260px;
}

.words {
  height: 64px;
}

.chart {
  --chart-stroke: var(--malibu);
  --chart-fill: url(#trend-social-volume);
}

.skeleton {
  height: 40px;
  width: 120px;
}
