@import '~@santiment-network/ui/mixins';
/* stylelint-disable */

.word {
  &__link {
    color: var(--rhino);
  }
}

.change {
  display: flex;
  align-items: center;

  &__percent {
    margin-left: 10px;
  }
}

.cloud {
  padding: 0 !important;

  &__words {
    height: 80px;
  }
}

.chart {
  --chart-stroke: var(--malibu);
  --chart-fill: url(#trend-social-volume);

  &__skeleton {
    height: 40px;
    width: 120px;
  }
}

.table {
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  background: var(--white);

  :global {
    th {
      font-size: 14px;
      font-weight: 600;
    }

    td {
      border-top: 1px solid var(--porcelain);
      font-size: 16px;
    }

    tbody tr {
      height: 80px;
      cursor: pointer;

      &:hover {
        background: var(--athens);

        :local(.word) {
          color: var(--jungle-green);
        }
      }
    }
  }
}

.compact {
  :global {
    tbody tr {
      height: 60px !important;
    }

    th {
      border-bottom: 1px solid var(--porcelain);
    }

    td {
      border: none;
      font-size: 14px;
    }
  }
}

.paywall {
  fill: var(--casper);
  color: var(--casper);
  padding: 10px 10px 10px 0;

  &:hover {
    fill: var(--texas-rose);
    color: var(--texas-rose);

    .upgrade {
      display: inline-block;
    }
  }
}

.upgrade {
  margin-left: 10px;
  display: none;
}

@include responsive('phone', 'phone-xs') {
  .word {
    max-width: 0;
  }

  .change__percent {
    font-size: 14px;
  }

  .table {
    :global {
      th,
      td {
        font-size: 14px;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}
