.word {
  color: var(--rhino);
  font-weight: 600;
}

.change {
  display: flex;

  &__percent {
    margin-left: 10px;
  }
}

.cloud {
  padding: 0 !important;

  &__words {
    height: 80px;
  }
}

.chart {
  --chart-stroke: var(--malibu);
  --chart-fill: url(#trend-social-volume);

  &__skeleton {
    height: 40px;
    width: 120px;
  }
}

.table {
  :global {
    border-bottom: 1px solid var(--porcelain);

    th {
      font-size: 14px;
      font-weight: 600;
    }

    td {
      border-top: 1px solid var(--porcelain);
      font-size: 16px;
    }

    tr {
      td {
        &:first-child {
          border-left: 1px solid var(--porcelain);
        }

        &:last-child {
          border-right: 1px solid var(--porcelain);
        }
      }
    }

    tbody tr {
      height: 80px;
      background: var(--white);
      cursor: pointer;

      &:hover {
        background: var(--athens);

        /* stylelint-disable-next-line */
        :local(.word) {
          color: var(--jungle-green);
        }
      }
    }
  }
}
