@import '~@santiment-network/ui/mixins';
/* stylelint-disable */

.word {
  &__link {
    @include text('body-2');
    color: var(--rhino);
  }
}

.change {
  display: flex;
  align-items: center;

  &__percent {
    margin-left: 10px;
  }
}

.cloud {
  padding: 0 !important;

  &__words {
    height: 80px;
  }
}

.chart {
  --chart-stroke: var(--malibu);
  --chart-fill: url(#trend-social-volume);

  &__skeleton {
    height: 40px;
    width: 120px;
  }
}

.table {
  min-height: 350px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  td {
    padding: 8px 12px;

    &:first-of-type {
      @include text('body-2');

      padding-left: 24px;
    }
  }
}

.tableHeader {
  th {
    @include text('body-3', 'm');

    color: var(--waterloo);
    padding: 8px 12px;

    &:first-of-type {
      padding-left: 24px;
    }

    &:last-of-type {
      padding-right: 24px;
    }
  }
}

.compact {
  border: 1px solid var(--porcelain);
  border-radius: 8px;

  :global {
    tbody tr {
      height: 60px !important;
    }

    th {
      border-bottom: 1px solid var(--porcelain);
    }

    td {
      border: none;
      font-size: 14px;
    }
  }
}

.paywall {
  fill: var(--casper);
  color: var(--casper);
  padding: 10px 10px 10px 0;

  &:hover {
    fill: var(--texas-rose);
    color: var(--texas-rose);

    .upgrade {
      display: inline-block;
    }
  }
}

.upgrade {
  margin-left: 10px;
  display: none;
}

@include responsive('phone', 'phone-xs') {
  .word {
    width: 100%;
  }

  .change__percent {
    font-size: 14px;
  }

  .table {
    :global {
      th,
      td {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }
}
