@import "~@santiment-network/ui/mixins";

.date {
  @include text('caption');

  color: var(--casper);
  margin-left: auto;
  margin-bottom: auto;
  min-width: 110px;

  @include responsive('phone', 'phone-xs') {
    margin: 0 0 12px 0;
  }
}
