@import '~@santiment-network/ui/variables.scss';

.PaywallMessage {
  font-size: 14px;
  color: #262b33;
  font-weight: 400;
  user-select: none;
  display: flex;
  align-items: center;
}

.label {
  font-weight: 600;
  color: $dark-gray2;
  margin-right: 0.333rem;
}

.helpIcon {
  cursor: pointer;
}
