@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.divider {
  margin: 0 16px;
  width: 1px;
  background: var(--porcelain);
  height: 32px;
}

.title {
  @include text('body-3');

  color: var(--waterloo);
}

.settings {
  margin-left: auto;
}

.compare {
  margin-left: 12px;
}
