.wrapper {
  display: flex;
  align-items: center;
}

.calendar {
  min-width: 167px;
  margin: 0 16px;
}

.multi {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  margin: 0 4px;

  &__toggle {
    margin-left: 8px;
  }
}

.explain_active {
  border-color: var(--jungle-green);
  --btn-accent-color-hover: var(--jungle-green-hover);
}
