.wrapper {
  display: flex;
  align-items: center;
}

.calendar {
  min-width: 167px;
  margin: 0 8px 0 16px;
}

.multi {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  margin: 0 4px;

  &__toggle {
    margin-left: 8px;
  }
}

.explain {
  white-space: nowrap;

  &_active {
    border-color: var(--jungle-green);

    --btn-accent-color-hover: var(--jungle-green-hover);
  }
}

.share {
  fill: var(--casper);
}

.mapview {
  border-color: var(--jungle-green);
  color: var(--jungle-green);
  margin: 0 8px;
  white-space: nowrap;

  &:hover {
    border-color: var(--jungle-green-hover);
    color: var(--jungle-green-hover);
  }

  &_active {
    background: var(--jungle-green-light);
  }
}
