@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  height: 322px;
  width: 100%;
  flex-direction: column;
  margin-bottom: 24px;
}

.chartWrapper {
  position: relative;
}

.chart {
  position: absolute;
  top: 0;
  width: 100%;
  overflow-y: auto;
  height: 300px;
}

.title {
  background: var(--athens);
  color: var(--fiord);
  align-items: center;
  display: flex;
  padding: 6px 12px;

  @include text('caption', 'm');
}

.selector {
  margin-left: 12px;
}
