@import "~@santiment-network/ui/mixins.scss";

.disabled {
  --check-label-color: var(--waterloo);
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sourceWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
}

.divider {
  height: 1px;
  width: 100%;
  background: var(--porcelain);
}

.inputsRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.content {
  color: var(--waterloo);
}

.checkInfo {
  color: var(--check-label-color, var(--rhino));

  @include text("body-3");
}

.labelRow {
  display: flex;
  gap: 4px;
}

.channelSettingsTrigger {
  color: var(--jungle-green);
  cursor: pointer;
}
