@import '~@santiment-network/ui/mixins';

.wrapper {
  @include grid-wrap(2);
}

.widget {
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  background: var(--white);
}

.subheading {
  @include text('body-2', 'm');

  color: var(--waterloo);
  margin: 8px 0 12px 0;
}

.chart {
  padding: 0;
}

.help {
  margin: 0 6px -2px;
}
