@import '~@santiment-network/ui/mixins';

.wrapper {
  @include grid-wrap(2);
}

.widget {
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  background: var(--white);
  padding: 20px;
}

.subheading {
  @include text('body-2', 'm');

  color: var(--waterloo);
  margin: 8px 0 12px 0;
}

.chart {
  padding: 0;

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 16px;
    color: var(--rhino);
    font-family: Proxima Nova, sans-serif;
    font-weight: 400;
    font-size: 16px;

    /* line-height: 40px; */
  }
}
