@import "~@santiment-network/ui/mixins";

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatarWrapper {
  display: flex;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.avatarPlaceholderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--porcelain);
  background: var(--athens);
}

.avatarPlaceholder {
  width: 16px;
}

.userName {
  cursor: pointer;
  color: var(--rhino);

  @include text("body-3");

  &:hover {
    color: var(--jungle-green);
  }
}

.tooltip {
  z-index: 1000;
  padding: 16px 24px 24px;
  min-width: 320px;
  max-width: 520px;
  height: auto;
  background: var(--white);
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(24, 27, 43, 0.03);

  &__content {
    position: relative;
  }
}
