@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  width: 100%;
  max-width: 145px;
}

.progress {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 4px;
  margin-top: 2px;
  color: var(--waterloo);

  @include text('caption');
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.period {
  @include text('body-2');

  color: var(--rhino);
}

.line {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 2px;
  background-color: var(--porcelain);

  &::before {
    width: 30%;
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    height: 2px;
    border-radius: 2px;
    background-color: var(--casper);
  }

  &::after {
    left: calc(30% - 1px);
    position: absolute;
    content: '';
    display: block;
    top: -1px;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: var(--waterloo);
  }
}
