@import '~@santiment-network/ui/mixins.scss';

.listItem {
  margin-top: 5px;

  &:first-child {
    margin-top: 0;
  }
}

.label {
  margin-left: auto;
  color: var(--jungle-green);

  @include responsive('phone', 'phone-xs') {
    margin-left: 0;
  }
}

.textBlocks {
  display: flex;
  flex-direction: row;
  flex: 1;

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
  }
}

.metric {
  min-height: 70px;
  width: 100%;

  @include text('body-3');
  @include border-box();

  display: flex;
  align-items: center;
  background: var(--white);
  border: 1px solid var(--porcelain);
  border-radius: $border-radius;
  padding: 20px;
  cursor: pointer;

  @include responsive('phone', 'phone-xs') {
    padding: 10px 20px;
  }
}

.metrics {
  padding: 16px 24px;
}

.icon {
  width: 30px;
  height: 30px;
}

.iconBlock {
  margin-right: 15px;
}

.dialog {
  width: 550px;

  @include responsive('phone', 'phone-xs') {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
  }
}

.metricsTitle {
  color: var(--mirage);

  @include text('body-1');
}

.metricsExplanation {
  color: var(--waterloo);

  @include text('body-2');

  @include responsive('phone', 'phone-xs') {
    text-align: center;
  }
}

.metricsHeader {
  padding: 0 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 0 24px 24px;

  @include responsive('phone', 'phone-xs') {
    padding-top: 20px;
  }
}

.title {
  justify-content: flex-end;
  border: 0;
}

.texts {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @include text('body-3');
}

.metricDescription {
  @include text('caption');

  color: var(--waterloo);
}

.choose {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.chooseText {
  background: var(--white);
  padding: 0 12px;
  z-index: 10;
  color: var(--waterloo);

  @include text('caption');
}

.divider {
  position: absolute;
  top: 7px;
  width: 100%;
  border-bottom: 1px solid var(--porcelain);
  margin: 0 24px;
}
