@import '~@santiment-network/ui/mixins.scss';

.baseTypes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.listItem {
  margin-top: 8px;
  width: calc(50% - 5px);
}

.label {
  margin-left: auto;
  color: var(--jungle-green);

  @include responsive('phone', 'phone-xs') {
    margin-left: 0;
  }
}

.textBlocks {
  display: flex;
  flex-direction: row;
  flex: 1;

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
  }
}

.metric {
  min-height: 70px;
  width: 100%;

  @include text('body-3');
  @include border-box();

  display: flex;
  align-items: center;
  background: var(--white);
  border: 1px solid var(--porcelain);
  border-radius: $border-radius;
  padding: 0 16px;
  cursor: pointer;
  max-height: 70px;

  @include responsive('phone', 'phone-xs') {
    padding: 10px 20px;
  }

  &:hover {
    color: var(--jungle-green-hover);
    border: 1px solid var(--jungle-green-hover);
  }
}

.metrics {
  padding: 8px 0;
}

.iconBlock {
  margin-right: 15px;

  svg {
    width: 30px;
    height: 30px;
  }
}

.dialog {
  width: 564px;

  @include responsive('phone', 'phone-xs') {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
  }
}

.metricsTitle {
  color: var(--mirage);

  @include text('body-1');
}

.metricsExplanation {
  color: var(--waterloo);
  margin-top: 4px;

  @include text('body-2');

  @include responsive('phone', 'phone-xs') {
    text-align: center;
  }
}

.metricsHeader {
  padding: 0 24px 18px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 0 24px 24px;

  @include responsive('phone', 'phone-xs') {
    padding-top: 20px;
  }
}

.title {
  justify-content: flex-end;
  border: 0;
  padding: 16px 16px 0 16px !important;
}

.texts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;

  @include text('body-3');
}

.choose {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 24px;
}

.chooseText {
  background: var(--white);
  padding: 0 12px;
  z-index: 10;
  color: var(--waterloo);

  @include text('caption');
}

.divider {
  position: absolute;
  top: 7px;
  width: 100%;
  border-bottom: 1px solid var(--porcelain);
}

.search {
  margin-top: 26px;

  input {
    height: 40px;
  }
}
