@import "~@santiment-network/ui/mixins";

.option {
  color: var(--mirage);
  padding: 12px 16px;
  display: flex;
  align-items: center;

  @include text('body-3');
}

.icon {
  margin-right: 10px;
}

.focused {
  color: var(--jungle-green);
  cursor: pointer;
}

.selected {
  color: var(--jungle-green);
}

.header {
  color: var(--waterloo);

  @include text('caption');
}

.divider {
  border-top: 1px solid var(--porcelain);
}
