@import "~@santiment-network/ui/mixins";

.option {
  color: var(--mirage);
  padding: 12px 8px;

  @include text('body-3');

  &_focused {
    color: var(--jungle-green);
    cursor: pointer;
  }

  &_selected {
    color: var(--jungle-green);
  }
}

.header {
  color: var(--waterloo);

  @include text('body-3');
}
