@import '~@santiment-network/ui/mixins';

.setting {
  flex: 1;

  @include text('caption');

  color: var(--waterloo);
}

.etherscan {
  display: inline-block;

  @include text('body-3');

  color: var(--jungle-green);
  margin-top: 4px;

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.assets {
  position: relative;
}

.loader {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 6px;
}
