@import "~@santiment-network/ui/mixins";

.wrapper {
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--notification-description-gap, 8px);
}

.item {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: var(--notification-description-padding, 6px 12px);
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--fiord);

  @include text("body-3");
}

.icon {
  fill: var(--waterloo);
  margin-right: 4px;
}

.channelsText {
  margin-right: var(--notification-text-margin, 4px);
}

.small {
  --notification-description-padding: 4px 6px;
  --notification-text-margin: 2px;

  .item {
    @include text("caption");
  }

  .channels {
    display: block;
    padding: 0;
    border: none;
  }

  .channelsText {
    color: var(--waterloo);
    text-transform: lowercase;
  }
}
