@import '~@santiment-network/ui/mixins';

.trigger {
  margin: 0;
  background: inherit;
  fill: var(--waterloo);

  &:hover {
    background: inherit;
  }
}

.toggle {
  width: auto;
  position: absolute;
  right: 16px;
  bottom: 24px;
}

.messageWrapper {
  overflow: hidden;
  height: 58px;
  opacity: 1;
  transition-property: height, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  &__hide {
    height: 1px;
    opacity: 0;
  }
}

.message {
  margin-bottom: 16px;
}
