@import '~@santiment-network/ui/mixins';

.content {
  padding: 20px 24px;
  width: 480px;
}

.share__btn {
  margin: 0 6px;
  background: inherit;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  @include text('body-3');

  color: var(--waterloo);
  margin: 0 0 24px;
}

.toggle {
  width: 110px;
}
