@import '~@santiment-network/ui/mixins';

.icon {
  width: 12px;
  margin-right: 7px;
}

.publicity {
  margin-left: auto;
  fill: var(--casper);
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-right: 5px;

  @include explanation('Private', 'top');

  &:hover {
    .icon {
      fill: var(--jungle-green);
    }
  }

  &::before {
    bottom: 140%;
  }

  &_public:hover::before {
    content: 'Public';
  }
}

.unclickable {
  cursor: auto !important;

  &:hover {
    background: initial;
  }
}
