@import '~@santiment-network/ui/mixins';

.header {
  padding: 13px 23px;

  &__empty {
    padding: 0;
    border: none;
  }

  &__compact {
    display: none;
  }
}

.word {
  color: var(--rhino);

  @include text('body-1', 'l');

  @include responsive('phone', 'phone-xs') {
    @include text('body-2');
  }
}

.headerIndex {
  color: var(--waterloo) !important;
}

.panel {
  box-shadow: none;
  border: none;

  &__compact {
    border: none;
  }
}

.content {
  padding: 0;
  max-height: 100%;
  border: none;

  &__compact {
    border: 1px solid var(--porcelain);
    border-radius: 4px;
    overflow: hidden;
  }
}

.action {
  text-align: center;
  position: relative;
  overflow: visible !important;

  &:last-child {
    margin: 0;
  }

  &__icon {
    vertical-align: middle;
    fill: var(--rhino);

    &:hover {
      fill: var(--jungle-green);
    }

    &_disabled {
      fill: var(--rhino);
      cursor: default;
    }
  }
}

.index {
  @include text('body-2', 'l');
}

.table:global(.ReactTable) {
  /* stylelint-disable */
  & {
    border: none;
  }
  /* stylelint-enable */

  :global {
    .rt-thead.-header {
      box-shadow: none;
      padding: 0 24px;
      background: var(--athens);
      border: none;

      @include responsive('phone', 'phone-xs') {
        background: var(--white);
        padding: 8px 16px;
      }
    }

    .rt-th {
      background: var(--athens);
      text-align: left !important;
      text-transform: initial;
      color: var(--waterloo);
      padding: 0 0 6px 0 !important;

      @include text('body-3', 'l');

      @include responsive('phone', 'phone-xs') {
        background: var(--white);
        justify-content: flex-end;

        @include text('body-3');

        padding: 0;
        display: flex;

        &:first-child {
          justify-content: flex-start;
        }

        &:nth-of-type(2) {
          justify-content: center;
        }
      }
    }

    .rt-tr-group {
      padding: 0 0 0 24px;
      min-height: 60px;

      &:hover {
        background: var(--athens);
        cursor: pointer;
        /* stylelint-disable */
        :local {
          .word {
            color: var(--jungle-green-hover);
          }

          .checkbox {
            display: inline-flex;

            & + .index {
              display: none;
            }
          }
        }
        /* stylelint-enable */
      }

      @include responsive('phone', 'phone-xs') {
        padding: 0;
        height: 47px;

        @include text('body-2');

        &:last-child {
          border-bottom: 1px solid var(--porcelain);
        }
      }
    }

    .rt-tbody {
      border: 1px solid var(--porcelain);

      @include responsive('phone', 'phone-xs') {
        padding: 0 16px;
      }
    }

    .rt-td {
      padding: 0 !important;
      border: none !important;
      display: flex;
      align-items: center;
      font-size: 14px !important;
      line-height: 20px !important;
      color: var(--rhino);

      @include responsive('phone', 'phone-xs') {
        justify-content: flex-end;
        font-size: 16px !important;
        line-height: 22px !important;

        &:first-child {
          justify-content: flex-start;
        }

        &:nth-of-type(2) {
          justify-content: center;
        }
      }
    }
  }

  .rt-tr {
    align-items: center;
  }

  .rt-tr:hover {
    background: initial !important;
    transition: initial;
  }
}

.volume {
  @include text('body-1');

  @include responsive('phone', 'phone-xs') {
    font-size: 16px !important;
    line-height: 22px !important;
    text-align: right;
  }
}

.valueChange {
  margin-left: 10px;
  font-size: 14px !important;
  line-height: 20px !important;

  @include responsive('phone', 'phone-xs') {
    font-size: 16px !important;
    line-height: 22px !important;
    margin-left: 7px;
  }
}

.wordCloud {
  height: 80px;
  width: 100%;
}

.tooltip {
  z-index: 10;
  width: 400px;

  &__trigger {
    background: transparent;
    padding: 6px 7px;
    fill: var(--rhino);
  }
}

.insights {
  &__wrapper {
    text-align: right !important;
  }

  &__number {
    border-radius: 50%;
    position: absolute;
    background: var(--porcelain);
    color: var(--waterloo);
    font-size: 12px !important;
    right: 15px;
    top: 10px;
    padding-top: 1px;
    width: 14px;
    text-align: center;
    pointer-events: none;

    &_btn {
      top: 10px;
      left: 18px;
    }
  }
}

.insight {
  padding: 24px 18px;
  border-bottom: 1px solid var(--porcelain);

  &:last-child {
    border-bottom: none;
  }
}

.icon {
  vertical-align: middle;
}

.loader {
  font-size: 3px !important;
}

.compact:global(.ReactTable) {
  /* stylelint-disable */
  :global {
    .rt-tr-group {
      height: 32px;
      border-bottom: none !important;
    }
  }
  /* stylelint-enable */
}
