@import '~@santiment-network/ui/mixins';

.link {
  cursor: pointer;
  color: var(--rhino) !important;
  word-break: break-word;

  &:hover {
    color: var(--jungle-green-hover) !important;
  }

  @include responsive('phone', 'phone-xs') {
    margin-left: 0;
  }
}

.down {
  color: var(--persimmon);
}

.up {
  color: var(--jungle-green);
}
