@import '~@santiment-network/ui/mixins';

.link {
  cursor: pointer;
  color: var(--rhino) !important;
  word-break: break-word;

  @include text('body-1');

  &:hover {
    color: var(--green) !important;
  }

  @include responsive('phone', 'phone-xs') {
    margin-left: 0;
  }
}

.linkMobile {
  max-width: 60vw;
  display: block !important;

  &:hover {
    color: var(--black) !important;
  }
}

.frozenLink {
  color: var(--frozen-title-color, var(--waterloo)) !important;

  &:hover {
    color: var(--frozen-title-color) !important;
  }
}

.frozenDown {
  color: var(--frozen-down-icon-color, var(--red-light-1)) !important;
}

.frozenUp {
  color: var(--frozen-up-icon-color, var(--green-light-3)) !important;
}

.down {
  color: var(--red);
}

.up {
  color: var(--green);
}
