@import '~@santiment-network/ui/mixins';

.btn {
  background: var(--white);
  border: 1px solid var(--porcelain);
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  outline: none;

  &__left {
    @include text('body-3');

    color: var(--mirage);
    padding: 0 12px;
    max-width: 115px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    fill: var(--casper);
    align-items: center;
    display: flex;

    &_large {
      max-width: 135px;
    }

    &:hover {
      color: var(--jungle-green);
      fill: var(--jungle-green);
    }
  }
}

.dropdown {
  width: 32px;
  height: 30px;
  border-left: 1px solid var(--porcelain);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--waterloo);

  &:hover {
    fill: var(--jungle-green);
  }
}

.icon.active {
  transform: rotate(180deg);
  fill: var(--jungle-green);
}

.detailsIcon {
  margin-right: 8px;
  fill: var(--rhino);
  display: flex;
}

.cloud {
  vertical-align: middle;
  margin-right: 6px;
}

.group {
  padding: 8px;
  border-bottom: 1px solid var(--porcelain);
  min-width: 200px;

  &:last-child {
    border: none;
  }
}

.tooltip {
  cursor: pointer;
}

.tooltipIcon {
  position: absolute;
  top: -5px;
  right: 50%;
  transform: rotate(315deg);
  width: 10px !important;
  height: 10px !important;
  background-size: contain;
  fill: $fiord;
}

.copyAction {
  margin-left: auto;
  color: var(--casper);

  @include text('caption', 'b');
}

.templateInfo {
  background: var(--white);
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(24, 27, 43, 0.02);
  border-radius: $border-radius;
  width: 484px;
  padding: 2px 24px 24px 24px;
}
