@import '~@santiment-network/ui/mixins';

.wrapper {
  @include text('body-3');
  color: var(--rhino);
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.info {
  fill: var(--waterloo);
  margin-right: 8px;
  cursor: pointer;

  &:hover {
    fill: var(--jungle-green);
  }
}

.tooltip {
  z-index: 22;
}

.templateInfo {
  background: var(--white);
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(24, 27, 43, 0.02);
  border-radius: $border-radius;
  width: 484px;
  padding: 2px 24px 24px 24px;
}
