@import '~@santiment-network/ui/mixins';

.icon {
  margin-right: 9px;
}

.text {
  position: relative;

  &__active::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -13px;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid var(--athens);
    background: var(--jungle-green);
  }
}

.button {
  background: var(--athens);
  fill: var(--casper);
  margin-left: 20px;

  &.active {
    border: 1px solid var(--jungle-green);
  }

  &:hover {
    fill: var(--jungle-green-light-3);

    & .text__active::after {
      background: var(--jungle-green-hover);
    }
  }
}

.tooltip {
  z-index: 10000;
}

.tooltipWrapper {
  position: relative;
}

.tooltipContainer {
  width: 205px;
}
