@import '~@santiment-network/ui/mixins';

.trigger {
  --color-hover: var(--black) !important;
  padding: 12px 24px !important;
  background: inherit;
  margin-right: var(--margin);
  fill: var(--fiord) !important;

  &:hover {
    background: inherit;
  }
}

.shareTitle {
  background: var(--whale);
  color: var(--fiord);
}

.toggle {
  width: auto;
  position: absolute;
  right: 16px;
  bottom: 24px;
}

.messageWrapper {
  overflow: hidden;
  height: 58px;
  opacity: 1;
  transition-property: height, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  &__hide {
    height: 1px;
    opacity: 0;
  }
}

.message {
  margin-bottom: 16px;
}

.warningMessage {
  height: 56px;
  opacity: 1;
  padding: 8px 12px;
  border-radius: 6px;
  background: var(--orange-pale);

  transition-property: height, opacity, padding;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  &__hide {
    --margin: 0 !important;
    padding: 0;
    height: 0;
    opacity: 0;
  }
}

.warningMessageIcon {
  fill: var(--orange-hover);
}

.toggleWrapper {
  padding: 8px 0;
}
