@import '~@santiment-network/ui/mixins';

.copyBtn {
  --color: var(--black);
  --color-hover: var(--green);
}

.copiedBtn {
  gap: 8px;
  --color: var(--green);
  --color-hover: var(--green);
  --fill: var(--green);
}
