@import "~@santiment-network/ui/mixins.scss";

@mixin icon($color, $bg) {
  display: inline-flex;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: var($bg);
  fill: var($color);
}

.iconSocial {
  @include icon(--jungle-green, --jungle-green-light);
}

.iconFinance {
  @include icon(--persimmon, --persimmon-light);
}

.iconConnection {
  @include icon(--blue, --blue-light);
}

.dialog {
  width: 440px;

  @include responsive('phone', 'phone-xs') {
    width: 100%;
  }
}

.description {
  margin-bottom: 20px;

  @include responsive('phone', 'phone-xs') {
    margin-bottom: 0;
  }
}
