@import "~@santiment-network/ui/mixins.scss";

@mixin icon($color, $bg) {
  display: inline-flex;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: var($bg);
  fill: var($color);
}

.iconSocial {
  @include icon(--jungle-green, --jungle-green-light);
}

.iconFinance {
  @include icon(--persimmon, --persimmon-light);
}

.iconConnection {
  @include icon(--blue, --blue-light);
}

.title {
  @include text('body-3', 'm');
}
