@import '~@santiment-network/ui/mixins';

.wrapper {
  padding: 0;
  height: auto;
  cursor: pointer;
  color: var(--rhino) !important;
  margin-left: auto;
}

.toggle {
  margin-right: 8px;

  &.active {
    rect {
      fill: var(--persimmon) !important;

      &:hover {
        fill: var(--persimmon-hover) !important;
      }
    }
  }
}

.trigger {
  margin-left: 6px;
}

.question {
  fill: var(--casper);
  margin: 0 !important;

  &:hover {
    fill: var(--fiord);
  }
}

.tooltip {
  z-index: 100;
}

.note {
  padding: 8px;
  margin: 9px 0;
  color: var(--waterloo);
  background-color: var(--athens);

  @include text('caption');

  & .warning {
    color: var(--waterloo);
    font-weight: bold;
    margin-right: 5px;
  }

  & .text {
    margin-right: 5px;
  }
}
