@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.container {
  margin-top: 54px;
  display: flex;
}

.left {
  width: 100%;
  max-width: 580px;

  @include responsive('phone', 'phone-xs') {
    display: flex;
    max-width: 100%;
  }
}

.right {
  margin-left: auto;
  min-width: 560px;

  @include responsive('phone', 'phone-xs') {
    margin: 30px auto auto auto;
  }
}

.socials {
  display: flex;
  margin-bottom: 23px;
}

.followersBlocks {
  display: flex;
}

.divider {
  border-top: 1px solid var(--waterloo);
  width: 100%;
  opacity: 0.2;
}

.itemsCounter {
  width: 100%;
  padding-top: 16px;
  color: var(--waterloo);

  @include text('body-3');
}

.counterBlock {
  margin-right: 32px;
}

.counter {
  @include text('body-1');
}

.followBlock {
  display: flex;
}

.followBlockSecond {
  margin-left: 48px;

  @include responsive('phone', 'phone-xs') {
    margin-left: 16px;
  }
}

.followCounter {
  @include text('h4');

  color: $rhino;
}

.followDescription {
  @include text('body-3');

  color: var(--waterloo);
  margin-top: 2px;
}

.socialIcons {
  margin-left: auto;
  margin-top: 6px;
}

.socialIcon {
  margin-left: 26px;
  cursor: not-allowed;
  fill: var(--casper);
}

.follow {
  width: 32px;
  height: 32px;
  background: var(--porcelain);
  border-radius: 50%;
}

.followCounters {
  margin-left: 16px;
}

.followBtn {
  margin-top: 16px;

  @include responsive('phone', 'phone-xs') {
    margin: 0 0 0 auto;
  }
}

.name {
  @include text('h3');

  color: $rhino;
  overflow-wrap: break-word;
}

.email {
  @include text('body-3');

  color: var(--waterloo);
  margin-top: 4px;
  display: flex;
  align-items: center;

  @include responsive('phone', 'phone-xs') {
    margin: 0 0 0 16px;
  }
}
