@import '~@santiment-network/ui/mixins';

.container {
  margin-top: 46px;
  display: flex;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    flex-direction: column;
    margin-top: 20px;
  }
}

.left {
  display: flex;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.leftText {
  word-break: break-word;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    margin: 20px 0;
  }
}

.right {
  flex: 1;
  margin-left: 55px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--porcelain);

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    margin: 0;
    padding: 0;
    min-width: auto;
    border: none;
  }
}

.socials {
  display: flex;
  align-items: center;
  margin-top: 32px;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    margin: 20px 0;
    flex-direction: column;
  }
}

.followersBlocks {
  display: flex;
}

.followBlock {
  padding: 9px;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    background: var(--athens);
    border-radius: $border-radius;
  }
}

.followBlockSecond {
  margin-left: 16px;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    margin-left: 16px;
  }
}

.followCounter {
  @include text('h4');

  color: var(--rhino);
}

.followDescription {
  @include text('body-3');

  color: var(--waterloo);
}

.follow {
  height: 32px;
}

.followCounters {
  margin-left: 13px;
}

.followBtn {
  margin-top: 16px;
  padding: 6px 12px 6px 7px;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    margin: 0 0 0 auto;
  }
}

.name {
  @include text('h3');

  color: var(--rhino);
  overflow-wrap: break-word;
}

.email {
  @include text('body-3');

  color: var(--waterloo);
  margin-top: 4px;
  display: flex;
  align-items: center;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    margin: 0 0 0 16px;
  }
}

.avatar {
  width: 140px;
  height: 140px;

  svg {
    width: 50%;
    height: 50%;
  }
}
