@import '~@santiment-network/ui/mixins';

.container {
  padding: 24px;
  display: flex;
  background: var(--athens);
  border-radius: 4px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.title {
  color: var(--rhino);

  @include text('body-3'); }

.description {
  color: var(--waterloo);
  margin-top: 8px;

  @include text('body-3'); }

.checkbox {
  display: flex;
}

.connect {
  margin-left: auto;
  color: var(--jungle-green);
}
