@import '~@santiment-network/ui/mixins';

.wrapper,
.currency {
  @include text('caption');

  color: var(--waterloo);
}

.title {
  font-weight: 500;
}

.balance {
  @include text('body-1');

  color: var(--rhino);
  margin: 6px 0 8px;
}

.projects {
  display: flex;
}

.project {
  margin-left: 8px;

  &:first-child {
    margin: 0;
  }
}
