@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.top,
.bottom {
  display: flex;
}

.top {
  flex-direction: column;
  position: relative;
}

.bottom {
  margin: 4px 0 0;
}

.etherscan {
  @include text('body-3');

  color: var(--jungle-green);
  margin-left: auto;
  white-space: nowrap;

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.btn {
  background: transparent;
  fill: var(--casper);
  white-space: nowrap;

  &:hover {
    background: var(--athens);
    fill: var(--waterloo);
  }

  &__icon {
    margin-right: 8px;
  }
}

.divider {
  width: 1px;
  height: 32px;
  background: var(--porcelain);
  margin: 0 4px;
}

.actions {
  display: flex;
  margin: 16px 0 0 16px;
}

.widget {
  margin-left: 72px;

  @media only screen and (max-width: 1360px) {
    margin-left: 24px;
  }
}

.widgets {
  display: flex;

  @media only screen and (max-width: 1260px) {
    flex-basis: 100%;
    margin-top: 24px;
    justify-content: space-between;

    .widget {
      flex: 1;
      margin-left: 10%;

      &:first-child {
        margin: 0;
        flex: 2;
      }
    }
  }
}

.note {
  position: absolute;
  right: 10px;
  top: 8px;

  @include responsive('phone', 'phone-xs') {
    right: 16px;
    top: 16px;
  }
}
