@import '~@santiment-network/ui/mixins';

.wrapper {
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  padding: 20px;
  background: var(--white);
}

.time {
  @include text('body-2', 'm');

  color: var(--waterloo);
  margin: 12px 0 0 0;
}
