@import '../../../node_modules/@santiment-network/ui/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  font-size: 14px;
  margin: 40px 0;
}

.usecases {
  @include text('body-3');

  color: var(--rhino);
  padding-top: 24px;
}
