@import '~@santiment-network/ui/mixins';

.wrapper {
  position: relative;
  margin: 0 0 34px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include responsive('phone', 'phone-xs') {
    margin-bottom: 0;
  }
}

.title {
  @include text('h3');

  text-align: center;
  margin: 0;

  @include responsive('phone', 'phone-xs') {
    @include text('h4');
  }
}

.list {
  margin: 48px auto 50px auto;

  @include responsive('phone', 'phone-xs') {
    margin: 24px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 12px;

  &_petersik {
    background-image: url('https://cdn.discordapp.com/attachments/552140868904288295/626055852360466442/peter_sikuda.jpg');
  }

  &_cryptobirb {
    background-image: url("./cryptobirb.jpg");
  }

  &_panama_crypto {
    background-image: url("./panama_crypto.jpg");
  }

  &__default {
    background: var(--jungle-green-light);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--jungle-green);

    @include text('body-2', 'l');
  }
}

.testimonial {
  border-radius: $border-radius;
  padding: 32px 32px 26px 32px;
  border: 1px solid var(--porcelain);
  width: 350px;
  margin: 0 14px 16px 14px;
  position: relative;
  display: flex;
  flex-direction: column;
  float: left;

  @include responsive('laptop', 'tablet', 'phone', 'phone-xs') {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include responsive('phone', 'phone-xs') {
    width: 100%;
  }
}

.bgImg {
  position: absolute;
  bottom: 32px;
  right: 32px;
  z-index: 1;
}

.text {
  font-size: 20px;
  line-height: 32px;
  font-style: italic;
  word-break: break-word;
}

.bottom {
  margin-top: 40px;
  z-index: 10;
  display: flex;
  align-items: center;
}

.author {
  display: flex;
  flex-direction: column;

  &__name {
    @include text('body-2', 'l');
  }

  &__description {
    @include text('body-3');

    color: var(--waterloo);
  }
}

.description {
  @include text('body-1');

  color: var(--waterloo);
  margin-top: 16px;
  text-align: center;
  max-width: 437px;
}
