@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  background: url('./bg.svg') no-repeat 50%;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100vw;
    top: -150px;
    height: 500px;
    left: calc((1140px - 100vw) / 2);
    z-index: -1;
    background: url('./blur.svg') no-repeat 0 -70px;
    background-size: 30%;

    @include responsive('phone', 'phone-xs') {
      background: none;
    }
  }
}

.title {
  margin-bottom: 60px;
}

.slider {
  text-align: center;
  margin: 0 auto;
  width: 600px;
  position: relative;

  @include responsive('phone', 'phone-xs') {
    width: 100%;
  }

  &__top {
    margin-bottom: 40px;
    flex: 1;
  }
}

.text {
  @include text('body-1', 't');
}

.author {
  @include text('body-2');
}

.position {
  @include text('body-3');
  color: var(--waterloo);
}

.testimonial {
  outline: none;
  display: flex !important;
  flex-direction: column;
  height: 100%;
}

.arrow {
  height: 36px;
  width: 36px;
  border: 1px solid var(--porcelain);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  bottom: 35px;
  stroke: var(--mirage);

  &:hover {
    stroke: var(--dodger-blue) !important;
  }

  &_left {
    left: 20%;
  }

  &_right {
    right: 20%;
  }

  @include responsive('phone', 'phone-xs') {
    &_left {
      left: 0;
    }

    &_right {
      right: 0;
    }
  }
}

.pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 auto;
  background-size: cover;

  &_yan {
    background-image: url('../../images/yan.jpg');
  }

  &_pramesh {
    background-image: url('../../images/pramesh_tyagi.jpg');
  }

  &_paolo {
    background-image: url('../../images/paolo-ardoino.jpg');
  }
}

:global {
  /* Slider */
  .slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }

  .slick-list {
    position: relative;

    display: flex;
    overflow: hidden;

    margin: 0;
    padding: 0;
  }
  .slick-list:focus {
    outline: none;
  }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }

  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-track:before,
  .slick-track:after {
    display: table;

    content: '';
  }
  .slick-track:after {
    clear: both;
  }
  .slick-loading .slick-track {
    visibility: hidden;
  }
  .slick-slide > div {
    height: 100%;
  }
  .slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
  }
  [dir='rtl'] .slick-slide {
    float: right;
  }
  .slick-slide img {
    display: block;
  }
  .slick-slide.slick-loading img {
    display: none;
  }
  .slick-slide.dragging img {
    pointer-events: none;
  }
  .slick-initialized .slick-slide {
    display: block;
  }
  .slick-loading .slick-slide {
    visibility: hidden;
  }
  .slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
    display: none;
  }
}
