@import "~@santiment-network/ui/mixins";

.title {
  cursor: pointer;
  color: var(--casper);
  margin-left: 32px;
  user-select: none;

  &:hover {
    color: var(--jungle-green);
  }

  &:first-child {
    margin-left: 0;
  }
}

.active {
  color: var(--rhino);
}

.header {
  display: flex;
  margin-bottom: 32px;
  color: var(--rhino);
  justify-content: space-between;

  @include text("h4", "m");

  @include responsive("phone", "phone-xs", "tablet") {
    flex-wrap: wrap;
  }
}

.tabs {
  display: flex;
  flex: 1 1 100%;

  @include responsive("phone", "phone-xs", "tablet") {
    flex: 1;
    margin-bottom: 24px;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 100%;

  & > * + * {
    margin-left: 16px;
  }
}
