@import "~@santiment-network/ui/mixins";

.title {
  cursor: pointer;
  color: var(--casper);
  margin-left: 32px;
  user-select: none;

  &:hover {
    color: var(--jungle-green);
  }

  &:first-child {
    margin-left: 0;
  }
}

.active {
  color: var(--rhino);
}

.header {
  display: flex;
  margin-bottom: 32px;
  color: var(--rhino);
  justify-content: space-between;

  @include text("h4", "m");
}

:global(.phone-xs) .header,
:global(.phone) .header,
:global(.tablet) .header {
  flex-wrap: wrap;
}

.tabs {
  display: flex;
  flex: 1 1 100%;
}

:global(.phone-xs) .tabs,
:global(.phone) .tabs,
:global(.tablet) .tabs {
  flex: 1;
  margin-bottom: 24px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 100%;
  gap: 16px;
}
