@import '~@santiment-network/ui/mixins';

:global(.phone-xs) .wrapper,
:global(.phone) .wrapper {
  flex-direction: column;
}

.title {
  --color: var(--casper);
  --color-hover: var(--fiord);

  &:first-child {
    margin-left: 0;
  }
}

.active {
  --color: var(--black);
  --color-hover: var(--black);
}

:global(.phone-xs) .header,
:global(.phone) .header,
:global(.tablet) .header {
  flex-wrap: wrap;
}

.tabs {
  flex: 1 1 100%;
}

:global(.phone-xs) .tabs,
:global(.phone) .tabs,
:global(.tablet) .tabs {
  flex: 1;
  margin-bottom: 24px;
}

.actions {
  justify-content: flex-end;
  flex: 1 1 100%;
}
