@import '~@santiment-network/ui/mixins';

.template {
  background-color: var(--athens);
  margin: 0 0 24px;
  padding: 32px 40px;
  border-radius: 8px;

  &__title {
    @include text('body-1');

    font-weight: 500;
    margin: 0 0 16px;
  }

  &__description {
    @include text('body-2');

    max-width: 711px;
    color: var(--fiord);
    margin: 0 0 24px;
  }
}

.button {
  width: 100%;
  height: 64px;
  justify-content: center;
  border: 1px dashed var(--mystic);
  border-radius: 4px;

  @include text('body-2');
}

.useIcon {
  margin-left: 8px;
  width: 8px;
  height: 6px;
}
