@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  position: relative;
  z-index: 22;
  margin-right: 12px;
  width: 260px;
  transition: width 200ms ease-out;

  input {
    height: 32px;
    padding-left: 40px !important;

    @include responsive('phone', 'phone-xs') {
      height: auto;
    }
  }

  input + svg:first-of-type {
    width: 17px;
    padding: 0 8px 0 16px;
  }
}

.focused {
  width: 340px;
}

.name {
  color: var(--mirage);
  margin: 0 3px 0 5px;
}

.ticker {
  color: var(--waterloo);
}

.projectWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &:hover {
    & .name,
    & .ticker {
      color: var(---btn-accent-color-hover);
    }
  }
}

.projectInfo {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 5px;
}

.recents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear {
  cursor: pointer;
  fill: var(--mirage);

  &:hover {
    fill: var(--jungle-green);
  }
}

.recent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--mirage);
  width: 100%;
}

.left {
  display: flex;
  align-items: center;
}

.clock {
  fill: var(--mystic);
  margin-right: 12px;
  width: 12px;
  height: 12px;
}

.remove {
  display: none;
  fill: var(--waterloo);
  width: 8px;
  height: 8px;
  box-sizing: content-box;
  padding: 5px;
  margin: -5px;

  &:hover {
    fill: var(--mirage);
  }
}

.suggestion:hover .remove {
  display: block;
}
