.wrapper {
  position: relative;
  z-index: 10;
  margin-right: 12px;
}

.name {
  color: var(--mirage);
  margin: 0 3px 0 5px;
}

.ticker {
  color: var(--waterloo);
}

.projectWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &:hover {
    & .name,
    & .ticker {
      color: var(---btn-accent-color-hover);
    }
  }
}

.projectInfo {
  display: flex;
  align-items: center;
}
