.wrapper {
  position: relative;
  z-index: 10;
  margin-right: 12px;
}

.name {
  color: var(--mirage);
  margin: 0 3px 0 5px;
}

.ticker {
  color: var(--waterloo);
}

.projectWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &:hover {
    & .name,
    & .ticker {
      color: var(---btn-accent-color-hover);
    }
  }
}

.projectInfo {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 5px;
}

.recent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--mirage);
  width: 100%;
}

.left {
  display: flex;
  align-items: center;
}

.clock {
  fill: var(--mystic);
  margin-right: 12px;
  width: 12px;
  height: 12px;
}

.remove {
  display: none;
  fill: var(--waterloo);
  width: 8px;
  height: 8px;
  box-sizing: content-box;
  padding: 5px;
  margin: -5px;

  &:hover {
    fill: var(--mirage);
  }
}

.recent:hover .remove {
  display: block;
}
