@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  width: 100%;
  position: relative;
}

.youtube {
  fill: var(--waterloo);
}

.more {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 3px 8px;
  margin-top: 8px;
  margin-left: auto;
  color: var(--rhino);

  & .word {
    padding: 0 8px 0 4px;
  }

  &:hover,
  &:focus {
    color: var(--mirage);

    & .word {
      color: var(--persimmon);
    }

    & .youtube {
      fill: var(--persimmon);
    }
  }
}

.videos {
  display: block;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  height: 200px;
  padding: 0;
}

.scroller {
  position: absolute;
  display: flex;
  top: 0;
  left: 24px;
}

.widget {
  width: 100%;
  margin-right: 8px;

  &:last-child {
    margin-right: 24px;
  }
}

.iframe {
  border: none;
  border-radius: 4px;
  outline: none;
  height: 176px;
  width: 316px;
}
