.socialLink {
  font-size: 12px;
  margin-right: 10px;
  color: var(--jungle-green);
}

.social-icons a {
  border-bottom: none;
  color: var(--jungle-green);
}

.disabled {
  color: var(--mystic);

  &:hover {
    color: var(--mystic);
    cursor: not-allowed;
  }
}

.loader {
  font-size: 5px;
}

.value {
  display: flex;
  align-items: center;
}
