.socialLink {
  font-size: 12px;
  padding: 0 10px;
}

.social-icons a {
  border-bottom: none;
  color: var(--jungle-green);
}

.disabled {
  color: var(--mystic);
}

.loader {
  font-size: 5px;
}

.value {
  display: flex;
  align-items: center;
}
