@import '~@santiment-network/ui/mixins';

.socialLink {
  font-size: 12px;
  margin-right: 10px;
  color: var(--jungle-green);
  cursor: pointer;
  display: inline-block;

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.tooltip {
  display: flex;
  flex-direction: column;
  background: var(--white);
  border: 1px solid var(--porcelain);
  padding: 12px;
  border-radius: $border-radius;
}

.social-icons a {
  border-bottom: none;
  color: var(--jungle-green);
}

.disabled {
  color: var(--mystic);
  pointer-events: none;

  &:hover {
    color: var(--mystic);
  }
}

.loader {
  font-size: 5px;
}

.value {
  display: flex;
  align-items: center;
}
