@import '~@santiment-network/ui/mixins';

.wrapper {
  position: relative;
  padding: 0 !important;
}

.top {
  padding: 16px 13px 16px 24px;
  background: var(--athens);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  @include responsive('phone-xs', 'phone') {
    padding: 0 14px;
  }
}

.chart {
  margin: 0;
  z-index: 0;

  @include responsive('phone-xs', 'phone') {
    margin: 0 14px;
  }
}

.bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 10px 24px 0;

  @include responsive('phone-xs', 'phone') {
    padding: 16px 14px;
  }
}

.metrics {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: auto;
}

.metric {
  margin-bottom: 8px;
}

.dominance {
  margin-top: 8px;
}
