@import '~@santiment-network/ui/mixins';

.wrapper {
  position: relative;
}

.top {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 0 34px;
}

.chart {
  margin: 0 34px;
  z-index: 0;
}

.title {
  color: var(--waterloo);
  margin: 0 18px 0 0;

  @include text('body-2');
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--porcelain);
  border-bottom: 1px solid var(--porcelain);
  padding: 24px 34px;
  margin: 32px 0;
}

.metrics {
  display: flex;
  align-items: center;
}
