@import '~@santiment-network/ui/mixins.scss';

.toggle {
  margin: 0 8px 0 16px;
}

.button {
  padding: 0;
  height: auto;
  cursor: pointer;
  white-space: nowrap;
  color: var(--rhino) !important;
  margin-left: auto;
  margin-right: 8px;
}

.wrapper {
  display: flex;
  align-items: center;
}
