@import '~@santiment-network/ui/mixins.scss';

.toggle {
  margin-right: 8px;

  &.active rect {
    fill: var(--texas-rose-hover) !important;

    &:hover {
      fill: var(--texas-rose-hover) !important;
    }
  }
}

.button {
  padding: 0;
  height: auto;
  cursor: pointer;
  color: var(--rhino) !important;
  margin-left: auto;
  margin-right: 8px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.tooltip {
  padding: 4px;
}
