@import '~@santiment-network/ui/mixins';

.firstBlock {
  margin-top: -340px;
}

.balance {
  &__chart {
    margin-top: 10px;
    background: var(--white);
    border-radius: $border-radius;
    border: 1px solid var(--porcelain);
  }

  &__header {
    padding: 0;
  }
}

.overviewWrapper {
  @include grid-wrap(2);
}
