@import "~@santiment-network/ui/mixins";

.disabled {
  --step-title-color: var(--mystic);
  --step-description-color: var(--casper);
}

.wrapper {
  display: flex;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--step-title-color, var(--rhino));

  @include text("body-1", "m");
}

.smallTitle {
  @include text("body-1");
}

.description {
  color: var(--step-description-color, var(--waterloo));

  @include text("body-3");
}
