.card {
  border: none;
}

.img {
  width: 48px;
  height: 48px;
}

.reports {
  margin: 2px 0 24px 0;
}

.accordionContent {
  border: none;
}

.link {
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}
