@import '~@santiment-network/ui/mixins';

.card {
  border: none;
  background-image: none;
  padding: 20px 24px !important;
}

.title {
  @include text('body-1', 'm');
}

.description {
  @include text('body-2');
}

.proBtn {
  min-width: 126px;
  height: 32px;
}

.img {
  width: 48px;
  height: 48px;
}

.accordionContent {
  border: none;
}

.link {
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}
