.card {
  border: none;
  background-image: none;
  padding: 21px 24px !important;
}

.img {
  width: 48px;
  height: 48px;
}

.accordionContent {
  border: none;
}

.link {
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}
