@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.header {
  @include text('body-1', 'm');
}

.toggle {
  margin-left: auto;
  user-select: none;
}

.cabinet {
  display: flex;
  align-items: center;

  &::after {
    @include text('caption', 'm');

    content: 'PRO';
    margin-left: 8px;
    background: var(--texas-rose);
    color: $white;
    padding: 3px 7px 1px;
    border-radius: 4px;
  }
}

.arrow {
  margin-left: auto;
  fill: var(--waterloo);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.row {
  @include text('body-2');

  cursor: pointer;
  color: var(--rhino);
  border: none !important;
  transition: background-color 0.1s ease, color 0.1s ease;

  &__active {
    color: var(--waterloo);
  }

  &:hover {
    color: var(--jungle-green);
    background: var(--athens);

    & .arrow {
      opacity: 1;
    }
  }
}

.status {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-right: 16px;
  border: 1px solid var(--mystic);
  fill: var(--mystic);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);

  &_active {
    background-color: var(--jungle-green);
    border-color: var(--jungle-green);
    fill: var(--white);
  }
}

.checkmark {
  width: 10px;
  height: 8px;
}

.accordionContent {
  padding: 12px 0;
}
