@import '~@santiment-network/ui/mixins';

.container {
  border-radius: $border-radius;
  border: 1px solid var(--porcelain);
  background: var(--white);
}

.sharedAxisToggle {
  margin: 0 19px 9px auto;

  @include text('body-3', 'm');

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    margin: 8px 0 8px auto;
  }
}

.right {
  margin-left: auto;
  display: flex;
}

.measurements {
  padding-bottom: 9px;
  margin-left: 4px;
}
