@import '~@santiment-network/ui/mixins';

.container {
  border-radius: $border-radius;
  border: 1px solid var(--porcelain);
  background: var(--white);
  position: relative;
}

.sharedAxisToggle {
  margin: 0 19px 9px auto;

  @include text('body-3', 'm');

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    margin: 8px 0 8px auto;
  }
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.measurements {
  padding-bottom: 9px;
  margin-left: 4px;
}

.skeleton {
  min-height: 540px;
  height: 100%;
}

.settings {
  display: flex;
  margin: 16px;
}

.settingsBtn {
  margin-bottom: 6px;
}
