@import '~@santiment-network/ui/mixins';

.wrapper {
  padding: 16px;
}

.metrics {
  margin: 13px 0 0;
  display: flex;
  flex-direction: column;
}

.toggle {
  cursor: pointer;
  box-sizing: content-box;
  padding: 8px;
  fill: var(--mirage);

  &:hover {
    fill: var(--jungle-green);
  }
}

.category {
  margin: 0 0 22px;

  &:last-child {
    margin: 0;
  }

  &_hidden {
    .metrics {
      display: none;
    }

    .toggle {
      transform: rotate(180deg);
    }
  }
}

.title {
  @include text('body-3', 'l');

  margin: 0 0 0 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.group {
  @include text('caption');

  color: var(--waterloo);
  margin: 14px 0 8px;
}

.advanced {
  margin-left: 24px;
  position: relative;
  z-index: 0;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background: var(--porcelain);
    left: -15px;
  }

  &::before {
    height: 100%;
    width: 1px;
    transform: translateY(-50%);
  }

  &::after {
    height: 1px;
    width: 16px;
  }
}
