.description,
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  font-size: 8px;
}

.description {
  width: 260px;
  text-align: center;
  line-height: initial;
}
