@import 'variables.scss';

.header {
  margin-top: 10px;
}

.header h1 {
  width: 100%;
  font-weight: 600;
  font-style: normal;
  line-height: 28px !important;
  font-size: 24px !important;
  color: #252830 !important;
  margin-left: 0;
}

@media (min-width: $breakpoint-desktop) {
  .HistoricalBalancePage {
    margin-bottom: 2em !important;
    width: $breakpoint-desktop;
  }

  .header {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .header h1 {
    width: 392px;
    font-weight: 600 !important;
    line-height: 37px !important;
    font-size: 32px !important;
  }
}
