@import 'variables.scss';
@import './../../mixins.scss';

.title {
  margin-bottom: 1rem;

  h1 {
    width: 100%;
    font-weight: 600;
    font-style: normal;
    line-height: 28px !important;
    font-size: 24px !important;
    color: var(--black);
    margin-left: 0;
  }
}

/* stylelint-disable */
@include responsive('desktop') {
  .HistoricalBalancePage {
    margin-bottom: 2em !important;
    width: $breakpoint-desktop;
  }

  .title h1 {
    width: 392px;
    line-height: 37px !important;
    font-size: 32px !important;
  }
}
/* stylelint-enable */
