@import '~@santiment-network/ui/mixins';

.settings {
  display: flex;
  background: var(--athens);
  padding: 16px 24px;

  &_phone {
    flex-direction: column;
  }
}

.setting {
  @include text('caption');

  flex: 1;
  color: var(--waterloo);
}

.section {
  @include text('body');

  color: var(--waterloo);
  margin-bottom: 24px;
}
