@import '~@santiment-network/ui/mixins';

.settings {
  display: flex;
  background: var(--athens);
  padding: 16px 24px;

  &_phone {
    flex-direction: column;
  }
}

.setting {
  @include text('caption');

  flex: 1;
  color: var(--waterloo);
}

.section {
  @include text('body-1');

  margin: 0 0 24px;
  color: var(--waterloo);
}

.bottom {
  display: flex;
  margin-top: 32px;
}

.left,
.right {
  width: 50%;
}

.left {
  padding-right: 24px;
}

.right {
  padding-left: 24px;
}
