@import '~@santiment-network/ui/variables.scss';
@import 'mixins.scss';

.wrapper {
  ul {
    list-style-type: none;
    padding: 0;
  }

  .channelItem {
    /* stylelint-disable */
    @include flexible-row;
    align-items: baseline;
    max-width: 100%;
    border-bottom: 1px solid $light-gray2;
    padding-bottom: 1rem;
    padding-top: 1rem;

    &:first-child {
      padding-top: 0;
    }
    /* stylelint-enable */
    .channelTitle {
      flex: 1;
    }

    .channelSettings {
      flex: 2;
      justify-content: initial;
    }

    .channelToggle {
      display: flex;
      align-items: center;
      border: 1px solid $light-gray2;
      border-radius: 4px;
      padding: 1rem;
      width: 100%;

      small {
        margin-left: 1rem;
      }
    }
  }
}

.NotificationStatus {
  color: $red;
}

.isConnected {
  color: $green;
}

/* stylelint-disable */
@include responsive('tablet') {
  .wrapper {
    li {
      max-width: 80%;
    }
  }

  .channelToggle {
    width: 50% !important;
  }
}
@include responsive('desktop') {
  .wrapper {
    li {
      max-width: 80%;
    }
  }

  .channelToggle {
    width: 50% !important;
  }
}
/* stylelint-enable */
