@import '~@santiment-network/ui/mixins';

.wrapper {
  width: 100%;
}

.title {
  color: var(--rhino);
  margin-bottom: 21px;

  @include text('h3');
}

.tabs {
  width: 100%;
  margin-bottom: 25px;

  @include responsive('phone', 'phone-xs') {
    padding: 0 20px;
  }

  & div {
    padding-left: 15px;
    padding-right: 15px;

    @include responsive('phone', 'phone-xs') {
      padding: 15px;
      margin: 0;
    }
  }
}

.tab {
  color: inherit;
}

.settings {
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    background: var(--athens);
    color: var(--grey-dark-2);

    @include text('caption');

    font-weight: 600;
  }

  &__content {
    padding: 0;
  }

  box-shadow: none;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--porcelain);
  min-height: 60px;
  padding: 16px 20px;

  &:last-child {
    border-bottom: none;
  }

  &__left {
    display: flex;
    flex-direction: column;

    &_form {
      flex-direction: row;
      align-items: center;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &_apikey {
    display: flex;
    margin-left: auto;

    @include responsive('phone', 'phone-xs') {
      margin: 10px 0 0 0;
      display: flex;
      justify-content: center;
    }
  }

  &__description {
    margin-top: 4px;
  }
}

.signalInfo {
  margin-right: 24px;
}

.getTokens {
  @include text('body-3');
}

.bancorLogo {
  position: absolute;
  right: 18px;
  top: 12px;
}

.bancor {
  max-width: 100%;
  width: 100%;
  margin-top: 14px;

  & > div > div > div > div {
    // NOTE(vangaurd): I know....

    box-shadow: none !important;
    border: 1px solid var(--porcelain);
    display: flex;
    align-items: center;
  }

  a[href="https://www.bancor.network"] {
    position: absolute;
    top: -42px;
  }
}

.tokens {
  flex-direction: column;
  position: relative;

  &__markets {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__market {
    padding: 20px;
    border: 1px solid var(--porcelain);
    color: var(--jungle-green);
    border-radius: 4px;
    text-align: center;
    flex: 1;
    margin-right: 24px;

    &:last-child {
      margin: 0;
    }

    @include responsive('phone', 'phone-xs') {
      padding: 10px;
    }
  }
}

.inputLabels {
  display: flex;
  flex-direction: column;
  word-break: break-word;

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
  }
}

.inputBlock {
  margin-right: 5px;
  display: flex;

  @include responsive('phone', 'phone-xs') {
    width: 100%;
    align-items: flex-start;
    flex-direction: column !important;
  }
}

.form {
  position: relative;
  display: flex;

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
  }

  &__input {
    margin-left: 16px;
    display: none;

    &_edit {
      display: block;
      width: 320px;

      @include responsive('phone', 'phone-xs') {
        margin: 0;
        width: 100%;
      }
    }
  }

  &__action {
    cursor: pointer;

    &:hover {
      color: var(--jungle-green-hover);
    }
  }

  &__error {
    display: none;
    position: absolute;
    bottom: 87%;
    left: 100px;
  }

  &_error:hover .form__error {
    display: block;
  }

  &_error .form__input:focus + .form__error {
    display: block;
  }
}

.btns {
  display: flex;
  flex-direction: row-reverse;
}

.btn {
  display: inline-block;
  min-width: 80px;
  text-align: center;

  &_cancel {
    margin-right: 16px;
  }
}

.apikey {
  display: flex;
  height: 32px;
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  position: relative;
  min-width: 250px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 32px;
    width: 30px;
    height: 100%;
    background: linear-gradient(
      270deg,
      #fff 0%,
      #fff 30.94%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &__input {
    color: var(--mirage);
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    padding: 6px 0 6px 10px;
    border-right: 1px solid var(--porcelain);
  }

  &__icon {
    height: 100%;
    fill: var(--mirage);
    margin: 0 8px;
    cursor: pointer;

    &:hover {
      fill: var(--jungle-green);
    }
  }
}

.metamask {
  display: flex;
  width: 100%;
  align-items: center;

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
  }
}

.metamask_connect {
  margin-left: auto;

  @include responsive('phone', 'phone-xs') {
    margin: auto;
    margin-top: 10px;
  }
}

.digest {
  width: 100%;
  display: flex;
  align-items: center;

  @include responsive('phone', 'phone-xs') {
    display: flex;
    flex-direction: column;
  }
}

.neuro {
  width: 100%;
  display: flex;
  align-items: center;

  @include responsive('phone', 'phone-xs') {
    display: flex;
    flex-direction: column;
  }
}

.digestSelector {
  margin-left: auto;

  @include responsive('phone', 'phone-xs') {
    margin: 10px 0 0 0;
  }
}

.connect_telegram {
  margin-left: auto;

  @include responsive('phone', 'phone-xs') {
    margin: auto;
    margin-top: 10px;
  }
}

.connecting_telegram {
  font-size: 5px;
  margin-left: 5px;
}

.telegram {
  display: flex;
  width: 100%;
  align-items: center;

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
  }
}

.settingBlock {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.pushLoader {
  font-size: 5px;
}

.description {
  margin-top: 4px;
}

.warning {
  color: var(--persimmon);
}

.signalDescription {
  @include text('body-3');

  margin-right: 24px;
  color: var(--jungle-green);
  text-align: right;
}

.toggleWrapper {
  display: flex;
}

.container {
  @include responsive('phone', 'phone-xs') {
    margin: 0 16px;
  }
}

.version {
  margin-bottom: 10px;
  text-align: center;
  color: var(--casper);

  @include text('body-3');
}

.logoutBtn {
  margin-bottom: 25px;
}

.tooltip {
  min-width: 200px;
}

.actions {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  color: var(--waterloo);

  @include text('body-3');
}

.link {
  padding: 0;
}

.reconnect {
  margin-top: 4px;
}
