@import '~@santiment-network/ui/mixins.scss';

.panel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  color: var(--mirage);

  @include text('body-2');
}

.count {
  color: var(--mirage);
}

.info {
  color: var(--waterloo);

  @include text('body-3');

  margin-top: 6px;
}

.skeleton {
  width: 100%;
  height: 50px;
}
