@import '~@santiment-network/ui/mixins';

.wrapper {
  padding: 12px 24px;
  display: flex;
  align-items: center;

  @include responsive('phone', 'phone-xs') {
    padding: 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    @include text('body-2');
  }
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.platform {
  margin-bottom: 4px;
}

.time {
  color: var(--waterloo);
}

.revoke {
  margin-left: auto;
  padding-right: 0;

  @include responsive('phone', 'phone-xs') {
    margin-left: 56px;
    margin-top: 12px;
    padding-left: initial;
  }
}

.wrapper + .wrapper {
  border-top: 1px solid var(--porcelain);
}

.loader {
  min-height: 60px;
}

.closeDialog {
  margin-left: 8px;
  margin-right: auto;
}
