.wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.counter {
  width: 130px;
}

.period {
  width: 124px;

  [class="ReactVirtualized__Grid ReactVirtualized__List"] {
    min-height: 112px;
  }
}
