.header {
  display: flex;
  padding: 16px 24px 4px;
}

.timeranges {
  margin-left: auto;
}

.calendar {
  margin: 0 8px;
  min-width: 167px;
}

.divider {
  border-top-color: var(--porcelain);
  margin: 15px 0;
}
