@import "~@santiment-network/ui/mixins.scss";

.nameOption {
  color: var(--mirage);
  padding: 12px 8px;

  @include text('body-3');
}

.nameHeader {
  color: var(--waterloo);

  @include text('body-3');
}

.nameOptionFocused {
  color: var(--jungle-green);
  cursor: pointer;
}

.nameOptionSelected {
  color: var(--jungle-green);
}
