@import "~@santiment-network/ui/mixins";

.wrapper {
  @include responsive('phone-xs', 'phone') {
    margin-bottom: 20px;
  }
}

.layout {
  padding: 18px 24px;
  display: flex;
  align-items: center;
  border: 1px solid var(--porcelain);
  position: relative;

  @include responsive('tablet', 'laptop', 'desktop') {
    border-bottom: none;
    border-left: none;
  }

  @include responsive('phone-xs', 'phone') {
    flex-direction: column;
    margin: 0 16px;
    padding: 12px 24px;
    flex-wrap: wrap;
    align-items: baseline;
    border-radius: $border-radius;
  }
}

.top {
  display: flex;
  align-items: center;

  @include responsive('phone-xs', 'phone') {
    width: 100%;
  }
}

.bottom {
  @include responsive('phone-xs', 'phone') {
    margin-bottom: 8px;
  }
}

.arrow {
  fill: var(--waterloo);
  margin-left: auto;
}

.button {
  margin-left: 24px;
  padding: 4px 16px 6px;

  @include responsive('phone-xs', 'phone') {
    margin-left: 0;
    margin-top: 19px;
  }
}

.button + .button {
  margin-left: 8px;
}

.stat span {
  color: var(--jungle-green);
}

.active {
  background: var(--athens);

  &:hover {
    background: var(--athens);
  }
}

.icon {
  margin-right: 10.5px;
  fill: var(--persimmon);
}

.tooltip {
  max-width: 530px;
  width: 100%;
  text-align: left;
}

.question {
  margin-right: 7.5px;
  width: 16px;
  height: 16px;

  &:hover {
    fill: var(--fiord);
  }
}

.description {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: var(--waterloo);
  fill: var(--casper);

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.filterDescription {
  margin: 10px 0;
  text-align: center;
}
