.status {
  vertical-align: sub;
  fill: var(--grey-dark);
  margin-right: 9px;
  width: 15px;

  &_public {
    width: 17px;
  }
}

.frozenStatus {
  display: var(--frozen-left-buttons-display, block);
  fill: var(--casper);
  color: var(--casper);
}

.icon {
  display: inline-flex;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: var(--blue-light);
  fill: var(--blue);
  justify-content: center;
  align-items: center;
}
