@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  width: 320px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 24px 16px;
  color: var(--rhino);
  border-bottom: 1px solid var(--porcelain);

  @include text('body-3', 'm');
}

.list {
  padding: 12px 14px;
}

.item {
  padding: 6px 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 24px 20px;
  border-radius: 0 0 4px 4px;
  margin: 0 1px 1px 1px;
  background-color: var(--athens);
  background-image: url(./boxes.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;

  &__title {
    margin-bottom: 12px;
    color: var(--rhino);
  }
}

.btn {
  padding: 6px 16px;
}
