@import "~@santiment-network/ui/mixins";

.container {
  display: flex;
  align-items: center;
  width: 100%;
}

.link {
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.undo {
  color: var(--persimmon);
  cursor: pointer;
  margin-left: 16px;

  &:hover {
    color: var(--persimmon-hover);
  }
}
