@import '~@santiment-network/ui/mixins';

.wrapper {
  :global {
    .text {
      font-weight: normal;

      p {
        margin: 0;
      }

      h1 {
        @include text('caption');

        margin: 0;
      }
    }
  }
}
