@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.actions {
  display: flex;
}

.creator {
  margin-top: 16px;
}

.tooltip {
  margin-top: auto;
  display: flex;
}

.wrapper {
  display: flex;
}

.description {
  margin-bottom: 8px;
  display: flex;
  color: var(--waterloo);

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
  }
}

.content {
  flex: 1;
}

.activityItem {
  display: flex;
  flex-direction: row;
  color: var(--rhino);
  padding: 16px;
  background: var(--white);
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(59, 84, 106, 0.03), 0 1px 2px rgba(59, 84, 106, 0.03);
  border-radius: $border-radius;
  margin-bottom: 16px;

  a {
    color: var(--jungle-green);

    &:hover {
      color: var(--jungle-green-hover);
    }
  }

  img {
    margin: 14px 0 16px 0;
    border-radius: $border-radius;
    max-width: 100%;
  }
}

.activityItemBacktest {
  display: flex;

  img {
    display: none;
  }
}

.title {
  @include text('body-2');

  display: flex;
  width: 100%;
  margin: 0;
  color: var(--waterloo);
}

.date {
  margin-left: auto;
  color: var(--casper);

  @include text('caption');
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 231px;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    flex: 1;
    width: 100%;
  }
}

.center {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.activityCustom {
  display: flex;
  flex: 1;
  word-break: break-all;
}

.activityBacktest {
  margin-bottom: 0 !important;
  margin-right: 12px;

  @include responsive('phone', 'phone-xs') {
    margin: 0;
  }
}

.dateBacktest {
  margin-top: auto;

  @include text('caption');
}

.info {
  display: flex;
  flex-wrap: wrap;

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
  }
}

.icon {
  margin-right: 16px;
}

.bottom {
  display: flex;
  margin-top: 16px;
  padding-top: 12px;
  border-top: 1px solid var(--porcelain);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.avatarTooltip {
  max-width: 180px;
}

.new {
  color: var(--jungle-green);
  margin-right: 4px;
}
