@import "~@santiment-network/ui/mixins.scss";

.newSignal {
  &__icon {
    height: 18px;
    margin-right: 7px;
  }
}

.TriggerPanel {
  position: relative;
}

.dialog {
  @include responsive('phone', 'phone-xs') {
    max-width: 100%;
    max-height: 98vh;
    min-height: 20vh;
    margin: 0;
  }
}

.title {
  position: relative;
}

.notSignalInfo {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  text-align: center;

  @include responsive('phone', 'phone-xs') {
    width: initial;
  }
}

.noSignalImage {
  margin-bottom: 20px;
}

.shared {
  @include text('body-3');

  margin-left: auto;
  width: 70px;
  margin-right: 20px;
  cursor: initial;

  &:hover {
    background: var(--jungle-green);
  }
}

.loading {
  padding: 10px;
  width: 550px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include responsive('phone', 'phone-xs') {
    width: initial;
  }
}
