@import '~@santiment-network/ui/mixins';

.container {
  padding: 0 24px !important;
  max-width: 100% !important;
  position: relative;
  margin: 0 auto !important;
  background: var(--athens);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner {
  width: 100%;
  flex: 1;
  margin: auto;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    padding: 0 16px;
  }
}

.footer {
  margin-top: auto;
}
