.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 8px 0;
}

.chart {
  flex: 1;
}

.calendar {
  min-width: 167px;
  margin-left: auto;
}
