@import '~@santiment-network/ui/variables';
@import '../../../animations';

$preview-width: 475px;
$preview-height: 250px;

.wrapper {
  user-select: none;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: var(--athens);
  z-index: 20;
}

.sticky {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 64px 25px;
  animation-name: appear;
  animation-timing-function: ease-out;
  animation-duration: 0.35s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, $preview-width);
  grid-auto-flow: row dense;
  grid-gap: 23px;
  flex: 1;
}

.item {
  width: 100%;
  height: $preview-height;
  border: 1px solid var(--porcelain);
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: var(--white);

  canvas {
    width: 100%;
    height: 100%;
  }

  &::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    content: 'Click to zoom into chart';
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background: rgba(47, 53, 77, 0.8);
    transition: opacity 0.35s ease-in-out;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &_new {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    flex-direction: column;

    &::after {
      content: 'Click to create a new chart with selected metrics';
    }
  }

  &.loading::after {
    content: '';
  }
}

.iconNew {
  margin-bottom: 8px;
}

.visible {
  overflow: auto;
  flex: 1;
  max-height: 100%;
  margin-right: -25px;
}

.mapview_selection {
  &::after {
    content: 'Click to apply selected metrics';
  }
}
