@import '~@santiment-network/ui/variables';

$preview-width: 475px;
$preview-height: 250px;

.wrapper {
  user-select: none;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: var(--athens);
  z-index: 20;
  animation: appear 200ms;
}

.sticky {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 0;

  padding: 64px 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, $preview-width);
  grid-auto-flow: row dense;
  grid-gap: 23px;
  flex: 1;
}

.item {
  width: 100%;
  height: $preview-height;
  border: 1px solid var(--porcelain);
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: var(--white);

  canvas {
    width: 100%;
    height: 100%;
  }

  &::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    content: 'Click to zoom into chart';
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($mirage, 0.84);
    color: $white;
    transition: opacity 150ms;
  }

  &:hover::after {
    opacity: 1;
  }

  &_new {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    flex-direction: column;

    &::after {
      content: 'Click to create a new chart with selected metrics';
    }
  }

  &.loading::after {
    content: '';
  }
}

.iconNew {
  margin-bottom: 8px;
}

.visible {
  overflow: auto;
  flex: 1;
  max-height: 100%;
  margin-right: -25px;
}

.mapview_selection {
  &::after {
    content: 'Click to apply selected metrics';
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.metrics {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba($casper, 0.6);
  opacity: 0;
  transition: opacity 150ms;

  &_visible {
    opacity: 1;
  }

  &__list {
    margin-top: -8px;
    flex-wrap: wrap;
  }

  &,
  &__list {
    display: flex;
    justify-content: center;
  }
}

.metric {
  margin-top: 8px;
}
