@import '~@santiment-network/ui/variables';

.selection {
  display: flex;
  position: fixed;
  bottom: 25px;
  border-radius: 4px;
  background: $fiord;
  padding: 12px 24px;
  color: $white;
  left: calc(50% + 130px);
  align-items: center;
  width: calc(100% - #{260px + 25px * 2});
  transform: translate(-50%, 120px);
  transition: transform 250ms ease-out;
  z-index: 20;

  &_visible {
    transform: translate(-50%, 0);
  }
}

.left {
  display: flex;
  margin-right: 24px;
  flex: 1;
  font-weight: 600;
  flex-direction: column;

  &__row {
    display: flex;
    align-items: center;
    flex: 1;
    white-space: nowrap;

    &:last-child {
      margin-top: 8px;
    }

    &:only-child {
      margin-top: 0;
    }
  }
}

.metrics {
  display: flex;
  margin: -8px 0 0 24px;
  flex-wrap: wrap;
}

.metric {
  margin: 8px 8px 0 0;
}

.clear {
  margin-left: auto;
  height: 40px;
  background: var(--white);
  color: var(--persimmon);

  &:hover {
    color: var(--persimmon-hover);
  }
}

@keyframes slide {
  from {
    transform: translate(-50%, 200px);
  }

  to {
    transform: translate(-50%, 0);
  }
}
