@import '~@santiment-network/ui/mixins';

@mixin btn($color) {
  border-color: var(--#{$color});
  color: var(--#{$color});

  &:hover {
    border-color: var(--#{$color}-hover);
    color: var(--#{$color}-hover);
  }
}

.btn {
  margin-bottom: 8px;
  border: 1px solid transparent;
  height: auto;
  min-height: 32px;

  &:last-child {
    margin: 0;
  }

  &:hover {
    fill: var(--casper);
  }
}

.toggle {
  color: var(--casper);
  fill: var(--casper);
  stroke: var(--casper);

  &.active {
    border: 1px solid var(--porcelain);
    color: var(--rhino);
    box-shadow: 0 2px 8px rgba(59, 84, 106, 0.03),
      0 1px 2px rgba(59, 84, 106, 0.03);
  }
}

.check:hover {
  background: var(--athens);
}

.label {
  text-align: left;
}

.icon {
  margin-right: 8px;
  min-width: 14px;
}

.top {
  @include text('body-2', 'm');

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px;
}

.checkbox {
  margin: 0 8px 0 -2px;
}

.confirm {
  @include btn(jungle-green);
}

.cancel {
  @include btn(persimmon);
}

.unmerge {
  color: var(--persimmon);
  margin-left: 8px;

  &:hover {
    color: var(--persimmon-hover);
    text-decoration: underline;
  }
}

.metrics {
  overflow: auto;
  display: flex;
  flex-direction: column;
}
