@import '~@santiment-network/ui/mixins';

@mixin btn($color) {
  border-color: var(--#{$color});
  color: var(--#{$color});

  &:hover {
    border-color: var(--#{$color}-hover);
    color: var(--#{$color}-hover);
  }
}

.toggle {
  color: var(--casper);
  fill: var(--casper);
  stroke: var(--casper);
}

.btn {
  margin-bottom: 8px;
  height: auto;
  min-height: auto;
  padding: 7px 12px;
  color: var(--casper);

  &:last-child {
    margin: 0;
  }

  &:hover {
    fill: var(--casper);
    color: var(--rhino);
    background: var(--athens);
  }

  &.active {
    color: var(--rhino);
  }
}

.label {
  text-align: left;
}

.icon {
  margin-right: 8px;
  min-width: 14px;
}

.top {
  @include text('body-2', 'm');

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px;
}

.checkbox {
  margin: 0 8px 0 -2px;
}

.confirm {
  @include btn(jungle-green);
}

.cancel {
  @include btn(persimmon);
}

.merge {
  width: auto;
}

.unmerge {
  color: var(--persimmon);
  margin-left: 8px;

  &:hover {
    color: var(--persimmon-hover);
    text-decoration: underline;
  }
}

.metrics {
  overflow: auto;
  display: flex;
  flex-direction: column;
}
