@import "~@santiment-network/ui/mixins.scss";

.multiple {
  --operation-inputs-width: 100%;
  --operation-inputs-flex: 1;
}

.wrapper {
  width: var(--operation-inputs-width);
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.operation {
  min-width: var(--operation-inputs-width, 286px);

  [class="ReactVirtualized__Grid ReactVirtualized__List"] {
    min-height: 304px;
  }
}

.inputs {
  width: var(--operation-inputs-width, 80px);
}

.option {
  display: flex;
  align-items: center;
  gap: 8px;
}
