@import '~@santiment-network/ui/mixins';

.address {
  color: var(--rhino);

  &:hover {
    color: var(--jungle-green);
  }
}

.labels {
  @include text('caption');

  display: flex;
  margin-top: -4px;
}

.note {
  display: flex;
  align-items: center;
  padding-right: 20px;

  & textarea {
    background-color: inherit;
    border: none;
    outline: none;
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    padding: 0;
    cursor: pointer;
    resize: none;

    &::placeholder {
      color: var(--waterloo);
      transition: opacity 0.15s ease-in-out;
    }

    &:hover {
      color: var(--jungle-green);

      &::placeholder {
        color: var(--jungle-green);
        will-change: opacity;
      }
    }

    &:focus {
      color: var(--rhino);
      cursor: text;

      &::placeholder {
        opacity: 0;
      }
    }
  }
}
