@import '~@santiment-network/ui/mixins';

.address {
  color: var(--rhino);

  &:hover {
    color: var(--jungle-green);
  }
}

.labels {
  @include text('caption');

  display: flex;
  margin-top: -4px;
}
