@import '~@santiment-network/ui/mixins';

.limits {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  @include text('body-3', 'l');
  margin-bottom: 12px;

  :global(.phones) &,
  :global(.phone-xs) & {
    @include text('body-2');
  }
}

.limitBlock {
  display: flex;
  margin-bottom: 8px;
  align-items: center;

  &:first-child {
    margin: 0;
  }
}

.input {
  text-align: center;
  max-width: 150px;

  :global(.phones) &,
  :global(.phone-xs) & {
    padding: 8px 10px;
    width: 80px;
    border-radius: 6px;
  }
}
