@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.details {
  @include text('caption');

  pointer-events: none;
  border: 1px solid var(--porcelain);
  background: rgba($white, 0.85);
  border-radius: 4px;
  z-index: 3;
  color: var(--rhino);

  :global(.night-mode) & {
    background: rgba($mirage, 0.85);
  }
}

.strict {
  background: var(--white);
}

.title {
  color: var(--rhino);
  padding: 8px 14px;
  border-bottom: 1px solid var(--porcelain);
  background: var(--bgcolor, var(--athens));

  @include text('caption');

  @include responsive('phone-xs', 'phone', 'tablet') {
    padding: 8px 12px;
  }
}

.content {
  padding: 10px 14px;

  @include responsive('phone-xs', 'phone', 'tablet') {
    padding: 8px 12px;
  }
}

.metric {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: inline-block;
    height: 1.5px;
    width: 8px;
    background: var(--color);
    margin-right: 8px;
    border-radius: 1px;

    @include responsive('phone-xs', 'phone', 'tablet') {
      width: 6px;
      min-width: 6px;
      height: 6px;
      border-radius: 50%;
      margin-right: 4px;
      border: 1px solid var(--white);
    }
  }
}

.name {
  color: var(--casper);
  margin-left: 4px;

  @include responsive('phone-xs', 'phone', 'tablet') {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include text('caption');
  }
}

.legend {
  display: flex;
  margin: 10px 20px;
}

.label {
  display: flex;
  margin-right: 22px;
  color: var(--mirage);
}

.row {
  margin-top: 8px;

  &:first-child {
    margin-top: 0;
  }
}

.key {
  margin-right: 8px;
  color: var(--waterloo);

  @include text('caption');
}

.value {
  white-space: nowrap;
  color: var(--rhino);

  @include text('caption');
}
