@import '~@santiment-network/ui/mixins';

.wrapper {
  background: var(--white);
  width: calc(50vw - 16px);

  @media (orientation: landscape) {
    width: 30vw;
  }
}

.price {
  display: block;
  color: var(--rhino);
  margin-bottom: 2px;
  min-height: 40px;

  @include text('h3');

  @media (orientation: landscape) {
    @include text('body-1', 'l');

    min-height: 26px;
    margin-bottom: 0;
  }
}

.date {
  display: block;
  color: var(--rhino);
  margin-bottom: 6px;

  @include text('caption');

  @media (orientation: landscape) {
    @include text('caption');
  }
}
