@import "~@santiment-network/ui/mixins.scss";

.expander {
  position: relative;
}

.expanderButton {
  position: absolute;
  top: -5px;
  right: -10px;

  &:hover {
    fill: var(--jungle-green);
  }
}

.dialog {
  border: 1px solid red;
}

.expanded {
  padding: 20px 20px 10px 20px;
}

@include responsive('descktop', 'phone-xs') {
  .expanded {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

@include responsive('phone', 'phone-xs') {
  .expanded {
    width: 100% !important;
  }
}
