@import "~@santiment-network/ui/mixins.scss";

.fired {
  @include text('body-3');

  color: var(--casper);
}

.times {
  @include text('body-3');

  margin-left: 10px;
}

.container {
  width: 100%;
  height: 100%;
}

.chartBlock {
  margin-top: 10px;
  width: 100%;
  height: calc(100% - 20px);
}

.chart {
  height: calc(100% - 32px);
}

.description {
  margin-right: 45px;

  @include responsive('phone', 'phone-xs') {
    margin-right: 0;
  }
}

.preview {
  position: relative;
}

.metrics {
  padding: 0;
}
