@import '~@santiment-network/ui/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;

  @include responsive('phone', 'phone-xs', 'laptop', 'tablet') {
    padding: 0 16px;
  }
}

.header {
  text-align: center;
  position: relative;
  display: flex;
}

.list {
  margin-top: 48px;
  padding: 0 24px;
  flex-wrap: wrap;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.twitterEmbed {
  @include responsive('phone', 'phone-xs', 'tablet') {
    padding: 0 8px 0 0;
    display: flex !important;
    justify-content: center;
    width: 100%;
    min-width: 100%;
  }
}

.headerBg {
  position: absolute;
  left: 30%;
  top: -45px;
  fill: var(--athens);
  width: 134px;
  height: 105px;

  @include responsive('phone', 'phone-xs') {
    height: initial;
    width: 70px;
    top: -14px;
    left: 40%;
  }
}

.title {
  z-index: 1;
  text-align: center;
  display: flex;

  @include text('h4', 'l');

  @include responsive('phone', 'phone-xs') {
    @include text('h4', 'l');
  }
}

.twitterBlue {
  fill: #4da0eb;
  margin: auto 16px auto auto;
  width: 32px;
  height: 25px;

  @include responsive('phone', 'phone-xs') {
    width: 16px;
    height: 16px;
  }
}

.swipeContainer {
  margin: 0 auto;
  width: 100%;
}

:global {
  /* Slider */
  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }

  .slick-list {
    position: relative;
    display: flex;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .slick-list:focus {
    outline: none;
  }

  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }

  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .slick-track::before,
  .slick-track::after {
    display: table;
    content: '';
  }

  .slick-track::after {
    clear: both;
  }

  .slick-loading .slick-track {
    visibility: hidden;
  }

  .slick-slide > div {
    height: 100%;
  }

  .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
  }

  [dir='rtl'] .slick-slide {
    float: right;
  }

  .slick-slide img {
    display: block;
  }

  .slick-slide.slick-loading img {
    display: none;
  }

  .slick-slide.dragging img {
    pointer-events: none;
  }

  .slick-initialized .slick-slide {
    display: block;
  }

  .slick-loading .slick-slide {
    visibility: hidden;
  }

  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }

  .slick-arrow.slick-hidden {
    display: none;
  }
}

.slider {
  width: 100%;
  margin-top: 40px;

  div {
    .slick-slide {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}
