@import '~@santiment-network/ui/mixins';

.insights {
  margin-top: 40px;

  @include responsive('phone', 'phone-xs') {
    padding: 0 16px;
  }
}

.trendsWrapper {
  width: 100%;
  margin-bottom: 2rem;

  @include responsive('phone', 'phone-xs') {
    padding: 0 16px;
  }
}

.titleWrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;

  @include responsive('phone', 'phone-xs') {
    margin: 12px auto 0 0;
  }
}

.title {
  text-align: center;
  color: var(--rhino);

  @include text('h3');

  @include responsive('phone', 'phone-xs') {
    @include text('h4');

    font-weight: 500;
    margin: 0;
  }
}

.search {
  margin: 30px auto 16px auto;
  width: 500px;

  @include responsive('phone', 'phone-xs') {
    width: 100%;
    padding: 0 16px;
    margin: 8px 0 16px 0;
  }
}

.suggestions {
  margin: 0 auto 48px auto;
  justify-content: center;

  @include responsive('phone', 'phone-xs') {
    margin-bottom: 20px;
  }
}

.icon {
  margin-right: 8px;
  margin-top: -1px;

  @include responsive('phone', 'phone-xs') {
    margin: 0;
    padding: 0;
    fill: var(--rhino);
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  @include responsive('phone', 'phone-xs') {
    padding: 0;
  }
}

.back {
  @include responsive('phone', 'phone-xs') {
    padding-top: 26px;
  }
}

.right {
  margin-top: 16px;
}
