@import '~@santiment-network/ui/mixins';

.insights {
  margin-top: 40px;
}

.trendsWrapper {
  width: 100%;
  margin-bottom: 2rem;

  @include responsive('phone', 'phone-xs') {
    margin: 0 16px;
  }
}

.titleWrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: var(--mirage);

  @include text('h3');

  @include responsive('phone', 'phone-xs') {
    @include text('h4');
  }
}

.search {
  margin-bottom: 45px;
  align-items: center;

  &__input {
    margin-bottom: 13px;
  }

  &__form {
    width: 430px;
  }
}

.icon {
  margin-right: 8px;
  margin-top: -1px;

  @include responsive('phone', 'phone-xs') {
    margin: 0;
    padding: 0;
    fill: var(--rhino);
  }
}

.header {
  display: flex;
}

.back {
  @include responsive('phone', 'phone-xs') {
    padding-left: 0;
  }
}
