.wrapper {
  height: 230px;
  margin: 32px 0;
  padding: 19px 24px;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 16px;
}

.content {
  flex: 1;
}

.chart {
  font-size: 12px;
  line-height: 18px;

  :global {
    text {
      fill: var(--casper);
    }
  }
}

.bar {
  fill: var(--mystic);
}
