@import '~@santiment-network/ui/variables.scss';
@import 'mixins.scss';

.TrendsPage {
  .header {
    display: flex;
    align-items: center;

    h1 {
      margin-right: 0.5rem !important;
    }
  }
}

.title div {
  display: flex;
  justify-content: left;
}

.WordCloudSticky {
  width: 100%;
  background-color: rgba($white, 0.8);
  box-shadow: 0 1px 2px rgba(21, 24, 31, 0.02), 0 2px 10px rgba(21, 24, 31, 0.04), 0 4px 24px rgba(21, 24, 31, 0.06);
  margin: 0;

  :global(.night-mode) &{
      background-color: rgba($dark, 0.8);
  }
}

@media (min-width: $breakpoint-tablet) {
  .TrendsPage {
    margin-bottom: 2em !important;
    width: 1024px;
  }
}

/* stylelint-disable */
@include responsive('desktop') {
  .title h1 {
    width: 392px;
    line-height: 37px !important;
    font-size: 32px !important;
  }
}
/* stylelint-enable */
