@import '~@santiment-network/ui/variables.scss';
@import 'mixins.scss';

.header {
  margin-bottom: 50px;
}

.title div {
  display: flex;
  justify-content: left;
}

.WordCloudSticky {
  width: 100%;
  background-color: rgba($white, 0.8);
  box-shadow: 0 1px 2px rgba(21, 24, 31, 0.02),
    0 2px 10px rgba(21, 24, 31, 0.04),
 0 4px 24px rgba(21, 24, 31, 0.06);
  margin: 0;

  :global(.night-mode) & {
    background-color: rgba($dark, 0.8);
  }
}

@media (min-width: $breakpoint-tablet) {
  .TrendsPage {
    margin-bottom: 2em !important;
    width: 1024px;
  }
}

/* stylelint-disable */
@include responsive('desktop') {
  .title h1 {
    width: 392px;
    line-height: 37px !important;
    font-size: 32px !important;
  }
}
/* stylelint-enable */

.column {
  display: flex;

  &__left {
    flex: 2;
    margin-right: 30px;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.subtitle {
  font-family: Rubik;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 26px;
}

.gradient {
  position: relative;
  flex: 1;
  display: flex;

  &::after {
    position: absolute;
    display: block;
    content: '';
    bottom: 1px;
    left: 3px;
    right: 6px;
    height: 24px;
    background: linear-gradient(
      0,
      var(--white) 20%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.finsights {
  flex: 1;
  overflow-y: auto;
  position: relative;

  &__scroller {
    position: absolute;
    width: 100%;
    padding: 24px;
  }
}

.card {
  padding: 15px 20px;
  height: 180px;
  min-width: 100%;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.more {
  margin-left: 12px;
}

.pointer {
  vertical-align: middle;
}
