@import '~@santiment-network/ui/mixins';

.wrapper {
  margin: 0;

  @include responsive('desktop') {
    max-width: 100% !important;
  }

  @include responsive('desktop', 'laptop', 'tablet') {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  @include responsive('phone-xs', 'phone') {
    margin: 0 16px;
    width: auto;
  }
}

.wrapperHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: -16px;
  padding-top: 6px;
  width: 100%;
  flex: 1 1;
}

.widgets {
  margin-top: 1rem;

  @include grid-wrap(2);
}

.search {
  input {
    color: $black;
    line-height: 20px;
    font-size: 1rem;
  }
}

.settings {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;

  @include responsive('desktop', 'laptop', 'tablet') {
    align-items: center;
    flex-direction: row;
  }
}

.chart {
  margin: 24px 0;
}

.chartWrapper {
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  padding: 18px 0 14px;
  margin: 24px 0 0;
  z-index: 0;

  @include responsive('phone-xs', 'phone', 'tablet') {
    margin: 24px 0;
  }
}

.chartSettings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 24px;

  @include responsive('phone-xs', 'phone') {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 24px 24px;
  }
}

.searchWrapper {
  @include responsive('phone-xs', 'phone') {
    width: 100%;
  }
}

.pricePair {
  margin-right: 1rem;
  margin-left: 1rem;

  @include responsive('phone-xs', 'phone') {
    margin: 10px 0;
  }
}

.fullSearchBtn {
  display: none;
}

.shareBtn {
  @include responsive('phone-xs', 'phone') {
    display: flex;
    margin-left: auto;

    svg {
      fill: var(--mirage) !important;
    }
  }
}

.text {
  @include text('body-3');

  color: var(--waterloo);
  margin-right: auto;
}

.selector {
  text-transform: uppercase;

  @include responsive('phone-xs', 'phone') {
    margin: 10px 0;
  }
}

.layout {
  display: flex;
  width: 100%;

  @include responsive('phone-xs', 'phone', 'tablet') {
    flex-direction: column;
  }
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 66vw;

  @include responsive('desktop') {
    max-width: 100%;
  }

  @include responsive('phone-xs', 'phone', 'tablet') {
    max-width: 100%;
  }
}

.sidebar {
  position: sticky;
  display: flex;

  @include responsive('laptop', 'desktop') {
    top: 0;
    margin-top: -22px;
    flex-direction: column;
    max-width: 368px;
    width: 32vw;
    margin-left: 24px;
    border-left: 1px solid var(--porcelain);
    padding: 22px 24px 0;
    height: calc(100vh - 100px);
    overflow: hidden;

    &:hover {
      overflow-y: auto;
      overflow-y: overlay;
    }
  }

  @include responsive('phone-xs', 'phone', 'tablet') {
    flex-direction: row;
    position: relative;
    width: 100%;
  }

  @include responsive('phone-xs', 'phone') {
    flex-direction: column;
  }
}

.trends {
  margin-top: 20px;

  @include responsive('tablet') {
    margin-top: 0;
    margin-left: 50px;
  }
}

.wordCloud {
  min-width: 281px;
  height: 190px;

  @include responsive('tablet') {
    height: auto !important;
  }
}
