@import '~@santiment-network/ui/mixins';

.wrapper {
  margin: 0;

  .recharts-responsive-container {
    margin-bottom: 24px;
    background-color: var(--white);
  }

  /* @NOTE(vanguard): This is a hack for correctly centering legend on mobile and desktops. */
  .recharts-legend-wrapper {
    width: 100% !important;
    left: 0 !important;
  }

  @include responsive('desktop', 'laptop', 'tablet') {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  @include responsive('phone-xs', 'phone') {
    margin: 0 16px;
    width: auto;
  }
}

.wrapperHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: -16px;
  padding-top: 6px;
  width: 100%;
  flex: 1 1;
}

.widgets {
  margin-top: 1rem;

  @include grid-wrap(2);
}

.search {
  input {
    color: $black;
    line-height: 20px;
    font-size: 1rem;
  }
}

.settings {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;

  @include responsive('desktop', 'laptop', 'tablet') {
    align-items: center;
    flex-direction: row;
  }
}

.settingsLeft,
.settingsRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.settingsRight {
  text-transform: uppercase;

  @include responsive('phone-xs', 'phone') {
    width: 100%;
    display: block;
    margin: 24px 0 6px;
  }
}

.settingsLeft {
  @include responsive('phone-xs', 'phone') {
    width: 100%;
  }
}

.pricePair {
  margin-right: 1rem;
  margin-left: 1rem;

  @include responsive('phone-xs', 'phone') {
    margin: 10px 0 0;
  }
}

.fullSearchBtn {
  display: none;
}

.shareBtn {
  @include responsive('phone-xs', 'phone') {
    display: flex;
    margin-left: auto;

    svg {
      fill: var(--mirage) !important;
    }
  }
}

.selector {
  display: flex;
  align-items: center;
}

.layout {
  display: flex;
  width: 100%;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.sidebar {
  position: sticky;
  display: flex;
  flex-direction: column;
  max-width: 368px;
  width: 32vw;
  padding: 0 24px;
  border-left: 1px solid var(--porcelain);
}

.trends {
  margin-top: 20px;
}
