@import '~@santiment-network/ui/variables.scss';
@import '../../mixins.scss';

.news {
  color: var(--waterloo);
  font-family: Rubik, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--porcelain);
  padding: 16px 0;
  cursor: pointer;
}

.title {
  font-size: 18px;
  line-height: 26px;
  color: var(--mirage);
  margin-bottom: 6px;
}

.description {
  font-size: 14px;
  line-height: 20px;
  color: var(--waterloo);
  margin-top: 12px;
}

.date {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: var(--waterloo);
  margin-right: 20px;

  &::after {
    content: '';
    position: absolute;
    right: -11px;
    top: 7px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--mystic);
  }
}

.sourceName {
  font-size: 14px;
  line-height: 20px;
  color: var(--jungle-green);
}
