@import '~@santiment-network/ui/mixins';

.title {
  @include text('h3');

  margin: 0;
  color: var(--rhino);
}

.container {
  padding: 74px 132px !important;
}

.toggleBtn {
  display: block;
  min-width: 188px;
  margin-top: 32px;
  height: 40px;
  text-align: center;
}

.description {
  @include text('body-2');

  margin: 16px 0 0 0;
  color: var(--waterloo);
  max-width: 350px;
}

.link {
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}

.checkbox {
  top: 4px;
  position: relative;
}

.check {
  display: flex;
  margin-top: 24px;
}

.checkDescription {
  max-width: 305px;
  color: var(--rhino);
  margin-left: 16px;

  @include text('body-2');
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./../../../src/assets/login/pattern.svg");
  background-size: cover;
}
