@import 'variables.scss';
@import 'mixins.scss';

.wrapper {
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.messages {
  margin: 1rem 0;
}

span.connectLink {
  color: var(--blue) !important;
  margin-left: 0.3rem;
}

a.connectLink {
  margin-left: -8px;
}

.Field {
  margin: 0.6rem 0;
  text-align: left;
  width: 50%;
  padding-right: 1rem;
}

.Field:last-child {
  padding-right: 0;
}

.Field:only-child {
  padding-right: 1rem;
}

label {
  color: var(--waterloo);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  line-height: 18px;
  font-size: 12px;
}

.controls {
  display: flex;
  justify-content: flex-end;

  button {
    width: 92px;
    justify-content: center;
    margin-right: 1rem;
  }

  button:last-child {
    margin-right: 0;
  }
}

@include responsive('desktop') {
  .wrapper {
    width: 496px;
  }
}
