@import '~@santiment-network/ui/mixins';

.container {
  border-radius: $border-radius;
  border: 1px solid var(--porcelain);
  background: var(--white);
}

.sharedAxisToggle {
  margin: 0 16px 9px auto;
}
