@import "../../mixins.scss";
@import "~@santiment-network/ui/mixins.scss";

.desktop {
  @include responsive('phone', 'phone-xs') {
    display: none;
  }
}

.mobile {
  display: none;

  @include responsive('phone', 'phone-xs') {
    display: inherit;
  }
}
