@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 423px;
  padding: 0 20px;
  text-align: center;
  margin: 0 auto;
  height: calc(90vh - 70px);
}

.heading {
  @include text('body-1', 'm');

  margin: 16px 0 12px;
}

.desc {
  @include text('body-2');

  margin: 0 0 24px;
}

.btn {
  min-width: 120px;
  justify-content: center;
}
