@import "~@santiment-network/ui/mixins";

.wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  height: 32px;
  border: var(--comments-btn-border, 1px solid var(--porcelain));
  border-radius: 16px;
  padding: 6px 12px;
  color: var(--comments-btn-color, var(--rhino));
  fill: var(--comments-btn-fill, var(--waterloo));

  @include text("body-3");

  &:hover {
    --comments-btn-color: var(--jungle-green);
    --comments-btn-fill: var(--jungle-green);
  }
}

.active {
  --comments-btn-fill: var(--jungle-green);
  --comments-btn-color: var(--jungle-green);
  --comments-btn-border: 1px solid var(--jungle-green);

  &:hover {
    --comments-btn-fill: var(--green-hover);
    --comments-btn-border: 1px solid var(--green-hover);
  }
}
