@import '~@santiment-network/ui/mixins';

.wrapper {
  position: relative;
  width: 100%;
  border-spacing: 0;
  text-align: left;
}

.wrapper :global(th) {
  @include text('caption');

  color: var(--casper);
  padding: 8px 16px;
  white-space: nowrap;
  background: var(--athens);
}

.wrapper :global(td) {
  padding: 8px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skeleton {
  position: absolute;
  width: 100%;
  top: 0;
}

.nodata {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
