@import '~@santiment-network/ui/mixins';

.wrapper {
  position: relative;
  width: 100%;
  border-spacing: 0;
  text-align: left;
  // border: 1px solid var(--porcelain);
  // border-radius: 4px;
}

.wrapper :global(th) {
  @include text('caption');

  color: var(--casper);
  padding: 8px 16px;
  white-space: nowrap;
  background: var(--athens);
}

.wrapper :global(td) {
  padding: 8px 16px;
  // border-top: 1px solid var(--porcelain);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skeleton {
  position: absolute;
  width: 100%;
  top: 0;
}
