.controls {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  background-color: var(--white);
  color: var(--waterloo);
  position: sticky;
  bottom: 0;
}

.dropdown {
  width: 123px;
  color: var(--fiord);
  margin-right: 24px;
}

.options {
  top: auto;
  bottom: 100%;
  margin: 0 0 8px 0;
}

.input {
  margin: 0 8px;
  width: calc(var(--width) + 40px);
}

.prev,
.next {
  fill: var(--waterloo);
}

.prev {
  margin-left: auto;

  &__icon {
    margin-left: 8px;
  }
}

.next {
  margin-left: 8px;

  &__icon {
    margin-right: 8px;
  }
}
