@import '../../../../node_modules/@santiment-network/ui/mixins';
@import '../../../../node_modules/@santiment-network/ui/variables';

.cards {
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;

  &__two {
    grid-template-columns: 1fr 1fr;
  }

  @include responsive('phone-xs', 'phone', 'tablet') {
    grid-template-columns: 1fr;
  }
}

.title {
  margin-bottom: 32px;
}

.br {
  @include responsive('phone-xs') {
    display: none;
  }
}

.link {
  height: 40px;
  margin-bottom: 40px;
  justify-content: center;
}

.more {
  user-select: none;
  cursor: pointer;
  color: var(--jungle-green);
  fill: var(--jungle-green);
  display: block;
  text-align: center;
  margin-top: 22px;

  @include text('body-3');

  &_bottom {
    margin-top: 45px;
  }

  @include responsive('tablet', 'phone', 'phone-xs') {
    display: none;
  }

  svg {
    margin-bottom: -2px;
    margin-right: 10px;
    width: 14px;
    height: 14px;
  }
}

.dialog {
  width: 440px;
  position: relative;
}

.action {
  margin-left: 16px;

  &_cancel:hover {
    color: var(--jungle-green-hover);
  }
}

.billing {
  display: flex;
  align-items: center;
  margin-bottom: 47px;

  @include responsive('phone-xs', 'phone', 'tablet') {
    margin-bottom: 40px;
  }

  &__toggle path {
    display: none;
  }

  &__option {
    @include text('body-2');

    color: var(--waterloo);
    margin: 0 16px;
    cursor: pointer;

    &_active {
      color: var(--rhino);
    }

    &_year {
      position: relative;
    }

    @include responsive('phone-xs', 'phone', 'tablet') {
      margin: 0 12px;
    }
  }

  &__montly {
    margin-left: 0;
  }

  &__save {
    @include text('body-3', 'l');

    color: var(--jungle-green);
    white-space: nowrap;
    margin-left: 4px;
  }
}

.bill {
  margin-right: 30px;
  cursor: pointer;

  &:last-child {
    margin: 0;
  }
}

.skeleton {
  height: 600px;
}
