@import '~@santiment-network/ui/mixins';

.subscription {
  &__error {
    display: none;
    position: absolute;
    bottom: 130%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 430px;

    &_error:hover > .subscription__error {
      display: block;
    }

    @include responsive('phone-xs', 'phone') {
      align-items: baseline;
      width: 100%;
    }

    input {
      padding-left: 40px;

      @include responsive('phone-xs', 'phone') {
        height: 48px !important;
        padding-left: 44px;
      }
    }
  }

  &__input {
    padding: 10px 136px 10px 12px;
    border: 1px solid var(--porcelain);
    height: 40px;
    position: relative;

    svg {
      width: 16px;

      @include responsive('phone-xs', 'phone') {
        padding: 0 16px;
      }
    }
  }

  &__btn {
    position: absolute;
    right: 4px;
    top: 4px;
    padding: 8px 12px;

    @include responsive('phone-xs') {
      width: initial;
      height: 36px;
      top: 6px;
    }
  }

  &__label {
    color: var(--casper);
  }

  &__checkbox {
    margin-top: 15px;
  }
}

.checkBlock {
  display: flex;
  align-items: center;
  margin-top: 17px;
  cursor: pointer;

  @include text('caption');
}
