@import '~@santiment-network/ui/mixins';

.subscription {
  &__error {
    display: none;
    align-items: center;
    position: absolute;
    top: 44px;
    left: 0;
    background: var(--white);
    border: 1px solid var(--porcelain);

    &__label {
      margin-left: 8px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 430px;

    input {
      padding: 6px 10px;

      @include responsive('phone-xs', 'phone') {
        height: 40px !important;
      }
    }

    &_error {
      input {
        border: 1px solid var(--persimmon) !important;
      }
    }

    &:hover {
      input {
        border: 1px solid var(--jungle-green);
      }
    }

    &_error:hover > .subscription__error {
      display: flex;
      padding: 6px 10px;
    }

    @include responsive('phone-xs', 'phone') {
      align-items: baseline;
      width: 100%;
    }
  }

  &__input {
    padding: 10px 136px 10px 12px;
    border: 1px solid var(--porcelain);
    height: 40px;
    position: relative;

    svg {
      width: 16px;

      @include responsive('phone-xs', 'phone') {
        padding: 0 16px;
      }
    }
  }

  &__btn {
    position: absolute;
    right: 15px;
    top: 4px;
    padding: 8px 12px;

    @include responsive('phone-xs') {
      width: initial;
    }
  }

  &__label {
    color: var(--casper);
  }

  &__checkbox {
    margin-top: 15px;
  }
}

.checkBlock {
  display: flex;
  align-items: center;
  margin: 16px 0 0 0;
  cursor: pointer;

  @include text('caption');
}
