@import '../../mixins.scss';

.subscription {
  &__error {
    display: none;
    position: absolute;
    bottom: 130%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 430px;

    &_error:hover > .subscription__error {
      display: block;
    }

    @include responsive('phone-xs', 'phone') {
      align-items: baseline;
      width: 100%;
    }
  }

  &__input {
    padding: 10px 136px 10px 12px;
    border: 1px solid var(--porcelain);
    height: 40px;
    position: relative;

    svg {
      width: 16px;
      padding: 14px 16px;
    }
  }

  &__btn {
    position: absolute;
    right: 4px;
    top: 4px;
    padding: 6px 23px;

    @include responsive('phone-xs') {
      margin-top: 8px;
      width: 100%;
      display: block;
      position: relative;
      right: 0;
    }
  }

  &__label {
    color: var(--casper);
  }

  &__checkbox {
    margin-top: 15px;
  }
}
