@import "~@santiment-network/ui/mixins";

.selected {
  --type-border: var(--mystic);
  --type-background: var(--whale);
}

.wrapper {
  width: 277px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 32px 32px;
  border: 1px solid var(--type-border, var(--porcelain));
  background: var(--type-background, transparent);
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    --type-border: var(--jungle-green-hover);
    --type-title: var(--jungle-green-hover);
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--type-title, var(--rhino));

  @include text("body-1");
}

.description {
  color: var(--fiord);

  @include text("body-3");
}

.icon {
  fill: var(--waterloo);
}
