@import '~@santiment-network/ui/variables.scss';

.banner {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 60px 33px 24px;
    background: $mirage;
    background-repeat: no-repeat;
    background-image: url(./wavesB.svg);
    background-position: 110% 35%;
    background-size: 57%;
  }

  &__left {
    flex: 1;
  }

  &__title {
    margin-bottom: 4px;
  }

  &__description {
    margin: 0;
    width: 100%;
  }

  &__btn {
    width: 180px;
    justify-content: center;
    height: 40px;
  }
}
