@import '~@santiment-network/ui/variables.scss';
@import '../../mixins.scss';

.banner {
  &__top {
    padding: 20px 24px;
    margin-bottom: 50px;
    background-color: var(--mirage);
    background-image: url(./waves.svg);
    background-repeat: no-repeat;
    background-position: 107% 57%;
    background-size: 52%;

    @include responsive('phone-xs') {
      background-size: 100%;
      margin-bottom: 25px;
    }

    @include responsive('phone') {
      background-size: 70%;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    color: var(--white);
    margin-bottom: 14px;
  }

  &__description {
    font-size: 14px;
    line-height: 20px;
    color: var(--waterloo);
    margin-bottom: 24px;
    width: 39%;

    @include responsive('phone-xs') {
      width: 90%;
    }

    @include responsive('phone') {
      width: 60%;
    }
  }
}

.advantages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;

  @include responsive('phone-xs') {
    flex-direction: column;
    margin-bottom: 45px;
    margin-left: 20px;
  }
}

.advantage {
  display: flex;
  color: var(--waterloo);
  align-items: center;

  @include responsive('phone', 'tablet') {
    flex-direction: column;
  }

  @include responsive('phone-xs') {
    margin-bottom: 15px;
  }

  &__img {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 50%;
    background: linear-gradient(135deg, #dcf6ef 0%, #b9eddf 100%);
    fill: var(--jungle-green);
    display: flex;
    align-items: center;
    justify-content: center;

    @include responsive('phone', 'tablet') {
      margin-bottom: 10px;
    }
  }

  &__text {
    max-width: 235px;

    @include responsive('phone', 'tablet') {
      text-align: center;
    }

    @include responsive('phone-xs') {
      max-width: 70%;
    }
  }
}
