@import '~@santiment-network/ui/variables.scss';

.wrapper {
  width: 100%;
}

.banner {
  &__top {
    margin-bottom: 50px;
    border-radius: 4px;
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    color: $white;
  }

  &__description {
    font-size: 14px;
    line-height: 20px;
    color: $bali-hai;
    width: 39%;
  }
}

.advantages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.advantage {
  display: flex;
  color: var(--waterloo);
  align-items: center;

  &__img {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 50%;
    background: linear-gradient(135deg, #dcf6ef 0%, #b9eddf 100%);
    fill: var(--jungle-green);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    max-width: 235px;
  }
}
