.btn {
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  display: flex;
  cursor: pointer;
  height: 32px;
}

.trigger {
  display: flex;
  align-items: center;
  padding: 0 12px;

  &:hover {
    color: var(--jungle-green);
  }
}

.arrow {
  box-sizing: content-box;
  padding: 13px 12px;
  fill: var(--waterloo);
  transition: transform 0.2s ease-in-out;

  &:hover {
    fill: var(--jungle-green);
  }
}

.more {
  transition: background 0.2s ease-in-out;
  border-left: 1px solid var(--porcelain);

  &_opened {
    background: var(--jungle-green-light-2);

    .arrow {
      fill: var(--jungle-green);
      transform: rotate(180deg);
    }
  }
}

.modal {
  padding: 8px;
  display: flex;
  flex-direction: column;
}
