@import '~@santiment-network/ui/mixins';

.wrapper {
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  left: 20px;
  max-width: 442px;
  display: flex;
  padding: 20px 20px 20px 24px;
  border-radius: 10px;
  align-items: flex-start;
  justify-content: flex-start;

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
    text-align: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 16px 16px 24px 16px;
  }
}

.image {
  margin-right: 16px;
  min-width: 70px;
  min-height: 88px;
  max-width: 70px;
  max-height: 88px;

  @include responsive('phone', 'phone-xs') {
    min-width: 102px;
    min-height: 121px;
    max-width: 102px;
    max-height: 121px;
    transform: rotate(-90deg);
    margin: 0 auto 15px;
  }
}

.content {
  display: flex;
  flex-direction: column;

  @include responsive('phone', 'phone-xs') {
    align-items: center;
    max-width: 360px;
    margin: 0 auto;
  }
}

.title {
  @include text('body-2', 'm');

  margin: 0 0 8px;
  max-width: 270px;

  @include responsive('phone', 'phone-xs') {
    max-width: auto;

    @include text('body-1', 'm');
  }
}

.text {
  @include text('body-3');

  margin: 0 0 16px;
  color: var(--waterloo);

  @include responsive('phone', 'phone-xs') {
    @include text('body-2');

    margin: 0 0 24px;
  }
}

.btn {
  width: 92px;
  justify-content: center;

  @include responsive('phone', 'phone-xs') {
    width: 100%;
    max-width: 360px;
    margin: 0;
  }
}

.link {
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}
