@import '~@santiment-network/ui/mixins';

.wrapper {
  position: fixed;
  z-index: 9999;
  bottom: 8px;
  left: 0;
  right: 0;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  padding: 23px 24px 21px;
  border-radius: 10px;
  align-items: center;
  justify-content: flex-start;

  @include responsive('phone', 'phone-xs', 'tablet') {
    flex-direction: column;
    text-align: center;
    bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.image {
  margin-right: 15px;
  width: 66px;
  height: 67px;

  @include responsive('phone', 'phone-xs',  'tablet') {
    margin: 0 0 15px;
  }
}

.title {
  @include text('body-1');

  margin: 0 0 4px;
}

.text {
  @include text('body-2');

  margin: 0;
  color: var(--waterloo);
  max-width: 710px;
}

.btn {
  width: 100px;
  margin-left: auto;
  justify-content: center;

  @include responsive('phone', 'phone-xs', 'tablet') {
    width: 100%;
    max-width: 400px;
    margin: 20px auto 0;
  }
}

.link {
  color: var(--jungle-green);

  &:hover {
    color: var(--jungle-green-hover);
  }
}
