@import '~@santiment-network/ui/mixins';

.avatar {
  margin-left: auto;
}

.addPhoto {
  margin-left: auto;
  color: var(--jungle-green);
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
}
