@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.avatar {
  border-radius: 50%;
  background: var(--porcelain);
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-image: var(--avatarUrl);
}

.img {
  max-width: 100%;
  max-height: 100%;
}
