@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.avatar {
  border-radius: 50%;
  background: var(--porcelain);
  min-width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 0 0 var(--white), 0 0 0 1.5px var(--porcelain);
  vertical-align: middle;
  border: 0;
}

.img {
  max-width: 100%;
  max-height: 100%;
}
