@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.avatar {
  border-radius: 50%;
  background: var(--porcelain);
  min-width: 32px;
  height: 32px;
  background-size: cover;
  background-position: center;
  vertical-align: middle;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--waterloo);

  &:hover {
    fill: var(--waterloo);
  }
}

.img {
  max-width: 100%;
  max-height: 100%;
}
