$side-padding: 23px;

.table {
  border-spacing: 0;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--porcelain);
  box-shadow: 0 6px 32px rgba(21, 24, 31, 0.03);
}

.thead {
  background: var(--athens);
}

.th {
  text-align: left;
  color: var(--casper);
  font-size: 12px;
  line-height: 18px;
  padding: 7px 0;
  border-bottom: 1px solid var(--porcelain);

  &:first-child {
    padding-left: $side-padding;
    color: var(--waterloo);
  }

  &:last-child {
    padding-right: $side-padding;
  }
}

.td {
  border-bottom: 1px solid var(--porcelain);

  &:first-child {
    padding-left: $side-padding;
  }

  &:last-child {
    padding-right: $side-padding;
  }
}

.tr {
  height: 60px;

  &:hover {
    background: var(--athens);
  }

  &:last-child td {
    border-bottom: none;
  }
}
