@import '~@santiment-network/ui/variables.scss';

.header {
  padding: 13px 23px;
}

.word {
  color: var(--mirage);
  font-size: 14px !important;
}

.connected {
  color: var(--jungle-green);
}

.headerIndex {
  color: var(--waterloo) !important;
}

.panel {
  padding: 0;
}

.action {
  text-align: center;
  position: relative;
  overflow: visible !important;

  &:last-child {
    margin: 0;
  }

  &__icon {
    vertical-align: middle;
    fill: var(--mirage);

    &:hover {
      fill: var(--jungle-green);
    }

    &_disabled {
      pointer-events: none;
      fill: var(--mystic);
    }
  }
}

.table:global(.ReactTable) {
  & {
    border: none;
  }

  :global {
    .rt-thead.-header {
      box-shadow: initial;
      border-bottom: 1px solid var(--porcelain);
      padding: 0 23px;
      background: var(--athens);
    }

    .rt-th {
      background: var(--athens);
      text-align: left !important;
      text-transform: initial;
      font-family: 'Rubik';
      color: var(--casper);
      font-size: 12px;
      line-height: 18px;
      padding: 7px 0 !important;
    }

    .rt-tr-group {
      padding: 0 10px 0 23px;
      height: 60px;

      &:hover {
        background: var(--athens);
        cursor: pointer;

        :local {
          .word {
            color: var(--jungle-green);
          }

          .checkbox {
            display: inline-flex;

            & + .index {
              display: none;
            }
          }
        }
      }
    }

    .rt-td {
      padding: 0;
      border: none !important;
    }

    .rt-tr {
      align-items: center;
    }

    .rt-tr:hover {
      background: initial !important;
      transition: initial;
    }
  }
}

.wordCloud {
  height: 320px;
  width: 100%;
}

.tooltip {
  z-index: 10;
  width: 400px;

  &__trigger {
    background: transparent;
  }
}

.insights {
  &__wrapper {
    text-align: right !important;
  }

  &__number {
    border-radius: 50%;
    position: absolute;
    background: var(--porcelain);
    color: var(--waterloo);
    font-size: 12px !important;
    right: 3px;
    top: -5px;
    padding-top: 1px;
    width: 14px;
    text-align: center;
    pointer-events: none;

    &_btn {
      top: 0;
      left: 23px;
    }
  }
}

.insight {
  padding: 24px 18px;
  border-bottom: 1px solid var(--porcelain);

  &:last-child {
    border-bottom: none;
  }
}

.checkbox {
  display: none;
  vertical-align: middle;

  &_active {
    display: inline-flex;

    & + .index {
      display: none;
    }
  }
}

.explanation {
  background: $fiord;
  padding: 3px 12px;
  color: $white;
  border-radius: $border-radius;
  font-size: 12px;
}

.icon {
  vertical-align: middle;
}
