@import '~@santiment-network/ui/mixins';

.container {
  padding: 33px 0 36px 0;
  border-radius: $border-radius;
  background: var(--white);
  border: 1px solid var(--porcelain);
  box-sizing: border-box;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  margin-top: 10px;

  @include text('body-2', 'm');

  color: var(--rhino);
}

.value {
  margin-top: 4px;
  color: var(--rhino);

  @include text('body-1', 'l'); }

.skeleton {
  height: 141px;
}

.status {
  padding: 4px 8px;
  border-radius: $border-radius;
  margin-top: 12px;

  @include text('body-2', 'm');
}

.low {
  color: var(--persimmon);
  background: rgba(255, 230, 230, 0.5);
}

.high {
  color: var(--lima);
  background: rgba(214, 246, 214, 0.5);
}

.normal {
  color: var(--waterloo);
  background: rgba(231, 234, 243, 0.5);
}
