@import '~@santiment-network/ui/mixins';

.wrapper {
  margin-right: 6px;
  width: 100%;
  max-width: 50px;
  border-radius: 2px;
  min-height: 2px;
  margin-top: auto;
  position: relative;
  height: var(--percent);
  background-color: var(--color);
}
