@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.title {
  @include text('body-3');

  margin: 0 0 16px;
}

.content {
  border-radius: 4px;
  background: var(--athens);
  padding: 16px;
  display: flex;
}

.chart {
  width: 40%;
  margin-right: 18px;
  display: flex;
  margin-top: 16px;
}

.item + .item {
  margin-top: 18px;
}

.column {
  &:first-child {
    background-color: var(--texas-rose);
  }

  &:nth-child(2) {
    background-color: $malibu;
  }
}

.loader {
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
