@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.wrapper {
  @include responsive('tablet') {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  margin: 0 0 16px;
}

.title {
  @include text('body-3');

  margin: 0 8px 0 0;
}

.content {
  border-radius: 4px;
  background: var(--athens);
  padding: 16px 24px;
  display: flex;
  min-height: 120px;
  position: relative;
}

.chart {
  width: 40%;
  margin-right: 18px;
  display: flex;
}

.item + .item {
  margin-top: 18px;
}

.details {
  width: 60%;
}

.loader {
  font-size: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: var(--athens);
  border-radius: 4px;
}
