@import '~@santiment-network/ui/mixins';

.title {
  @include text('body-3', 'l');

  margin: 0 0 6px;
  color: var(--rhino);
}

.wrapper {
  border-radius: 4px;
  background: var(--athens);
  padding: 18px 24px;
  display: flex;
  flex-direction: column;

  :global(.tablet) &,
  :global(.phone) &,
  :global(.phone-xs) & {
    padding: 16px 20px;
    border-radius: 6px;

    div {
      color: var(--fiord);
    }
  }
}

.desc {
  @include text('body-3');

  margin-bottom: 12px;
  color: var(--waterloo);
}

.button {
  margin-right: auto;
}

.link {
  width: 110px;
  padding: 8px 24px;
}
