@import '~@santiment-network/ui/mixins';

.title {
  @include text('body-3', 'l');

  margin: 0 0 6px;
  color: var(--rhino);
}

.wrapper {
  border-radius: 4px;
  background: var(--athens);
  padding: 18px 24px;
  display: flex;
  flex-direction: column;
}

.desc {
  @include text('body-3');

  margin-bottom: 12px;
  color: var(--waterloo);
}

.button {
  margin-right: auto;
}
