@import '~@santiment-network/ui/mixins';

.metrics {
  padding-bottom: 9px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include responsive('laptop', 'tablet') {
    padding-bottom: 0;
  }
}

.metricBtn {
  padding: 6px 8px;
  color: var(--waterloo);
  margin-right: 8px;
  height: auto;
  min-height: 32px;

  @include text('body-3');
}
