@import '~@santiment-network/ui/variables.scss';
@import '../../mixins.scss';

.banner {
  &__top {
    padding: 20px 24px 24px;
    margin-bottom: 50px;
    background-color: $mirage;
    background-image: url(./waves.svg);
    background-repeat: no-repeat;
    background-position: 107% 57%;
    background-size: 52%;

    @include responsive('phone-xs', 'phone') {
      margin-bottom: 40px;
    }

    @include responsive('phone-xs', 'phone', 'tablet') {
      background-size: 95%;
      background-position: 600% 60%;
    }

    @include responsive('phone-xs') {
      background-size: 115%;
      background-position: -250% 57%;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    color: $white;
    margin-bottom: 4px;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
    color: $bali-hai;
    margin-bottom: 16px;
    width: 400px;

    @include responsive('phone-xs') {
      width: 90%;
    }

    @include responsive('phone') {
      width: 60%;
    }
  }
}

.advantages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;

  @include responsive('phone-xs') {
    flex-direction: column;
    margin-bottom: 45px;
  }
}

.advantage {
  display: flex;
  color: $waterloo;
  align-items: center;

  @include responsive('phone-xs', 'phone', 'tablet') {
    flex-direction: column;
  }

  @include responsive('phone-xs', 'phone') {
    margin-bottom: 32px;
  }

  &__img {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 50%;
    background: linear-gradient(135deg, #dcf6ef 0%, #b9eddf 100%);
    fill: var(--jungle-green);
    display: flex;
    align-items: center;
    justify-content: center;

    @include responsive('phone-xs','phone', 'tablet') {
      margin-bottom: 16px;
    }
  }

  &__text {
    max-width: 235px;

    @include responsive('phone', 'tablet') {
      text-align: center;
      max-width: 185px;
    }

    @include responsive('phone-xs') {
      text-align: center;
    }
  }
}
