@import '~@santiment-network/ui/variables.scss';
@import '../../mixins.scss';

.banner {
  &__imageWrapper {
    width: 93px;
    height: 84px;
    margin-right: 19px;

    @include responsive('laptop', 'tablet') {
      margin-right: 24px;
    }

    @include responsive('phone-xs', 'phone') {
      width: 157px;
      height: 144px;
      margin-bottom: 7px;
      margin-right: 0;
    }
  }

  &__contentWrapper {
    display: flex;
    align-items: center;

    @include responsive('laptop', 'tablet') {
      flex-direction: column;
      align-items: baseline;
    }

    @include responsive('phone', 'phone-xs') {
      flex-direction: column;
      align-items: center;
    }
  }

  &__textWrapper {
    margin-right: 56px;

    @include responsive('laptop', 'tablet') {
      margin-bottom: 18px;
      margin-right: 0;
    }

    @include responsive('phone-xs', 'phone') {
      margin-bottom: 34px;
      margin-right: 0;
      text-align: center;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__title {
    font-family: Rubik, sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: var(--mirage);
    margin: 0 0 4px 0;
  }

  &__description {
    font-family: Rubik, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--waterloo);
    margin: 0;
    max-width: 374px;
  }
}
