@import '~@santiment-network/ui/variables.scss';
@import '~@santiment-network/ui/mixins';

.banner {
  height: 90px;
  position: fixed;
  bottom: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: var(--white);
  box-shadow: 0 10px 20px rgba(24, 27, 43, 0.05);
  border: 1px solid var(--porcelain);
  border-radius: 10px;
  z-index: 10;
  max-width: 1140px;
  width: 86%;
  display: flex;
  align-items: center;
  padding: 3px 18px;

  @include responsive('laptop', 'tablet') {
    padding: 22px 24px;
    height: auto;
    width: 728px;
  }

  @include responsive('phone-xs', 'phone') {
    flex-direction: column;
    padding: 16px;
    height: auto;
    width: auto;
    margin: 0 16px 16px;
    bottom: 40px;
  }

  &__imageWrapper {
    width: 93px;
    height: 84px;
    margin-right: 19px;

    @include responsive('laptop', 'tablet') {
      margin-right: 24px;
    }

    @include responsive('phone-xs', 'phone') {
      display: none;
    }
  }

  &__contentWrapper {
    display: flex;
    align-items: center;

    @include responsive('laptop', 'tablet') {
      flex-direction: column;
      align-items: baseline;
    }

    @include responsive('phone', 'phone-xs') {
      flex-direction: column;
      align-items: center;
    }
  }

  &__textWrapper {
    margin-right: 56px;

    @include responsive('laptop', 'tablet') {
      margin-bottom: 18px;
      margin-right: 0;
    }

    @include responsive('phone-xs', 'phone') {
      margin-bottom: 16px;
      margin-right: 20px;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    color: var(--mirage);
    margin: 0 0 4px 0;

    @include responsive('phone-xs', 'phone') {
      font-size: 16px;
      display: inline;
      margin: 0 4px 0 0;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
    color: var(--waterloo);
    margin: 0;
    max-width: 374px;

    @include responsive('phone-xs', 'phone') {
      display: inline;
      font-size: 16px;
      line-height: 26px;
      color: var(--mirage);
    }
  }

  &__closeIcon {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 10px;
    box-sizing: content-box;
    cursor: pointer;
    fill: var(--casper);
  }
}
