@import '~@santiment-network/ui/variables';

.wrapper {
  position: absolute;
  z-index: 11;
  right: 0;
  top: 0;
}

.signal {
  position: absolute;
  cursor: pointer;
  width: 0;
  height: 0;
  left: -6px;
  border-top: 5px solid transparent;
  border-left: 7px solid var(--rhino);
  border-bottom: 5px solid transparent;
  transform: translateY(-5px) rotate(180deg);

  &::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 10px;
    top: -5px;
    left: -14px;
  }
}

.alerts {
  width: 370px;
  position: absolute;
  right: 17px;
  transform: translateY(-50%);
  max-width: initial !important;
  opacity: 0;
  pointer-events: none;

  &_right {
    right: initial;
    left: 17px;
  }
}

.add {
  position: absolute;
  margin-top: -6px;
  left: -6px;
  background: $waterloo;
  height: 13px;
  width: 13px;
  background-image: url('./plus.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  transform: translateY(var(--top));

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }

  &:hover {
    background-color: $fiord;

    .alerts {
      opacity: 1;
      top: 50%;
      pointer-events: initial;

      &::before {
        content: '';
        position: absolute;
        bottom: 30%;
        top: 30%;
        width: 13px;
        left: 100%;
      }

      &_right::before {
        left: initial;
        right: 100%;
      }
    }
  }
}
