@import "~@santiment-network/ui/mixins";

.wrapper {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 25;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
  background: var(--white);
}

.open {
  z-index: 26;
  position: absolute;
}

.info {
  display: flex;
  align-items: center;
}

.leftDivider {
  height: 32px;
  width: 1px;
  margin: 0 12px;
  background: var(--mystic);
}

.rightDivider {
  height: 24px;
  width: 1px;
  background: var(--porcelain);
  margin: 0 24px;
}

.defaultDivider {
  margin-right: 12px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
