@import '~@santiment-network/ui/mixins';

.panel {
  padding: 0;
}

.wrapper {
  width: 100%;
  box-shadow: none;
}

.table {
  padding: 0 10px 0 0;
  height: 340px;
  overflow-y: auto;
  overflow-y: overlay;
}

.claimersTable:global(.ReactTable) {
  border: none;

  :global {
    .rt-td {
      border: none !important;
      padding: 8px 0;
      height: 39px;
      align-self: baseline;
      text-overflow: clip;

      @include text('body-3');

      & > div {
        @include text('body-3');
      }
    }

    .rt-noData {
      background: none;
    }

    .rt-th {
      text-align: left;
      padding: 7px 0;
      position: relative;
      width: 100%;
      overflow: visible;
      border: none;
      outline: none;

      &:nth-child(4) {
        padding-left: 8px;
      }

      &:nth-child(5) {
        padding-left: 16px;
      }

      @include text('caption');

      & > div {
        position: relative;
        padding: 0 10px 0 0;
        width: fit-content;
      }

      &.-sort-desc,
      &.-sort-asc {
        color: var(--mirage);
        box-shadow: none !important;

        & > div {
          &::before,
          &::after {
            content: "";
            position: absolute;
            right: 0;
            border: 4px solid transparent;
            border-radius: 3px;
          }

          &::before {
            border-top: 4px solid var(--mystic);
            bottom: 0;
          }

          &::after {
            border-bottom: 4px solid var(--mystic);
            top: 0;
          }
        }
      }

      &.-sort-asc > div::after {
        border-bottom-color: var(--waterloo);
      }

      &.-sort-desc > div::before {
        border-top-color: var(--waterloo);
      }
    }

    .rt-tbody .rt-tr-group,
    .rt-thead.-header {
      padding: 0 23px;
    }

    .rt-tbody .rt-tr-group {
      padding-right: 0;
    }
  }
}
