@import '~@santiment-network/ui/mixins';

.panel {
  padding: 0;
}

.wrapper {
  width: 100%;
  box-shadow: none;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.text {
  @include text('h4', 'm');

  margin: 0 4px 0 0;
}

.tableWrapper {
  height: 700px;
  width: 100%;
  overflow: auto;
  overflow: overlay;
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  background: var(--white);
}

.table {
  min-width: 700px;
}

.loadingWrapper {
  top: 37px;
  padding: 0 10px;
}

.loadingRow {
  height: 40px;
}

.loader {
  font-size: 3px !important;
}

.headerLoader {
  margin-left: 16px;
  font-size: 5px;
}
