@import '~@santiment-network/ui/mixins';

.panel {
  padding: 0;
}

.wrapper {
  width: 100%;
  box-shadow: none;
}

.table {
  height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  background: var(--white);
}

.loadingWrapper {
  top: 37px;
  padding: 0 10px;
}

.loadingRow {
  height: 40px;
}

.loader {
  font-size: 3px !important;
}

.claimersTable:global(.ReactTable) {
  border: none;

  :global {
    .rt-td {
      border: none !important;
      padding: 8px 0;
      align-self: center;
      text-overflow: clip;

      @include text('body-3');

      & > div {
        @include text('body-3');
      }
    }

    .rt-noData {
      background: none;
    }

    .rt-th {
      text-align: left;
      padding: 7px 0 7px 20px;
      position: relative;
      width: 100%;
      overflow: visible;
      border: none;
      outline: none;

      &:first-child {
        padding-left: 0;
      }

      @include text('caption');

      & > div {
        position: relative;
        padding: 0 10px 0 0;
        width: fit-content;
      }

      &.-sort-desc,
      &.-sort-asc {
        color: var(--mirage);
        box-shadow: none !important;

        & > div {
          &::before,
          &::after {
            content: '';
            position: absolute;
            right: 0;
            border: 4px solid transparent;
            border-radius: 3px;
          }

          &::before {
            border-top: 4px solid var(--mystic);
            bottom: 0;
          }

          &::after {
            border-bottom: 4px solid var(--mystic);
            top: 0;
          }
        }
      }

      &.-sort-asc > div::after {
        border-bottom-color: var(--waterloo);
      }

      &.-sort-desc > div::before {
        border-top-color: var(--waterloo);
      }
    }

    .rt-tbody .rt-tr-group,
    .rt-thead.-header {
      padding: 0 23px;
    }

    .rt-tbody .rt-tr-group {
      padding-right: 0;
      min-height: 48px;
    }
  }
}
