@import '~@santiment-network/ui/mixins';

.wrapper {
  width: 100%;
  padding: 33px 56px 33px 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--porcelain);
  border-radius: 4px;
  box-shadow: 0 6px 50px rgba(24, 27, 43, 0.03);
  background-color: var(--white);
  background-image: url(./wavesWhite.svg);
  background-repeat: no-repeat;
  background-position: 115% 35%;

  @include responsive('laptop', 'tablet') {
    padding: 24px;
  }
}

.left {
  flex: 1;
}

.title {
  font-size: 18px;
  line-height: 26px;
  color: $rhino;
  margin-bottom: 6px;
}

.buttons {
  @include responsive('tablet') {
    display: flex;
    flex-direction: column;
  }
}

.description {
  font-size: 16px;
  line-height: 24px;
  color: $waterloo;
  margin: 0;
  width: 100%;
}

.btn {
  width: 180px;
  margin-left: 16px;
  justify-content: center;
  height: 40px;

  &:first-child {
    @include responsive('tablet') {
      margin-bottom: 8px;
    }
  }
}
