@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.panel {
  width: 100%;
  border: none;
  box-shadow: none;
}

.sidecar__toggle {
  &_assets {
    top: 256px !important;
  }

  &_social {
    top: 306px !important;
  }
}

.breadcrumbs {
  margin-bottom: 23px;

  @include text('body-3');

  &__root {
    color: $bali-hai;
  }

  &__arrow {
    margin: 0 14px;
    fill: $bali-hai;
  }

  &__project {
    color: $fiord;
    text-transform: capitalize;
  }
}

.newsWrapper {
  margin-bottom: 20px;
}

.newsTitle {
  color: var(--mirage);
  padding-top: 20px;
  margin: 0 0 20px;

  @include text('h4');

  &::first-letter {
    text-transform: uppercase;
  }
}
