@import '~@santiment-network/ui/mixins';
@import '~@santiment-network/ui/variables';

.panel {
  width: 100%;
  border: none;
  box-shadow: none;
}

.sidecar__toggle {
  top: 228px !important;

  @include responsive('tablet') {
    top: 258px !important;
  }
}

.breadcrumbs {
  margin-bottom: 23px;

  @include text('body-3');

  &__root {
    color: $bali-hai;
  }

  &__arrow {
    margin: 0 14px;
    fill: $bali-hai;
  }

  &__project {
    color: $fiord;
    text-transform: capitalize;
  }
}
