.wrapper {
  margin-top: 0;
}

.breadcrumbs {
  margin-top: -15px;
}

.bottom {
  padding: 25px;
}

.spent {
  margin-bottom: 16px;
}

.noPadding {
  padding: 0;
}

.info {
  display: flex;
  margin-bottom: 16px;

  &:last-child {
    margin: 0;
  }

  &_uniswap {
    display: flex;
    flex-direction: column;
  }

  &__card {
    flex: 1;
    max-width: calc(50% - 16px);

    &:first-child {
      margin-right: 16px;
    }

    &:last-child {
      max-width: 50%;
    }

    :global {
      .row-info {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
      }
    }
  }
}

.uniswap {
  flex: 1;
}
