.wrapper {
  height: calc(100vh - 50px);
}

.main {
  padding: 0 16px;
}

.ticker {
  color: var(--waterloo);
}

.timeRangeBlock {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.priceUsd {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 6px;
}

.changes {
  &:first-of-type {
    margin-left: 0;
  }
}
