@import '~@santiment-network/ui/mixins';

.title {
  display: none;
}

.dialog {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}

.iframe {
  width: 100%;
  height: 100%;
  border: transparent;
}

.video {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 144px;
  width: 100%;
  cursor: pointer;
  border-radius: $border-radius;
  background-size: 101%;
  background-repeat: no-repeat;
  background-position: center center;
}

.preview {
  border-radius: $border-radius;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.darkWrapper {
  width: 100%;
  height: 100%;
  opacity: 0.55;
  background-color: var(--mystic);
  position: absolute;
  border-radius: $border-radius;
}
